[2017-10-25 18:01] fgsch commented on #909
PR merged.

Keeping this open until after the tests are added to the regression suite.

[2017-10-26 13:43] fzipi commented on #631
@dune73 I think per #878 this could be closed!

[2017-10-26 13:45] dune73 commented on #631
Agreed. Thank you for the heads up.

[2017-10-26 13:45] #631 closed

[2017-10-26 17:23] csanders-git opened #925 "Agenda for 11/6/2017"
## Agenda for the CRS project / community chat on Nov 6

- Promotion of 3 heavy contributors to developers (@fgsch, @fzipi and @spartantri)
    Docs will be updated to reflect their promotion, congrats and thank you!!!
- CRS Summit at AppSecEU in June in Tel Aviv (?)
    dune73 will setup a project and let us know the status as we move along.
    fzipi spoke at OWASP Dev Summit about WAF test data

[2017-10-26 18:48] dune73 commented on #925
I think it is best to enter update right into @csanders-git's description. Non-developers ideally comment and we can then add it for you into the agenda.

[2017-10-27 11:10] emphazer commented on #369
any progress here?!?

[2017-10-27 11:21] dune73 commented on #369
Not from my side. Have not looked into this for months, and I doubt this will change. If somebody comes up with a clean and well documented implementation, then I am open to review. If we stick to the proposal laid out by me above, then the first RP should only fill the said variable and then add it to one existing rule or so (how about 942100?). I would then certainly review it.

[2017-10-27 18:50] spartantri commented on #369
This is a long discussion that I just found, often base64 stuff will cause false positives and  it may be encoded multiple times, including multiple base64 layers encoding, also having a streq match against a base64 string is not very good idea, it is a padded encoding string so adding spaces will make the encoding change and the transformations are not available to prevent the bypasses so this ca

[2017-10-30 18:31] spartantri commented on #918
What this is about? is it about explaining every rule or adding a curl command which will trigger the rule?

[2017-10-30 18:55] dune73 commented on #918
Basically yes. Might take a while though and the format is not clear at all. But once we have the FTW with the unit tests, a simple curl variant would be neat.

[2017-11-01 13:16] fgsch commented on #925
I'd like to add #924 to the agenda.

Also, I'm currently in Japan so it might be too early for me to attend :(

[2017-11-01 13:19] dune73 commented on #925
done

[2017-11-03 11:25] mirkodziadzka-avi commented on #898
The RX problem seems to be fixed in ModSec via https://github.com/SpiderLabs/ModSecurity/issues/1528

I still think that CRS should use `@within` when possible.

[2017-11-07 05:04] dune73 commented on #924
We talked about this for a great length during the chat. Here are the important bits:

* The tagging used in CRS is not systematic. We would like to streamline it.
* Tags eat up space in the alert message and can be cut when the alert message is made to fit the Apache error.log line length. The less tags, the better. Everybody agreed on this.
* Many rules use WASC taxonomy, but that's probably dea

[2017-11-09 01:15] pash7ka opened #951 "Rule 942450 causes request with Ethereum address or transaction hash to be banned"
The rule 942450 uses "(?i:(?:\A|[^\d])0x[a-f\d]{3,}[a-f\d]*)+" regexp to identify SQL Hex Encoding which is considered as a possible SQL injection atack.
Unfortunately Ethereum addresses (like 0xc2d7cf95645d33006175b78989035c7c9061d3f9 ) and transaction hashes (like 0x653351a883a4a82512dbaceadd9d9ef266658547829a0d30d7aaf26647a144cb ) are also catched by this rule.
Can we make an exception for this

[2017-11-09 03:53] dune73 commented on #951
Thank you for reporting @pash7ka.

We are aware of issues with 942450 and discuss them in issue #833. I'm closing your report in favor of said issue.

[2017-11-09 03:53] #951 closed, assigned to nobody

[2017-11-09 03:56] dune73 commented on #951
Also, if you want to write a rule exception to make it go away, please take a look at the tutorials at https://netnea.com.

[2017-11-09 03:56] dune73 commented on #833
@pash7ka reports false positives with ethereum addresses and transactions with this rule too in issue #951 (closed in favor of this issue here).

[code]

[2017-11-12 01:40] fzipi commented on #808
After merging #940, I can add some of my small changes.

[2017-11-13 08:26] fgsch commented on #808
@fzipi I still have a few other changes waiting for #940 to be merged in, mostly around the order of the rules that were missed.

What are your changes about?

[2017-11-13 14:02] fzipi commented on #808
@fgsch Per our own CONTRIBUTING.md, we need to change SecMarker and skipAfter to quoted and with hyphens instead of underscoring... so it is a rewriting of that.

-  format your SecMarker between double quotes, using UPPERCASE and separating words using hyphens. Examples are
[code]

Bugs like rules/REQUEST-910-IP-REPUTATION.conf, line 79:
[code]

And more casing and simple changes. Mainly simple s

[2017-11-13 14:33] fgsch commented on #808
Perfect, doesn't sounds like any of the changes I have for the follow-up.

I guess we need #940 in now. Any reviewers?

[2017-11-13 22:36] mentalstring opened #955 "Rule 921160 matches with empty lines and looks for non-existing HTTP headers"
I'm new to mod_security so I hope I'm not missing something obvious... but I believe there's a couple of issues with the regex of rule 921160 (HTTP Header Injection Attack via payload (CR/LF and header-name detected).

`SecRule ARGS_NAMES|ARGS|XML:/* "(?:\n|\r)+(?:\s+|location|refresh|(?:set-)?cookie|(X-)?(?:forwarded-(?:for|host|server)|host|via|remote-ip|remote-addr|originating-IP))\s*:"`

The f

[2017-11-14 01:30] fzipi commented on #808
I've reviewed #940, and it's merged. Thanks to @victorhora for that permissions!

[2017-11-14 04:58] dune73 commented on #925
Did that monthly chat.

The minutes of the talk are [https://coreruleset.org/20171107/crs-project-news-november/](https://coreruleset.org/20171107/crs-project-news-november/)

[2017-11-14 04:58] #925 closed, assigned to nobody

[2017-11-14 05:08] dune73 commented on #955
Thank you for reporting this @mentalstring.

The current dev-tree (v3.1/dev) has your second issue covered.

I have a hard time reproducing your first issue, though. My setup is not triggering it. Could be due to using v3.1/dev. Could you try with that tree, please?

[2017-11-14 11:38] fgsch commented on #808
@fzipi @victorhora thanks! I will take a look at #956 and open hopefully the last PR to address the remaining things afterwards.

[2017-11-14 19:59] mentalstring commented on #955
@dune73 Thanks for the quick reply!

About the first issue. I tried with v3.1/dev and got the same result. I can trigger 921160 with the data below which has no (injected) HTTP header in it:

```curl http://localhost --data "param1=%0A%0A%3A"```

About the second issue, I see that on v3.1/dev the regex is slightly different, but the difference is only that the `(X-)?` becomes non-capturing. It sti

[2017-11-15 00:45] fzipi commented on #190
@dune73 Has any sense to have this open? Isn't already documented so we can close this one?

[2017-11-15 01:47] fzipi commented on #502
@csanders-git @dune73 Well, keeping up the fun I made the first attempt! https://bestpractices.coreinfrastructure.org/projects/1390.

I think there are a lot of things N/A to our project, but there are many that raised some good questions.

[2017-11-15 03:41] csanders-git commented on #502
Thanks @fzipi many of these are probably have some areas to improve, a lot of which is in documentation :)

[2017-11-15 06:40] dune73 commented on #502
Thank you @fzipi. That looks so official. And also like we might have to add many more good governance practices and features...

If you can edit that entry, could you please
* have the website be https://coreruleset.org
* have the documentation link to that site too
* try and name the project closer to our real name. That is OWASP ModSecurity Core Rule Set. If it needs to be lowercase and hyphens

[2017-11-15 06:58] dune73 commented on #955
Confirm. The provided payload triggers 921160 at PL1. (Do not know why I could not trigger it myself, but I was in a hurry...)

The payload boils down to 2 `<CR>` followed by a colon.

It's quite a peculiar payload, but then this is paranoia level 1 and we try to avoid all FPs here. Also I wonder if this FP is not only a side-effect of the way the rule is written, since there actually is no header

[2017-11-15 10:20] glinkbalaji opened #958 "REG CRS VERSION info"
hello

we have  ‪CentOS Linux 7.4.1708 (Core)‬   Product | Plesk Onyx

we would like to know

how to ckeck what is the crs version running now in my server

and steps to upgrade it

manoj

[2017-11-15 10:53] dune73 commented on #958
There are multiple ways:
*  You can look at the alerts being generated and then look them up in the rule reference: If it's on the left, it's CRS 2.x, it's on the right, it's CRS3 [https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/id_renumbering/IdNumbering.csv](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/id_renumbering/IdNumbering.csv)
* Open one of the

[2017-11-15 10:53] #958 closed, assigned to nobody

[2017-11-15 13:25] fzipi commented on #924
@dune73 created issue #486 before, which I think is related to this one.

[2017-11-15 15:23] fzipi commented on #502
@dune73 : shouldn't www.modsecurity.org/CRS/Documentation redirect to coreruleset.org somehow? It is confusing to have two "similar" sites, and there are no references between each other.

[2017-11-15 15:39] fzipi commented on #502
Is there a public way to confidentially send a bug report? E.g. An email with gpg key public and a phrase like "If you detect something that needs to be handled in a private way, please email "confidential@coreruleset.org"?

[2017-11-15 15:53] fzipi commented on #502
Also, we maybe have to include a way of download a release (not cloning) and maybe have it signed?

[2017-11-15 17:39] fgsch commented on #808
@fzipi commented.
Where is the CONTRIBUTING.md file?

[2017-11-15 17:47] fzipi commented on #808
@fgsch Is at the 3.1/dev branch: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.1/dev/CONTRIBUTING.md

[2017-11-15 19:45] mentalstring commented on #955
This is actually triggering fairly often to me as it's not uncommon for textareas to have lines starting with smileys in them (think blog comments, users editing their profile texts, etc).

As for the `X-`, I don't think it generates more FP — just that it's matching headers that [don't seem to be used](https://en.wikipedia.org/wiki/List_of_HTTP_header_fields), ie, just the `forwarded-*` seems to

[2017-11-16 07:38] emphazer opened #961 "RCE: missing commands"
@dune73
@csanders-git
@lifeforms

I spend some hours and created a list of commands for which should be in v3.1
The most of them should be in #837 (932106) and some of them should be in 932100/932105

What are you thinking?
I think that  some of them are critical.

[code]

[2017-11-16 10:48] lifeforms commented on #961
@emphazer I would love to add these commands. Some of those in the list I had already considered and removed for false positives after testing on a comments dataset. The thing is that the RCE rules also hit after a newline. So any of these words after a newline would hit, and that made me want to to skip some common English words. I approve of almost all of your list, but I would probably exclude

[2017-11-16 14:36] emphazer commented on #961
@lifeforms
ah okay, i understand.

what do you think about adding this commands to 932160 (rules/unix-shell.data) ?
[code]

and maybe:
[code]

[2017-11-16 14:41] lifeforms commented on #961
@emphazer That's always great!

[2017-11-16 15:48] DopplerRedshift opened #963 "Error creating rule: Unknown variable: pk_ref)/"
A similar bug was originally reported back in 2014, but it looks like another regex bug has made it back in to the repo. I'm using the latest master (3.0) as of November 16, 2017. This error occurs when parsing the modsecurity_crs_40_generic_attacks.conf rule set. The entire error message consists of the following:

AH00526: Syntax error on line 25 of /etc/httpd/crs/owasp-modsecurity-crs/base_rule

[2017-11-16 16:12] fzipi commented on #963
@DopplerRedshift There seems to be a confusion, because there is no file named like that in the v3.0/master branch (See https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.0/master/rules).

Could you please verify that?

[2017-11-16 16:47] JReming85 commented on #963
@DopplerRedshift You still have the old version installed, the new version recommended install isnt installed in /etc/modsecurity but in /etc/apache2/modsecurity.d

What ever guide you are using to install it is outdated, and you will need to either unlink the base_rules and change it to rules, or follow the recommended install guide in the INSTALL file

See https://github.com/SpiderLabs/owasp-mod

[2017-11-16 17:13] DopplerRedshift commented on #963
@fzipi Perhaps it is an older version, I was following a guide specifically for CentOS 7 (which I'm using) and it gave the following URL to obtain the latest master:

https://github.com/SpiderLabs/owasp-modsecurity-crs/tarball/master

I see that the URL you provided contains v3.0 specifically, so that must be where the confusion lies. I'll follow the installation guide that @JReming85 has provided

[2017-11-16 17:33] DopplerRedshift commented on #963
Just confirmed - after downloading the file from the updated URL (and thus actually getting the latest version) and following the provided guide, Apache restarts without issue. Thanks again @fzipi and @JReming85!

[2017-11-16 21:07] dune73 commented on #961
That list is awesome, @emphazer!

In case you decide to skip a few of them, would you guys mind adding them to a comment somewhere together with the (individual?) reason why they were skipped? Otherwise somebody may repeat @emphazer's work in the future.

[2017-11-16 21:13] dune73 commented on #955
Thank you for that proposal. Having users come up with rule improvements themselves is just awesome!

We'll look into it and get back to you!

[2017-11-16 22:27] fzipi commented on #963
@DopplerRedshift You are very welcome!

[2017-11-17 09:41] angeloxx opened #965 "SQL Injection bypass"
Today a SQL Injection bypass the modsecurity rules. The request was:

    /page.php?id_camp=13%20ORDER%20BY%201--%20owza&tip=cannonieri&fase=q

but other requests bypassed modsec rules:
    /page.php?id_camp=13&tip=cannonieri&fase=q%20ORDER%20BY%201--%20XCIn
    /page.php?id_camp=13&tip=cannonieri&fase=q%25%27%20ORDER%20BY%201--%20vwog
    /page.php?id_camp=13&tip=cannonieri&fase=q%27%20ORDER%20BY

[2017-11-17 09:53] dune73 commented on #965
Thanks for that submission @angeloxx.

However, I can't confirm this just yet:

[code]

Which boils down to:

[code]

What am I doing wrong?

[2017-11-17 09:56] angeloxx commented on #965
I'll check, we're using PL1

[2017-11-17 10:09] dune73 commented on #965
Please do.

Tweeting about an unconfirmed SQLi rule set bypass feels a bit unfriendly.

[2017-11-17 10:14] #963 closed, assigned to nobody

[2017-11-17 10:18] angeloxx commented on #965
Ok, 942100 was tweaked for avoid false positive in other context, vanilla CRS3 is ok.

[2017-11-17 10:18] #965 closed, assigned to nobody

[2017-11-17 10:31] dune73 commented on #965
Thank you for the confirmation.

[2017-11-20 16:43] derekneely opened #966 "Error creating rule: Unknown variable: pk_ref)/"
Downloaded the latest master and we're seeing this issue when reloading Apache.

AH00526: Syntax error on line 25 of /etc/httpd/crs/owasp-modsecurity-crs/base_rules/modsecurity_crs_40_generic_attacks.conf:
Error creating rule: Unknown variable: pk_ref)/

Rhel7
Apache 2.4

[2017-11-20 16:47] derekneely commented on #966
Actually, receiving this error with all references to pk_ref throughout the .conf files.

[2017-11-20 17:02] derekneely commented on #966
Apologies for this. I regrabbed the repo and also used the ius version of mod_security and I'm all good now.

[2017-11-20 17:02] #966 closed, assigned to nobody

[2017-11-20 19:53] csanders-git commented on #966
No problem, always good to make sure everything is working.

[2017-11-21 17:00] brianp9906 opened #967 "Netscaler ns-client-ip false positive - 941100 libinjection"
Our load balancer (Citrix Netscaler) appends a header "NS-Client-IP" to HTTP requests to track the true source IP from the web request.  ModSecurity is flagging this as an issue and the matched data doesnt make any sense, so it appears to be a bug.

`[Tue Nov 21 01:32:14 2017] [error] [client 10.1.1.1] ModSecurity: Warning. detected XSS using libinjection. [file "rules/REQUEST-941-APPLICATION-ATTA

[2017-11-21 21:06] lifeforms commented on #967
Hi! This alert is triggered because of the `onZWXteReQ` string which is seen by libinjection as a generic HTML event handler attribute. It's been discussed earlier in #820 and #663.

It should hopefully have been addressed in libinjection by https://github.com/client9/libinjection/pull/118, but I am NOT sure if this newest libinjection version is already bundled with ModSecurity.

In any case, if

[2017-11-21 21:07] #967 closed, assigned to nobody

[2017-11-23 12:02] michaelgranzow-avi commented on #524
The REQUEST_URI has already been decoded, so the raw variable should be used for this check.
However, the regex is broken (see https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/422) - the should instead just apply validateUrlEncoding (no chaining needed).

[2017-11-23 12:14] michaelgranzow-avi commented on #422
I stumbled over this regex and was also struggling to make sense of it. I agree with your analysis: the first option (?!$|\W) is the only one needed. Something that doesn't match this won't match the other two options either. And conversely, anything that matches one of the last two options will already have matched the first option. Therefore, from a regex-matching point of view the last two opti

[2017-11-23 15:04] Dennis0001 opened #968 "False possitive on kanboard"
Hi,

i'm using kanboard (kanboard.net) and at some point in the application (kanboard website) mod_security create a false possitive.

**Information (what i do) when i get this false positive in kanboard**
Pressing the + (plus-sign) in the column header in a swimlane of a project it does notting.
browser logging shows:
GET http://www.<<removed>>/kanboard/?controller=TaskCreationController&action=s

[2017-11-23 15:08] dune73 commented on #968
Thank you for reaching out.

Unfortunately, you are hitting the wrong project. You are employing the ModSecurity rules from COMODO (-> ruleid: 211540, msg: COMODO WAF: Blind SQL Injection Attack).

This is the Core Rule Set project and our rules are in the range from 900000 onwards.

[2017-11-23 15:08] #968 closed, assigned to nobody

[2017-11-23 15:10] dune73 commented on #968
Following up: It looks like a standard false positive. It is likely you have to handle this yourself. I suggest you take a look at my tutorial on false positives at [netnea.com](https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/).
The handling does not differ that much between COMODO and CRS.

[2017-11-23 16:44] Dennis0001 commented on #968
I'll will look in to that!
Thank you!

[2017-11-24 08:59] kozlovd opened #969 "Masking PAN in logs"
Hello!
In OWASP CRS v2.2 there is file modsecurity_crs_25_cc_known.conf. It contains rules that masks PANs in modsecurity audit log. How this functionality can be achieved in CRS v3?

[2017-11-24 21:22] dune73 commented on #969
These rules are gone from CRS3.

However, the rule IDs are not used in CRS3. This means you can copy over the old rules into your configuration. Whereever you want to, but make sure the rules are executed before the CRS3 rules (as anomaly score evaluation happens at the end of phase 4 and you need to execute before that moment).

[2017-11-24 21:22] #969 closed, assigned to nobody

[2017-11-25 21:07] dune73 commented on #955
@franbuehler, would this be an issue you would enjoy writing a PR?

[2017-11-25 21:09] dune73 commented on #486
Closing this in favour of #924.

[2017-11-25 21:27] dune73 commented on #486
This topics has been discussed in #924 and in a chat as well.

Copying over the summary of the discussion:

We talked about this for a great length during the chat. Here are the important bits:

- The tagging used in CRS is not systematic. We would like to streamline it.
- Tags eat up space in the alert message and can be cut when the alert message is made to fit the Apache error.log line length.

[2017-11-25 21:35] dune73 commented on #924
Closing this in favour of #486.

[2017-11-25 21:35] #924 closed, assigned to nobody

[2017-11-27 13:31] dune73 opened #971 "Have Travis launch a webserver and load CRS"
I merged #964 after overestimating a review when it was in fact breaking the rule set. This is my fault, but Travis could have warned me.

[2017-11-27 14:08] spartantri commented on #961
This list can grow a lot, it may be good to use for flagging tx's for additional scrutiny looking for additional items that will confirm an RCE and reduce false positives so it can ignore "`a python on a tree`" but complain of "`python -m SimpleHTTPServer`"

Also if the bin is on the path there is no need to use the full path which will result in and easy bypass for
`bin/* usr/bin/* usr/local/bin/

[2017-11-27 14:27] spartantri opened #972 "December monthly meeting agenda"
* CRS is about to win an award; this will bring some media coverage hopefully. We should use that new momentum
* Handling of case (?:in)?sensitive items (see below for additional infos)
* We need a plan to reduce open issues. The way it is now gives a bad impression
* PR #978 : Update date and add badges
* PR #977 : Travis: fail if apache fails
* PR #970 : 933131: insensitive tests
* PR #957 : 942

[2017-11-27 14:36] csanders-git commented on #972
i'm actually not sure about this. My gut says that the transform will be faster but if the regex engine is already booted up for something different the performance is probably negligible

[2017-11-27 14:54] dune73 commented on #972
It's probably worth to test in detail before we chance anything.

[2017-11-27 17:07] fgsch opened #974 "921100 incorrectly forbids "," (commas) in Transfer-Encoding"
If I'm reading this rule correctly, it will trigger for both multiple Transfer-Encoding headers and a single header with multiple values separated by comma.
The latter is perfectly valid, e.g. https://tools.ietf.org/html/rfc7230#page-29 and https://tools.ietf.org/html/rfc7230#page-82.

[2017-11-27 17:12] fgsch commented on #974
Should this use the `&REQUEST_HEADERS:/.../ "@gt 1" ...` constructor instead?

[2017-11-27 18:17] fgsch commented on #972
My gut feeling says the opposite, the regexp should be faster or equal.

Also there is no need to pre-convert the whole input to lowercase if it's not going to match further down the line. For large inputs this might be considerable.

It'd be great to see some benchmarks though.

[2017-11-27 18:30] fgsch opened #975 "920180 does not take into account Transfer-Encoding"
If a POST is done using Transfer-Encoding (and not Content-Length) this rule will trigger.

It should take into consideration the T-E header.

[2017-11-27 18:44] fgsch commented on #971
To expand on this, the ruleset was not broken syntax-wise; rule 910110 requires a file that is not normally available in the filesystem.

One could argue that we're not checking this rule since it's disabled by default.

[2017-11-27 18:53] dune73 commented on #971
I do not think it's a problem with this rule whatsoever. It's the fact that you can not load the ruleset anymore. Even if it's syntactically correct. And we'll encounter more failures like this in the future, I am sure.

Also, it's not your fault. If it's anybody's fault, it's mine.

[2017-11-30 03:33] csanders-git commented on #971
I should probably be able to throw together a quick test tot see if the status of apache doesn't become green on boot for ol' travis!

[2017-11-30 17:10] fzipi commented on #971
@csanders-git I can help you with that.

[2017-11-30 17:48] fzipi commented on #971
For me, the straigthforward way of doing this is modifying travis to use the rules on the repository.

So changing the line:
[code]
For:
[code]
This will try to run httpd using the rules in this directory, and will fail bad when apache fails to start.

You can test it on your devices to see it works (I did it already). I am going to test this on my fork, and report back if it works "correctly".

[2017-11-30 21:01] fzipi commented on #971
Nice. it works as expected.

So, after merging PR #977, when there is a problem with any rules file, Apache will not run on the container and build will fail.

[2017-12-04 20:56] lifeforms commented on #972
Handling of case (?:in)?sensitive items - To set a standard for future development, we need to know which way has better performance. @spartantri is going to try to do some benchmarks on Apache, so we can revisit the issue next month.

[2017-12-04 20:57] lifeforms commented on #972
Open issues: Yeah, there are many open issues.. All reviewers should try to look at their assigned issues if they can. Many new PRs are about the test suite, which is not working yet for everyone. These issues fortunately seem small. They are assigned to @csanders-git.

[2017-12-04 21:51] lifeforms commented on #889
This is a false positive due to `<?` appearing in output. Sometimes this happens in big binary files, which is the reason that some signatures were added to prevent false positives as @YbyMMbPh suggested. If you know the file type, let us know and we might add more signatures.

I take it, since the filename is `/`, that it's probably HTML though. The sequence could also be present due to a bug in

[2017-12-04 21:51] #889 closed, assigned to nobody

[2017-12-06 18:53] fzipi commented on #808
@fgsch @dune73 What is the status of this one? Do we need to do something more?

[2017-12-06 19:57] fzipi commented on #798
@fgsch There are rules that are practically boolean: for example 9202(8|9)0, 9203(0|1|2|3|6)0, 920311 and 920250. What's are we going to log there? There is already a 'msg' for that rule...

I'm sending PR #980 which addresses the other rules.

[2017-12-07 10:08] dune73 commented on #808
I've lost the overview a bit (or never had it ;)

So I'll take the word of @fgsch if this is done or not. If it's over, then let's close this issue and start a round of applause!

[2017-12-07 14:01] fgsch commented on #808
I believe all the actions in this ticket were completed.

[2017-12-07 14:01] #808 closed, assigned to emphazer

[2017-12-10 23:31] fgsch commented on #798
@fzipi The original conversation covered a few rules.
I created the list programatically to include them all but in some cases it might be OK.

As for the rules you mentioned, it'd be nice if:

- For 920250, we log what was invalid
- For 920360, the actual length

[2017-12-11 20:46] fzipi commented on #798
@fgsch Good, added those as well.

[2017-12-12 14:48] #972 closed, assigned to nobody

[2017-12-14 15:13] fgsch commented on #974
I'd like to open a PR for this.
Anyone has any opinions re using &... to count the number of headers?

[2017-12-14 15:58] dune73 commented on #974
Would you want to disallow more than one header?

I think we might be able to whitelist values for transfer-encoding, but the RFC speaks of Transfer-Extensions that seem to complicate things a lot.

Maybe we limit 921100 to Content-Length and then try to cope with Transfer-Encoding in a whitelisting manner at a higher PL?

[2017-12-15 10:33] fgsch commented on #974
Let's take a step back. The issue here is that apache will join multiple T-E headers by merging them in a single header separated by "," (comma), which makes it impossible to distinguish from a single header with multiple values.

Is my understanding correct?

Please note that neither of the 2 links in the rule mention Transfer-Encoding and I can't find any reference saying that multiple T-E heade

[2017-12-15 10:40] dune73 commented on #974
Yes, apache will join them with a comma as separator, while we check for the comma as a sign of request smuggling.

Regardless of where the comma comes from, it is considered OK within the T-E header. So I think we are doing this wrong.

[2017-12-15 10:43] fgsch commented on #974
Personally I think we should:

1. Remove T-E from this rule
2. Add another rule that checks that both C-L and T-E are not present
3. Consider what to do with T-E in its own rule

What do you think?

[2017-12-15 11:39] dune73 commented on #974
I agree with you completely.

[2017-12-15 12:54] fgsch commented on #974
Ok, I will open a PR with this and try to get more info regarding multiple T-E headers in the meantime.

[2017-12-15 13:12] dune73 commented on #974
What would really be helpful is a "value zoo" for HTTP headers. That is a collection of all sorts of HTTP headers as can be found in the wild. Finding information about exotic user-agents and browsers in special situations can be really tough.

[2017-12-15 13:31] fgsch commented on #974
We could start with the basic ones (https://tools.ietf.org/html/rfc7230#section-4) and add any extensions as we found along. Thoughts?

[2017-12-15 13:41] dune73 commented on #974
Depends a bit on the PL. I'm OK with this plan for PL3. Less so for PL1 and 2. And I wonder how frequent the use of these transfer-extensions is. I have never seen this myself.
If we go with https://tools.ietf.org/html/rfc7230#section-4, would we whitelist? Whitelisting via parallel match is likely to be fastest and still readable if we ignore transfer-extensions.

[2017-12-15 13:44] fgsch commented on #974
Yes, that's exactly what I meant. Sorry for being terse.
Basic ones in PL1, we consider others eventually, most likely at different PLs.

[2017-12-15 13:50] dune73 commented on #974
But does not that mean that we disallow transfer-extensions at PL1?
And that is exactly what I want to avoid.

I am OK with disallowing them at PL3 because they seem to be rare, but we should not fire into the dark at PL1.

[2017-12-15 14:04] fgsch commented on #974
You are right, sorry. In that case, shouldn't this be settings like allowed_methods, etc. where you specify which ones are valid and by default we only include the basics?

I think extensions are rare enough that we can avoid them at PL1 but should be easy enough to add them if you really want to.

[2017-12-15 14:15] dune73 commented on #974
I'm skeptical. Can't we disallow them at PL3 and if we go for an extended period of time without any alerts, we shift the rule down to PL2 or PL1?

Using a variable for configuration would actually be nice, I think.

But whatever we do: more people with an opinion are needed.

[2017-12-15 16:49] fgsch commented on #974
Do we agree in 1 and 2? I can work on that while we decide how to handle 3.

[2017-12-16 20:21] dune73 commented on #974
Yes, I think we agree on 1 and 2.

[2017-12-18 13:45] fzipi opened #986 "Definition of the remaining Policies for Best Practices Accreditation"
This is related to #502. I've been filling the data for a new badge: [![CII Best Practices](https://bestpractices.coreinfrastructure.org/projects/1390/badge)](https://bestpractices.coreinfrastructure.org/projects/1390)

So here are the last bits to have 100% compliance with BPA.

* We maybe have to include a way of download a release (not cloning) (and maybe have it signed?)

I think we should hav

[2017-12-19 07:35] dune73 commented on #986
Thanks for pushing this forward @fzipi. It's boring work, but it needs to be done.

Here is my take on the open questions:

1 - Signed Releases: Yes, it seems we need to do that. I think they also ought to be listed on the website. Our rule update script also plays into this.
2 - Security contact: We have an email address security@coreruleset.org. It forwards to contact@coreruleset.org, which forw

[2017-12-19 10:26] fgsch commented on #975
Fix committed.

[2017-12-19 10:26] #975 closed, assigned to nobody

[2017-12-19 19:26] dune73 opened #988 "FP on 942360"
`address=100 Union St.`

leads to

`942360 PL1 Detects concatenated basic SQL injection and SQLLFI attempts`

Otherwise only PL4 alerts, but this comes in the default installation.

[2017-12-20 21:49] franbuehler commented on #811
This issue is resolved and could be closed.
The former rule id 942410 was split into three new rules: 942410, 942470, 942480 in PR #907.

[2017-12-20 21:50] #811 closed, assigned to franbuehler

[2017-12-21 22:16] franbuehler commented on #46
I found this old issue and looked into it.
The rules are still there, but none of the rules are at PL1.

[code]

If I test with the value `{"v":1,"rid":"1371546489873_699561","to":5,"c":"http://www.some.site/page.aspx?a=5","pv":2,"lc":{"d0":{"v":2,"s":true}},"cd":0,"sd":0,"f":1371546904751}` in a post body instead of the cookie and if I set the "Content-Type: application/json" the false positives

[2017-12-22 04:00] csanders-git commented on #46
I think we close the issue for now because eventually @victorhora @zimmerle  and the modsecurity team will add support for processing specific parameters of the request as JSON instead of either the whole thing or nothing. This will then allow us to resolve this issue not just by making the rules higher level.

[2017-12-22 13:11] #46 closed

[2017-12-29 17:52] fzipi commented on #986
I've added the email in the security contact.

[2018-01-02 03:51] spartantri opened #991 "January monthly meeting agenda"
Happy 2018 to everyone!

Here are some items to discuss during our monthly chat:
- ML seems to be broken. This has been escalated to OWASP HQ by @dune73 today.
- PR #990: Java attacks : ready for review
- PR #989
- PR #983 - @dune73 failed to test and merge this. Sorry.
- PR #982 - @dune73 failed to test and merge this. Sorry.
- PR #977
- PR #926 - #949 from azhao155 regarding the tests
- PR #896

[2018-01-02 13:41] fzipi commented on #991
- Merge the PRs from azhao155.
- Testing policy definition (from #986)

[2018-01-05 21:40] dcrabill opened #992 "403 Error Received When Saving Wordpress Options"
Using WHM with ModSecurity and OWASP ModSecurity Core Rule Set V3.0.

Attempted to save Wordpress general settings via the Wordpress administrator area with OWASP ModSecurity Core Rule Set V3.0 enabled. Received 403 error.

Disabled OWASP ModSecurity Core Rule Set V3.0 in WHM. Went back to Wordpress administrator and re-saved the General Settings. 403 was not received and settings were saved succe

[2018-01-05 21:45] lifeforms commented on #992
Hi Dave, this would be interesting to resolve. We need a bit more information to do that though!

1. Can you paste the audit log for the blocking event? (Usually in `/var/log/modsec_audit.log` or some other location, I don't know WHM personally)

2. Have you enabled the WordPress exclusions? (`setvar:tx.crs_exclusions_wordpress=1` in `crs-setup.conf`)

[2018-01-05 21:55] dcrabill commented on #992
Hi Walter, I'd be glad to share the log, but I checked the location you suggested and it's not there. Any other ideas for the location of the log file?

I am not sure if WordPress exclusions are enabled, but I'd be glad to test this. What is the path to the crs-setup.conf file?

[2018-01-06 04:22] CanadianJeff commented on #731
this issue has been going on for well over 1 year

[2018-01-06 04:22] CanadianJeff commented on #731
I first reported this problem on Oct 19 2016
https://github.com/SpiderLabs/ModSecurity/issues/1232

[2018-01-06 07:37] dune73 commented on #731
Hi @CanadianJeff, you are right. This has been open far too long.

We do our monthly community chat on Monday and I added it to the agenda (-> #991).

In fact we have a general problem with not fixing issues that our users report. And we need a solution there.

[2018-01-06 20:47] spartantri commented on #731
it would be good to have a process to validate all those exceptions and a standard way to address them to avoid irregularities, fake reports, etc

[2018-01-06 20:52] spartantri commented on #992
High paranoia level settings will cause lots of issues with word press due to the many parameters and cookies use [ ] in the name.
As @lifeforms said, without the log it is hard to tell exactly what is causing the 403 responses.

[2018-01-07 12:21] spartantri commented on #955
Good report, I agree it is not rare to have users entering blank lines, plus the uppercase `X-` into a rule with t:lowercase will never get a hit, as this is not anchored it still work but will be good to fix it.
Also `ARGS_NAMES` could be removed as `921150` already check for `[\n\r]`

[2018-01-07 12:30] spartantri opened #993 "921110 missing track and patch"
921110 missing track and patch
`(?:\n|\r)+(?:get|post|head|options|connect|put|delete|trace|propfind|propatch|mkcol|copy|move|lock|unlock)\s+`
Is `capture` really used at all with non-capture regex?

[2018-01-08 18:27] fgsch commented on #909
To be continued in the right repo.

[2018-01-08 18:27] #909 closed, assigned to nobody

[2018-01-08 18:28] fgsch commented on #798
@fzipi #980 has been merged so I guess we can close this?

[2018-01-08 18:29] fgsch commented on #991
* Consider what to do with #974, pt 3.

[2018-01-08 19:43] fzipi commented on #798
@fgsch Yes!

[2018-01-08 19:43] #798 closed, assigned to nobody

[2018-01-08 20:18] dcrabill commented on #992
Hello, I think this is the log of the blocking event, but please let me know if this doesn't contain what you need.

`--8cd9a325-H--
Message: Warning. detected XSS using libinjection. [file "/etc/apache2/conf.d/modsec_vendor_configs/OWASP3/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "37"] [id "941100"] [rev "2"] [msg "XSS Attack Detected via libinjection"] [data "Matched Data: content-ty

[2018-01-08 20:28] csanders-git commented on #486
We shall also go through and note the changes to OWASP top 10 tags

[2018-01-08 21:02] csanders-git commented on #974
it's hard to put something so complicated that not many people are familiar with into a core release at a low PL level off the bat without review. I'd say that it makes sense based on our conversations that we shoot for basic abuse stuff for 3.2 in a reasonable PL level and then extensions and more complicate encoding in 3.3.

[2018-01-08 21:04] spartantri commented on #974
for 3. it maybe good to do some basic known abuse checks for T-E at PL1 e.g. chunked but leave all extensions to PL 4 as it will require to do a chain of validations and we have not much supporting test data on this

[2018-01-09 12:43] spartantri commented on #992
Hi @dcrabill you are sending xml content to a vhost using urlencoded body processor and that will cause you a lot of issues, usually if you send the proper content-type to the server, modsecurity will use the XML body processor, or you can force it with the rule 87 below assuming you send text/xml (adjust properly)

`SecRule REQUEST_HEADERS:Content-Type ^text/xml$ "phase:1,id:87,t:lowercase,nolog,

[2018-01-09 16:57] dcrabill commented on #992
Hi @spartantri, I suppose that this behavior of sending xml content to a vhost using urlencoded body processor is how the Wordpress app is configured to function. From a Wordpress admin perspective, it would be nice if ModSecurity with the OWASP ruleset supported this common Wordpress function without needing to modify rules.

[2018-01-09 20:01] franbuehler commented on #988
The matching regex is: `^[\W\d]+\s*?union\b`
From: [util/regexp-assemble/regexp-942360.data](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.1/dev/util/regexp-assemble/regexp-942360.data#L44)

I searched for the string `union` over all regexp source files (this is so useful!).
It is checked for in four rules: 942190, 942260, 942360 and 942480:

[code]

These are the messages and the pa

[2018-01-10 00:05] spartantri commented on #992
It can be done, it isn't hard to implement, @dcrabill, can you provide the original request (sanitized obviously) to take a look.

[2018-01-10 11:04] dune73 commented on #731
OK, here we are. So we talked things through in the meeting.

@emphazer promised to do a PR under the condition I write the requirements and the resolution. I have now read the chat log again and took a closer look at the comments above. @YbyMMbPh wrote up his reasoning in a beautiful way. But @lifeforms aimed at a more general solution. Looking through the chat log, I think @emphazer had somethin

[2018-01-10 21:40] #991 closed, assigned to nobody

[2018-01-12 11:12] spartantri commented on #904
Added to scanners-user-agents.data

[2018-01-12 11:12] #904 closed, assigned to nobody

[2018-01-12 11:14] spartantri commented on #823
Hi @lifeforms, @dune73  is anyone doing something to fix this? any ideas? I have a few cyrilic sites and this is a very welcome fix.

[2018-01-12 11:17] spartantri commented on #883
this is a modsecurity missing feature, so it maybe better to close this and add an issue under their github as the CRS can't do much without falling for very expensive checks or modsec source code changes.

[2018-01-12 11:17] #883 closed, assigned to nobody

[2018-01-12 11:19] spartantri commented on #993
patch and track added, capture should be fixed under a cleanup ruleset PR

[2018-01-12 11:19] #993 closed, assigned to spartantri

[2018-01-12 11:37] dune73 commented on #993
Thanks @spartantri.

I see this changed, also the diff (and blame), but I can't seem to find the PR connected to this change. ???

[2018-01-12 13:28] spartantri commented on #895
This problem could be fixed by adding REQUEST_HEADERS_NAMES to 921170 so duplicate headers are identified as HPP, what do you think? @csanders-git @fzipi @dune73

[2018-01-12 13:30] #898 closed, assigned to nobody

[2018-01-12 13:34] dune73 commented on #895
I am not really familiar with this issue, but multiple request headers of the same name is not really forbidden as far as I can see. Interpreting this as HPP at PL3 still sounds reasonable.

Where I have seen this in the past, I think, was overlong cookie headers being split. But I might be mistaken. Ideally you check if that is known and if yes, you do exclude the Cookie header.

Thank you for th

[2018-01-15 18:57] ghost opened #996 "update main GH page to be official website"
In reading the documentation, I started by navigating to https://modsecurity.org/crs from this repository's landing page. However, it seems https://coreruleset.org/ is the official site as it is more recently updated.
If this is the case, could you update the this repository's link to point to the official site? Thanks!

Relates to discussion here:
https://github.com/SpiderLabs/owasp-modsecurity-c

[2018-01-16 14:07] dune73 commented on #996
Thank you for reporting this @efx. True, that.

@csanders-git, can you do this, or do we need @victorhora / Spiderlabs to perform this for us? It's part of the title (?) when you click on our repository.

[2018-01-16 19:45] dune73 commented on #823
No, not really. It's also part of a bigger problem with cyrilic character sets.

So maybe a quick fix here and somebody making the bigger problem his/her problem.

[2018-01-17 02:34] spartantri commented on #823
I guess we should close this issue as at the CRS level what can be done is a user configuration to white-list the argument (e.g. `SecRuleUpdateTargetById 942120 !ARGS:name`) or are we planning to actually have some sort of workaround to check if the possibly conflicting characters in the cyrillic alphabet are present to then do a run-time bypass of the known offending rules?
If we go for the later

[2018-01-17 12:13] franbuehler commented on #149
I had a look at this old issue.

These false negatives are now covered in rule "942100" on PL1 by libinjection:
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.1/dev/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf#L43-L67

[code]

[code]

[code]

This issue can be closed.

[2018-01-17 12:13] #149 closed

[2018-01-17 12:52] franbuehler commented on #241
I've checked this old issue.
If I get this correctly, the rule 950107 (now rule 920220) blocked all unicode encodings, not only invalid encodings.

valid encoding:
`curl localhost:80?text=%3A
`
This request is not blocked, which is correct:

modsec_debug.log:
[code]

invalid encoding:

`curl localhost:80?text=%%35c`
This request correctly matches the rule:

modsec_audit.log
[code]

modsec_debug.lo

[2018-01-17 12:52] #241 closed

[2018-01-22 08:21] shadow4040 opened #997 "Rule 942360 false-positive on Keyword alter"
False Positive because of the keyword: alter (from SQL)
`/modsecurity-crs/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "81"] [id "942360"] [rev "2"] [msg "Detects concatenated basic SQL injection and SQLLFI attempts"] [data "Matched Data: Alter found within ARGS:request.debtors.privatePerson.birthName: Alter XYZ "]`

[2018-01-22 16:13] fgsch opened #998 "pmf and case-sensitive matching"
After c1a7652d2a57dafc16afbda56967b611e6aebaca, all `@pmf` occurrences have the lowercase transformation.

IMO this was not the right way to fix it since it implies `@pmf` is no longer case insensitive as the documentation states.
Furthermore, although disabled there is code in the Aho-Cora implementation to support UTF8.
If this ever gets enabled and rules start depending on it, having `lowercase

[2018-01-24 14:02] spartantri commented on #790
https://www.netsparker.com/blog/web-security/live-demo-web-application-firewall-bypass/

[2018-01-25 02:07] allanbomsft opened #999 "921160 can lead to runaway regex"
Run default PCRE limits:
[code]

Post a request with 2000 lines consisting of 40 spaces. (The actual request I have in production consists of indented XML, which ModSec strips down to just the indentation at one point, hence this synthetic 2000 lines consisting of 40 spaces test).
[code]

Expected: Nothing unusual.
Actual: Request takes tens of seconds. 15 sec on one of my machines running IIS+Mod

[2018-01-25 12:05] shunkica opened #1001 "Rule 920420 blocking remote procedure call"
I have a web application running on a backend server that is accessible via a subdomain on my frontend.
After installing OWASP rules via cPanel on the frontend, the application stopped working (it throws a "remote procedure call error").
I added "SecRuleEngine Off" to the proxy configuration so it works now, but I am not sure what the original problem is.
Could it be because the backend server use

[2018-01-25 12:36] spartantri commented on #1001
Hi @shunkica , this is a configuration issue on your setup, add 'text/x-gwt-rp' to your crs-setup.conf under 900220, as that content-type is not allowed according to the first event in your log from rule 920420.

[code]

[2018-01-25 13:15] spartantri commented on #999
Hi @allanbomsft,
As mentioned in PR you may have better results moving this to phase:1 or change the rule target from `ARGS_NAMES|ARGS|XML` to `ARGS_GET_NAMES|ARGS_GET` to prevent the header injection issue and remove your performance issue.

[2018-01-25 13:31] #1001 closed, assigned to nobody

[2018-01-25 16:50] dune73 commented on #998
I am not quite following you; too many negations for my brain.

If I remember by correctly, we made this adjustment to make sure we can work with case sensitive and case insensitive. All data files are supposed to be lowercase, all payloads transformed to lowercase.

Do you understand how UTF-8 plays into this? Could you explain.

Nothing wrong with updating the documentation and making this all t

[2018-01-25 19:33] dune73 commented on #997
Thank you for submitting @mostworld77.

Unfortunately, I can not reproduce the alert. Could you please submit the exact / minimal payload that triggers the rule. Ideally as a CLI call with curl. Alternatively a complete audit log entry.

[2018-01-25 20:52] franbuehler commented on #997
I was able to reproduce this false positive:
`curl localhost:80?name=+Alter+XYZ`

The problem is the space before the keyword alter:
` Alter XYZ`

The matching regex is this one:
`^[\W\d]+\s*?alter\b` from:
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.1/dev/util/regexp-assemble/regexp-942360.data#L35

We could extend this regex with `table`, `column` and other valid keywords?
`alter

[2018-01-25 21:20] dune73 commented on #997
Thank you for digging into this @franbuehler.

So this is a very similar case to #988. It is unfortunate that "Alter" is a German word (here), but the whole group of keywords are English words. I mean that's what SQL is all about.

We may want to cover this FP here with the same PR.

I see where your suggestion is heading. And I also see the inherent risk if we ignore an exotic SQL dialect and boo

[2018-01-25 21:35] franbuehler commented on #997
Why not move these two regexes to PL2 to a stricter sibling 942361?
`^[\W\d]+\s*?alter\b`
`^[\W\d]+\s*?union\b`

AND also extend these regexes on PL1 with possible keywords:
`^[\W\d]+\s*?alter\b\s*(table|column)`
`^[\W\d]+\s*?union\b\s*(all|select)`

This way we still have some coverage on PL1.

I could work on a more specific proposal for regexes on PL1.

[2018-01-25 21:43] dune73 commented on #997
Yes, I thought of this too. But would not we want to cover the other keywords / regexes too? Are not they equally likely to result in FPs?

[code]

And then we suddenly feel like interfering with @csanders-git's plan to revise the complete set of SQLi rules.

Or would it be more suitable to just follow your suggestion as a pragmatic short-term solution for v3.1?

[2018-01-26 09:21] spartantri commented on #997
All these regex seem very false positive, false negative like [comments](https://www.netsparker.com/blog/web-security/sql-injection-cheat-sheet/#LineComments) should be mitigated by other rules, all of them include common english words for PL1 don't you think?

I like the @franbuehler suggestion for PL1 to reduce false positives in free text fields, maybe also adding a t:replaceComments,t:cmdLine

[2018-01-26 09:42] dune73 commented on #997
Yes, it's actually surprising there are not more reports of FPs here.

I like the \b before the keyword, but I think we need to allow for a (single) whitespace in front of the bracket. t:cmdLine reduces whitespace to a single char.

Do we need the t:replaceComments? I mean, do SQL parsers accept / understand this? If yes, then we absolutely need t:replaceComments.

[2018-01-26 16:52] spartantri commented on #997
Sounds like a plan, the comments part is not necessary there are other rules to handle such things.

^[\W\d]+\s\balter\b(table|column)
^[\W\d]+\s\bunion\b(all|select)

[2018-01-28 20:06] Stono opened #1002 "100% CPU when CRS enabled"
Hi,
I'm trying to use ModSecurity with CRS on Nginx and when CRS is enabled, even a single request to the server results in a 100% cpu for 5-6 seconds.

This is a 4gig/4cpu server:
  - I'm using v3/dev/performance branch of ModSecurity
  - I'm using the latest modsecurity-crs

Cross linking:
  - https://github.com/SpiderLabs/ModSecurity/issues/1641
  - https://github.com/kubernetes/ingress-nginx/i

[2018-01-28 20:32] Stono commented on #1002
After some more testing I can confirm this is because of cookies.  The site I am trying to protect has quite a large amount (22), clearing these cookies makes a differences of several seconds to the request?!

[2018-01-28 20:38] dune73 commented on #1002
Thanks for reporting @Stono. I am sorry to hear the performance is so depressing. But it is not the first time I hear it. It was a 3.0 release after all, and I do not think the code has really matured.

I'm calling on @zimmerle, the ModSecurity lead dev here. So I think you might be better off opening this issue over at ModSecurity, as we can definitely say it has nothing to do with CRS.

[2018-01-28 20:42] Stono commented on #1002
@dune73 it does appear to be in relation to the cookie checks, do you know any way I can (temporarily) disable cookies as a target for all rules?

[2018-01-28 20:47] dune73 commented on #1002
You should be able to do

`SecRuleUpdateTargetById 900000-999999 !REQUEST_COOKIES`

Details / background at https://www.netnea.com/cms/apache-tutorials/

[2018-01-28 21:01] Stono commented on #1002
Thanks @dune73 - didn't really help :-(
This is very frustrating.

Do you believe/have you confirmed the performance is better with < 3.0?

[2018-01-28 22:29] dune73 commented on #1002
That's strange. But then you have a crazy amount of them and if they are big it really is an issue. The Removal should have done away with that, though. You sure you applied this correctly and it had it's effect? You could attempt an attack via a cookie (-> Cookie: test=/bin/bash) to see if it still triggers. If it does, the removal did not work.

But whatever, the performance should definitely be

[2018-01-28 22:36] Stono commented on #1002
@dune73 hmmm no it doesn't appear to be working (we have 22 cookies on this domain btw).  I have the following options:

[code]

And a `curl -v --cookie "test=/bin/bash"` is still coming back 403 :o

[code]

[2018-01-28 23:07] dune73 commented on #1002
Yeah, you probably did the Update _before_ the rule inclusion. It needs to be the other way around.
You may want to read the tutorials linked above.

[2018-01-28 23:20] Stono commented on #1002
No, I didn't.  As `SecRemoveRuleById` works fine, it's something to do with my `SecRuleUpdateTargetById`, and the rule in question.

No worries anyway, i'll work it out, thanks for your time anyway.

[2018-01-29 05:04] dune73 commented on #1002
Yes, probably. Sorry for all the hassle. It's a new piece of code this 3.0 release...

[2018-01-29 05:04] #1002 closed, assigned to nobody

[2018-01-30 05:11] dune73 commented on #997
You still don't do whitespace after the `\b`. Or do I get this wrong?

But whatever, @franbuehler promised to do a PR based on the agreed course of action; only covering alter / union for the time being.

[2018-01-30 10:12] spartantri commented on #997
yep, you're right, also using non capturing groups maybe better as capturing those keywords may not be really required

[2018-02-01 14:44] spartantri opened #1003 "February monthly meeting agenda"
Here are some items to discuss during our monthly chat:

- PR #989 : 942490 regressiontest
- PR #990 : Java attacks
- PR #994 : File attacks
- PR #1004 : 921169
- PR #1000 : 921160 unnecessary space
- PR #1008 : Regression test overhaul by @csanders-git based on dozens of PRs @azhao155
- PR #1009 : FP: superlike
- PR #1010 : NextCloud
- PR #1011 : Docuwiki
- Bunch of PR : Fix for ######
- Rule cle

[2018-02-01 15:48] csanders-git commented on #1003
thanks :) i'll be adding my updates soon

[2018-02-01 22:44] allanbomsft commented on #1003
Any chance I could join the meeting?

[2018-02-01 22:48] dune73 commented on #1003
Sure thing, it's a community meeting.

First monday every month, 2030 CET, freenode IRC, channel #modsecurity. Would be nice to see you. And put things up on the agenda if you want to have it covered.

[2018-02-02 14:14] shadow4040 commented on #997
Is there a workaround for this case? thanks

[2018-02-02 14:28] dune73 commented on #997
Multiple variants exist: https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/

Quick and dirty: `SecRuleRemoveById 942360`

[2018-02-02 22:27] monkburger opened #1005 "Mod"

[2018-02-02 22:27] #1005 closed, assigned to nobody

[2018-02-02 22:34] abramz opened #1006 "False Positive 920300 - "Request Missing an Accept Header""
I am using the OWASP 3.0 ruleset that Azure Application Gateways use.
I made this request from my browser and the user agent provided is valid as far as I know.
The request has a valid `accept` field as well.

[code]

[code]

[code]

This is what I get from the application gateway logs:
[code]

[2018-02-02 22:41] monkburger opened #1007 "Mod Security slows down Apache if SecHashKey isn't set in conf files"
While investigating a performance drop (10<->20% post meltdown) we noticed this line of code:

if (dcfg->crypto_key == NOT_SET_P) dcfg->crypto_key = getkey(dcfg->mp);

Which calls getkey(), which then does this:

apr_generate_random_bytes(salt, sizeof(salt));
key = apr_psprintf(mp,"%.*s",(int)sizeof(salt),salt);
 
apr_sha1_init (&ctx);
apr_sha1_update (&ctx, (const char*)key, strlen(key));
apr_sha

[2018-02-02 23:58] #1007 closed, assigned to nobody

[2018-02-05 18:06] ivanbaldo commented on #832
FWIW, it happens with Laravel too against REQUEST_COOKIES:XSRF-TOKEN.

[2018-02-05 18:11] ivanbaldo commented on #833
FWIW it happens with Laravel too in REQUEST_COOKIES:XSRF-TOKEN.
It continuosly generates random XSRF-TOKEN cookies like this one (which matches):
`XSRF-TOKEN=eyJpdiI6ImI4QUpCdUJ0d3NsXC8wZHpLbWhFdlZ3PT0iLCJ2YWx1ZSI6InYxNVdacVh3elg3dW9wOVwvZ2ZndnZCaldMZ2kwUkxISExIRTBVNmY0Q3FRYWRzY1lYY1Q0XC9EbGZQNHBvckl0YXRYNjFaazBZYUx5eW5WVWFpOFNVQ0E9PSIsIm1hYyI6IjcyMmZkZGIzOTU1MDI2Y2JjOWY0OTk0YWY0NDAwMmM5MGY1OTQzYz

[2018-02-05 19:09] ivanbaldo commented on #833
Ok, now I seen it in REQUEST_COOKIES:laravel_session too, which makes sense, since I guess they use the same algorithm to generate it.

[2018-02-05 20:47] dune73 opened #1012 "Decide on placement of ctl:forceRequestBodyVariable in rules files or in init (=901)"
The new 914 and 944 rules brought up this question.

Let's decide this in time for 3.1.

[2018-02-06 07:59] shadow4040 commented on #997
thanks, but as you discussed, is it not possible to exclude only the keyword "alter" from this rule.
Does the rule disabling not opening other security attack surfaces?

[2018-02-06 12:46] spartantri commented on #1012
I vote moving 944000 to 901110 or something like that and remove it from both 914 and 944 :+1:

[2018-02-06 12:48] spartantri commented on #703
@csanders-git, @lifeforms , This one is already addressed in #990, can we close it?

[2018-02-06 12:53] spartantri commented on #606
@lifeforms, what if we add REQUEST_HEADERS:Referer to `941100` and close this issue?

[2018-02-06 13:05] spartantri commented on #681
@lifeforms, @dune73, there is the 910110 for checking the ip against `ip_blacklist.data` which doesn't exists so we can repurpose it to be generic and create an empty file so people can add whatever they want, you may include a link to [tor-exit-addresses](https://check.torproject.org/exit-addresses) if you want, but having a blacklist of ip is not under the CRS scope, those things move a lot, so

[2018-02-06 13:15] spartantri commented on #730
This is a pretty complex item to address, it may be easier to catch `(?i)(?:ht|f)tps?` as hostnames/fqdn can also be used for the same purposes, it will also prone to false positives and negatives.

[code]

[2018-02-06 14:09] spartantri commented on #744
@dune73,  there are many common words in Top Level Domains that will cause false positives, a PL4 rule that match things that look like valid domain could get this handled [TLD list](http://data.iana.org/TLD/tlds-alpha-by-domain.txt), notice that there are over 1500 TLD's

[code]

For ip's its much more complicated as there is another issue on this but basically this can work as well
`SecRule ARGS

[2018-02-06 15:10] spartantri commented on #1006
That's strange, rule 920300 in 3.0 check first that the Accept header is not present and also that you user-agent does not contain AppleWebKit, and your example should not match any of those conditions, can you confirm the example request matches the log event?

[2018-02-07 00:49] abramz commented on #1006
@spartantri I went back through the rules we are hitting and I could not repro this one.

[2018-02-07 00:49] #1006 closed, assigned to nobody

[2018-02-07 21:19] franbuehler commented on #997
I looked at the possible valid keywords for `union` and `alter`.
The `union` case is simple:

[code]

But `alter` is really difficult.
I checked different dialects: MySQL, MSSQL, Oracle, PLSQL, PostgreSQL, DB2 and there are 76 valid keywords after `alter`:

[code]

This means for us, the source file grows by 76 more lines and the resulting regex is also larger:

[code]

My Pull Request would be re

[2018-02-08 06:56] dune73 commented on #997
We have FPs in the default installation. Your work allows us to keep this part of the rule in PL1. If we do not do that, I think we need to push it to PL2 which lowers the security at PL1.

There is a fair chance that we miss future development in the DBMS and a new keywords show up. However, we would still cover the basic alter keyword at PL2 as a stricter sibling, so I think we could live with t

[2018-02-08 06:58] dune73 commented on #997
@mostworld77 : No, there is no simple solution to exclude a keyword from a regular expression. That would mean to alter the regular expression and altering the regular expression typically means to edit the rule set, which prevents you from a simple upgrade path.

[2018-02-08 07:14] dune73 commented on #681
Yes, I share your impression. It's probably out of scope.

On the other hand, people do not care about scope when they look at our project. They want the complete WAF from one place and not puzzle it together from a variety of projects. But maybe that's the role of real vendors to make CRS into a boxed product. Hard to tell.

If we could incorporate this feature with relative ease, disable it by d

[2018-02-08 10:06] dune73 commented on #832
Thank you for reporting this.

[2018-02-10 15:00] franbuehler opened #1014 "Regression test failure 942410-1 and 942410-2"
New PR TravisCI tests fail because of a faulty regression test.

[code]

Also see PR #1013.

[2018-02-11 03:13] #1003 closed, assigned to nobody

[2018-02-11 03:57] csanders-git opened #1015 "Rule Cleanup: Determine most efficient phases"
Our current rules take liberties with the phase that rules are placed in. This is because placing rules in higher phases still gives these rules access to elements from the lower phases. See https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#Processing_Phases for more information. In order to account for performance, elements that are only touching phase:1 variables should be labeled

[2018-02-12 05:51] csanders-git commented on #1014
Working on it :)

[2018-02-14 10:12] dune73 opened #1016 "Use the "HTTP DATASET CSIC 2010" to measure the quality of our rules"
I stumbled over this set here: http://www.isi.csic.es/dataset/

It seems to be a standard data set used in the scientific community to measure the effectiveness of a WAF. Payloads are tagged as benign and malicious.

[EDIT: Backup link: https://gitlab.fing.edu.uy/gsi/web-application-attacks-datasets]

[2018-02-14 12:34] sathieu commented on #685
Hello, Any news on this?

[2018-02-14 13:10] dune73 commented on #685
No, not really. My research partner dropped out and he never published the results of the part that we finished. However, I have the data for burp (at hand!) and I stand by the data behind one slide that I use in my presentations: https://de.slideshare.net/ChristianFolini/introducing-the-owasp-modsecurity-core-rule-set-75913263, slide number 9.

I expect the results of the other scanners to be sim

[2018-02-14 13:10] dune73 commented on #685
Actually closing this now, as I do not think this research will continue.

[2018-02-14 13:10] #685 closed, assigned to dune73

[2018-02-15 14:27] dune73 commented on #1015
This sounds good, but your plan is not very clear.

Are you stating that we want to move rules that work only on stuff available in phase-1 to this phase-1?

[2018-02-15 17:05] rodrigo-martinez commented on #1016
Hi,
  I've been working with machine learning techniques to detect/prevent attacks to Web Applications. In order to experiment with these techniques, one important input is datasets with requests tagged as valid or attack. In this research, I found two dataset that comply with these requirements: the one mention by @dune73 and one from the ECML/PKDD 2007 Challenge (http://www.lirmm.fr/pkdd2007-cha

[2018-02-16 11:07] spartantri commented on #1015
What will be the strategy for this?
It could result in duplicated rules splitting ARGS into ARGS_GET in phase:1 and ARGS_POST in phase:2 or split everything related to headers and cookies to phase:1 and leave ARGS and bodies to phase:2.

[2018-02-19 06:40] dune73 commented on #1015
Good thinking. I guess we need some more good thinking. In order to make a reasonable decision we will need to balance the benefits against performance loss due to the possible splitting and the complexity of the rule base.

Personally, I do not have a plan, but I like the idea of intercepting offenders at the end of phase 1 immediately.

[2018-02-19 06:52] dune73 commented on #1016
Hey @rodrigo-martinez, thank you very much for chiming in and for this additional information. I think you hit the nail on the head with the tagging. And that's our big issue.

And the additional comments are very valuable.

Are you in a position to repeat your research with 3.0.2? We like to think of 3.0.2 as far better when it comes to false positives.

[2018-02-19 14:04] rodrigo-martinez commented on #1016
Hi @dune73,,
   Yes, I have in my roadmap repeat the tests with 3.0.2, but I am with a couple of deadlines so I won’t do it right away. As soon as I do them, I communicate the results throughout this thread.

[2018-02-19 21:46] fgsch commented on #998
Apologies for the delay on this.

There are a number of issues IMO with this change:

1. We're doing the conversion twice (one in Aho-Corasick and the other in the transformation).
2. The A-C code will lowercase one letter at the time; the lowercase transformation will do the whole string. This has performance implications, in particular for large inputs.
3. There is a mismatch between the rules a

[2018-02-20 06:05] illman2 opened #1018 "the rule(932150) of modsecurity3.0 uses a lot of strange regrex like [\\\\'\"]"
hello:
      I found the rule(932150) of modsecurity3.0 used a lot of strange regrex like [\\\\'\"],what is the [\\\\'\"] meaning ? it want matching what ? I'm puzzled ！

      thanks!

[2018-02-20 06:36] dune73 commented on #1018
The unix bash shell is very liberal with what it executes.
[code]
Is perfectly find and will execute the command. This rule tries to catch the netstat command and all these obfuscations.

[2018-02-20 06:36] #1018 closed, assigned to nobody

[2018-02-20 06:48] illman2 commented on #1018
`I guess,because “[\\\\'\"]” in the “”，it triggering the first eascapping，becoming to [\\'\"], and then runing the regex in modsecurity, triggering the second eascapping, becoming to [\'\"],means: \ | ' | "  ，is it right`

[2018-02-20 07:15] dune73 commented on #1018
I'm not really familiar with the regex, but I think this is about correct.

[2018-02-20 10:21] lifeforms commented on #1018
Yes, this was a bit of trial and error for me. ;) That regexp accepts a `\` or `'` or `"` character.

[2018-02-20 19:43] Egor-Skriptunoff opened #1019 "Two spaces before command-line option avoid detection"
The rule specified at OWASP ModSecurity Core Rule Set ver.3.0.2

    file:      REQUEST-932-APPLICATION-ATTACK-RCE.conf
    section:   [ Unix direct remote command execution ]
    line:      387

seems to have a security hole:
substring `jobs -x` is detectable with single space between `jobs` and `-x`,
but is NOT detectable with two spaces in-between.

This observation was made by examining the re

[2018-02-20 20:19] lifeforms commented on #1019
Thanks for the review and report! I will investigate.

The regexps are generated by `regexp-cmdline.py` from the source files such as `regexp-932100.txt`. Afterwards, they are compressed, generating the (unreadable) end result.

[code]

The entry for `jobs` in the source file is `jobs+`. It seems that the `+` should be expanded to `(?:\s|<|>).*`, which should also match double spaces, so it's not

[2018-02-20 21:18] Egor-Skriptunoff commented on #1019
It seems that problem is with entry `jobs -x`, not with `jobs`

[2018-02-21 02:24] illman2 opened #1020 "the rule(932100) of modsecurity3.1 mismatching the example string"
Tested the 932100（rules of 3.1 dev）to  the example string，some string can't matching。（I translate the regrex into the lua “”，something changging，like：`\s→\\s, \n→\\n，\r→\\r,ect.`，and runing them in the openresty（nginx)）
testing result：

{ifconfig
|ifconfig
||ifconfig
&ifconfig
&&ifconfig
;\nifconfig not matched!
;\rifconfig not matched!
$(ifconfig) not matched!
$((ifconfig)) not matched!
`ifconfig

[2018-02-21 02:38] illman2 commented on #1019
Hello Egor Skriptunoff：
      I saw your words in Stack Overflow yesterday~~

[2018-02-21 03:11] illman2 commented on #1019
the plugin regexp-cmdline.py is easy to use？and where is the download site？I can't find it
in https://pypi.python.org/pypi @lifeforms

[2018-02-22 02:13] psybustermk2 opened #1021 "Rule id 920140 causes "Expecting a variable, got:" error in ModSecurity v3.0.0"
I kept getting this error when I tried starting nginx with ModSecurity 3.0.0 and owasp-modsecurity-crs 3.0.2.

`[emerg] 5373#5373: "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs-3.0.2/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf. Line: 169. Column: 390. Expecting a variable, got:  :  MULTIPART_SEMICOLON_MISSING},\ in /etc/nginx/conf.d/default.conf:6`

I found

[2018-02-23 05:44] dune73 opened #1022 "XSS in URI / PATH_INFO going undetected"
There is a false negative in the way we ignore `onXXX` events in the URI.

[code]

If the same URI appears in the Referer, it triggers 941101, 941120 and 941160. Adding the URI to be covered by these rules, won't change a thing, so it's also an encoding problem.

[2018-02-23 05:54] psybustermk2 commented on #1021
I checked with the other branches and this seems to be fixed in 3.1/dev. I'm closing this.

[2018-02-23 05:54] #1021 closed, assigned to nobody

[2018-02-23 06:26] dune73 commented on #1021
Thank you for submitting. And yes, we covered that. Sorry for not getting back to you earlier.

[2018-02-26 15:36] bryn1u opened #1024 "Wordress is being blocked for unknown reason. RESPONSE-951-DATA-LEAKAGES-SQL.conf"
Hello everyone,

Im using wordpress blog, there is nothing special. After some time im getting block from unknown reasons. I can only view a main page but when i want to go to  other post/article i can't. I checked to the modsec_audit and here we are output. Someone can tell me what is going on ? And why after while mod_security is blocking blog ? I would be really graceful. I have turned off and

[2018-02-26 16:31] dune73 commented on #1024
Hi, thanks for reporting @bryn1u.

Did you enable the Wordpress rule exclusion package? (-> see crs-setup.conf)

But regardless of this setting, the first line indicates an Oracle SQL Information leakage. It is likely you have a response body that contains information CRS thinks they point to an SQL error.

[2018-02-26 17:04] bryn1u commented on #1024
Hello,

Im still getting:

[code]
I have uncommented:
[code]
But still the same error:
[code]

Ehh. I can not image not using Modsecurity. I did a few pentesting checks and ModSecurity does great job ! I need to resolve that problem.
Thank you for your help.

[2018-02-26 17:56] lifeforms commented on #1024
There is apparently some content on the page that might look a bit like an Oracle error.
If you let us know the URL (if it's not confidential of course), we could look at improving this rule.

For now, if you are not using the Oracle database, you can safely disable this rule.
To do that, you can add the following to your webserver configuration:

[code]

(In fact, I have done the same, because th

[2018-02-26 18:03] bryn1u commented on #1024
hey,

Thank you for your replay.
Of course there is no problem to get info what u need to help resolve the problem. Im using premium wordpress template NewsMag which is known by many people and i think this issue might touch many of them. So it would be great "fix" it :))

http://proton.edu.pl main page works good but all other posts don't. If u need to some info or access don't hesitate i always

[2018-02-27 10:37] GainfulShrimp opened #1025 "Failed to open file: scanners-user-agents.data"
Apologies if this is a ModSecurity (or ModSecurity-nginx) problem rather than a CRS problem; I'm new to all three.

I've compiled and installed ModSecurity v3 (from v3/master branch) and compiled nginx 1.13.9 with the ModSecurity-nginx connector.

When I use a simple example/test rule, like this one, it works (i.e. requests including "?testparam=test" get 403ed), so I think my modsec installation

[2018-02-27 12:29] dune73 commented on #1025
Hi there, sorry for the inconvenience @GainfulShrimp.

We are depending on NGINX here for loading these files. The rule in question tries to load the said file from the local path. So there might be an issue with you include statement and / or NGINX loading files.

Alternatively a permission problem.

Please try to fix these by playing around with the path right in the inclusion statement or direc

[2018-02-27 12:29] #1025 closed, assigned to nobody

[2018-02-27 13:19] csanders-git commented on #1022
So is the suggestion to add the URI to one of these rules

[2018-02-27 13:46] csanders-git commented on #1025
Also if you're on redhat derived is it may be selinux

[2018-02-27 15:10] dune73 commented on #1022
Not sure yet. But my customer just confirmed he wants me to come up with a solution here. So I'll dig into this and solve it.

[2018-02-27 17:09] csanders-git commented on #1022
I remember we used to have something for URL rewriting

[2018-02-27 18:36] victorhora commented on #1025
Looks like it was related with this missing [patch](https://github.com/SpiderLabs/ModSecurity/commit/e3b6b4ccff5b4388bde4485049af382a21d4cbb8).

[Latest comment ](https://github.com/SpiderLabs/ModSecurity/issues/1687#issuecomment-368964961)suggest it was solved :)

[2018-02-27 19:15] GainfulShrimp commented on #1025
Thanks all. Yes, my problem is now solved after recompiling libModSecurity from the latest v3/master. :)

[2018-02-28 15:26] spartantri commented on #1022
This is weird, the web server should reply with a 404 due to non existing resource as index.html is a directory and the x"><svG onLoad=prompt(9)> a file name.
I'm curious, what web server do they use? May they have a bad url rewriting pattern in place that allows this funny things to be accepted by turning that into something else? do you have a sample response?

[2018-02-28 15:40] dune73 commented on #1022
;)

I rewrote the filename part of the URI to camouflage the real filename. Obviously I omitted the hostname, the slash and any real thought at a reasonable filename.

However, I do think enterprise CMS systems are more sophisticated than what you think. To the client, this index.html looks like a static page, but for the CMS it's dynamic ressource and `/x%22...` are all parameters / PATH_INFO for

[2018-03-01 00:26] csanders-git opened #1026 "March monthly meeting agenda"
- [x] Adding modsecurity v3 support to testing env
- [x] #990 java attacks
- [x] CRS Summit in AppSec EU?
- [x] #1013 FP resolution
- [x] #1010 Nextcloud
- [x] #994 File detection
- [x] #989 regression test fixes
- [x] remaining @azhao155 issues
- [x] #896 command injection update.
- [x] CRS 3.1 release date.
- [ ] Upgrades to how we handle tickets
- [ ] GeoIP legacy format reaching EOL

[2018-03-01 00:49] csanders-git commented on #1024
If that is working then that is great, the site seems to be down so we can't confirm what may be causing it. Let us know if the site comes back up perhaps we could investigate if it's a FP or can have a more precise exclusion.

[2018-03-01 07:37] spartantri commented on #1026
#990 java attacks

[2018-03-01 08:17] ffichter commented on #1026
Support for the new MaxMind format? Since the GeoLite Legacy databases updates are discontinued as of April 1, 2018 (https://dev.maxmind.com/geoip/geoip2/geolite2/)

[2018-03-01 08:56] spartantri commented on #1022
There you go, I had exactly that in mind, this is not the web server it is the CMS doing bad rewrites to turn `/x` into `?x` after modsec inspection without proper validation plus a nice non-escaped content reflection or store after that, don't you love developers, please tell me this is a php app to have a poker of nice little stuff in hand.

To me modsec `REQUEST_FILENAME` or `REQUEST_URI` vars

[2018-03-02 10:40] dune73 commented on #1026
I agree with @ffichter this is a hard problem. It's one that ModSecurity needs to solve though. But given the size of the problem we should at least discuss a position for the project that we write down for our users.

[2018-03-03 20:55] bryn1u commented on #1024
Hello !

 Sorry for my delay. I had to recreated blog (there is only example content for now)  and migrated to other server. So there is next problem.

The problem shows when i want to change style for block. When i click "update" im immediately redirected on "http://proton.edu.pl/wp-admin/post.php" with message:

[2018-03-04 14:05] fzipi commented on #1026
CRS Summit in AppSec EU?

[2018-03-05 21:28] #997 closed, assigned to franbuehler

[2018-03-05 21:29] #988 closed, assigned to franbuehler

[2018-03-06 06:49] dune73 commented on #1024
OK. You have sent an argument named "content" with the following payload: `[vc_row][vc_column][vc_separator][td_block_big_grid_4 td_grid_style=\x22td-grid-style-5\x22][/vc_column][vc_column][/vc_column][/vc_row][vc_row][vc_column]` and CRS does not like the `<td-grid-style-5>`. It thinks this is a HTML injection. And that's what it really is. It's just that it is a false positive and it should not

[2018-03-06 16:11] #1026 closed, assigned to nobody

[2018-03-07 18:45] bryn1u commented on #1024
Hello,
First of all, thank you for your investigation and interest in my problem. This is really weird because i just added SecRuleRemoveById 951120 which was mentioned in above posts as a excpetion. Since now i haven't any problem with wordpress. I mean this exception somehow resolve the problem. Even with enable XSS, CRS ... works great. Sometimes i even don't understand myself

[2018-03-07 20:32] dune73 commented on #1024
Good for you! I really expected you to bump into the next issue immediately. So we can close this issue?

[2018-03-07 22:13] elango79 opened #1030 "Azure Firewall blocking the signalr request - it's false positive"
That firewall rule is matching on connectionData=%5B%7B%22name%22%3A%22srhub%22%7D%5D
That field contains name of the SignalR hub on the server.

Example – before it gets encoded this would contain:
connectionData      [{"name":"chathub"}]

And it blocking following rule and uri in Azure Application Gateway

"requestUri": "/SignalR/Hubs/signalr/negotiate?clientProtocol=1.5&connectionData=%5B%7B%22

[2018-03-08 05:37] dune73 commented on #1030
Sorry for your inconvenience.

This is a Paranoia Level 2 false positive.

You have two options:
- Reduce the Paranoia Level to 1
- Handle the false positive yourself. https://www.netnea.com/cms/apache-tutorials/ has instructions for you.

I'm closing this now. Please re-open if you need more help.

[2018-03-08 20:08] elango79 commented on #1030
Thanks for your support can you please guide me how to try your two option in my environment
I am using web app, app service and application gateway in Azure
Help me on this

[2018-03-08 20:20] dune73 commented on #1030
Sorry, but Azure is a paid offering. You should ask them to support you.

I write tutorials and share them for free. Supporting commercial platforms for free is outside of my scope.

[2018-03-08 20:23] elango79 commented on #1030
Thanks but your recommendation to change the Paranoia Level  2 to 1 in REQUEST-942-APPLICATION-ATTACK-SQLI.conf am I correct

[2018-03-08 20:27] dune73 commented on #1030
No, you change the PL in crs-setup.conf. That's supposed to be the first include.

And please read the documentation / tutorials so you know what you are doing. Changing the PL changes your security level.

[2018-03-09 15:58] cattlemantech opened #1032 "Error while loading OWASP CRS on Nginx"
Hi, Please help resolve the below issue. the setup works fine with Basic test rule created using Nginx pdf. but it fails when include rules files in conf.

I am using Nginx 1.13.9 on Centos 7 with ModSecurity version is 3.0.0

please let me know if you need anymore details.

the error comes when i restart my Nginx server.
ginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/loc

[2018-03-09 18:09] victorhora commented on #1032
@cattlemantech this is a known issue and there's already fix in the 3.1 dev branch: https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.1/dev

[2018-03-09 18:09] victorhora commented on #1032
Closing this one as already handled at https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1021, https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1023 and https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/995

[2018-03-09 18:09] #1032 closed, assigned to victorhora

[2018-03-09 21:07] CanadianJeff commented on #626
closing this because I no longer use WEBDAV I have migrated to SFTP full time feel free to reopen

[2018-03-10 19:58] csanders-git commented on #1030
The exception process might look something like the following
```SecRuleUpdateTargetById 942340 !ARGS:connectionType```

We unfortunately don't have any insight into how to fix this within Azure, if you find out please list here

The underlying issue is  ```connectionData=[{"name":"srhub"}]```

The triggered text is ```"name":"```

It triggers this part of the rule ```(?i:(?:[\"'`]\|?[\w-]{3,}[^\w

[2018-03-10 19:58] #1030 closed, assigned to nobody

[2018-03-11 14:37] fzipi commented on #971
Closing, this was merged.

[2018-03-11 14:37] #971 closed, assigned to csanders-git

[2018-03-11 17:54] csanders-git commented on #971
@fzipi I'll be emailing you a copy of my blog to review soon

[2018-03-12 10:32] Schoomee opened #1034 "Nginx | Modsecurity 3.0 | CRS 3.0 no startup"
hello,

I'm trying desperately to start Nginx with the OWASP CRS 3.0 rules but I get an error:

"Nginx: [emerg]" modsecurity_rules_file "Rules error directive. File: /etc/nginx/modsec/owasp-modsecurity-crs/crs-setup.conf. Line: 96. Column: 43. SecCollectionTimeout is not yet supported. in /etc/nginx/nginx.conf:38 »

The test of a simple rule works well:
"ARGS SecRule: testparam" @contains test ""

[2018-03-12 13:22] dune73 commented on #1034
Hi @Schoomee, thanks for reporting.

As it happens, I faced the same problem on Saturday. I resolved it by compiling nginx, the connector and modsec anew from scratch and following nginx.org's ModSec integration guide. Then it suddenly worked.

If it does not in your case, I fear it is more of a ModSecurity than a CRS problem.

[2018-03-12 15:22] devdeadcode commented on #46
While I'd really like to appreciate @victorhora , @zimmerle and other team members' efforts on trying to add support for processing specific parameters of the request as JSON, do we have any update on this?

[2018-03-12 16:17] csanders-git commented on #1034
Please reopen if @dune73's solution does not solve the issue.

[2018-03-12 16:17] #1034 closed, assigned to nobody

[2018-03-12 16:18] csanders-git commented on #1024
Closed due to inactivity, feel free to reopen if you are still having the issue. Thanks for using CRS.

[2018-03-12 16:18] #1024 closed, assigned to nobody

[2018-03-12 16:18] csanders-git commented on #1014
This has been solved.

[2018-03-12 16:18] #1014 closed, assigned to nobody

[2018-03-12 16:40] victorhora commented on #1034
@Schoomee @dune73 this happened due to a [recent change](https://github.com/SpiderLabs/ModSecurity/commit/64ce41280d0f7d85c5ea851ca75251e3720070d9#diff-962a547bd453ba5f839067225f72cae5R1703) on the parser to warn users on configuration directives that are being worked on for v3.

Commenting out the SecCollectionTimeout directive on [crs-setup.conf](https://github.com/SpiderLabs/owasp-modsecurity-c

[2018-03-13 01:42] fgsch opened #1037 "Rule 932130 does not handle command substitution using backquotes"
See https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/896 for details.

[2018-03-13 01:45] fgsch commented on #1037
Also #888

[2018-03-13 16:13] Schoomee commented on #1034
@dune73  thank you for your answer, I have the same installation guide on the official website Nginx:
https://www.nginx.com/blog/compiling-and-installing-modsecurity-for-open-source-nginx/
and
https://docs.nginx.com/nginx-waf/admin-guide/nginx-plus-modsecurity-waf-owasp-crs/
but still with the same problem ...
Currently it works with the version of ModSecurity 2.9x
from the Nginx logs:
'for nginx

[2018-03-14 21:10] dune73 commented on #1037
Glad to see you working on this!

[2018-03-16 06:30] adrian-alephit opened #1041 "OWASP blocking yoast plugin"
[Fri Mar 16 15:39:13.048602 2018] [:error] [pid 267578:tid 140349869573888] [client 203.59.228.9:45605] [client 203.59.228.9] ModSecurity: Access denied with code 403 (phase 2). Operator GE matched 5 at TX:anomaly_score. [file "/etc/apache2/conf.d/modsec_vendor_configs/OWASP3/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line "30"] [id "949110"] [msg "Inbound Anomaly Score Exceeded (Total Score: 1

[2018-03-16 08:07] shadow4040 opened #1042 "Rule 941100 "XSS Attack Detected via libinjection" hits on typo3 edit-page"
With editing/saving a page in typo3 (7.6) backend,  the rule 941100 will be triggered:

[code]
with that other rules will be triggered:
[code]

[code]

[2018-03-16 08:32] dune73 commented on #1042
Sorry for the inconvenience @mostworld77 and thank you for reporting.

942100 is a strong and super-important rule. False positives are rare, but yes, they exist.

There used to be an initiative to create a TYPO3 rule-exclusion package that would remove these glitches from the default installation. But that initiative sort of died.

Would you be interested to help us develop such a package? You br

[2018-03-16 09:27] dune73 commented on #1041
Thanks for reporting and sorry for the inconvenience, @devteam9200.

Unfortunately you reported only the final blocking alert, not the security alert that prompted the final blocking. Please provide us with the full error log entries for the request and ideally with the modsec audit log record with the complete request payload.

We have a rule exclusion package for Wordpress, but it does not cover

[2018-03-16 22:08] luizbiazus opened #1043 "Simple Base64 Post Forbidden"
The rules are catching simple base64 uploads, it's not suppose to work without whitelist rules?
[code]

[2018-03-16 22:27] csanders-git commented on #1043
This is not the base64 that is triggering the rule, it's the data url passing base64. Here's what i mean.

https://regex101.com/r/D5ogMf/1

This is blocked because such encoding mechanisms (raw data url's in parameters) are frequently used to try and bypass WAFs, see the following:
https://www.owasp.org/index.php/XSS_Filter_Evasion_Cheat_Sheet
https://www.paladion.net/blogs/bypass-xss-filters-usin

[2018-03-16 22:28] csanders-git commented on #1043
If there are other issues let me know.

[2018-03-16 22:28] #1043 closed, assigned to nobody

[2018-03-19 16:19] spartantri commented on #1043
Hi @luizbiazus, at least add a rule to check `ARGS:json.logo_64` header to be a `PNG `file (and all other formats you support) add a `t:base64decode` and `PNG `file header is `\x89\x50\x4e\x47` if I have time this will be included soon but for files that are posted not encoded in arguments however if you modify `914240 ` from PR #994 as shown below you got the magic you need to do a partial positi

[2018-03-19 21:43] StingyJack opened #1044 "Rule 942450 reports a false positive when a matching pattern exists in asp.net view state"
If I have an asp.net viewstate being returned to the server with a value of "0xA" in it, this rule is triggered.  This should not be reported as a SQLi, as its not user data being submitted currently and is not a latent SQLi from a prior session. Its base64 encoded and that character set will sometimes include these values in this sequence.

Is there a way to configure the rule to ignore view stat

[2018-03-19 23:18] spartantri commented on #1012
Opened PR #1046 to move the rule out of java attacks into initialization ruleset 944000 to 901170

[2018-03-20 01:13] spartantri commented on #1044
Hi @StingyJack, you can do in your local configuration a whitelist to that argument globally if present everywhere or per uri.
Globally:
SecRuleUpdateTargetById 942450 !ARGS:viewstate
Per Uri:
SecRule REQUEST_URI ...... ctl:ruleRemoveTargetById=942450;ARGS:viewstate

For further questions is better to use the distribution list instead opening issues.

[2018-03-20 01:13] #1044 closed, assigned to nobody

[2018-03-20 03:36] StingyJack commented on #1044
Thanks!  I'll pass this along.

[2018-03-21 01:17] luizbiazus commented on #1043
Hello Spartantri,

Thanks for the amazing solution. But i've got this issue:

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/nginx-modsecurity/conf/rules/whitelist.conf. Line: 24. Column: 85. Expecting a variable, got:  :  S}: %{MATCHED_VARS}',\ in /usr/local/nginx-modsecurity/conf/sites-enabled/vhost-api.xxxxxxxxx.com:18

can u help-me?

[2018-03-21 05:26] spartantri commented on #1043
Hi after a minor change here it is, it should work for your use case, in my setup I used a more generic argument name (logo) and tested with the below curl commands and the payload detection it works fine.

[code]

Notice that this rule is loaded before the rule it white lists `941130`.

[code]

Also note that I do not use json parsing in this example so I sent plain post args but due to the name

[2018-03-21 05:27] spartantri commented on #1043
By the way for help requests use the distribution list, I replied to this just because I'm working in this particular file detection rules PR #1045

[2018-03-21 07:32] spartantri commented on #1015
what if we do this for PL1 only?
maybe start with:
- 910-ip reputation
- 911-method enforcement
- 913-scanner detection
- 920-protocol enforcement
- 921-protocol attacks

[2018-03-21 14:31] luizbiazus commented on #1043
Hello spartantri, i've tried and got same issue ... for some reason seens that is not setting the variables in this line:
`logdata:'Captured header: %{TX.1}, Matched Data: %{TX.0} found within %{MATCHED_VAR_NAMES}: %{MATCHED_VARS}',\
`

[code]

[2018-03-21 16:04] spartantri commented on #1043
That looks like an NGINIX modsec engine issue, I use Apache and it works as expected, try removing the entire `logdata` line and let me know if that was the problem, it maybe a problem with the variable `%{MATCHED_VAR_NAMES}`, this is not required for the rule to work at all, it is only for having some data output for troubleshooting in the log.

[2018-03-21 21:07] luizbiazus commented on #1043
Nginx started without that Line but issue remains...

[code]

[2018-03-21 23:37] spartantri commented on #1043
The rule loading order is important, you have reversed the order of the includes crs and this whitelisting rule, some exceptions are handled before loading the offending rules and some others are after. This rule should run before 941130.

[2018-03-22 00:10] spartantri opened #1050 "Hybrid Paranoia Mode"
I just made some changes to PR #1045 to add an hybrid paranoia mode where you may choose to run some PL in detection only and others in blocking mode, I put it in the same file to have something in it instead of an empty template.

Basically the PL behavior still the same but added a paranoia_test_level where you pick from what levels and above the engine should be turned in in detectiononly, it t

[2018-03-22 00:20] spartantri commented on #1012
PR merged

[2018-03-22 00:20] #1012 closed, assigned to nobody

[2018-03-22 04:58] dune73 commented on #1050
That is a welcome initiative and you put the finger where it hurts. Raising the PL in production is very hard with 3.0 and I thought long about how to pull this off. I think I have a solution but I have not put it into practice.

What you have done in #1045 is you mixed your approach to a PL problem with the malicious file upload detection rule. And I do not like that mixing. Hybrid Paranoia Mode

[2018-03-22 06:29] spartantri commented on #1050
Hi @dune73 I removed all the hybrid stuff from 914, just put it there to see it working and as you may have guessed from the comments all that logic do not belongs on that file it is either setup or 901 the issue that remains is that it is not compatible with scoring as variable score are still modified, but the idea was making it work without touching any existing rule not touching every rule to

[2018-03-22 06:36] emphazer commented on #1050
I really like the idea

[2018-03-22 06:36] spartantri opened #1051 "April monthly meeting agenda"
- [ ] Paranoia score split per level
- [ ] Missing PL tags
- [ ] PR #1045 Malicious file upload detection
- [ ] PR #1047 Nextcloud
- [ ] CRS 3.1 release progress
- [ ] Copyright update
- [ ] NGINX Docker Support.
- [ ] Three remaining issues for @azhao155 (PR #942, #946 #949)
- [ ] Status CRS Summit July 4, 2018

[2018-03-22 08:10] dune73 commented on #1050
That you for your cooperation @spartantri.

I see your points with regards to tagging. That makes sense. We had this idea to revise the tagging completely for 3.1, but never pulled it off.

As far as the blocking / testing PLs are concerned, I thought about this a long, long time. But I never put it to work because it touches everything and I never that the time to actually do it. It's now very la

[2018-03-22 08:50] spartantri commented on #1050
Some tags are easy to fix like the ones on PL, something like
[code]
But all others will not be as easy as then we may also want to do tag ordering (totally cosmetic).
I may have a couple of looong plane trips coming that may let me handle this.

[2018-03-22 14:34] fzipi commented on #190
I think we can close this one. Not @quenenni or @superkully have commented here in a prudential period of time.

[2018-03-22 14:34] #190 closed

[2018-03-22 15:05] fzipi commented on #501
@dune73 Can we put this in a MR? What needs to be done here?

[2018-03-22 15:24] fzipi commented on #637
@csanders-git Do you want me to create a container for this test?

[2018-03-22 16:22] csanders-git commented on #501
Seems reasonable - @dune73 you want me to take or do you want it?

[2018-03-22 16:23] csanders-git commented on #637
https://gist.github.com/binaryanomaly/3f04758d6bd2a26f018fce2d05def9be
would be a good start but PRs are always accepted

[2018-03-22 22:34] luizbiazus commented on #1043
i've tried place the rule right over rule 941130 in REQUEST-941 file but the issue persists...

[code]

[2018-03-23 00:17] spartantri commented on #1043
The rule is may not be executing, chack the error log to confirm, if it is not `ARGS:json.logo_64` in the request is not exactly `image/png;base64,base64stuff`, may you add log part C to see the full payload you send on the log not only the headers it is possible that you have an encoding and if that is the case the rule will need a transform to decode the payload.

Another simple approach to make

[2018-03-23 00:45] spartantri commented on #1050
Added PR #1052 to address this, this is only the split logic the rule files should be modified, it runs but needs testing and review.

[2018-03-23 05:19] dune73 commented on #1050
Could you explain the logic that you are implementing in #1052? It is not quite what I described, I think and it's maybe better to agree on a technical mechanism before putting it in practice. Looking over #1052 makes it look fairly complicated and I wonder if a more simple approach would not be more effective and less error prone for our users.

[2018-03-23 05:40] dune73 commented on #501
I'm all for integrating this into 3.1. Ideally as part of 920 at PL1.

[2018-03-23 05:40] dune73 commented on #501
Rather not me, though. Still not bottom in my inbox.

[2018-03-23 12:46] ddellapella opened #1053 "Application-specific exclusions for SharePoint"
Be great to have v3 exclusions for SharePoint 2013. We have done customization of 2.2.9 in Azure App Gateway. Hoping someone beat(s) us to 3.0 customization.

[2018-03-23 15:39] csanders-git commented on #1053
Can you share your v2 exceptions?

[2018-03-24 05:14] dune73 commented on #1053
That would be most welcome.

[2018-03-26 03:10] bitsofinfo opened #1056 "960010 being fired despite POST & application/x-www-form-urlencoded"
Using CRS 2.2.9, Modsecurity 2.9.2

Running with a pretty vanilla CRS 2.2.9 install

Clueless as to why this rule is being tripped. The way I understand it this is validating that a POST request has a valid Content-Type

The rule being tripped:
[code]

Contents of `tx.allowed_request_content_type`

[code]

Audit log of the failure. This is clearly a `POST` with valid content type of `application/x

[2018-03-26 03:38] csanders-git commented on #1056
I can confirm that your logic seems correct. I am also unable to reproduce your issue however using the following request triggers nothing for me on 2.x (unsupported) or 3.x

[code]

Can you confirm that this request also triggers your issue?

[2018-03-26 04:08] bitsofinfo commented on #1056
yes, just doing this triggers it
[code]

[2018-03-26 04:11] bitsofinfo commented on #1056
How do I get a dump of what `tx.allowed_request_content_type` is? The debug logs doesn't seem to show the actual interpreted value of that and I'm wondering if its not set despite it being in my crs_10_setup.conf...

[2018-03-26 04:32] dune73 commented on #1056
You are working on a legacy version. I'm not able to trigger this or anything else in CRS 3.0.2. Could you try that version, please?

[2018-03-26 07:55] spartantri commented on #1056
@bitsofinfo do you have the include to crs_10 before the include to the ruleset?

This should print the value of the var
SecAction "id:1,phase:5,pass,log,auditlog,msg:'Your allowed request C-T values are: %{tx.allowed_request_content_type}'"

If the var is loaded after your rules those will fail.

BTW upgrade to 3.0.2 it is much better, less false positives and less false negatives.

[2018-03-26 08:02] spartantri commented on #1050
Hi @dune73 I find very useful have a working prototype (meant 20 min rule writing) to understand what it does than having just an abstract idea, this is not what you described it is just a global + per phase counters to tailor the crazy rules but let's discuss it to try to get something to improve the higher PL adoption. :)

[2018-03-26 14:17] bitsofinfo commented on #1056
Bizzare

[code]

The structure of my conf is:

[code]

**modsecurity_crs_10_setup.conf**
[code]

**Contents of: modsecurity.d/activated_rules/modsecurity_crs_30_http_policy.conf**

[code]

[2018-03-26 15:09] spartantri commented on #1056
Make sure you are not doing the crs setup include inside an Apache location, and see the [reference](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#phase-request-headers) for the explanaition.

[2018-03-26 15:12] bitsofinfo commented on #1056
The only directive its within is `VirtualHost`

If copy the `SecAction` for 900012 out of the CRS setup, and place it directly within my conf (as a sibling of the `Include modsecurity.d/modsecurity_crs_10_setup.conf` then the variables are set... :/

[2018-03-26 15:32] spartantri commented on #1056
you can try changing your setup rule to be noisy
[code]

[2018-03-26 17:11] bitsofinfo commented on #1056
Sorry for the giant waste of time, looks like there was some rouge conf from an old build in a subdirectory with the statement `SecRuleRemoveById 900012`.... arg....

[2018-03-26 17:11] #1056 closed, assigned to nobody

[2018-03-27 17:41] luizbiazus commented on #1043
can i use ur REQUEST-914-FILE-DECTION.conf  instead doing it?

[2018-03-27 19:21] bryn1u opened #1057 "ModSecurity v3.1 & owasp 3.1 - block completely all wordpress site."
Hello guys,
I have installed Nginx + ModSecurity v3. After lanuch nginx and refresh site im getting
`Secure Connection Failed`
When look in to the modsec_debug i see some weird logs.

[code]

I have included:
[code]

Somone can tell me what is going on ?
Thank you,

[2018-03-27 19:41] dune73 commented on #1057
You should generally the rules one by one in NGINX (see INSTALL file). But I doubt it should kill your server. What does your error-log say?

But whatever, if the problem persists, I think it's a ModSecurity problem and a CRS problem.

[2018-03-28 06:25] spartantri commented on #1043
As it is, 914 is generic  so you may have to add your specific argument name to the inspections or setup the location.

In that case you may also use the rule below to add your content to whatever rule that matches your need (replace the ??? for the rule id)
`SecRuleUpdateTargetById 914??? ARGS:json.logo_64`

[2018-03-30 10:53] lordnsa opened #1058 "IIS application pool crashes when modsecurity set to PL 2"
I installed mod security v2.9.2 with v3 rule set on server 2012 R2 IIS 8.5. It was working really well with out any issues. i previously tested level 2 with any issues. But after solving issues at level 1 now i can,t change the paranoia level to 2. IIS app pool crashes instantly when i change it to 2 but reverting it back to 1 solves the problem.
This is what i get in the  event log.

Faulting app

[2018-03-30 20:00] dune73 commented on #1058
That's a tough one. I reckon it is a ModSecurity issue, but I'm sorry it happens with CRS.

What is hard is that few people use ModSec on IIS, certainly nobody in the CRS team. Maybe ask on the ModSec user mailinglist. But you are quite much on your own, I'm afraid.

[2018-03-30 20:11] csanders-git commented on #1058
I'll give it a test to try and confirm, no sweat, but it'll be on Monday

[2018-04-02 06:45] lordnsa commented on #1058
Thank you dune and csanders for the reply. appreciate it very much.

[2018-04-02 18:10] csanders-git opened #1059 "March monthly meeting agenda"
- [ ] Copyright update

[2018-04-02 18:12] #1059 closed, assigned to nobody

[2018-04-02 19:17] dune73 opened #1060 "Add PL1 tags to all PL1 rules"
PL2-4 are tagged. PL1 is not. We decided to do this during the April community chat.

[2018-04-02 20:54] franbuehler opened #1061 "Coverage of Java Struts Vulnerabilities in 944"
- CVE-2017-5638: Mishandles file upload, allowing remote attackers to ...
- CVE-2017-7672: Prepares a special URL that is used to overload ...
- CVE-2017-9787: Makes it possible to perform a denial-of-service attack.
- CVE-2017-9791: Allows remote code execution.
- CVE-2017-9793: Allows an unauthenticated, remote attacker to cause a DoS
- CVE-2017-9804: Allows an unauthenticated, remote attacker t

[2018-04-02 23:28] #1051 closed, assigned to nobody

[2018-04-03 12:45] spartantri commented on #1061
Hi @franbuehler, I'm pretty busy for the moment but if I have some time to spare I would like to test at least some of the most common exploits available, like those from exploitdb, not all of them apply but certainly many will fit into the category and should be mitigated by 944 or some other CRS rules (e.g. RCE).

[2018-04-10 08:48] foi commented on #709
Hi! Anybody solved this issue?

[2018-04-10 08:53] dune73 commented on #709
Partially, but not as thorough as the issues wishes for. See Link to merged PR.

[2018-04-10 16:19] spartantri commented on #1016
This is a cool thing to automate for every PR :)

[2018-04-12 20:10] csanders-git commented on #1016
adding it to my calendar for next week to add to tests.

[2018-04-13 09:26] 751361787 opened #1062 "False Negatives- XSS, SQLi was not detected when request content-type is not "application/x-www-form-urlencoded""
Hi,

We are trying modsecurity crs in our product. We are using DWR framework and we found any injection in the DWR request body are not detected for XSS, SQLi rule.  But if I change the content-type request header into "application/x-www-form-urlencoded", it will start block the injection via DWR request body parameter.

Here is a sample:
`POST /xxxxx.dwr HTTP/1.1
<...omitted>
Content-Type: text/

[2018-04-13 12:05] csanders-git commented on #1062
I'm full disclosure this will be a weaker area for us because it is more likely to cause false positives if we arbitrarily scan all raw input. What pl level are you in?

[2018-04-13 12:32] rodrigo-martinez commented on #1016
I'm working on repeting the test using the last version of CRS 3.0 for both dataset. I hope to publish here my results for next week.

[2018-04-13 14:31] spartantri commented on #1062
Hi Jack Yao @751361787 , it is supposed that applications would take the `content-type (CT)` and handle it appropriately (vulnerabilities in 2017 proved otherwise) but you know not all developers think the same way so a quick fix for your issue is setting a default body processor as only `urlencoded` and `multipart` are triggered automatically when the respective `CT` headers exist (`x-www-form-ur

[2018-04-16 19:01] darrellenns opened #1063 "Maxmind GeoIP database has been discontinued"
As it currently stands, CRS does not receive any GeoIP updates (it's stuck on the March 2018 version). CRS would need to be migrated to use the "GeoLite2" database in order to receive free updates.

https://dev.maxmind.com/geoip/legacy/geolite/
https://support.maxmind.com/geolite-legacy-discontinuation-notice/

[2018-04-16 19:04] csanders-git commented on #1063
This has been discussed and is a major contributing factor to why geolite2 support was added to modsecv3 in the last push. Unfortunately, it does not appear there is much desire to add the same support for v2 modsec. For more information you can see this ticket https://github.com/SpiderLabs/ModSecurity/issues/1727

[2018-04-16 19:04] #1063 closed, assigned to nobody

[2018-04-16 19:06] darrellenns commented on #1063
Perhaps some notes in the documentation/config sample/update script are in order? At the moment, there is nothing that would let users know that they aren't getting any updates.

[2018-04-17 04:00] 751361787 commented on #1062
Hi @spartantri

Thanks for your explanation.  I am new to OWASP CRS and it really help me to understand.  I can understand that for DWR with plain text content-type, it cannot be processed as we don't have a specific body processor. The format is not standard.

I have another question regarding to JSON request body (like ODATA API), it is now not blocked by owasp CRS. Is this expected behavior? Ca

[2018-04-17 13:33] spartantri commented on #1062
Hi Jack,

The CRS should block it telling that ARGS:status contains a XSS if you set the JSON body processor, what is your current paranoia level settings? Do you have any entries about it in the error and audit logs?

Regards,
Manuel

[2018-04-17 15:39] welljsjs opened #1064 "False Positive when using question mark in URL at paranoia level 4."
When trying to access my site from an external IP, I always get blocked by mod security with the following info in the log file.
Everything works fine if I remove the question mark from the URL. May that have to do with the paranoia level 4?

[code]

[2018-04-17 17:14] Stono opened #1065 "REQUEST-912-DOS-PROTECTION.conf. Line: 187. Column: 29. Expecting an action, got: ,\"
Hi,
On the ingress-nginx project, we were previously using the [`v3/dev/performance` branch](https://github.com/kubernetes/ingress-nginx/commit/13d390ebb0c6fa96c363fcf4549edc4835cd343e#diff-bd50bd51e758b65562491458b5a6f46dL242) to resolve performance issues (see https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1002).

This branch has now been removed from your repository and the ingress-

[2018-04-17 17:16] Stono commented on #1065
Ooops wrong repo, closing.

[2018-04-17 17:16] #1065 closed, assigned to nobody

[2018-04-17 19:56] spartantri commented on #1064
Hi @welljsjs PL4 is very strict in terms of allowed character set, unfortunately '?' (ascii 63) is not in the allowed characters as you may see on your log.

From the rule set comments:
[code]
`REQUEST_HEADERS:Authorization outside range: 32,34,38,42-59,61,65-90,95,97-122`

You have a few options to make it work:
1) Lower the Paranoia Level down to 2
2) White list that header similar to User-Agent

[2018-04-17 20:34] CoderJason123 opened #1066 "Apache, latest mod_security, and reverse proxy"
Hello.  I went to test my installation and configuration per the instructions, and exactly nothing happened.  I want to explain, and I hope that in my use case, that I am not out of luck.

I use apache purely as a reverse proxy to an aspnet core application.  In addition, all port 80 requests are rewritten to port 443 (ssl/tls).

I tried a few combinations of urls and what not, but they all positi

[2018-04-17 20:45] dune73 commented on #1066
You generally need to do simulate an attack to provoke a ModSec alert. A default installation is meant to block https://localhost/index.html?exec=/bin/bash

If this request passes, something is amiss. If you raise the ModSecDebugLogLevel to 9, this file should be filling up very quickly. If it does not, then ModSec / CRS is probably not active.

Generally, I advise you to follow the tutorials at h

[2018-04-17 20:45] #1066 closed, assigned to nobody

[2018-04-17 21:27] CoderJason123 commented on #1066
I appreciate what you are saying, it is encouraging.  What i did was follow the instruction in the guthub repo [https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/INSTALL](url).

i went back and re-read them, as well as the NEA site.  I do not have plans to compile apache or mod security in my future.  Do i need to?

I did notice the modsecurity.conf file, on my machine, which ow

[2018-04-17 21:32] CoderJason123 commented on #1066
Additionally, when i turned off the proxy, i received a 403, as expected!!  So at least some good news, it worked when i have proxy disabled.  Bad news, i need it fully enabled.

[2018-04-17 23:42] CoderJason123 commented on #1066
so @dune73 -- it looks like the issue is that the default modsecurity.conf file has "detection only" enabled for secruleengine .... so this whole time, stuff has just been logging.  I realize the spider team doesn't have control over that file but it would be helpful to realize that that is a file to be concerned with and to change the setting.  My requests are being correctly blocked at this time

[2018-04-18 04:20] dune73 commented on #1066
Glad you sorted it out.

The first steps with ModSec are tough.

No, you do not need to compile this yourself. But if you follow my tutorials, I can guarantee that it will work - and that you will learn to understand the full stack. Afterwards you are ready to adopt to your local needs with precompiled binaries and specific needs.

[2018-04-18 08:05] 751361787 commented on #1062
Hi Manuel,

I have tried default paranoia level (PL1) and also paranoia level 3 (PL3). Meantime, we have set the JSON request body processor in crs-setup.conf. But the request is not blocked.  Provided the conf and log below for your reference.

`SecRule REQUEST_HEADERS:Content-Type "@rx (?:application/json)" \
    "id:914310,\
    phase:1,\
    pass,\
    log,\
    noauditlog,\
    msg:'Enabling

[2018-04-18 10:54] rayenmessaoudi opened #1067 "owasp crs with wordpress"
Modsecurity blocked me when i m trying to add a gif picture in a new post which rule should i exclude ?
i m using the OWASP crs

[2018-04-18 12:32] csanders-git commented on #1067
Are you using the WordPress exclusions?

[2018-04-18 15:21] spartantri commented on #1062
Hi Jack,

You should have a local configuration issue, I give it a try and it fires several rules in PL2 and PL3, I did not tried PL4 but you get the picture.

[code]

[2018-04-18 16:49] rayenmessaoudi commented on #1067
yes

[2018-04-18 18:34] dune73 commented on #1067
Thanks for reporting. Please submit your error-log entry. We can then provide guidance (and try to fix this for the next release).

[2018-04-19 10:14] rayenmessaoudi commented on #1067
[Thu Apr 19 11:14:04.404660 2018] [:error] [pid 10027] [client ::1] ModSecurity: Warning. Operator GE matched 5 at TX:inbound_anomaly_score. [file "/usr/share/modsecurity-crs/rules/RESPONSE-980-CORRELATION.conf"] [line "73"] [id "980130"] [msg "Inbound Anomaly Score Exceeded (Total Inbound Score: 5 - SQLI=0,XSS=5,RFI=0,LFI=0,RCE=0,PHPI=0,HTTP=0,SESS=0): NoScript XSS InjectionChecker: HTML Injectio

[2018-04-19 10:23] rayenmessaoudi commented on #1067
after deleted the rule in RESPONSE-980-CORRELATION.conf line 73  i got another error
[Thu Apr 19 11:17:38.947084 2018] [:error] [pid 13406] [client ::1] ModSecurity: Access denied with code 403 (phase 2). Operator GE matched 5 at TX:anomaly_score. [file "/usr/share/modsecurity-crs/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line "57"] [id "949110"] [msg "Inbound Anomaly Score Exceeded (Total Sco

[2018-04-20 06:35] franbuehler commented on #1061
I had time this week to study this issue.
I was looking for exploits to test these Apache Struts vulnerabilities (2017 only).
Not every vulnerability has an exploit.
But what I can say is that any vulnerability that has a published exploit is detected by CRS.
That is good news!

- CVE-2017-5638: Exploit tested: https://github.com/mazen160/struts-pwn:
[code]

- Exploit tested: https://github.com/xs

[2018-04-20 07:59] welljsjs commented on #1064
Thanks, you're great! It works. @spartantri

[2018-04-20 07:59] #1064 closed, assigned to nobody

[2018-04-20 12:33] 1Jesper1 opened #1068 "XSS check in JSON body"
Hello, I was interested if there is as rule for XSS checking in the POST request payload: Content-Disposition: form-data; name="json" or for checking XSS in a GET request with content-type: application/json;?

I'm trying to prevent stored XSS.

[2018-04-20 12:50] dune73 commented on #1068
It depends on the rules. Many rule are selective and many are applied to the raw body as well.

I suggest you look into the XSS rule rule yourself. Or setup a test site and play with a few attacks.

If you see gaps in our coverage, please report and open issues here on GH.

[2018-04-20 12:50] #1068 closed, assigned to nobody

[2018-04-20 13:43] 1Jesper1 commented on #1068
Thanks for the fast reply, does the rules in the xss.config needs the JSON variable added?
e.g. : SecRule ARGS_NAMES|ARGS|XML|JSON:

[2018-04-20 13:47] dune73 commented on #1068
Now, that's not how it works with JSON.

Among the recommended rules that come with ModSecurity (outside of the CSR), there is a rule to trigger the JSON body processor. This will parse JSON and populate ARGS and ARGS_NAMES with the JSON payload in REQUEST_BODY.

I'm not totally sure with regards to exact handling of Content-Disposition and MIME formats. You need to try this out, I reckon the docu

[2018-04-20 13:56] 1Jesper1 commented on #1068
Thanks! I saved the modsecurity.config again after adding `SecResponseBodyMimeType text/plain text/html text/xml` **application/json** and now it triggers.

[2018-04-20 14:01] dune73 commented on #1068
Glad it works for you. If you see anything amiss, please report back here. We're very eager to close gaps.

[2018-04-20 14:08] 1Jesper1 commented on #1068
Great to hear. Maybe add **application/json** to **SecResponseBodyMimeType** as default?

[2018-04-20 14:14] dune73 commented on #1068
Setting this directive is done outside CRS. It's part of the modsec configuration you need to perform.

(I know it's annoying, but engine and rules are separate...)

[2018-04-20 14:17] 1Jesper1 commented on #1068
Ah, I see. So I should request that improvement in the ModSecurity repo?

[2018-04-20 14:27] dune73 commented on #1068
Yes, that would be a smart move.

[2018-04-20 14:28] 1Jesper1 commented on #1068
Thanks for the help and the fast responses, I appreciate it.

[2018-04-20 14:41] dune73 commented on #1068
You are most welcome.

... and call this your lucky day, often issues go unanswered much longer. ;(

[2018-04-20 20:41] #1062 closed, assigned to nobody

[2018-04-23 07:13] spartantri commented on #1067
Hi @rayenmessaoudi ,

There should be other log entries related to this transaction, the log you shared is only the one belonging to the rule that evaluates the total inbound risk score and block if the threshold is exceeded, grep your log for the transaction id "`Wthswn8AAQEAADReyGwAAAAC`" as there may exist multiple elements triggering rules and those are the ones to be handled.
From time to tim

[2018-04-23 23:01] spartantri commented on #1057
Hi @bryn1u

What exactly do you see weird on the log other than the high debug level settings?

Secure Connection Failed may be related to a TLS connection issue rather than a modsec issue.

[2018-04-24 13:22] rayenmessaoudi commented on #1067
Hi @spartantri
I think the problem has been resolved with the new version of modsecurity v3.0.2 many improvments and bug fixes, i tested it :)

[2018-04-24 21:34] spartantri commented on #1067
Good! :) v3.1 contains a good load of improvements as well, will be released soon, stay tuned

[2018-04-24 21:34] #1067 closed, assigned to nobody

[2018-04-25 02:46] aaronmaxlevy commented on #653
@lifeforms Since mod_remoteip is specific to Apache, how do you suggest folks using ModSec 3.x with Nginx handle this issue?

e.g. in my environment we are using HAProxy to terminate SSL and then send traffic to Nginx/ModSec . We are currently deleting the value of the X-Forwarded-For header when it comes in, so that the only entity setting its value is HAProxy.

For the above reason, X-Forwarded-

[2018-04-25 04:16] dune73 commented on #653
I guess that does away with the mitigation and your are free to use the header to create the collection, you might have to rewrite the rules a bit, though. We have not looked into this so far.

Are you working with ModSec3 on NGINX? What are your experiences?

[2018-04-25 12:14] spartantri commented on #653
Hi Aaron,

I had the same issue since real_ip variable was introduced without checking the origin so I modified slightly the initialization rule 900019 to set up my trusted proxies, some balancers use different headers to send the original client ip which can be adjusted easily in the chained rule.

[code]
Cheers!

[2018-04-25 13:18] lifeforms commented on #653
Hi Aaron,

Personally I would always advise using webserver functionality to overwrite the proxy's IP with the real client's IP.

Benefit is that your application also transparently sees the client's IP address and you don't have to configure the trust for your proxies in various places. Usually these modules also have more advanced configuration options, and support more interesting cases properl

[2018-04-25 21:05] ghost opened #1069 "High CPU with CRS and ModSecurity 2.9.2 Apache 2.4"
Hello,
I've been doing analysis on a set of web servers configured the same behind a load balancer. I use a log aggregator solution to aggregate apache logs so that I can obtain metrics for speed.  We're seeing high CPU utilization on our web servers when send load to them.
Without Modsecurity enabled, response times are 200ms max.  With ModSecurity and CRS, its 830ms.  With ModSecurity and CRS an

[2018-04-26 17:54] rodrigo-martinez commented on #1016
Hi @dune73,
  I've repeated the test for the ECML/PKDD 2007 dataset, using the Latest version of the owasp/modsecurity-crs docker image, for the different paranoia levels (1..4).

These are the preliminary results I've got, but I've some issues when executing the test that may affect this results:

Paranoia Level | Precision | Recall | False Positive Rate | False Negative Rate
-- | -- | -- | -- |

[2018-04-27 01:27] dune73 commented on #1016
Thanks, @rodrigo-martinez. That looks really cool, on the other hand, your FP rate for PL1 puzzles me.

Connection resets: No, there should not be anything that drops your connection after a few alarms. Certainly not by default. Maybe an issue with the container. Seeing the error-log might help.

[2018-04-27 01:55] dune73 commented on #1069
This is unusually high. ModSec has a perf impact, also a significant one, but this seems too high at first sight.

I recommend you using the extended Access Log format described in my tutorials at netnea.com together with the integration of the ModSecurity performance data. This lets you identify those requests with the highest performance impact.

In fact, I read your message as "max response tim

[2018-04-27 01:55] #1069 closed, assigned to nobody

[2018-04-29 17:34] mirkodziadzka-avi opened #1070 "Range header check - rule 920190"
I have some questions about rule 920190 which is doing range header check.

The short form of the rule is

[code]

The intention of this rule seems to be: See if there is a range (either in `Range` und `Request-Range` request header where the first number of the range in greater than the second number.

However, the implementation of this rule seems to have some issues (both rule an modsec relatae

[2018-04-30 12:31] rayenmessaoudi opened #1071 "block wordpress scanner"
Hi ,
is there any rule to detect changing user agent in order to block wpscan tool.

[2018-05-02 04:32] dune73 commented on #1070
Hi @mirkodziadzka-avi, thanks for bringing this up. Somehow it is always the same rules that attract discussions and this may point to deeper issues with the rule. So you are putting your finger where it hurts.

This rule was created a few years ago to counter a very specific attack where many sequential ranges were used. It tries to detect that attack. It does not evaluate the ranges per se. So i

[2018-05-02 06:17] mirkodziadzka-avi commented on #1070
Sorry, I wasn't aware that there where already a lot discussion about this rule. Where can I find these discussions?

To you question, No not a specific attack, I'm just analysing the CRS rules in detail to get a complete understanding about the rule structure and possible simplifications. In trying to understand the rule, I noted the mismatch between the intended behaviour to the actual behaviour

[2018-05-03 22:38] dune73 commented on #1050
We decided that we would squeeze this into 3.1 if we get a PR in working state until the next community chat.
I only found time to work on this today, but I think I have a working prototype. It follows my proposal above and has very simple logic / rules with minimal overhead. Trying to get this done by Monday.
(And sorry, I can't take part at the meeting on Monday. I'll be speaking at a conference

[2018-05-04 10:27] rayenmessaoudi opened #1072 "questions"
Hi all,
i have 2 questions :
1 )
how i can resolve this error
AH00526: Syntax error on line 40 of /usr/share/modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf:
Error creating rule: Failed to resolve operator: detectXSS
Action 'configtest' failed.
2)
i want to ask if there is known false positive rules for wordpress in order to exclure them

[2018-05-04 10:39] dune73 commented on #1072
It looks like you are using an old version of ModSec that does not support the detectXSS operator.

There is a rule exclusion package for a default WordPress installation. See the documentation.

[2018-05-04 11:00] rayenmessaoudi commented on #1072
i installed modsecurity using the default package libapache2-modsecurity ?
i need to install the v2.9.2 version how to check which version i had ?

[2018-05-04 11:23] dune73 commented on #1072
ModSec writes its version into the error-log during startup.

[2018-05-04 12:32] tunetheweb opened #1073 "Add some default sanitise rules?"
Given the recent [GitHub ](https://www.bleepingcomputer.com/news/security/github-accidentally-recorded-some-plaintext-passwords-in-its-internal-logs/)and [Twitter](https://blog.twitter.com/official/en_us/topics/company/2018/keeping-your-account-secure.html) accidental password logging leaks should we add some rules for this to the CRS to try to make this sort of thing less likely?

It has always w

[2018-05-04 13:08] rayenmessaoudi commented on #1072
yes i found it i have the v2.9.1 how to upgrade to the v2.9.2 ?

[2018-05-04 13:13] dune73 commented on #1072
Ooops. v2.9.1 should have the detectXSS alright. Could you please submit your full error-log from the moment the server starts?

If you want 2.9.2, you need to look for backports for your distribution or compile yourself.

[2018-05-04 15:47] rayenmessaoudi commented on #1072
sorry i reinstalled my vps i lost the error log :( cauz i want now to install the v2.9.2 i don't know why when i installed this package apt-get install libapache2-mod-security2 i got the version 2.9.1 not 2.9.2 ?

[2018-05-04 16:48] rayenmessaoudi opened #1074 "rule syntax error"
Hi guys i m not able to restart apache due to this error
my modsecurity version is 2.9.2
AH00526: Syntax error on line 40 of /usr/share/modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf:
Error parsing actions: Unknown action: \\
Action 'configtest' failed.

error log
https://gist.github.com/rayenmessaoudi/4752385111f54cd265449dcdcbf1f27a

[2018-05-04 18:37] mparsonspcis opened #1075 "Unable to disable rule on string match for .axd"
Hello, my application uses .axd files which are by default blocked in a few rules.  Specifically, I'm triggering 920440 and have been unable to address the issue by creating my own rules to allow it.  My attempts are below, and then below that is the log.  Can anybody provide any suggestions on how to disable only the .axd string, without disabling the entire rule?

**My failed attempts:**
SecRule

[2018-05-04 19:29] dune73 commented on #1075
Hi @mparsonspcis, you should be able to edit the variable `tx.restricted_extensions` in `crs-setup.conf` to no longer restrict `.axd`.

[2018-05-04 19:29] #1075 closed, assigned to nobody

[2018-05-04 19:35] lifeforms commented on #1074
This is a known Apache bug in old Apache versions. The best course of action is to upgrade to Apache 2.4.11 or later, but we also have a workaround script if that's impossible.

See https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0.0-rc2/KNOWN_BUGS

[2018-05-04 19:35] #1074 closed, assigned to nobody

[2018-05-04 19:46] ghost commented on #1069
I do suspect some type of larger issue with CRS rules because it would appear to be related to 941 and 942 which are XSS and SQLI rules.  Those are obviously some of the most beneficial rules.  I've already set a RESPONSE rule to ignore Cookie headers because our application doesnt use cookies. I also disabled RESPONSE inspection.  These 2 alone helped reduce response times to 200ms avg.  Disablin

[2018-05-04 20:02] dune73 commented on #1069
You can do the the following:

[code]

Make sure this is done _after_ you include the rule files.

[2018-05-04 23:38] rayenmessaoudi commented on #1072
problem solved i installed v2.9.2 successfully for the default wordpress package do you mean this file -WORDPRESS-EXCLUSION-RULES.conf ??

[2018-05-05 04:02] dune73 commented on #1072
Yes, please see the documentation in crs-setup.conf.

[2018-05-05 04:21] dune73 commented on #1073
I am torn.

I do not like CRS to influence things outside its ruleset. There is the ModSec configuration of your server and there is the CRS configuration. CRS tries to do very few things that change the ModSec behaviour like SecDefaultAction and it does not change the Audit Log format on purpose. This issue would change the ModSec behaviour. That's not good.

On the other hand, the issue is real

[2018-05-05 04:49] dune73 commented on #1050
This is done. In #1076. Please review.

[2018-05-06 18:19] dune73 opened #1077 "CRS Community Chat Agenda for May 7"
I'm currently in Berlin at a conference and I won't attend the chat on Monday. But here are some agenda entries:

* Travis fails due to docker issues
* Please review PR #1076 (In April we stated this could make it to 3.1 if a mergable PR was ready by May 7)
* Release of 3.1 (Let's do a RC first.)
* More open PRs
* Community Summit on July 4 is coming along nicely a dozen confirmed participants fro

[2018-05-07 13:51] mparsonspcis commented on #1075
Thanks for the info, but can you please clarify how?  I do not see any reference to ID 920440 in the crs-setup.conf file.

[2018-05-07 13:54] dune73 commented on #1075
It's not the rule 920440 you need to edit in said file, but the variable I mentioned.

[2018-05-07 14:09] mparsonspcis commented on #1075
Got it.  Apologies for my arrogance, but do I need to uncomment the entire rule, or just remove the .axd filetype?  I'm new to modsecurity, and this is my first foray into tuning the rules.

#SecAction \
# "id:900240,\
#  phase:1,\
#  nolog,\
#  pass,\
#  t:none,\
#  setvar:'tx.restricted_extensions=.asa/ .asax/ .ascx/ .axd/

[2018-05-07 14:10] mparsonspcis commented on #1075
Sorry about that, those lines with capatilization included an "#" in front of them so made them bold/large.

[2018-05-07 14:31] studersi opened #1083 "Clean up `tx.anomaly_score`"
After discussing PR https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1076 with @dune73, it became clear that `tx.anomaly_score` could use refactoring.

While going through all the rules, the variable is reused multiple times for different purposes. It might be better to use separate variables for each purpose and only collect the total in`tx.anomaly_score` at the very end.

[2018-05-07 16:38] darkkean commented on #860
@lifeforms any update regarding your investigation on this issue?

[2018-05-07 17:55] csanders-git commented on #1077
docker was fixed, apparently github changed their cert (or we changed our docker image) so that certs weren't included... anyway minor change fixed it -- should be working now!

[2018-05-07 17:55] csanders-git commented on #1077
All old PR's are closed, 4 left.

[2018-05-07 19:53] lifeforms commented on #860
@darkkean Oops. Thanks for the ping. I will look at this in time for the 3.1 release cycle.

[2018-05-07 22:27] spartantri commented on #1071
@rayenmessaoudi, Yes there is, well ... more like there was, look in old 2.2 CRS in the optional rule the one of session hijacking, you will need to start tracking user sessions to detect changes over time in the user-agent header BUT beware that some browsers may send request without UA header (e.g. when triggered by javascript).

If you want a simple block based on bad user agent the 3.1 rule 91

[2018-05-07 22:32] spartantri commented on #1050
Hi @dune73 , yep it works for what I wanted, originally I didn't want to introduce hundreds of changes myself to introduce independent scores per level, good that someone had the time to do all the copy pasting on all files :+1: .

[2018-05-07 22:42] spartantri commented on #1077
Just arrived from the airport, I missed the meeting, will check the meeting notes later :)

[2018-05-08 04:44] dune73 commented on #1050
Thanks, @spartantri. I did the changes on most files with a script to ease the work a bit...

[2018-05-08 04:44] dune73 commented on #1050
Closing in favour of #1076.

[2018-05-08 04:44] #1050 closed, assigned to nobody

[2018-05-08 10:00] rayenmessaoudi commented on #1071
@spartantri Thanks :+1:

[2018-05-08 10:00] #1071 closed, assigned to nobody

[2018-05-13 13:22] quenenni opened #1092 "941160 - false positive?"
Hello,

941160 = [NoScript InjectionChecker] HTML injection (REQUEST-941-APPLICATION-ATTACK-XSS.conf)

If you have this kind of data in the arg values of your request, this rule is triggered:
[code]
It comes from this part of the rule
[code]
As the 'a' is not compulsory, img is triggered.

That seems a bit strict.
For an arg, that value seems quite appropriate. For a cookie or a header (also in th

[2018-05-14 01:13] csanders-git commented on #1092
i'm not sure how common a plus after a tag name is. Where are you seeing this, if oyu can share?

[2018-05-14 08:34] #1072 closed, assigned to nobody

[2018-05-14 12:40] quenenni commented on #1092
So that was the + the problem.
I thought a space in a arg value was transformed into a + when sanitizing and back to a space after.
Doesn't urlDecodeUni do that thing?

My main problem is to understand how to transform back the data (before trying to understand the problem with the rule).
I mean, for this rule, you have this:
`
t:none,t:removeNulls,t:utf8toUnicode,t:urlDecodeUni,t:htmlEntityDecode

[2018-05-14 12:52] quenenni commented on #1092
here is (part of ) the message arg that triggered that rule:
(PS: it was a request from Roundcube)
`
&_message=%3Cp%3E%26agrave%3B+partir+de+9h00%3C%2Fp%3E%0D%0A%3Cp%3EMerci+beaucoup+xxx%3C%2Fp%3E%0D%0A%3Cp%3EZZZZ%3C%2Fp%3E%0D%0A%3Cdiv+id%3D%22_rc_sig%22%3E%0D%0A%3Cp%3E%3Ca+title%3D%22www.xxx.be%22+href%3D%22http%3A%2F%2Fwww.xxxx.be%22%3E+%3Cimg+src%3D%22http%3A%2F%2Fwww.xxxx.be%2Fsignature-mail%2

[2018-05-14 13:37] spartantri commented on #1092
Hi @quenenni ,

By definition you are doing code injection your log decoded payload contains a bunch of html this will trigger several other rules not only 941160 in this kind of content you will have to white-list it for all problematic rules, as this is apparently a open text html formatted payload you will have troubles depending on what the user enters in it, make sure your app validates this

[2018-05-14 14:32] csanders-git commented on #1092
The order that transformations occur is right to left, there is no nice tool that untransforms, sorry :(

[2018-05-14 14:52] quenenni commented on #1092
Thanks for your help.

@csanders-git Hoo.. Good tip. Thanks.

@spartantri
Amazing! I didn't know I could modify a rule like that, removing an id only for a parameter. Thanks for the example.

Can you tell me how did you transform back the text? Do you have a script or something like that?
I'd be very happy to have a way to do that myself.

For the moment, I use an online site that do an UrlDecode

[2018-05-14 15:48] spartantri commented on #1092
Just read the [reference manual](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ctl) there are answers for everything you need, and/or get Christian Folini/Ivan Ristic or Ryan Barnett books.

As for the decoding there are many ways, I prefer either:

- decoder tab in [burpsuite](https://portswigger.net/burp/communitydownload) (free version is ok for basic stuff), just c

[2018-05-14 16:13] quenenni commented on #1092
That's great infos.
Thanks.

[2018-05-14 16:13] #1092 closed, assigned to nobody

[2018-05-16 04:45] #1077 closed, assigned to nobody

[2018-05-16 07:41] emphazer commented on #1057
no response. closed

[2018-05-16 07:41] #1057 closed, assigned to nobody

[2018-05-20 12:58] lifeforms commented on #766
PR is in #1094.

[2018-05-20 12:58] #766 closed, assigned to lifeforms

[2018-05-20 13:31] lifeforms commented on #817
PR is in #1095.

[2018-05-20 13:31] #817 closed, assigned to lifeforms

[2018-05-21 04:57] dune73 opened #1096 "Cleanup 944410 before CRS 3.1"
The PR #1076 brought several issues with 944410 to the surface. We need to solve them before CRS 3.1.

* It needs to move to crs-setup.conf or 901 or wherever, but 944 is the wrong place.
* It does not work for NGINX.
* It brings troubling behavior to CRS and documenting this would be the least we can do.
* It defeats the idea of the monitoring PL as created in #1076.

#1076 has a through discussi

[2018-05-21 12:58] axettone opened #1097 "False positive when copying iubenda js into Wordpress backend"
I was inserting this code from Iubenda Privacy Solutions, using Wordpress.
==
<br />
<a href="https://www.iubenda.com/privacy-policy/MY_POLICY_ID" class="iubenda-black iubenda-embed " title="Privacy Policy">Privacy Policy</a> <script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iub

[2018-05-21 13:02] lifeforms commented on #1097
Hi @axettone, thanks for the report!

Could you paste the ModSec audit log entry for your false positive?
It contains useful information like the URL and parameters used.

[2018-05-21 13:17] axettone commented on #1097
I changed the domain and the policyid to 999999. I also removed cookie infos and ips.
[20180521-123947-WwK@E9TVCPJ2Lz9vn7D3rwAAAAs.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/2022664/20180521-123947-WwK.E9TVCPJ2Lz9vn7D3rwAAAAs.txt)

[2018-05-22 11:53] sobigboy opened #1098 "collection IP cannot Persistent storage，but GLOBAL can work properly"
this is my test rule:
[code]
and its debug info:
[code]

when i change 'ip' to 'global',it works properly
[code]

debug info:
[code]

[2018-05-22 12:04] dune73 commented on #1098
This is a modsecurity issue and not a Core Rule Set issue. Sorry for being a bit rude and closing this issue. Please turn over to the ModSec project or better still the modsecurity mailinglist.

[2018-05-22 12:04] #1098 closed, assigned to nobody

[2018-05-24 11:34] Ovdach opened #1099 "Using the danish letters æ ø å and so forth - will tricker SQL injection signatures in contact forms."
Using the danish letters æ ø å and so forth - will tricker SQL injection signatures in contact forms.

Please create support for more launguages than english.

[2018-05-24 13:00] lifeforms commented on #1099
Hi @Ovdach, I hope we can fix this, but it might be due to features in ModSecurity itself.

Nevertheless, to learn more about your case, could you paste the full ModSec audit log entry? (Removing any personal data)

[2018-05-24 22:14] Mag8891 opened #1100 "Wordpress admin-ajax.php issues"
Hi there,

I have installed OWASP rules set including REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf

However, I get 500 error on admin-ajax.php when trying to use backup plugin through admin page

Is there any information how to overcome this issue?

I can provide access to my AWS instance if required.

Thanks for your help.

Best regards,
Taya

[2018-05-24 23:00] csanders-git commented on #1100
Hey Taya, can you let us know what the mod security error log or audit log says?

[2018-05-25 11:19] Mag8891 commented on #1100
Hi, the module us called duplicator-pro https://snapcreek.com/duplicator/

here are the error and modsec_audit logs you can download at the link below
they are from /var/log/nginx folder, I am not sure how to read error log but see issues in audit log

https://cloud.mail.ru/public/Ln5T/M8HqZnh9K

there is also another error log here
error_log /var/www/mysite/logs/error2.log;

As for memory size er

[2018-05-26 04:27] dune73 commented on #1100
I see a fatal PHP error above. And you work on NGINX, which is a new piece of code. I do not know about the interference, but given it is a memory problem, maybe ModSecurity plays a role in this.

Take a look at https://www.netnea.com/apache-tutorials/ to learn how to exclude certain rules. The modsecurity.org documentation you quote are seriously outdated (and broken apparently). Better stick to

[2018-05-26 04:27] #1100 closed, assigned to nobody

[2018-05-27 11:53] lifeforms commented on #961
I would leave `tmp/` and `python` out personally, other than that, a PR with the above changes would be very nice ;)

[2018-05-27 13:54] lifeforms commented on #860
Thanks for the submission!

I created a PR in #1101 with small changes. Most notably, I changed the exclusion to `ctl:ruleRemoveTargetByTag=CRS`, so that the whole CRS is disabled on the content field `ARGS:html`. This ensures that the request also succeeds at higher Paranoia Level settings.

[2018-05-27 13:54] #860 closed, assigned to lifeforms

[2018-05-27 14:09] lifeforms commented on #1097
I've tried to reproduce, but it seems that this request is already fixed by our WordPress exclusions!

If you activate rule 900130 in `crs-setup.conf` by removing the comment chars `#`, you will enable our WordPress exclusions, and you should be good!

[code]

If this doesn't help, please reply with the new part of the ModSec audit log and we'll check it out.

[2018-05-27 14:09] #1097 closed, assigned to nobody

[2018-05-27 14:36] lifeforms commented on #1019
Thanks for the report @Egor-Skriptunoff , this is now addressed by #1102 and the fix will be in CRS 3.1.

[2018-05-27 14:36] #1019 closed, assigned to lifeforms

[2018-05-27 16:48] lifeforms commented on #703
This issue can be closed.

- Blacklisting of Java exploits has been addressed by the 944xxx rules.
- I've proposed a whitelist for Content-Type header in #1103.

Thanks everybody!!!

[2018-05-27 16:48] #703 closed, assigned to nobody

[2018-05-27 20:41] cattlemantech opened #1104 "Issue loading CRS 3.1/Dev on Nginx 1.13.12"
I am using owasp-modsecurity-crs-3.1-dev since i had an issue with 3.0/master (#1032 ). But i am getting different errors as below: please help:

nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs-3.1/rules/REQUEST-910-IP-REPUTATION.conf. Line: 70. Column: 22. This version of ModSecurity was not compiled with GeoIP support.  in /etc/nginx/conf.d/n

[2018-05-29 11:19] lifeforms commented on #1073
Oh, this is a frequent complaint of mine too.

CRS appears to be the common denominator among free WAF installs, so we do have an opportunity to address this problem.

I agree with the principle that CRS should prefer not to modify ModSec engine settings. But, the spirit of that principle is not to cause "spooky action at a distance" that's hard to trace and debug or could override a user's reason

[2018-05-30 05:02] dune73 commented on #1096
Solved in #1106.

[2018-06-04 17:55] csanders-git opened #1115 "June monthly meeting agenda"
* With the approaching v3.1 release, we'll be going over the remaining PRs
* Status CRS community Summit
* Open Security Summit with session by @franbuehler
* AviNetoworks metalanguage proposal (should be in the status message: https://github.com/avinetworks/owasp-crs-technical-discussion/blob/master/language-draft.md)

[2018-06-04 19:23] dune73 opened #1116 "Remove "rev:" action from all rules"
As decided in June 2018 in the monthly meeting.

[2018-06-04 19:28] lifeforms commented on #1116
Create this PR only after all the other PRs are merged to prevent conflicts

[2018-06-05 13:22] dune73 opened #1120 "ModSec 3.0 fails on new rule 901350 (enforce body processor URLENCODED)"
Houston, we have a problem.

ModSec 3.0 implements `ctl:requestBodyProcessor=JSON`, but fails to run with `ctl:requestBodyProcessor=URLENCODED`.

I have opened an issue over at ModSec: https://github.com/SpiderLabs/ModSecurity/issues/1797

This issue could mean, that we do not support ModSec 3.0 with our 3.1 release. I hope it gets fixed in ModSec 3.0, or ModSec and our project both are in a trick

[2018-06-05 13:34] csanders-git commented on #1120
I suppose i should just switch the NGINX Docker to be libmodsec ;)

[2018-06-05 13:43] dune73 commented on #1120
I guess so. Actually I've seen other regressions too, but that's more semantic and not missing features, I think. I need to investigate this sooner or later.

[2018-06-05 14:12] spartantri commented on #1120
Crap! I use it in the but only in Apache with no issues, I have no nginix to test, we are in a bad spot here, there are plenty of missing fetures in modsec3 and modsec2 is missing bugfixes and apparently there will be no efforts to support new stuff :'(

We may have to do an include for Apache (faster and better so far) and another for nginix with 100% compatible stuff

[2018-06-06 14:34] victorhora commented on #1120
Hey folks,

I'm on this. Adding support for ctl:requestBodyProcessor=URLENCODED should be fine.

Apologies I've failed to provide a feedback on this thing before as we agreed on the meeting in May. I'll provide updates here.

Thanks for your patience.

[2018-06-06 16:39] fgsch opened #1121 "Review usage of tx.0"
We have many rules (grep says 140) using something along this line:

`setvar:'tx.%{rule.id}-OWASP_CRS/LEAKAGE/ERRORS-%{matched_var_name}=%{tx.0}'`

As found by @dune73 in #1107, `%{matched_var}` would be a better fit.
There is also the question about how useful this is.

[2018-06-07 16:25] Hotboy178 commented on #156
i have my own php script which upload files to server at first it was working now its not even working its giving me this error->add_music_handler.php:1 Failed to load resource: the server responded with a status of 412 (Precondition Failed)
![error22](https://user-images.githubusercontent.com/37395586/41112741-aa5d04de-6a34-11e8-84ce-d2d0b2f31f7e.PNG)

[2018-06-07 18:28] jonlupo opened #1122 "False Positive 941120."
We are using ModSec 2.9.2 with CRS 3.0.2. Running SAP Portal behind an Apache reverse proxy. Which uses base64 encoded data in requests.

The rule is matching the "ON" keyword in the base64 string and its returning a 403 page.
I see in previous issue #675 this was solved by changing `on\w+` to `on[a-zA-Z]+` however it is still throwing a false positive in my case.

[log.txt](https://github.com/Spi

[2018-06-07 18:41] dune73 commented on #1122
Why don't you write a rule exclusion for said rule?

Base64 encoded payloads are hard since they can match random regexes.

[2018-06-07 19:15] jonlupo commented on #1122
I created a rule exclusion for it but I was hoping to see if there was a way to fix the regex for anyone else who might come across this issue.. It also would be handy in catching XSS attacks.

Does that mean there are no good ways to tweak the rule?

[2018-06-08 11:46] emphazer commented on #731
its finally done

[2018-06-08 11:46] #731 closed, assigned to nobody

[2018-06-08 15:27] jonlupo commented on #1122
Going ahead and closing this issue. Since I was able to resolve it using an exclusion rule. Can't think of any better solutions...

[2018-06-08 15:27] #1122 closed, assigned to nobody

[2018-06-08 22:17] fgsch opened #1123 "FPs with 941150"
Rule 941150 at PL2 is very prone to FPs, e.g. it will match if the QS containing `src=foo`.

We could move the ARGS* to a higher PL, or the rule altogether.

[2018-06-09 04:14] dune73 commented on #1123
How often do you get these? Depending on the application a lot, I presume. But how across multiple applications? `src` is a html attribute and I got the feeling this rule is quite effective vs. XSS.

[2018-06-09 07:51] fgsch commented on #1123
I'm trying to get this information but anything can go in the query string really.
A quick search in httparchive shows it's not uncommon to see src and href, for example.

[2018-06-09 13:40] lifeforms commented on #156
@Hotboy178 It's probably better if you open a new issue for this. Please include the relevant part of your ModSecurity audit log (usually in `/var/log/modsec_audit.log` or a similar location) Otherwise we cannot tell what's exactly happening...

[2018-06-09 20:55] dune73 commented on #1123
Yes, absolutely. But then it's PL2 and writing a rule exclusion if you use the QS parameter src seems acceptable to me (not at PL1 though).

[2018-06-12 08:01] fgsch commented on #1123
IMO rule exclusions should be the last resort. I'd prefer if we either move this to a higher PL or create a sibling at a higher PL to handle ARGS.

[2018-06-12 08:06] dune73 commented on #1123
That is a valid position, but not one that I share.

I think we need other opinions from other people to make a call.

[2018-06-12 08:25] dune73 commented on #1120
Thank you @victorhora .

Yes, I agree with you @spartantri. We're between a hammer and a hard place here. ModSec 2.9 is degrading slowly and 3.0 is nowhere near production quality in my eyes.

[2018-06-12 08:30] spartantri commented on #1123
Hi guys, this one in particular if it is a false positive to me it won't grant opening a hole on the CRS as I see this back firing with LFI/RFI/SSRF false negatives, that is better to catch at PL2 instead of dealing with PL3 debugging. In this case I would better deal with either exceptions, anomaly threshold levels, anomaly scores and the soon to come executing paranoia.
PL2 is supposed to be acc

[2018-06-12 08:32] spartantri commented on #1120
:'( I can see modsec 2.9 forking in the near future if this trend continues

[2018-06-12 08:38] dune73 commented on #1120
There is a lack of ModSec devs to fork IMHO. Forking 2.9 would mean to abandon years of work on 3.0.

I really like the basic direction of 3.0, I just do not like the way it was done - and the way it is being done.

So do you seriously see that happen?

[2018-06-12 11:13] lifeforms commented on #1123
Interestingly, I don't see a lot of false positives on this rule. In fact I have just one exclusion for this ruleId. On a cookie in fact. So for me this rule does seem okay in Paranoia Level 2.

[2018-06-12 11:44] csanders-git commented on #1120
I too would be surprised, once modsec 3 gets a little closer in terms of functionality I think you'll see less issue. A big missing part for many is also sanitize

[2018-06-12 12:55] fgsch commented on #1123
Taking this upside down, how many are actually getting hits on this rule with the query string?

As I mentioned, having src and href in the query string is not uncommon.
While you might not be seeing it in your particular setup, it does not mean that FPs with this rule are rare.

[2018-06-12 13:10] dune73 commented on #1123
I've looked in a very big corpus of alerts triggered by burp. I saw the rule triggered 14 times. That is less than I expected.

However, @lifeforms is a hoster so you have various applications and my customers go with over 100 reverse proxies, mostly B2B applications. FPs are no big deal for this rule.

I think it really depends on a particular application and what it does with the query strings.

[2018-06-12 13:48] fgsch commented on #1060
I will take this.

[2018-06-12 13:59] fgsch commented on #974
I'm going to open a PR to remove this rule together, because:

1. Content-Length is already handled in 920160
2. A comma in Transfer-Encoding is valid

From the convo it does not feel we have a agreement on how to handle T-E and the current rule is incorrect but if anyone has any objections please let me know.

[2018-06-12 14:09] fgsch commented on #1123
Fair enough. If you all reckon this rule is OK as it is then we can close this ticket.

[2018-06-12 14:09] dune73 commented on #974
That sounds reasonable, however, we are already in the feature freeze for 3.1.

[2018-06-12 14:12] fgsch commented on #974
I consider this a bug though but it's your call.

[2018-06-12 14:17] dune73 commented on #974
That's true. But bugs and features are not so clear with CRS, I think.

[2018-06-12 14:28] lifeforms commented on #1123
I agree that `src=` and `href=` query parameters in URLs are not uncommon. For this reason we did remove checking Referer header from this rule, which I had quickly added earlier without much testing. See #547 and #585. So this rule is definitely a little bit controversial, although for me it seems to be working great.

URLs in themselves are not highly common inputs but we do regularly see them i

[2018-06-12 14:50] lifeforms commented on #606
@spartantri We got burned by many false positives when trying to run libinjection on the Referer header, so we moved the Referer libinjection check to paranoia level 2 in #717.

(A combination of things happened here: libinjection used to be trigger happy on URLs, as it assumed that a string `onfoo=bar` was XSS. We brought it up with libinjection so that could be fixed now: https://github.com/clie

[2018-06-12 15:02] christiantreutler-avi commented on #1120
There is an issue we are currently looking at which is concerning the CRS 3.1 release I think. The ruleRemoveTargetByID does not take ranges, which are needed for the NextCloud rules.
@dune73 The subset of features needed for CRS are mostly ok in modsec 3. Everything else is unchartered territory from my point of view.
Hopefully if we can get the abstracted language of the ground, we can think of

[2018-06-12 15:04] dune73 commented on #1120
This rings a bell, @christiantreutler-avi. Thanks for the reminder.

[2018-06-12 21:01] emphazer commented on #1120
@dune73
well, i could do a PR for the modsec   v3 nextcloud id range issue

[2018-06-12 21:04] dune73 commented on #1120
That would be helpful, #emphazer.

[2018-06-13 05:55] christiantreutler-avi commented on #1120
@emphazer PR for CRS or PR for modsec 3?

[2018-06-13 13:38] emphazer commented on #1120
@christiantreutler-avi PR for CRS

[2018-06-15 10:47] theMiddleBlue opened #1127 "tx.paranoia_level on v3/master ignored"
Hi,

I've an odd behavior with the last v3/master version (I've just pulled it). It seems that it ignores at all the `setvar:tx.paranoia_level=1` and it matches many rules in PL2, 3 and 4.

My configuration:
[code]

And on audit log I've many of these (with my previous version of v3/master it wasn't happen):
[code]

Any idea? how can I do for pull the previous version of v3/master?

Thanks!

[2018-06-15 11:11] dune73 commented on #1127
Thank you for reporting @theMiddleBlue. And sorry for the inconvenience.

This sounds annoying indeed. Could you raise the ModSec DebugLogLevel and show us the detailed debug log for 920014, please? There we should see the actual paranoia level and the skipping to the end of the 920xxx rule file. Your alerts indicate this rule not working properly.

[2018-06-15 11:35] AnnuA opened #1128 "Modsecurity + Nginx Only warnings in log file, not blocking attacks"
I have Nginx 1.14.0, Modsecurity 3 with nginx connector. Owasp 3.0.0. Ubuntu -14.04.

Modsecurity is not blocking attacks although warning logs can be seen in /var/log/modsec_audit.log.
Also, I do have SecRuleEngine On in my modsecurity.conf.
Also, replaced "Include /usr/local/owasp-modsecurity-crs/rules/*.conf" with list of individual conf file as answered in SpiderLabs/owasp-modsecurity-crs#777

[2018-06-15 11:50] theMiddleBlue commented on #1127
Hi @dune73,

Following a grep by 920014
[code]

and here with 5 lines before and after:
[code]

[2018-06-15 12:19] csanders-git commented on #1127
A user on irc reported the same thing. He assumed it was this commit https://github.com/SpiderLabs/ModSecurity/commit/202a15bea8e6e009bb5c03737d565d685f7db9aa

[2018-06-15 12:32] theMiddleBlue commented on #1127
I'm using this request for reproduce it:

[code]

Audit Log:
[code]

Debug Log:
[code]

[2018-06-15 12:35] csanders-git commented on #1127
As this appears in part to be a libmodsec problem @zimmerle would you like me to xpost this?

[2018-06-15 20:41] dune73 commented on #1128
Thank you for reporting and sorry for the inconvenience.

Can you show us your main.conf, please?

[2018-06-16 02:30] fernandogalves commented on #1128
Annua,

Did you check the SecDefaultAction value in the crs-setup.conf file? because the default value don't block attacks, i.e.:

SecDefaultAction "phase:1,log,auditlog,pass"
SecDefaultAction "phase:2,log,auditlog,pass"

I was with a problem like you, and I changed the values to:

SecDefaultAction "phase:1,log,auditlog,deny,status:403"
SecDefaultAction "phase:2,log,auditlog,deny,status:403"

Afte

[2018-06-16 07:15] AnnuA commented on #1128
@dune73  I have attached my main.conf file.
[main.conf.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/2107925/main.conf.txt)

@fernandogalves  I have tried doing what you mentioned and it works but it changes the CRS  to "Self-Contained mode", but I want to keep it in "Anomaly scoring mode" only which is the default one.

[2018-06-16 23:20] theMiddleBlue commented on #1127
@csanders-git doing some tests, it seems that the latest working commit is SpiderLabs/ModSecurity@f928e44

[2018-06-18 04:36] dune73 commented on #1128
Does your rule 1234 block? If it does, then 949110 should block too with the only difference that the blocking is based on the anomaly score and not on a parameter.

Your request 152897962388.766237 should definitely be denied, but 949110 is not being triggered.

[2018-06-18 08:14] AnnuA commented on #1128
Yes, 1234 is blocking. I could not see rule 949110 in the modsec_audit.log file.
I had used attack "http://192.168.100.145/?param=%22%3E%3Cscript%3Ealert(1);%3C/script%3E".
I have also tried some other sql injection attack, but even those are not getting blocked.
Where should I look into?

[2018-06-18 21:40] dune73 commented on #1128
Please add the following rule to your main.conf, after all the includes:

[code]

Then repeat your attack request, and report on the output of the rule 1235. It should trigger on every request and report the anomaly score.

[2018-06-19 00:37] victorhora commented on #1120
Initial support for ctl:requestBodyProcessor=URLENCODED at PR https://github.com/SpiderLabs/ModSecurity/pull/1807

[2018-06-19 08:48] dune73 commented on #1120
Thank you @victorhora.

That's quite a change set. Wish I had the time to test this, but I am too busy.

What is the time frame for ModSec 3.0.3?

[2018-06-19 13:28] AnnuA opened #1129 "When uncommented the rule to change paranoia level, httpd fails to start"
I have installed apache-2.4.6. Owasp CRS - 3.0.2.

I want to change the default paranoia level, so I uncommented following ruke in crs-setup.conf.
[code]
Now, when I restart httpd, it fails and log shows following error:
"httpd[14633]: Invalid command 't:none,', perhaps misspelled or defined by a module not included in the server configuration"

[2018-06-19 13:29] csanders-git commented on #1129
There should be a slash (line continuation after pass)

[2018-06-19 13:45] AnnuA commented on #1129
Ohhh Thankyou so much. I don't know how I missed it.

[2018-06-19 13:45] #1129 closed, assigned to nobody

[2018-06-19 14:42] victorhora commented on #1120
You're welcome @dune73. The buildbots suggests that the patch is fine and I also ran some tests here that tells me that should solve the issue. I'll see about also adding a test case for this one to make it easier for others to test. Should be merged to master soon I think.

About 3.0.3, we have a [public milestone](https://github.com/SpiderLabs/ModSecurity/milestone/12) set with a due date of Jun

[2018-06-19 20:25] dune73 commented on #1120
I see. Thank you for the info. I'm relieved we have a solution here. Would have been a roadblock otherwise.

Closing this in favor of the fix in ModSec!

(Btw: How do you see adding our new 901350 to the list of recommended ModSec rules?)

[2018-06-19 20:25] #1120 closed, assigned to nobody

[2018-06-20 09:24] theMiddleBlue commented on #1127
Doing some tests, I've found the problem: v3/master ignore this variable when it's set using lowercase variable name...

Working configuration:
[code]

Wrong configuration:
[code]

Maybe this problem could affects any other SecRule on the CRS that set a lowercase variable name.

[2018-06-20 10:48] lifeforms commented on #1127
Hmmmm, that should not happen...

From the ModSecurity handbook:

![screen shot 2018-06-20 at 12 47 47](https://user-images.githubusercontent.com/3464056/41653970-2b3926ac-7488-11e8-9cb1-8389ce12d71d.png)

[2018-06-20 12:16] theMiddleBlue commented on #1127
Just tested more:

**OK:**
[code]

KO:
[code]

KO:
[code]

KO:
[code]

[2018-06-20 12:39] csanders-git commented on #1127
So if I had to guess that cfg for variable needs to be case insensitive @zimmerle

[2018-06-20 13:10] michaelgranzow-avi commented on #1127
I think this bug has been introduced by https://github.com/SpiderLabs/ModSecurity/commit/892beb53603a44a3b7cdcbfe83eff9e8c51c9307

Here, the lookup was changed from using std::multimap::equal_range with custom hash and equal functions (both case-insensitive) to std::string::compare, which is case-sensitive:

[code]

As a side-note, this change also seems to have turned a hash lookup into a linear

[2018-06-20 14:29] victorhora commented on #1120
I'm not sure about enforcing URLENCODED by default @dune73. I see positive and negative aspects about it. But I'd say if it's something that most would like to see, an issue about it should be opened for discussion and adding it to the file but leaving disabled by default can also be an option.

[2018-06-20 21:04] dune73 commented on #1120
Thank you for sharing your view. I agree that there are PROs and CONs. Having it in the recommended rules and if even as an option, would ease things for us, as it is a setting that changes the behavior of the engine and we would like CRS to have no side effects if possible.

If it is part of the recommended rules, then we can simply point to said rules in our documentation and tell people to enab

[2018-06-20 23:10] victorhora commented on #1127
Thanks for the detailed reporting guys.

This is being handled at https://github.com/SpiderLabs/ModSecurity/issues/1808. PR [#1810](https://github.com/SpiderLabs/ModSecurity/pull/1810) is up for evaluation to fix this issue. My tests went well and the [buildbots](https://travis-ci.org/SpiderLabs/ModSecurity/builds/394785663?utm_source=github_status&utm_medium=notification) are going fine for now.

[2018-06-21 05:50] AnnuA commented on #1128
Adding this rule has no effect. modsec_audit.log is not showing anomaly score. Just for your reference attaching files.
[main.conf.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/2122207/main.conf.txt)
[modsec_audit.log](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/2122209/modsec_audit.log)

[2018-06-21 05:55] dune73 commented on #1128
Seems I have a typo (ANOMALY_SCPRE.) And you might be affected by this bug: https://github.com/SpiderLabs/ModSecurity/pull/1810

[2018-06-25 20:27] theraw commented on #1128
I'm having the same problem.
did a fresh install right now and i'm getting just warns no deny :confused:

My configuration was the same as my old server which/where modsec was installed long time ago and it's working..

[2018-06-26 09:11] michaelgranzow-avi opened #1130 "Regex: Only escape characters when necessary"
The following rules

942432 942430 942431 942421 942420

seem to escape all characters inside the character class as a matter of course. Most of the backslashes are not needed and are indeed prone to cause problems. Inside character classes, only the caret ^, the hyphen -, the closing bracket ] and the backslash itself are metacharacters. We should heed the advice in http://www.regexguru.com/2008/

[2018-06-27 22:10] victorhora commented on #1127
As pointed out by @zimmerle at https://github.com/SpiderLabs/ModSecurity/issues/1808#issuecomment-400395175, this has been fixed by commit https://github.com/SpiderLabs/ModSecurity/commit/d810de9166794be2bee972fffb0e09cb0b8d6ec5. Thanks for your contribution @michaelgranzow-avi :)

I believe this one can be closed now.

[2018-06-27 22:30] #1127 closed, assigned to nobody

[2018-07-04 09:37] lungati opened #1132 "Unexpected end of file"
Related to this issue https://github.com/SpiderLabs/ModSecurity/issues/862.. I've built nginx v1.15 with Libmodsecurity v3.0 and Modsecurity-nginx connector. When I include the OWASP CRS config files, I get the error below. I've tried changing the order of imports, nothing changes.

How I include the owasp crs:

http {
    include       mime.types;
    include       /usr/local/nginx/conf/owasp-mod

[2018-07-04 12:31] csanders-git commented on #1132
I can confirm similar issues (not in crs-sjetup.conf). I am investigating.

[2018-07-04 13:03] csanders-git commented on #437
Alright, so i'll take a look at removing this for v3.2

[2018-07-05 05:36] fischaz opened #1133 "rule 941160 using excessive cpu and time on some POST"
Hi team,

the team reported a slowness issue on the WAF when trying to POST a 600kb request to the server. After investigation, the Rule 941160 was found to be taking most of the time/cpu. it seems that the content of the POST request does not bode well with the regular expression.

some versions:
nginx(1.14.0)
modsecurity(eed6b5f8 2018-06-26 13:56:22 -0300)
modsecurity-nginx(37b76e8 2018-05-15 18

[2018-07-05 05:40] fischaz commented on #1133
[SO-9817_data.public.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/2165041/SO-9817_data.public.txt)

[2018-07-05 05:56] fischaz commented on #1133
[code]

[2018-07-05 07:23] lungati commented on #1132
Hi @csanders-git any luck?

[2018-07-05 07:24] csanders-git commented on #1132
Going to be looking at it today. Thanks for the report.

[2018-07-05 10:35] csanders-git commented on #1132
i'm unable to reproduce your error. I use the following config. It seems maybe your config is wrong.

[code]

From include.conf i have the following (this will be processed by the ModSecurity parser

[code]

The following are somewhat related aspects of 3.1/dev that don't seem to be supported by libmodsecurity (in addition to URLENCODE processbody)

https://github.com/SpiderLabs/ModSecurity/issues

[2018-07-05 10:35] #1132 closed, assigned to csanders-git

[2018-07-05 16:31] jammasterj89 opened #1135 "False positive 942440 - Auth0"
Hi,

We are seeing false positives when using Auth0 and ModSec for 942440 inside REQUEST-942-APPLICATION-ATTACK-SQLI.conf.

The issue is the callback URL they use contains a query string parameter "state" which can sometimes contain double hyphens, e.g. "Jun1xPDO--e6jut6n9y7ahOdByyzq-A877Z-Ef3Se88". ModSec sees this as a SQLi, and blocks the request.

Auth0 won't change this behaviour so I was cur

[2018-07-06 10:21] csanders-git commented on #1133
My inital thought was that this was do to libmodsec some how so i tested it on Apache with modsec 2.9.x

Here was my test harness (clearly i'm lazy and hacked this together)

[code]

The result was 0.603922491074, this was run on the owasp/modsecurity docker image so you can expect that it wasn't a particularly performant box.

As a result i'm going to close this from the CRS side. The regex itsel

[2018-07-06 10:21] #1133 closed, assigned to nobody

[2018-07-06 10:33] csanders-git commented on #1135
Hi @jammasterj89 this can sometimes occur with general random content. It is quite easy to change this on your instance however because there will always be random stuff we can't make an explicit exception built into the rule (think a bunch of monkeys slamming on keyboards writing Shakespeare).

Now to how to add exceptions. If you want to keep the rule (which I think you should) there are a numbe

[2018-07-06 10:33] #1135 closed, assigned to nobody

[2018-07-06 10:39] csanders-git commented on #1130
The general advice is reasonable, **personal feeling** although in many cases I think it leads to readability almost being harder as you have to know the content to ensure what the meaning is **/personal feeling**. However from a modsec perspective sometimes it plays by slightly different rules then normal regex engines. I think however in the situation you prescribed would be fine advice. If you

[2018-07-06 10:39] #1130 closed, assigned to nobody

[2018-07-06 10:40] csanders-git commented on #1130
Thanks for the feedback!!!

[2018-07-06 16:27] csanders-git commented on #1128
I have tested this using the latest CRS NGINX Docker image (see PRs for more detail). Beyond DOS protections being broken, and URLENCODE not being valid as a request processor, it seems the rules are in working order on NGINX.

[2018-07-06 23:42] fischaz commented on #1133
Hi,

I appreciate the time you took and check the libmodsecurity. Would you be able to confirm that the regex that I ran in my python script (which should be copy/paste from the CRS rules) against the public file?

why is this one regular expression taking so long then?, is the libmodsecurity using re.find() or re.match() (in their C equivalent)?

I understand that this is now outside your project

[2018-07-07 09:19] csanders-git commented on #1133
I'm always here to support @fischaz. Turns out modsec uses pcre where as Python uses a different regex engine. This may be the origin of your problem

[2018-07-07 12:49] csanders-git commented on #1128
Please reopen if the problem persists

[2018-07-07 12:49] #1128 closed, assigned to nobody

[2018-07-07 12:55] #1115 closed, assigned to nobody

[2018-07-07 12:57] csanders-git commented on #1104
I reopened individual issues on the ModSecurity project as the 'dev' branch changes haven't been merged into master yet. But this is very much a ModSecurity problem and not a CRS project. As a result I am closing, but if you need more support on the modsec side please be sure to include me.

[2018-07-07 12:57] #1104 closed, assigned to nobody

[2018-07-07 12:58] csanders-git commented on #996
We'll need @victorhora to do this. Their CRS page is outdated and really shouldn't be in use at the top of the page. @victorhora can you please change this?

[2018-07-07 16:51] csanders-git commented on #243
@franbuehler / @dune73 wouldn't it be easier to just do an htmlEntityDecode transformation? this should solve the issue more completely (depending on if the modsec method of htmlEntityDecode is correct)

[2018-07-08 21:05] dune73 opened #1137 "Content-Type: ... charset=ibm037 and friends allow for a bypass"
Payload: `post_param1=<script>alert(000)</script>&post_param2=<script>alert(111)</script>`
Encoded: %97%96%A2%A3m%97%81%99%81%94%F1%7EL%A2%83%99%89%97%A3n%81%93%85%99%A3M%F0%F0%F0%5DLa%A2%83%99%89%97%A3nP%97%96%A2%A3m%97%81%99%81%94%F2%7EL%A2%83%99%89%97%A3n%81%93%85%99%A3M%F1%F1%F1%5DLa%A2%83%99%89%97%A3n

Attack:

[code]

This brings the following results (CRS 3.0.2 on ModSec 2.9.2)

[code]

Ext

[2018-07-09 08:52] dune73 commented on #243
Yes, you are probably right. However, @franbuehler's new rule 920120 also deals with ' and ", so htmlEntityDecode does not do away with 920120 completely.

[2018-07-09 08:59] franbuehler commented on #1061
Another test:
Oracle Weblogic vulnerability CVE-2017-10271  tested with https://www.exploit-db.com/exploits/43458/

Triggers:
id "932105": msg "Remote Command Execution: Unix Command Injection"
id "932115": msg "Remote Command Execution: Windows Command Injection"
id "932150": msg "Remote Command Execution: Direct Unix Command Execution"
id "932160": msg "Remote Command Execution: Unix Shell Code

[2018-07-09 09:11] dune73 commented on #1061
Could you include the new payload in your comment, please?

[2018-07-09 13:21] svscorp opened #1139 "ModSecurity in front of GitLab - Browsing causes "PHP source code leakage" denials"
I am configuring WAF in front of a GitLab instance. While browsing projects and repositories I noticed `Access denied with code 200` messages, still being able to see the source code. Not sure where will it pop-up blocking a function, but wanted to check with you first on what is expected behavior and what would be advise to deal with it?

It happens even if you open main repository page (probably

[2018-07-09 18:07] lifeforms commented on #1137
I had searched a few days of logs for this header while working on my Content-Type rule, and I only ever saw UTF-8 there. But my installs are not so enterprisey. Do others have more log data to search?

If we whitelist this, I reckon we should make it a configurable setting, like we are doing with MIME types, file extensions, etc. Would you agree? If so, there would be lower pressure to create an

[2018-07-09 18:33] dune73 commented on #1139
NGINX does not support response scanning (ModSecurity phases 3 and 4). It is best not to include the REPONSE-95* files. Please see the install documentation.

[2018-07-09 18:33] #1139 closed, assigned to nobody

[2018-07-09 18:44] dune73 commented on #1137
Spot on. I'm currently in touch with @irsdl, who published this, and he agrees on the UTF-8 and suggests to include ISO-8859-1, possibly also other UTF variants.

I agree on the sane default in a configurable setting and then people can add additional charsets at their discretion. Maybe we need to point out in the configuration that more exotic charsets will allow for bypasses, namely in PL1 while

[2018-07-10 01:19] csanders-git commented on #1137
v3.2 candidate or v3.1.1?

[2018-07-10 04:30] dune73 commented on #1137
No new rules for v3.1.1 please, so it's a question if this is urgent enough to squeeze it into v3.1.0 or postpone it to v3.2.

Slide 25 of the presentation linked above lists the backends that comply with the charsets to allow for the bypass and the exposure looks really big. So personally, I would opt for an urgent fix for 3.1.0 but I will support your call.

Also, it seems this is something wher

[2018-07-10 07:15] dune73 commented on #1137
More private conversation with @irsdl: UTF-8 should be sufficient.

[2018-07-10 11:19] lifeforms commented on #1137
I vote for 3.1.

[2018-07-10 12:05] dune73 commented on #1137
I have a PR mostly ready, but my rule can be bypassed via `charset=utf-8,ibm037`. Apache eats this just fine and I have no idea what a backend will make of it. I get the feeling we should do a characterset whitelisting on the charset parameter and rule out commas. But ideally in @lifeforms 920470 (see PR #1103), or in an additional rule.

Here is what I have so far:

[code]

I think I need to depe

[2018-07-10 17:16] spartantri commented on #1137
Hi @dune73 ,

Have you tried that rule with multiple headers?
First good then bad:
Content-Type: charset=good;
Content-Type: charset=bad;

And bad then good:
Content-Type: charset=bad;
Content-Type: charset=good;

We fixed a few instances of that behavior a few months back. There should be only one C-T (multipart is a different story) or kill otherwise.

Multipart improvements are missing in ModSe

[2018-07-10 18:20] dune73 commented on #1137
Sweet. Going to take this into consideration. It's true that we do not have anything in CRS stopping a client from submitting multiple CT headers.

As for whitelist / blacklist: Yes, we need to do WL on CT header. No way being liberal here.

[2018-07-10 20:08] dune73 commented on #1137
I checked: Double header is being concatenated to `application/x-www-form-urlencoded; charset = utf-8, application/x-www-form-urlencoded; charset = ibm037`, which results in TX:1 being `utf-8,`. Not good.

[2018-07-11 07:37] spartantri commented on #1137
Well an additional `&REQUEST_HEADERS:Content-Type !@eq 1 block` rule in protocol enforcement should fix that, but this may happen with some other headers, maybe during the next monthly meeting we can make a list of those we would like to forbid any duplicates.

[2018-07-11 07:59] dune73 commented on #1137
You wish...

Apache concatenates double headers with comma+space as separator. When counting the header collection and the header names collection, the 2nd instance of the header is already missing.

I second your proposal to add very strict rules on what we accept in some of the key headers. Like whitelisting the header format at PL3 and using the whitelist pattern to make sure no is duplicate he

[2018-07-11 08:07] spartantri commented on #1137
oops :( wasn't that done after phase:1? then some regex to do the trick `REQUEST_HEADERS:Content-Type @rx charset.+charset` I wonder if we have other issues such as this somewhere else?

[2018-07-11 11:26] csanders-git commented on #1137
We can sneak it in if it's done soon (in the next 5 days).... But we really need to merge hybrid paranoia first... Can you take care of conflicts there

[2018-07-11 11:44] dune73 commented on #1137
#1076 / Hybrid Paranoia Mode is ready to be merged without any remaining conflicts.

[2018-07-11 12:43] lifeforms opened #1141 "FP due to CloudFlare WAF token parameter"
Sometimes CloudFlare WAF adds the `__cf_waf_tk__` query parameter to an URL.

This can have a form of:

[code]

This example triggered rule 942440 (SQL Comment Sequence Detected) but I also see it likely to trigger 942450 (SQL Hex Encoding Identified).

Not sure how commonly CF sets this parameter, but it'd be nice if we'd exclude it from the rule.

[2018-07-11 12:50] dune73 commented on #1141
If it is random content, then there are far more rules affected. I have a list of 30 rules that could be hit, but it's true that many of them also take whitespace to be triggered and that does not seem to be the case.

But soon we will have a contact with CF thanks to @csanders-git and then we'll know about frequency and format - and possibly also meaning.

[2018-07-11 12:50] csanders-git commented on #1141
actually see the auth0 ticket -- looks mighty similar

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1135

[2018-07-11 16:23] michaelgranzow-avi commented on #1130
Feedback was given in-person; for the record: When evaluating the RE2 regex library for use with ModSecurity/CRS, it was noticed that 16 regexes used in CRS are rejected by RE2, five of them for the trivial reason of excessive escaping. So to pave the way for replacing PCRE (which has well-known poor worst-case behavior) with RE2, it would be good to clean these rules up.

[2018-07-11 18:50] dune73 commented on #1130
Are the said 16 rules the only thing that stops us from adopting RE2? And should we?

[2018-07-12 00:47] csanders-git opened #1142 "Integrate SecRule Parser Into testing suite"
Hey @fzipi do you mind if we pull https://github.com/fzipi/secrules-parser into the CRS-support org and then submodule it for testing -- I have done a pretty large rewrite to support what we need and modularize it but it uses the same underlying CFG you specified, great work. Thoughts?

[2018-07-12 00:48] csanders-git commented on #996
any update on this @victorhora

[2018-07-12 00:48] #829 closed, assigned to nobody

[2018-07-12 00:51] csanders-git commented on #667
Not sure we should merge this into main line as it won't be supported on NGINX.

[2018-07-12 00:52] csanders-git commented on #504
I'm gonna drop this idea as it's effectiveness level is minimal.

[2018-07-12 00:52] #504 closed

[2018-07-12 04:07] dune73 commented on #667
It's a nice rule pair, but given the limited use case, the existence of mod_reqtimeout and the missing support, I do not think we should add it to our rule base.

Thank you for your good work @theseion and the interesting conversation. Unfortunately, it does not really fit.

[2018-07-12 04:30] dune73 commented on #1137
OK. Here is what we do:

### Step 1
I'll write the PR to cover this as laid out above and try to merge this into 3.1/dev as it seems @csanders-git allows us to do that.

### Step 2
We forget the duplicate headers for the time being and I open an issue to add multiple rules to whitelist the format of the most important request headers for 3.2 (maybe at PL3 or so).

[2018-07-12 04:37] dune73 commented on #1137
OK, I checked [RFC 7231](https://tools.ietf.org/html/rfc7231) for the the format of charset and it seems we do not need to worry about `utf-8,ibm037`. This is illegal. So we can postpone this to v3.2 too and I will now base my PR on the proposal made above.

[2018-07-12 06:03] theseion commented on #667
No worries. I haven't gotten around to working on the rule anyway. I'll close this issue.

Thanks for your help!

[2018-07-12 06:03] #667 closed, assigned to nobody

[2018-07-12 06:10] dune73 commented on #1137
PR in #1143.

[2018-07-12 06:17] dune73 opened #1144 "Whitelist format of key HTTP request headers"
We are blacklisting illegal request headers, but with Apache concatenating duplicate headers before we get a chance to count them etc. it makes sense to whitelist the format of several request headers.

Candidates:
* Host
* Accept
* Accept-Language (benefit?)
* Accept-Encoding
* Cache-Control (benefit?)
* Connection
* Content-Type
* Cookie (viable?)
* If-Modified-Since (benefit?)
* Range
* Referer

[2018-07-12 07:59] dune73 commented on #667
Thank you for your understanding @theseion.

[2018-07-12 08:45] fzipi commented on #1142
Sure! Let's move it. And please push your rewriting/refactoring.

I am in the process of generating Python classes for all objects along the way, so once we have python objects we can do practically anything. Your refactoring will come handy for this.

My principal use case was to rewrite my own million chaotic non-conformant rules, to the new beauty of the CRS 3.1 :), but I see the potential. It

[2018-07-12 08:51] dune73 commented on #1142
Very useful contribution in the making here!

[2018-07-12 12:26] fgsch commented on #1142
I have a patch to fix some remaining parsing issues but I was not happy with the generated AST.
I can push it and we can rework the syntax if the desire here is to ensure the rules are correct.
Thoughts?

[2018-07-12 12:53] csanders-git commented on #1142
I love it... I'm more focused on the front end, making it accessible from both CLI and API. I've pushed up the first version, I'll be adding some of the features I stripped out probably tonight.

[2018-07-12 13:25] fgsch commented on #1142
This should be the last bit of it https://github.com/fzipi/secrules-parser/pull/6

[2018-07-12 15:26] csanders-git commented on #1142
Thanks @fgsch, i'll merge that in here as well. The new stuff is all Python3 compat (or it should be)

https://github.com/CRS-support/secrules_parsing

[2018-07-12 21:31] tonyzeng91 opened #1146 "getting 403 Forbidden for file upload size >5mb"
Hi Team,

I am attempting to upload files to our website, it works fine with small files but when trying to upload files with size > 5mb, I am getting the 403 Forbidden error. Looking at the log, the two rules that is causing the issue looks like rules/REQUEST-949-BLOCKING-EVALUATION.conf and rules/RESPONSE-900-CORRELATION. I am using ModSecurity version 3.0. Any idea where the issue is?

[2018-07-12 21:31] victorhora commented on #996
Hey @csanders-git, I'm checking if I have rights for this change. I'll get back to you on that.

[2018-07-12 21:38] dune73 commented on #1146
You have probably limited the request size. The alert messages should tell you more exactly, what is going on. The correlation rule file is certainly innocent.

If you lack the knowledge to dig to the bottom of this, I suggest you read through the tutorials at netnea.com. Please do not use github to ask questions. This is meant to report bugs or feature requests.

[2018-07-12 21:38] #1146 closed, assigned to nobody

[2018-07-13 00:44] michaelgranzow-avi commented on #1130
In terms of RX compilation, yes. Full evaluation would require extensive testing, of course.

RE2 should be preferred because of its predictable worst-case behavior, the original paper is here:

https://swtch.com/~rsc/regexp/regexp1.html

These are the issues:

1 instance of \Z at end of text, or before newline at end of text (NOT SUPPORTED)
5 instances of \` This seems to be a GNU extension; CRS

[2018-07-13 02:18] csanders-git commented on #996
You should, this is what I think we're talking about

![image](https://user-images.githubusercontent.com/4632287/42669030-8c290d38-8621-11e8-86d6-f1560095a964.png)

[2018-07-13 12:52] cattlemantech opened #1147 "Magento 2 admin URL blocking console issue"
we are using magento 2.2.0 on Nginx 1.15.1 + ModSec CRS 2.0.2. The magento admin URL is being blocked by modsec with below error:
------------------------------------------------------------------------------------------------------------
ModSecurity: Access denied with code 403 (phase 2). Matched "Operator `Eq' with parameter `0' against variable `MULTIPART_UNMATCHED_BOUNDARY' (Value: `2' ) [file

[2018-07-13 12:55] dune73 commented on #1147
The rule ID 200004 points to the brief list of recommended rules that come with ModSecurity itself and not a CRS rule.

Still it is likely a false positive that you may have to work around with a rule exclusion. You may want to check the series of tutorials at www.netnea.com for advice on how to do this.

[2018-07-13 12:55] #1147 closed, assigned to nobody

[2018-07-13 13:28] spartantri commented on #1147
Hi @cattlemantech  that false positive may be caused because the content of the request contains double dash at the beginning of the line if that is your case and it happens often, then as @dune73 suggests deal with the false positive, you may have to disable that rule or adjust your anomaly thresholds and default behavior so that it don't block your requests.

[2018-07-16 03:55] vikas027 opened #1150 "Question - PATCH and DELETE not in default HTTP methods?"
I am just curious to know why are verbs like `PATCH` and `DELETE` are not there in the [default](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-901-INITIALIZATION.conf#L149-L155) list of allowed `http` methods?

[2018-07-16 04:03] csanders-git commented on #1150
TBH it's because the majority of sites don't use them. The most common use case is share point or a rest based site but probably upwards of 95% of sites don't need them and if they were enabled it would be representative of a misconfiguration ( again not REST)

[2018-07-16 04:24] #1150 closed, assigned to nobody

[2018-07-16 17:51] toutougabi opened #1151 "issue with geoip database"
when i reload nginx i get this message

Invalid database type GeoIP Country Edition, expected GeoIP City Edition, Rev 1

also there's a deadline in january 2019 to upgrade to the new version of the database. Any work being done ?

[2018-07-16 18:28] dune73 commented on #1151
This is an issue with ModSecurity. ModSec 2.9.x depends on the legacy DB format that is no longer available. With NGINX and ModSec 3.0.x you are on the safe side as there is support for the new format. Did not try it out together with CRS though. But any feedback is appreciated. Closing this now, but feel free to reopen if it does not work out of the box.

[2018-07-16 18:58] toutougabi commented on #1151
From everything i can see, i'm using ModSecurity-nginx which is based on libmodsecurity which is ModSec 3.

but looking at the python upgrade script, if the new version is using the new geoip format i'm pretty sure you are fetching the legacy format.

in upgrade.py you have this line
url = 'https://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz'

my understanding is that t

[2018-07-16 20:00] dune73 commented on #1151
Reopening the issue. :) Thank you for reporting. We'll handle it.

[2018-07-17 02:50] vikas027 commented on #1150
Thanks @csanders-git  and @dune73 !

[2018-07-20 07:05] emphazer commented on #1137
@dune73 you should definetly add ISO-8859-1 3-5% will need it. especially for older pages

[2018-07-21 04:45] dune73 commented on #1137
Thank you @emphazer.

[2018-07-23 21:21] Xymox1 opened #1154 "PHPbb Forum 3.2.2 ACP control panel access blocked. False Posistive"
The current version, 3.2.2, of the popular PHPbb forum software has a control panel that is blocked by owasp falsely.

[2018-07-24 05:05] dune73 commented on #1154
Thank you for reporting @Xymox1. That sounds like a false positive, possibly several ones.

Can you share your error-log with us, so we can look into it? For other standard software, there are rule exclusion packages. It would be worthwhile to create such a package for PHPbb, but it takes somebody to do it. We could guide you, if you are interested to contribute in such a way.

[2018-07-24 05:24] Xymox1 commented on #1154
Im not skilled enough of a coder for that. Im fairly entry level.
However, I have posted on the PHPbb forum and maybe i can pass this on
and someone there might be more skilled then I

Interestingly, the forum post I did has no responses so far. Considering
the huge number of people using PHPbb and the number of people on the
forum thats pretty surprizing. Normally people respond to posts in
minut

[2018-07-24 17:00] Xymox1 commented on #1154
Well the forum post on phpBB has lit up and filled with idiots.. I will
stand on top of this and see what i can do to get a ruleset for phpBB..

I will look at logs wens and see whats going on. I will also look at
your documentation to see if I can do this. Are there any quick cheat
guides on doing exclusion rules that might help me ? I am a coder and
could, most likely, deal with this. BUT. I can

[2018-07-24 20:41] dune73 commented on #1154
Wow. I feel for you. You went into this phpBB forum discussion without fear. I'm impressed. Sorry to see you ate so much shit from ignorants.

The best introduction to writing rule exclusions is probably my tutorial on tuning CRS at https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/

However, you already stated that you are new to this. So if you can p

[2018-07-25 04:18] Xymox1 commented on #1154
They just got me warmed up and focused ! hahaha... It was fun.. Im
looking forward to beating them up more.. Morons.. Keep in mind I also
stuffed thier own BS up thier butts, like im gonna do some more.. I
enjoyed the one guy who said phpBB NEVER EVER had a security issue. That
was funny.. Oh yea ?? Here have a list of CVEs some at a CVSS of 10...

phpBB is the EXACT reason to run OWASP.

I will l

[2018-07-25 04:44] dune73 commented on #1154
I confirm your statements about phpBB and CRS. It's the very reason we do this.

And the point about CRS is that we do look at context, that's why `cat` does not trigger an alert despite being a dangerous comment in an attack context.

If you want to understand Apache and ModSec and CRS, then working through the tutorials will take you from zero to hero. Looking forward to work with you.

[2018-07-27 02:55] Xymox1 commented on #1154
I PMed the top community manager at phpBB forums and he deleted all the
nasty posts and reprimanded his support people over that phpBB forum
mess. Its now a clean topic. As a whole they are anti-security because
"it causes too many support headaches for us"

https://www.phpbb.com/community/viewtopic.php?f=6&t=2480006

So I have had a little time to look at this. I will be exploring far
more and in

[2018-07-27 05:47] dune73 commented on #1154
It is possible. But in this case, it is far more likely the programmer are exposing a behavior that our rule set considers a possible attack. E.g. phpBB instructs the browser to load a file that CRS considers a Local File Inclusion (-> LFI). I take it it's a false positive.

You should really look at the error log of the server and share it with us to understand the details and to allow me to writ

[2018-07-27 06:40] Xymox1 commented on #1154
Log attached with that section. The pattern match would require the
entire combined knowledge of the Krell to decode ! hahaha.. Im not too
good at regular expressions.

On 7/26/2018 10:47 PM, Christian Folini wrote:

[Thu Jul 26 22:44:25.927104 2018] [:error] [pid 24772] [client 70.162.95.216:49380] [client 70.162.95.216] ModSecurity: Warning. Pattern match "(?i)(?:\\\\x5c|(?:%(?:c(?:0%(?:[2aq]f|5

[2018-07-27 07:48] dune73 commented on #1154
False positives on path traversals.

Add this to your configuration _before_ the CRS includes and you should be fine as far as this false positive is concerned. More are likely to pop up. But we can get them all ironed out together if you like.

[code]

[2018-07-27 08:30] Xymox1 commented on #1154
Awesome :) I understand the issue now too.

Thank you. Let me go play around now and see. Yes i can see how they
will use this directory reference in other places too.

Give me a few days and I will touch base again and update progress :)

On 7/27/2018 12:48 AM, Christian Folini wrote:

[2018-07-27 10:21] lifeforms commented on #1154
@Xymox1 The modsec audit log you posted contained a plaintext password. I have deleted your comment from this thread, but it will remain in the inboxes of people who watch this repo. Please change your password ASAP.

[2018-07-27 11:45] dune73 commented on #1154
Good luck @Xymox1. Looking forward to hear more from you.

[2018-07-27 17:09] Xymox1 commented on #1154
Thank you.

I will touch base once ive had some time on OWASP. Im watching it
deflect things already. Its a REALLY important tool that WAY more people
should deploy. It was great to find it preinstalled and ready to go from
cpanel on my VPS provider. Web app developers really need to test with
it and have their own ruleset exceptions ready and available as needed.
The horrendous bad mindset toward

[2018-07-27 18:53] lifeforms commented on #1154
Forums are a great use case for the CRS, since they are often attacked and sadly suffer from vulns regularly. But forums will need a few exclusions to deal with false positives. You can start minimally. Some that you will probably need:

- new thread, new reply: title field, content field, maybe tag fields need to be excluded
- login, signup: username, password fields
- profile edit: custom fields

[2018-07-28 02:38] Xymox1 commented on #1154
:)

Sadly im just not skilled enough to do what you need. I would love to
take it on and really help, but, my time is strained as is with work and
I travel for work a lot.

phpBB is a ideal target for CRS. The real trick would be to get the
phpBB guys to help. The blow back and moronic attitude I ran into tho
from some phpBB people on thier forum was stunning. Its all erased now,
but, I had suppor

[2018-07-28 04:18] dune73 commented on #1154
Yes, you might want to share the logs privately. Send it or a link to info@coreruleset.org for example. That way private information like passwords is not public.

Good to hear everything seems to work right now. I assume you did not raise the anomaly threshold so far, so that's good news.

[2018-07-28 05:06] Xymox1 commented on #1154
I have not changed anything yet,, but I have not reqally looked over the
logs yet :) So, there might be work to do yet, hahaha...

Yes i included username & passwords as I was concerned it might see some
of that in pattern matching.

You guys should setup your own forum. It takes like 10 mins.

Maybe you guys could approach phpBB and see if they might want to help
with this project ? I will check

[2018-07-28 05:16] dune73 commented on #1154
I've used phpBB before, so I know it's easy. But I do not see our project needing and then using it. However what it takes for a good rule exclusion package is active use, so a quick install would not bring anything useful. It's much better to work with people like you.

If you could give us the contact, I'd try to get in touch. See email address above.

[2018-07-28 12:11] Xymox1 commented on #1154
Wow, I had not looked at your address carefully. so.. This ?

reply@reply.github.com

owasp-modsecurity-crs@noreply.github.com  ?? but this is noreply..

Im checking with the phpBB guys and seeing if someone there wants to
take this on.

On 7/27/2018 10:16 PM, Christian Folini wrote:

[2018-07-28 19:35] dune73 commented on #1154
Better use info@coreruleset.org.

[2018-07-29 14:38] Xymox1 commented on #1154
Welllll... At least 2 of the lower level phpBB guys dont want to do it,
they were security idiots anyway so good they did not want to.

Im still working on it..

Incredible how these phpBB guys TRULY think phpBB its GOD's gift to
programming and immune from every having any bugs.

I think with all my discussion on the forum, or maybe one of you guys,
my server got scanned for exploitablity. The er

[2018-07-31 15:39] welljsjs opened #1157 "FP Nextcloud DesktopClient DAV SQL attack"
My Nextcloud desktop client often gets banned due to false positives by ModSecurity.
I am using CRS 3.0.2.

The following lines were copied from the Apache error log. The IP address and the hostname are changed.
[code]
As there are several rules that take effect, I am not sure how to deal with the current situation.

As a result, ModSecurity often induces a close of the connection.

I am using [Ne

[2018-08-01 06:26] spartantri commented on #1157
Hi @welljsjs
The log you shared contains content which ModSecurity could not parse properly `ARGS:<?xml` if this is a POST request containing pure valid XML then it is missing a content-type like `application/xml` or `text/xml` if it does then what you need is add a rule that switch the body processor to XML

`SecRule REQUEST_HEADERS:Content-Type ^text/xml$ "phase:1,id:87,t:lowercase,nolog,pass,ct

[2018-08-01 06:34] spartantri commented on #1154
sad story :( , you should absolutely add CRS+MAC (selinux or [apparmor](https://www.linux.com/news/protect-your-applications-apparmor)) as this for sure may be the source if many hacks, so where do you stand on this? have you figured how to make your insecure stuff work with CRS already?

[2018-08-01 07:07] 523hu commented on #1016
Hi, @rodrigo-martinez . I am doing an reseacher about detecting web attack by machine learning. But I cannot get the ECML/PKDD 2007 dataset online. I cannot complete the registration in the offical website. Could you send the dataset to me? My e-mail  address  qiangh@2018gmail.com . Thank you very much!

[2018-08-01 10:53] welljsjs commented on #1157
I had a look into the `modsec_audit.log`.
It's actually the Nextcloud Desktop client that sends
`Content-Type: application/x-www-form-urlencoded; charset=UTF-8` instead of `application/xml`.
This is the request body (one of the requests, they all contain xml):
`<?xml version="1.0"?><d:propfind xmlns:d="DAV:"><d:prop><d:resourcetype/></d:prop></d:propfind>`

So I would add the following rule:

[cod

[2018-08-01 12:07] spartantri commented on #1157
No that is too generic, it will break all webforms, instead it is better to do this only for the affected URL's if there is only a few, use an rx (regular expression) match, otherwise, a pmf to save all the affected url into a file and reference it

[code]

[2018-08-01 15:06] rodrigo-martinez commented on #1016
Hi @523hu,
  We have put forward a repository to keep all the datasets about web application attack together,  we ask for the owners' approvals.

   You could access the repository at: https://gitlab.fing.edu.uy/gsi/web-application-attacks-datasets

   Our goal is to continue updating this repository as new dataset are available. Do not hesitate to ask any doubt or problem. We are also open to sug

[2018-08-01 15:52] welljsjs commented on #1157
Yes, that worked. Thank you!

[2018-08-01 15:52] #1157 closed, assigned to nobody

[2018-08-01 16:04] spartantri commented on #1157
Good, @welljsjs if your setup is generic can you provide the fix as a PR for the exception file or send the config you did so we can add the PR.

[2018-08-01 16:14] welljsjs commented on #1157
I think it's a specific fix for nextcloud.
`SecRule REQUEST_URI "@rx ^/nextcloud/index.php/apps/files/.*$" "phase:1,id:200021,t:lowercase,nolog,pass,ctl:requestBodyProcessor=XML"`

[2018-08-02 05:38] dune73 commented on #1157
Thanks for contributing @welljsjs. Are you aware, that v3.1dev comes with Nextcloud rule exclusions packaged? You should be able to try them out with your setup with some manual intervention. See the Nextcloud/Owncloud specific rule file and the config extension in crs-setup.conf in the 3.1 dev branch.

[2018-08-02 08:37] welljsjs commented on #1157
Nope, didn't know that at all. Sounds great! Thank you both!

[2018-08-02 17:27] welljsjs commented on #1157
The new rules are definitely great. However, I think I just came across another FP.
[code]
The browser often requests that file (`/nextcloud/data/.ocdata?t=1533216999587`, where t seems to be the current time stamp) and gets back a 403.
If it happens too often, the user's connection will get closed due to the dos-attack rules, although this is a usual behavior.
I think the rule above should fix th

[2018-08-03 08:02] spartantri commented on #1157
Hi again @welljsjs , it depends, that rule will work if two criteria are met,

1) the variable is already defined
2) you adjust the variable threshold before it reaches the score evaluation that will cause the request drop

In v3.1 that is set in crs-setup by rule 900700 and it is evaluated at REQUEST-912-DOS-PROTECTION so you need to add your rule in between.

You can achieve that using your Apac

[2018-08-07 23:27] cPJasonB opened #1163 "OWASP Rule ID 951120 False Positive on phpinfo"
Similar to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1024

We are seeing that a phpinfo page (PHP version 7.0.31) if placed in index.php in some instances is triggering rule 951120.

Here is the text that is matching the regex from a phpinfo page:

https://regex101.com/r/h9HEvS/1

Here is the error (sanitized of IP address and domain)

`Apache-Error: [file "apache2_util.c"] [line

[2018-08-08 02:23] csanders-git commented on #1163
Hmm interesting. In general i'd feel strongly about blocking phpinfo pages as they can be used to make certain vulnerabilities (like LFI) worse, however not like this... we should rectify this issue, probably by adding more information about the oracle error.