[2018-08-08 07:53] #1096 closed, assigned to nobody

[2018-08-08 11:24] spartantri commented on #1163
@csanders-git maybe we can add a phpinfo finger print and flag this as a particular event (which is usually bad if exposed to internet) and add more details to this rule to avoid false positives as you said.

[2018-08-09 22:02] franbuehler opened #1166 "Bug in new reverse proxy docker container: Parts of crs-setup.conf are deleted"
I think while playing around with the new reverse proxy docker container I have found a problem it, in the docker-entrypoint.sh.

I wanted to add my features from my reverseproxy crs container (https://hub.docker.com/r/franbuehler/modsecurity-crs-rp/) and recognized that the threshold settings are missing in the crs-setup.conf.

I then found out that the lines from 225 to 518 are deleted from the

[2018-08-10 03:49] dune73 commented on #1166
Good find. Maybe it can be fixed for the RC, otherwise for the full release.

[2018-08-10 07:24] seedis opened #1167 "Bypass the latest crs v3.1.0-rc3 rules for SQL injection"
# Vulnerability demo(php+mysql+apache)
test.php
[code]
Download and install the latest v3.1.0-rc3 rules and enable blocking protection for testing.
I found a way to bypass the rules for SQL injection through black box testing.
This method is: **{\`a\`b}** , where a is a special function name, such as if, version, etc., and b is the sql statement to be executed.
Using the method to successfully byp

[2018-08-10 10:02] theMiddleBlue commented on #1167
Hi @seedis

thanks for sharing this! I've done some tests and I confirm that it works on PL1. By increasing the Paranoia Level (>=2) I can't exploit the SQLi anymore because of `942150` and `942100` rules.

I've changed your PHP script in order to make it works with the WordPress DB as follows:

[code]

And used this payload (blind sqli, and something like user enumeration):
[code]

![image](https

[2018-08-10 10:34] dune73 commented on #1167
Thank you for reporting @seedis - and for trying this out @theMiddleBlue.

I do not have a PHP server at hand on the quick, so I tried this out by hand with curl. I took

[code]

But curl is really upset.

Then I took

[code]

and I got the following alerts:

[code]

So 942100 detects this just fine in my case.

Can you guys give me a naked curl call that bypasses CRS and still executes?

Other th

[2018-08-10 10:54] theMiddleBlue commented on #1167
same behavior here :/ using curl it is detected by 942100 but it if I send it using BurpSuite it works. don't know why... I'm trying to figure it out.

[2018-08-10 11:00] dune73 commented on #1167
Glad you checked.

Could you run a tcpdump when doing burp? In cases where curl interferes with the payload, we can also use netcat (nc) for raw socket writing.

[2018-08-10 11:01] seedis commented on #1167
I used the default level when testing.
In fact, {\`a\`b} is just used to bypass the annotations in mysql. The default level annotations are not available, but in {\`a\`b}, you can use annotations to make rules. Bypassed. You can see that the example I gave gives /\*!50000\*/ such an annotation. If you don't use the annotation, you can't bypass the rules. Just like the test case you gave before, yo

[2018-08-10 11:03] theMiddleBlue commented on #1167
ok, interesting findings:

1. the right payload to use with curl is `curl -v "http://wordpress/test.php?id=9999%20or+\{%20%20%20%60if%60(2=(select+2+from+wp_users+where+user_login=\'admin\'))\}"` (I've encoded ``` ` ``` with `%60` and escaped `{` and `}`)

2. If I request it without compression (without `Accept-Encoding: gzip, deflate`) I can bypass libinjection but I went blocked by 951230 `mysql

[2018-08-10 11:13] lifeforms commented on #1167
@dune73 Urlencoded, the payload becomes:

`http://localhost/test.php?id=1%20%20and%7B%60if%60updatexml%281%2Cconcat%280x3a%2C%28select%20%2F%2A%2150000%28%2F%2A%2150000schema_name%29%20from%2F%2A%2150000information_schema%2A%2F.schemata%20limit%200%2C1%29%29%2C1%29%7D`

I noticed that this goes undetected at PL1.

It seems to be a false negative in libinjection:

[code]

But it also seems a false

[2018-08-10 11:15] seedis commented on #1167
@dune73  @theMiddleBlue
If you need to use Boolean injection, you need to wrap the keywords such as select, from, etc. with the extension annotation /\*!50000\*/ in mysql.
![image](https://user-images.githubusercontent.com/39592354/43955193-adaa3db2-9cd1-11e8-90b3-8da38c84f16b.png)

[2018-08-10 11:19] dune73 commented on #1167
I confirm. We have a PL1 bypass. Thank you @theMiddleBlue and @lifeforms.

@lifeforms: Can you open an issue with libinjection?

@theMiddle: The whole encoding trickery is indeed funny, but you should disable deflation towards the application on the ModSec level. With that 951230 becomes always active, but this still leaves us with the blind sqli.

What do we do? Leave it as is (remember: we detec

[2018-08-10 11:22] csanders-git commented on #1167
Defense in depth seems to say we extend our rule and hope lib injection fixes it

[2018-08-10 11:22] dune73 commented on #1167
@seedis: Thank you for explaining this extension annotation. This is dangerous and tricky to detect for us. Good to have sql experts at hand that can explain things as this to us.

[2018-08-10 11:22] lifeforms commented on #1167
I'll report it to libinjection. But libinjection > ModSec 2.9.4 is a long cycle, we can't depend on that.

Maybe @franbuehler could check why `information_schema` is not detected by us. It seems that we have this string in multiple data files:

[code]

Why is it slipping past us?

[2018-08-10 13:35] spartantri commented on #1167
@lifeforms  942140 doesn't match because there is no boundary before information_schema the 5000 is part of the same word so we may add an additional optional word prefix to 942140 and it will work.

something like this:
`(?i:\b(?:\w+)?(?:(?:m(?:s(?:ys(?:ac(?:cess(?:objects|storage|xml)|es)|(?:relationship|object|querie)s|modules2?)|db)|aster\.\.sysdatabases|ysql\.db)|pg_(?:catalog|toast)|informat

[2018-08-10 20:57] franbuehler commented on #1167
As @lifeforms mentioned, the string `information_schema` can be found in different source files:
[code]
The problem in rule 942140 is, as @spartantri said, the word boundary: His solution with the `(?:\w+)?` works!
The problem with the rules 942190 and 942330 is the required non-word character in front of information_schema.
Rule 942190 could also be extended with the `(?:\w+)?`: `from\W+(?:\w+)?i

[2018-08-10 21:01] franbuehler commented on #1166
Just tell me when I can make the PR and against which branch.

[2018-08-11 04:55] dune73 commented on #1167
I agree on the new rule. Yesterday, I mentioned crazy special char combinations like in #425. But thinking some more about this, I no longer propose to combine this. Extension annotation is clearly a specialty of the mysql family. So the rule should stay with the sql rules.

We think there should not be too many FPs, but adding it to PL1 is still post-feature-freeze for 3.1 and we really do not kn

[2018-08-15 16:51] UzuNARUKi opened #1169 "Error - Can not start Apache and shows error "Disruptive actions can only be specified by chain starter rules""
## Type of Issue

Bug fix / incompatibility issue

## Description

We have ModSecurity working for some time, (from december 2017) and we had it working fine since that day without problems with the free rules.

On Thursday 15th we restarted the server and we checked the service on Monday 13th and it worked fine, but on Tuesday 14th the apache service was off and we can not start it and it shows t

[2018-08-15 16:55] csanders-git commented on #1169
There is no known incompatability between v2.9.2 and v3.0.2 (in fact this is the most common deployment). Additionally, modsecurity.conf is provided with ModSecurity itself so something odd is going on. Can you share your modsecurity.conf with us?

[2018-08-15 17:41] UzuNARUKi commented on #1169
Hi;

We have licensed the Mod Security Commercial Rules and they are in the first lines of our modsecurity.conf  configuration file, we commented this line and the apache server started fine.

The incompatability issue seems to be between the CRS rules and these commercial rules,

The rules updated on monday 13th at 22:00 UTC -5 and the problem started at that time.

I writed to them abouts thiis

[2018-08-15 18:16] csanders-git commented on #1169
Perfect, we do not maintain or test integrations with the trustwave rules. They will have to provide support for their integration as needed. If you find out what the problem is please let us know. Thanks

[2018-08-15 18:16] #1169 closed, assigned to nobody

[2018-08-16 10:44] mirkodziadzka-avi commented on #1169
@UzuNARUKi Just curious ... what is the line in your modsec.conf before line 136?  Because the problem is not the SecRule in line 136, but the last SecRule before this line. Which probably includes in "chain".

[2018-08-16 11:32] csanders-git commented on #1169
He probably can't tell us easily since secremoterules is bringing in rules and making a new .conf in memory.

[2018-08-16 11:57] mirkodziadzka-avi commented on #1169
@csanders-git Well, if the last line before 136 is secremoterules, it would confirm that the problem is in the remote rules.

[2018-08-16 12:51] greeniguana10 opened #1170 "REQUEST-941-APPLICATION-ATTACK-XSS rules would not protect against attacks that aren't in the query string"
I've looked through the documentation here:
`https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#ARGS`

And also searched through the `REQUEST-941-APPLICATION-ATTACK-XSS.conf` file.

My understanding is since the `REQUEST_URI` argument isn't present before any of the rules, the full get request would never be passed to any of the regular expressions and any XSS attack that i

[2018-08-16 13:46] dune73 commented on #1170
No, I think you are wrong. In ModSec, this is all about the phases. Most of the rules in 941 are in phase 2, and this is where the ARGS collection is fully populated with query strings and parameter out of the request body.

[2018-08-16 13:46] #1170 closed, assigned to nobody

[2018-08-16 13:56] theMiddleBlue commented on #1170
Agree with @dune73. The user-agent shouldn't send the `fragment` part to the web server. On the exercises mentioned by @greeniguana10, the payload leads to a reflected XSS just because the `fragment` it's included client-side... creating a script element using DOM (`includeGadget(getGadgetName());` that get it by `window.location.hash.substr(1)`).

[2018-08-16 14:12] greeniguana10 commented on #1170
Oh ok, thanks for letting me know. So the regular expressions in 941 are intended to be applied to the entire GET request if the line `phase:request` is present?

I'm asking as I'm writing a script to analyse apache log files using the ModSec regular expressions and am getting a lot of false positives when I apply some filters such as `XSS Filter - Category 5: Disallowed HTML Attributes`. Where th

[2018-08-16 14:18] dune73 commented on #1170
What version of CRS are you using? And could you post some of the alert messages out of the error- or audit-log?

[2018-08-16 14:29] greeniguana10 commented on #1170
Using `OWASP_CRS/3.0.0` and applying the regular expressions in `REQUEST-941-APPLICATION-ATTACK-XSS.conf` and `REQUEST-942-APPLICATION-ATTACK-SQLI.conf` to the request lines of apache log files using a python script which I've written to identify malicious GET requests (as part of a University project)

I'm just concerned about whether I'm applying these filters correctly - since I mentioned I am

[2018-08-17 07:53] theMiddleBlue opened #1171 "Adding PHP wrappers (others than php://)"
Hi!

reading this awesome presentation https://github.com/s-n-t/presentations/blob/master/us-18-Thomas-It's-A-PHP-Unserialization-Vulnerability-Jim-But-Not-As-We-Know-It.pdf It would be nice to create a new rule (in addition to `933140` `PHP Injection Attack: I/O Stream Found`) in order to intercept `file://`, `zlib://`, `data://`, `glob://` and `phar://`.

I intentionally omitted `http://` and `f

[2018-08-17 15:54] spartantri commented on #1171
Absolutely, I was searching something similar about other http schemes

This could lead to bypasses or possible issues LFI/RFI/RCE/SSRF/XSRF/etc
Data URI scheme
https://en.wikipedia.org/wiki/Data_URI_scheme
`data:[<media type>][;base64],<data>`

`<img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAHElEQVQI12P4//8/w38GIAXDIBKE0DHxgljNBAAO9TXL0Y4OHwAAAABJRU5ErkJggg==" alt

[2018-08-17 15:58] theMiddleBlue commented on #1171
thanks @spartantri

I think I've made an error on the regex... `scheme://[^/]+` probably it should be something like `scheme://(/[^/]+|[^/]+)`... isn't it?

or `scheme:[/]{0,3}` but I'm worried about FP with `data:` or `file:` I'm thinking about something like `'{commentid:123, data:"foo"}'`

[2018-08-18 13:42] theMiddleBlue commented on #1171
Ok, I've spent some time to create a vulnerable "upload file form" in order to test the PHP injection with the `phar://` wrapper. I think that can be useful in order to test the new rule. This is what I've done:

Assuming that a user can upload files and has full input control over the `file_exists()` function, it seems possible to call `__wakeup` and `__destruct` method of any class. I've done a

[2018-08-22 01:21] ghost opened #1174 "why existed so many bugs with my deploy openresty1.13+modsec-v3+crs-v3.2"
### errors Show
[code]
### MyNginx

[code]

[2018-08-22 01:32] ghost commented on #1174
and  crs3.0 run well but not run well with dos-attack

[2018-08-22 01:53] csanders-git commented on #1174
These tickets are related to modsecurity 3 and incompatibility with modsecurity v2. Please report issues with modsecv3 on https://github.com/SpiderLabs/modsecurity

[2018-08-22 01:53] #1174 closed, assigned to nobody

[2018-08-22 02:54] actanble commented on #1174
@csanders-git OK,  thank you

[2018-08-22 03:02] ghost commented on #1174
@csanders-git Thank you, and i have write a issue there

[2018-08-22 14:55] UzuNARUKi commented on #1169
This was the answer from Spider Labs:

"......There’s a chance that the problem is related with the way that some ModSecurity v2 builds process line endings leading to the parser being confused waiting for another rule when there’s a chained rule.
We’ve performed some changes (basically changing line endings) ....."

After that I eneabled again the commercial rules and restarted Apache and it work

[2018-08-23 15:30] anush-cr opened #1175 "FP 942360: create charge triggers this rule"
## Type of Issue
incorrect blocking (false positive)

## Description
Matched Data: create char found within ARGS:q: create charge
`curl localhost:80?q=create%20charge`

## Your Environment

* CRS ver.3.0.2
* ModSecurity 3.0 with nginx

## Confirmation

[x] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2018-08-28 09:22] theMiddleBlue commented on #1175
confirmed, it matches **942360** in PL1:

[code]

[2018-08-29 20:49] dune73 opened #1178 "Fix anomaly scoring in 933190, 932180, 920341; complete response rules are doing this wrong too"
## Type of Issue
Clearly a bug fix

## Description
@fgsch noticed on slack that the rule ids above are not setting the anomaly scores for the PLs correctly. Not sure how this happened. Maybe merge failures.

It seems that this whole executing PL stuff does not cover the responses at all. Should be checked seperately.

## Your Environment
irrelevant

## Confirmation

Check rules of IDs name in titl

[2018-08-29 21:23] fgsch commented on #1178
Also 920470 and 932190.

[2018-08-30 01:09] fgsch commented on #1178
This should also be applied to 3.2

[2018-08-30 19:57] franbuehler commented on #1175
The regexp `create\s+char\s?[(]?` on line 4 (https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/util/regexp-assemble/regexp-942360.data#L4) matches the string `create charge`.

How about adding a word boundary just after the word `char`?
`create\s+char\b\s?[(]?`

The strings `create char(`, `create char (` and `create char` still match.

I would add a word boundary to the other rege

[2018-09-04 10:47] qazbnm456 opened #1181 "Bypass the latest CRS v3.1.0 rules of SQL injection"
## Type of Issue
False Negative

## Description
Per https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1167, I wanna raise more FNs in this thread.

Before getting into other FNs, I want to give out more information to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1167 so as to help the maintainers fix the issue quickly. There're two problems lead to those SQLi bypasses, and t

[2018-09-07 10:27] DuncanMcArdle opened #1182 "False positive on any page containing "<b>WARNING</b>:""
## Type of Issue
Incorrect blocking (false positive)

## Description
Mod Security with OWASP's rule set is blocking any page containing `<b>WARNING</b>:` (case insensitive, colon required). It cites the "RESPONSE-953-DATA-LEAKAGES.conf" file but I can find no reference to it in there.

[code]

## Your Environment

* CRS version: 3.0.2
* ModSecurity version: 3.0.0 (NginX)
* Web Server and version:

[2018-09-07 13:35] csanders-git commented on #1182
If I have to guess this is a pretty general anti SQL iinfo leak rule that we'll have to make less general

[2018-09-08 12:46] jschleus opened #1183 "Doubled entry "/.env" in file "rules/restricted-files.data""
Probably only a minor flaw: The entry `/.env`in the file `rules/restricted-files.data` exists twice (but not in owasp-modsecurity-crs-3.0.2.tar.gz).

[2018-09-08 14:55] csanders-git commented on #1183
Good eye, I'll make a PR to fix this now.

[2018-09-09 06:25] dune73 opened #1185 "Request body disrupted due to issues with 944220"
As mentioned during the community chat, I have isolated an issue with the new JAVA rules in connection with chunked JSON payloads that lead to ModSec cutting a response short.

There is a certain chance that special local configuration of when the JSON body processor is called is playing into this.

I am not yet able to reproduce it, but it's definitely there and should be fixed before 3.1. I'm wo

[2018-09-10 09:04] ghost commented on #1132
@csanders-git did it caused by the vision of modsecurity-nginx, and my deplyment with nginx1.13 + modsec:v3 + crs310  alse  produce this error;

[2018-09-10 14:48] theMiddleBlue opened #1186 "FP on Content-Type: application/csp-report"
When using the Content-Security-Policy "report-uri" parameter that targets the web application itself and a policy violation occurs, CRS blocks the browser's report request .

## Type of Issue
Incorrect blocking (false positive)

## Description
Rule `920420`blocks content-type `application/csp-report` on request generated by the browser when a CSP violation occur. In order to accept this by defaul

[2018-09-13 01:39] victorhora commented on #967
@lifeforms I'm afraid this hasn't been fixed in libInjection yet. Please see https://github.com/SpiderLabs/ModSecurity/issues/1723#issuecomment-420853197

[2018-09-13 04:03] dune73 opened #1188 "False positives on 942130 when query string variable separator is ";" instead of "&""
## Type of Issue

False Positive at PL1

## Description

When an application uses "`;`" as variable separator in the query string instead of the more widespread "`&`" then this leads to FPs on 942130 (SQL Injection Attack: SQL Tautology Detected) quickly.

Example payloads:
[code]

## Your Environment
* CRS version 3.0.2 and onwards
* ModSecurity version: 2.9.2
* Web Server and version: latest apa

[2018-09-13 04:28] dune73 commented on #1188
Maybe, setting `SecArgumentSeparator` in ModSec is the solution, but can we advise people to do that?

[2018-09-13 12:36] lifeforms commented on #1188
`SecArgumentSeparator` is not always great in my experience.

If I recall correctly, `SecArgumentSeparator` also changes the parsing of POST request bodies.

There is some software which uses `;` as a separator in GET query strings, but POST forms are generated normally with `&` as separator. Now when I used `SecArgumentSeparator`, GET query strings were parsed, but forms checking was broken... So

[2018-09-19 03:37] hbt19860104 opened #1189 "Is dos protection only for the same tcp link"
Hi!
I saw the rules coresponsed  to dos protection all accumulating based on individual http request. So, it will not work if dos attack doesn't use keep-alive connection. Does my opinion correct？
Thanks a lot!

[2018-09-19 07:06] dune73 commented on #1189
No, that is not correct. CRS initializes a session bound to the client IP address. ModSecurity allows to do that. You can see this session on the last line of the rule that you quote.

[2018-09-19 07:06] #1189 closed, assigned to nobody

[2018-09-26 09:31] dune73 opened #1190 "False Negative: UA "Wappalyzer" is not detected"
## Type of Issue

False Negative

## Description

The following User-Agent
[code]
is not being detected. The software is used to finger print webservers and application servers.

See https://www.wappalyzer.com/.

The UA should be added to the scanner date file `scanners-user-agents.data`.

## Your Environment

irrelevant

## Confirmation

[X] I have removed any personal data (email addresses, IP a

[2018-09-26 13:53] csanders-git commented on #1190
Adding it now.

[2018-09-26 13:54] csanders-git commented on #996
We're still waiting on this almost a year later any update @victorhora? Is this the typical response timeline we should expect?

[2018-09-26 13:56] csanders-git commented on #1190
Ready for review.

[2018-09-26 13:56] #1190 closed, assigned to nobody

[2018-09-27 03:35] dune73 commented on #1185
I am still working on this bug. I was able to confirm it, but I was not able to reproduce it without the help of a  commercial user-agent that bumped into the problem first.

[2018-09-27 07:34] vladbukin commented on #996
After July 13 passed 76 days or about 3 months and this is about 1/4 of a year. Is this a typical understanding of the calendar we should expect?

[2018-09-27 12:00] csanders-git commented on #1185
let me know when you track it down a bit more.

[2018-09-27 17:35] dune73 commented on #1185
Will do. Keeping my fingers crossed I'll manage. I'm a wee bit desperate here. Can't sniff the traffic so far and audit-log does not show the payload. :(

[2018-09-27 17:43] dune73 commented on #996
Guys, please stop with this passive aggressive tone.

@vladbukin: I appreciate you standing up for Trustwave as is your job. But the request to have our code repository and also modsecurity.org point to our website at https://coreruleset.org is a lot older than this issue. At least a year. And the promise to fix it too.

@csanders-git: I understand your frustration, but let's not vent in public.

[2018-09-29 21:31] fzipi commented on #1116
This was already merged. Should we close it?

[2018-09-29 21:33] fzipi commented on #1142
We could add that repository and others that we use in the CRS support to some document. What do you think?

[2018-10-01 03:36] dune73 commented on #1142
That sounds like a good plan. I'd welcome that.

[2018-10-01 03:36] dune73 commented on #1116
Yes.

[2018-10-01 03:36] #1116 closed, assigned to nobody

[2018-10-01 11:41] itsecbern opened #1193 "False positives on default configuration Synology NAS"
## Type of Issue
Incorrect blocking (false positive)

## Description
When I try to access my Synology NAS DSM over my Reverse Proxy with mod_Sec enabled;
The follwing false positives happen:

log entry.
`[Mon Oct 01 13:25:53.024250 2018] [:error] [pid 16620] [client 83.150.xx.xx] ModSecurity: Warning. Pattern match "(?i:(?:^[\\\\W\\\\d]+\\\\s*?(?:alter\\\\s*(?:a(?:(?:pplication\\\\s*rol|ggregat)e|

[2018-10-01 12:15] dune73 commented on #1193
Thank you for reporting @deepwather.

Your false positives boil down to the following problem:

[code]

This happens on the URI `/webapi/entry.cgi` for the parameters action (11 times) and sort_direction (2 times) with the following values:

[code]

So you have two separate false positives on the same rule.

As a workaround, I suggest you remove the rule in your configuration via the following dir

[2018-10-02 05:26] dune73 commented on #1185
Outcome of community chat on slack last night:

@lifeforms feels the first regex in the chained rule could be the reason for the bug. Given the payload, @dune73 supports this idea.

For 3.1, we will drop the rule in favor of 944240 that has a very similar purpose.
@dune73 will handle the PR and @lifeforms  will review and merge.

If @dune73 manages to consistently reproduce this, we will contact @

[2018-10-02 05:40] dune73 opened #1195 "Coordinate workaround to persisting ModSec3 bug with URLENCODE body processor"
We need to cover for https://github.com/SpiderLabs/ModSecurity/issues/1797

Here is the plan as discussed in the community chat on slack last night:

* ModSec has merged a bugfix, but no release so far.    We informed ModSec several months ago and lately contacted Joe Hopp via mail.
* But no sign of a release before we ship 3.1.
* We are disappointed by ModSecurity, but we also think shipping 3.1

[2018-10-02 11:10] dune73 commented on #1195
URLENCODE: Need to confirm the bad news. It's the parser at startup time.

ModSec nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /tmp/crs-3.1-RC1/rules/REQUEST-901-INITIALIZATION.conf. Line: 289. Column: 119. Expecting an action, got:  ctl:requestBodyProcessor=URLENCODED" in /opt/nginx-1.13.12/conf/nginx.conf:21

[2018-10-02 23:14] fgsch commented on #974
This has been fixed.

Whether we want to sanitize the T-E codings (potentially including the extensions) should be addressed in a separate issue/PR.

[2018-10-02 23:14] #974 closed, assigned to nobody

[2018-10-05 04:46] spartantri commented on #1185
Hi @dune73,
Have you tried to use burp interception proxy in transparent mode? that way you set burp in a local port and it will forward everything to the modsec server and you get a full capture of the traffic.
What is this issue about?
I have been very busy so got out of the loop.

[2018-10-05 04:54] dune73 commented on #1185
The commercial user-agent running into this problem is a Windows fat client. So far we did not manage to get access to the local port in order to dump the traffic. This might be me or the guys running the client, but it's still a roadblock.

We **believe** this bug is a rare ModSec bug due triggered by a labour-intense rule, 944220, under very rare conditions that we can not reproduce with standar

[2018-10-05 08:44] itsecbern opened #1197 "False positives on default Nextcloud exception enabled"
## Type of Issue
Bug fix of Nextcloud exclusions -> (false positives)

## Description
Nextcloud exclusions is enabled in configuration as follwing:

Now when I try to upload files to Nextcloud or use the online txt-editor over the web-UI;
The follwing "Path Traversal Attack" false positives happen.

The problem here is, that nextcloud uses four various paths for the file-upload:
->> The paths are:

[2018-10-05 09:15] dune73 commented on #1197
Thank you fro your submission @deepwather.

Here is my summary of your Alerts:

1 Requests triggered an XML parser error. That's either a broken XML file you are uploading, or it's a ModSec / libxml bug.

The rest as follows:

[code]

**911100**: Misconfiguration. You should allow the PUT method

**920240**: Your XML refers to the following file: /files/%video/%0001-12-30T00:34:08+00:34:08
%video

[2018-10-05 20:23] dune73 commented on #1185
This is solved in #1198 as planned above (Removal of rule 944220).

The difference between 944240 and 944220 is the two keywords `runtime` and `processbuilder` that are missing in 944240.

[2018-10-05 20:24] dune73 opened #1199 "Lots of unnecessary comments in 944"
The 944 rule file has a lot of comments that deal with how the rules have been shuffled around during the PR creation. This should be removed before the release.

## Type of Issue

Superflous comments

## Description

See above.

## Your Environment

irrelevant

## Confirmation

[X ] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2018-10-05 20:26] jlfranklin commented on #786
I just got this on my Roundcube instance where an email could not be sent.  Sanitized log entry below:

[code]

[2018-10-06 03:49] dune73 opened #1200 "Deal with X-HTTP-Method-Override header and friends"
CRS is not handling / preventing the use of the optional X-HTTP-Method-Override header.

## Type of Issue

Feature request

## Description

* https://www.infoworld.com/article/3249687/web-development/how-to-implement-a-delegatinghandler-for-x-http-method-override-in-web-api.html
* https://vulncat.fortify.com/en/detail?id=desc.dynamic.xtended_preview.often_misused_http_method_override

We're talkin

[2018-10-08 20:40] franbuehler commented on #1166
Resolved in PR #1168 and #1201.

[2018-10-08 20:40] #1166 closed, assigned to nobody

[2018-10-09 12:30] Dhariaj opened #1202 "Rule Question"
## Type of Issue
Issue with the rule
![image](https://user-images.githubusercontent.com/38356060/46669391-4a339a80-cb9d-11e8-9560-ae4503339cd8.png)

## Description
We are using modsecurity rules as part of the NGINX plus configuration and yesterday and one of our vendors was having some issues getting their requests through.  After sniffing through the logs we found out that the following rule was

[2018-10-09 13:02] dune73 commented on #1202
Rule 200002 is a rule that comes together with a very small group of recommended rules distributed with ModSecurity.

-> https://github.com/SpiderLabs/ModSecurity/blob/v2/master/modsecurity.conf-recommended

Sorry for the inconvenience.

I'm closing this now.

[2018-10-09 13:02] #1202 closed, assigned to nobody

[2018-10-09 13:58] Dhariaj commented on #1202
@dune73
Let me add some details, this is a GET request with application/json and valid JSON being returned but it is still causing the rule to trigger

[2018-10-09 14:05] dune73 commented on #1202
Yes, this is unfortunate, but you are talking to the wrong project.

This is the issue tracker of the of the OWASP ModSecurity Core Rule Set project. You have a problem with a rule by the ModSecurity project itself. ModSec only recommends like 5 rules. This is one of them.

[2018-10-09 14:07] Dhariaj commented on #1202
ok I will post it to the other project

[2018-10-15 10:37] lifeforms commented on #1195
I've shot a few e-mails to Joe at Trustwave about how the CRS now breaks on newest ModSec 3. So far TW has not committed to a ModSec 3 release.

[2018-10-15 12:27] dune73 commented on #1195
Thanks @lifeforms.

You can lead a horse to water, you can't make it drink.

[2018-10-15 13:15] spartantri commented on #1195
That's sad, it is one big hole in a default install, maybe ModSec 3 is for use in servers where clients are well behaved and always stick to RFC's.

[2018-10-15 13:25] spartantri commented on #1200
I can smell a full header whitelist in PL4 or is it the birth of PL5 with a full set of whitelists for better 0day protection?

[2018-10-15 14:56] dune73 commented on #1200
I think a full header whitelist in PL4 would be a good feature.

[2018-10-15 15:05] spartantri commented on #1200
Me too, maybe we can ask some CDN also fellow ISPs to share the stats of header names they see traversing their networks so we can start building `http-headers.data` and the `9205**` rule set

[2018-10-18 06:45] dune73 opened #1206 "Monthly Chat: Agenda for November 18 (2018-11-05)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, November 5, at 20:30 CET.

Items on the Agenda

* https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1210.
* Sorting out redundant changes in PR #1214 and PR #1187
* https://github.com/SpiderLabs/owasp-modsecurity-crs/pulls
* 3.1.0 release scheduled
* 3.

[2018-10-23 02:33] meigea opened #1211 "I want to Know how can i make rule to manage the param -length in request-header or response-header?"
# Want a Help

i want to know how to set the param length in phaser:(request/response) the request-header params like proxy,  cookie, refer, user-agent and so on.

## what i  known
i know the params REQUEST_HEADERS:User-Agent, but i cant get the length; i want to know what's the length-fun that like \@ length_func

[2018-10-23 03:34] dune73 commented on #1211
I do not think this is an issue with our project and I do not think this is the ModSecurity support forum. But if you look up the documentation and read it, you will stumble over the t:length transformation.

[2018-10-23 03:34] #1211 closed, assigned to nobody

[2018-10-25 08:55] meigea opened #1212 "The modsecurity.log sometimes will not produce new log util i restart nginx"
what're the problem that my modsecurity.log will not produce sometimes. then it will run well util i restart nginx ... i run the command `nginx -s reload` also not use. is there log-pid that i don't now but existed?

my env:
- openresty 1.13
- modsec3
- crs-302

[2018-10-25 10:50] lifeforms commented on #1199
I removed the extra comments in commit 424f664.

[2018-10-25 10:50] #1199 closed, assigned to nobody

[2018-10-25 10:59] lifeforms commented on #1212
This seems not a problem with the CRS ruleset but with the WAF engine (Modsec3) therefore I will close this issue.

For support on Modsec3 the best thing you can do probably is e-mail the ModSecurity mailinglist: https://sourceforge.net/projects/mod-security/lists/mod-security-users

[2018-10-25 10:59] #1212 closed, assigned to nobody

[2018-10-25 11:01] lifeforms commented on #1183
Thanks for reporting!

[2018-10-25 11:01] #1183 closed, assigned to nobody

[2018-10-25 12:16] muzammel111 opened #1213 "check_upload_uri required warnings relates to REQUEST-914-FILE-DETECTION"
Dear All,
My environment info is below.

Apache = 2.2
Modsecurity version = 2.9.2
CRS version = OWASP_CRS/3.1.0

Issue = My web server error logs has been full for every requests as per below warning messages.

[Thu Oct 25 17:02:16 2018] [error] [client 193.222.106.30] ModSecurity: Warning. Match of "within %{tx.protected_uploads}" against "TX:check_upload_uri" required. [file "/etc/httpd/modsecur

[2018-10-25 13:13] zimmerle commented on #1212
Hi @meigea,

Please disregard @lifeforms comment. I am afraid the malign list is _not so popular_, therefore unlike to get an answer there. Specially for version 3 (...). On other hand the **GitHub project** is very active. Thus, I wold like to invite you to visit [ModSecurity for nginx on GitHub](https://github.com/SpiderLabs/ModSecurity-nginx).

[2018-10-25 17:07] spartantri commented on #1213
Hi @muzammel111 this is a setting that was left there unnecessarily for now adjust 9142050 and remove the log action, it should use your defaults not its own.
Will fix it later today if I can.

[2018-10-26 09:40] lifeforms commented on #1212
Thanks @zimmerle will send people over there from now on :P

[2018-10-26 18:54] muzammel111 commented on #1213
Hi @spartantri Thankyou so much for your guidance and support. Please let me know, is file signature working to check every file ? or it works to scan the content of a file ?. As i just by copying test.pdf (orginal pdf) file to test.png and modsecurity not give me any alert or block request, and test.png file open in url with error content type message.

[2018-10-27 00:36] spartantri commented on #1213
Hi @muzammel111 the current version only checks for binaries, the other checks were dropped to be included in a future version

[2018-10-27 02:27] zimmerle commented on #1212
Thank you @lifeforms, I really appreciate.

[2018-10-27 04:22] realpg opened #1215 "913100: Request blocked by # in User-Agent"
sogou.com (A chinese search engine) image spider's normal request marked security scanner.

I wanna recieve alerts of being scanned, but not a normal spider request.

`ModSecurity: Warning. Matched "Operator `PmFromFile' with parameter `scanners-user-agents.data' against variable `REQUEST_HEADERS:User-Agent' (Value: `Sogou Pic Spider/3.0(+http://www.sogou.com/docs/help/webmasters.htm#07)' ) [file

[2018-10-27 11:14] lifeforms commented on #1215
Hi @realpg, thank you for your report! You have stumbled upon a false positive. You are correct that this request must not be blocked!

Thank you for posting the audit log.

You have hit rule 913100, because of a `#` character in the User-Agent: `Matched Data: # found within REQUEST_HEADERS:User-Agent: Sogou Pic Spider/3.0(+http://www.sogou.com/docs/help/webmasters.htm#07)`

This should not happen

[2018-10-27 13:50] muzammel111 commented on #1213
Right @spartantri, thankyou for the information.

[2018-10-30 17:39] fruviad opened #1216 "Documentation error: Incorrect URL in crs-setup.conf.example"
Lines 37-39 of https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/crs-setup.conf.example state:

 The CRS assumes that modsecurity.conf has been loaded. If you don't have this
 file, you can get it from:
 https://github.com/SpiderLabs/ModSecurity/blob/master/modsecurity.conf-recommended

That URL is incorrect.  Loading it results in a 404 error from the server.

I'm guessing that pe

[2018-10-30 19:27] lifeforms commented on #1216
Thanks so much! Will fix.

[2018-11-01 14:03] ghost opened #1217 "nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs/rules/REQUEST-914-FILE-DETECTION.conf. Line: 71. Column: 85."
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /usr/local/owasp-modsecurity-crs/rules/REQUEST-914-FILE-DETECTION.conf. Line: 71. Column: 85. Expecting a variable, got:  :  S}: %{MATCHED_VARS}',\ in /etc/nginx/nginx.conf:28
nginx: configuration file /etc/nginx/nginx.conf test failed

Nginx Version - 1.15.5
Mod-security - v3/master
Owasp Rules - 3.2/dev

[2018-11-01 15:09] zimmerle commented on #1217
Hi @Shubham-Panwar,

This is actually a problem in ModSecurity. The parser needs to understand two variables in a sequence, which is not yet the case. In the meanwhile, you can put any character in between the two variables in question.

[2018-11-01 16:54] ghost commented on #1217
can you please tell me exactly where do i need to put the character here  ?

[code]

[2018-11-01 18:45] zimmerle commented on #1217
I messed up everything. My fault.

The problem here is that there is no ***MATCHED_VAR_NAMES***  in ModSecurity. The correct name is ***MATCHED_VAR_NAME*** or ***MATCHED_VARS_NAMES***.

**Implementation on version 2**:

https://github.com/SpiderLabs/ModSecurity/blob/49495f1925a14f74f93cb0ef01172e5abc3e4c55/apache2/re_variables.c#L912-L922

https://github.com/SpiderLabs/ModSecurity/blob/49495f1925a

[2018-11-01 19:17] fzipi commented on #1217
@zimmerle We kind of have that already in https://github.com/CRS-support/secrules_parsing. And is v2 and v3 compatible.

[2018-11-01 19:25] fzipi commented on #1217
This is fixed in #1214 .

[2018-11-01 19:28] fzipi commented on #1217
Applied fix.

[2018-11-01 21:21] zimmerle commented on #1217
Good to know. In addition, you may want to also consider to use the ModSecurity rules-check utility. As it seems to catch that cases that is not being catch by the that tool. It servers well both: v2 and v3 as they are compatible rule-wise.

[2018-11-02 05:27] victorhora commented on #1217
@fzipi

I think #1214 could be a duplicate of what's already included in PR https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1187. That PR should also fix typos in other places.

[2018-11-02 15:24] fzipi commented on #1217
@victorhora I see. Do you think I should revert then?

[2018-11-02 18:13] victorhora commented on #1217
Hummm, I'm no expert in Git, but maybe the easier thing to do might be leaving #1214 as is and then just change #1187 accordingly before merging. I think GitHub should be able to handle this as well.

My comment was more of a reminder that we may still have issues with these things and being so consider merging #1187 in addition to #1214 @fzipi ;)

[2018-11-02 18:31] hrirm opened #1224 "Issue with rule id:960038 while accessing to a web service with some browser (safari 5.1.7 for windows and some other smartphone browsers)"
## Type of Issue

error 403 in apache

## Description

[error] [client XXX(ip address)] ModSecurity: Access denied with code 403 (phase 2). String match within "/Proxy-Connection/ /Lock-Token/ /Content-Range/ /Translate/ /via/ /if/" at TX:header_name. [

file "/etc/httpd/modsecurity.d/activated_rules/modsecurity_crs_30_http_policy.conf"] [line "100"] [id "960038"] [rev "2"] [msg "HTTP header is re

[2018-11-03 05:11] dune73 commented on #1224
You are using an outdate version of CRS and bumped into a false positive.

If you upgrade, it should be gone. Otherwise, please see https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/ to learn how to deal with false positives.

[2018-11-03 05:11] #1224 closed, assigned to nobody

[2018-11-04 11:11] #1216 closed, assigned to lifeforms

[2018-11-05 19:47] csanders-git opened #1227 "Ensure that all rules with ARGS also consider XML:*"
## Type of Issue
Feature Request

## Description
In general we'll like to have XML considered for all rules, where it is evaluated. This can be done by adding the TARGET of XML:* to the rules. But we need to be careful to ensure only the rules that need it, get it. Starting with rules that have ARGS, is a good start

## Confirmation

[x] I have removed any personal data (email addresses, IP addres

[2018-11-05 19:56] spartantri commented on #1227
I think that `XML:/*` would be the equivalent for `XML` to `ARGS` in `URLENCODED`, so it makes sense to have them together by default

[2018-11-05 20:03] lifeforms commented on #1215
I've been unable to reproduce this yet. Without an exact ModSecurity version it might be hard to resolve the problem, do you have any info @realpg ?

[2018-11-05 20:44] lifeforms commented on #1215
If the issue is confirmed, we might quickly workaround it by removing the lines containing just `#` in pmFromFile. Those lines with bare `#` chars are only in `scanners-user-agents.data`.

[2018-11-05 21:19] dune73 commented on #1215
Confirmed for ModSec 3.0.2 on nginx. Thank you for reporting @realpg.

And you are right @lifeforms, it's the `#` on an empty line that leads to ModSec3 adding `#` to the @ pmf operator.

Workarounds (all tested)
* Remove the `#`
* Replacing `#` with `##`
* Replacing `#` with `#<SPACE>`

The latter results into a trailing space. That's not so nice. But then removing the almost empty lines would no

[2018-11-05 21:19] dune73 commented on #1215
I'm opening an issue with modsec.

[2018-11-06 04:06] dune73 commented on #1215
This is a known issue with ModSecurity: https://github.com/SpiderLabs/ModSecurity/issues/1645

[2018-11-06 10:52] lifeforms commented on #1215
Added workaround for this issue to CRS 3.1 and 3.2 branches.

Thanks @realpg for the report and @dune73 for the quick investigation!

@dune73 Can you re-test and close this issue if it's been resolved to your satisfaction?

[2018-11-06 11:34] dune73 commented on #1215
Workaround solves this nicely. Thank you.

[2018-11-06 11:34] #1215 closed, assigned to dune73

[2018-11-06 19:01] ghost opened #1232 "Kindly, consider adding support for Wordpress Gutenberg editor."
Kindly, consider adding support for Wordpress Gutenberg editor, Which is going to be the default editor from 5.0 release of Wordpress.

currently all of Gutenberg functions gives 403 errors.

Owasp rules are currently blocking WP Gutenberg **autosaves, uploading pictures , saving post , etc.**

Default Wordpress Exclusions ruleset is enabled, But there are no rules for **Gutenberg** in the Default

[2018-11-06 19:19] dune73 commented on #1232
Thanks for reporting @Shubham-Panwar. We would definitely add support if somebody were to write the
necessary rule exclusions. We can lend a hand with that, but it takes somebody who uses Gutenberg to push this. Interested?

[2018-11-07 16:30] lifeforms commented on #1232
I can take on this project.

It's too late for inclusion in CRS 3.1, but it would be a good feature for the next release.

@Shubham-Panwar Are you able to help us with testing, by cloning the development branch of the CRS and checking if it works correctly? That would be awesome.

[2018-11-07 16:54] ghost commented on #1232
Yes, sure

[2018-11-09 08:51] EeroV opened #1234 "please add detectivy to scanners-user-agents.data"
## Type of Issue

add detectify to scanners-user-agents.data

useragent data:

"Mozilla/5.0 (compatible; Detectify) +https://detectify.com/bot/ed2230ece7206bf5da08e6ca677b08ee7dbae2d8"

So, I think Mozilla/5.0 (compatible; Detectify)  is enought to filter this scanner.

## Description

## Your Environment

* CRS version (e.g. v3.0.2):
* ModSecurity version (e.g. 2.9.2):
* Web Server and version (e

[2018-11-09 08:58] dune73 commented on #1234
Thank you for reporting @EeroV. We'll definitely cover this. Maybe we can fit it into the upcoming release.

Personally, I think "Detectify" as string would be most successful.

[2018-11-09 14:36] fzipi commented on #1217
So this was fixed in #1229 , and backported to v3.1/dev in #1233.
I'm closing this one now, and will create a new issue to consider using the ModSecurity rules-check utility.

[2018-11-09 14:36] #1217 closed, assigned to nobody

[2018-11-09 16:01] emphazer opened #1236 "duplicate rule id in crs-setup.conf"
## Description

duplicate rule 900270
## Your Environment
3.2/dev

[2018-11-09 17:36] dune73 commented on #1236
Ooops.

[2018-11-14 15:14] blappm opened #1237 "False Positive in Rule 941100"
From the Logs we found that the following example is matching as a false positive (URLs have been obfuscated):

`[Wed Nov 14 15:32:13 2018] [error] [client XXX.XXX.XXX.XXX] ModSecurity: Access denied with redirection to https://www.sample.ch/ using status 302 (phase 2). detected XSS using libinjection. [file "/etc/apache2/mod_security2.d/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "64"]

[2018-11-14 20:43] dune73 commented on #1234
This is implemented in PR #1235 thanks to a PR by @theMiddleBlue. It has also been backported to the upcoming 3.1 release by @csanders-git. Closing this now.

[2018-11-14 20:43] #1234 closed, assigned to nobody

[2018-11-14 20:54] dune73 opened #1238 "Monthly Chat Agenda for December 2018 (2018-12-03)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, December 3, at 20:30 CET.

Items on the Agenda:

## PRs
* #1205 Fixing executing paranoia level counters (this was done for 3.1 separately)
* #1172 Add rule 933200 PHP Wrappers
* #1156 Missing Java Classes
* #1124 Drop unneeded capture groups
* #1113 Add NGINX

[2018-11-15 12:51] dune73 opened #1239 "Coverage of Ismael Tasdelen's list of xss payloads"
List at https://github.com/ismailtasdelen/xss-payload-list

[2018-11-15 21:23] dune73 commented on #1237
Thank you for reporting @blappm. I confirm you conclusion, yet there is little we can do.

This false positive is based in the sql injection operator of ModSecurity, which is based on the libinjection library. So if you want this fixed, you should file a bug report with https://github.com/client9/libinjection.

Are you able to write a rule exclusion to work around this false positive yourself? If

[2018-11-15 21:23] #1237 closed, assigned to nobody

[2018-11-16 13:02] bryn1u opened #1240 "Expecting an action, got: ctl:requestBodyProcessor=URLENCODED" i"
## Type of Issue

## Description

## Your Environment

* CRS version (e.g. v3.0.2):
* ModSecurity version (e.g. 2.9.2):
* Web Server and version (e.g. apache 2.4.27):
* Operating System and version:

## Confirmation

[ ] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

Hey,

I have downloaded owasp-modsecurity-crs v3.2 and have a

[2018-11-16 13:27] lifeforms commented on #1240
@bryn1u You are doing nothing wrong, this is a known issue with ModSecurity 3.0.0-3.0.2.

Upgrading your ModSecurity engine to 3.0.3 should solve this problem! :)

If you are not able to upgrade but need to get up and running, you can temporarily remove the offending line, but it will disable a security feature so we don't recommend this in production:

`/usr/local/etc/modsecurity/rules/REQUEST-90

[2018-11-16 13:27] #1240 closed, assigned to nobody

[2018-11-16 14:59] lifeforms commented on #1195
ModSecurity 3.0.3 has been released (much thanks @zimmerle :D ) which should resolve this problem!

[2018-11-16 14:59] #1195 closed, assigned to nobody

[2018-11-16 15:10] lifeforms commented on #967
@victorhora You are right, it's still an issue in libinjection it seems. I'll close this issue since we already have #820 which is the same issue. I'll keep that bug open to keep track of it. Thanks!

[2018-11-16 16:09] lifeforms commented on #820
FYI a possible fix for this libinjection FP is discussed in:

https://github.com/client9/libinjection/pull/143

[2018-11-18 08:54] saoulim opened #1241 "projectmsi"
## Type of Issue

## Description

## Your Environment

* CRS version (e.g. v3.0.2):
* ModSecurity version (e.g. 2.9.2):
* Web Server and version (e.g. apache 2.4.27):
* Operating System and version:

## Confirmation

[ ] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2018-11-18 10:31] lifeforms commented on #1241
This issue seems to be missing some content.

Please re-submit with the necessary information if you have found a problem! Thanks!

[2018-11-18 10:31] #1241 closed, assigned to nobody

[2018-11-19 12:20] blappm commented on #1237
The bug is serious. We've got multiple false positives each day, for example 'online' is matching as well.

Pull request is filed:

https://github.com/client9/libinjection/pull/143/files

[2018-11-22 11:29] edhgoose commented on #659
I've noticed this same issue occurs with Amazon Linux.  `yum info mod24_security` returns:

[code]

And we get this error:

[code]

I'd be happy to add another comment to the KNOWN_BUGS, would you like me to open a PR as such?

[2018-11-22 11:33] csanders-git commented on #659
@edhgoose this is a packaging issue with mod security. The packager has not included yajl. Unfortunately, this is not a crs issue. You can reach out to the mod security team but they will likely let you know that it is at the discretion of the packager. Fortunately, you can still compile modsec from scratch with yajl to get json support. Hope this helps.

[2018-11-24 20:03] tunetheweb opened #1244 "False positives on 920300 and should it be PL3?"
## Type of Issue
Incorrect blocking (false positive)

## Description
Many agents don't send an Accept-Header. Admittedly they probably should but it's not a mandatory header in HTTP. For example Twitter bot:

[code]

I like that you have added exceptions for those user agents that are known to sometimes not send this (e.g. AppleWebKit and Android), so should we add TwitterBot to this? And probably

[2018-11-24 20:16] tunetheweb opened #1245 "False positives on 920274 for From Header (including GoogleBot)"
## Type of Issue
Incorrect blocking (false positive)

## Description
GoogleBot uses brackets in it's from header which flags rule:

[code]

I know this is a PL 4 rule, so false positives are expected, but GoogleBot is pretty common so should do something to prevent it flagging.

Additionally this is expected to be an email address (https://tools.ietf.org/html/rfc7231#section-5.5.1) the fact the ru

[2018-11-25 04:46] dune73 commented on #1244
You have a point here and we definitely did not the rule in PL1 anymore. But it's also a sure way to identify a malicious bot. Shifting it to PL3 for the future is an option.

[2018-11-25 06:08] #1206 closed, assigned to nobody

[2018-11-25 12:35] tunetheweb commented on #1244
Alternatively it may be useful for anomaly scoring (since it gets a low "notice" weight which isn't sufficient to block on it's own), but it is less useful for Self-Contained (aka Blocking) mode that some of us prefer to run in (mostly to reduce noise).

Should this rule (only potentially others) only apply to Anomaly scoring mode? Or is that a bad precedent to set?

[2018-11-25 16:35] tunetheweb commented on #1244
Actually looking at it some more it seems like rule 920300 (plus some others - e./g. 920320) will never block in Self-Contained (aka Blocking) mode as the action is set to `pass` rather than `block`. Is this intentional?

[2018-11-25 19:25] gordan-bobic opened #1246 "False Positive Blocks Grafana"
## Type of Issue
False Positive

## Description
Rule:
[code]

Error Log:
[code]

Audit Log:
[code]

## Your Environment
* CRS version: 2.2.9
* ModSecurity version: 2.9.2
* Web Server and version: Apache 2.4.6
* Operating System and version: CentOS 7.5

## Confirmation

[2018-11-25 19:53] dune73 commented on #1246
Thank you for reporting. Unfortunately, you are using an outdated version of CRS.

CRS 3.0.0 came out two years ago. It solves over 90% of the false positives. Please upgrade!

[2018-11-25 19:53] #1246 closed, assigned to nobody

[2018-11-25 21:52] dune73 commented on #1244
Yes, it's one of very few rules that stand at pass. AFAIK this rule was always set to pass. With anomaly scoring, you can make it block by lowering the threshold to 2. (See how much more flexible anomaly scoring is :)

[2018-11-25 22:10] tunetheweb commented on #1244
Nah, it used to block: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v2.2/master/base_rules/modsecurity_crs_21_protocol_anomalies.conf

And I don’t want to make it block. As I say I think this rule is kind of pointless. While I agree most HTTP clients (e.g. browsers) send this, so the absence of it suggests a non-standard client, I still don’t think that’s enough to warrant this rule: I

[2018-11-25 22:54] tunetheweb opened #1247 "Add support of Paranoia Levels to non-anomaly mode"
## Type of Issue
feature suggestion

## Description
It seems to me that the Paranoia Levels (PL) only work in anomaly scoring mode. Let me know if this is not the case as only just upgraded to CRSv3 recently and may have missed this.

I think these are good features but some, like myself, prefer Blocking mode to reduce noise and have a black or white view of rules (they either fire or they do not

[2018-11-29 10:51] MZSN opened #1248 "ModSecurity: JSON parsing error: lexical error: invalid char in json text."
I am getting the error written in the title whenever my application hits my server. It is blocking all requests even the login requests as well. The difference only here is I have used end to end encryption. Is it why I am getting this error?

[2018-11-29 13:14] csanders-git commented on #1248
This sounds like a modsec question in which case you'd be better suited asking on the modsecurity GitHub. The answer is likely going to be changing what pages are treated as JSON. But there are numerous other factors such as what version of mod sec you're using and what other information is being displayed

[2018-12-03 04:28] dune73 commented on #1247
With the introduction of executing paranoia level in 3.1, this is now very hairy. I think it would complicate the whole rule construct very much for something, that is more and more a niche case. You are like the only person I know that has not adopted the anomaly scoring mode.

If you really want this, then I suggest you remove the branching rules by means `SecRuleRemoveById`. For rule file 910 a

[2018-12-03 15:20] blappm opened #1249 "Catch XSS quoting variable injections if the webserver target code is vulnerable to those attacks"
This is a suggestion to attacks like the following one:

`https://testurl.testdomain.test/myphpcode.php?userid=%22hacker&msg=blabla%27);alert(1);},1)}`

If the bad code just accepts the variable as it is and doesn't remove the quotes, it will be possible for attackers to inject javascript code into the destination page if this variable is rendered as an element or printed as a message.

CRS: 3.02

[2018-12-03 16:38] dune73 commented on #1249
Thank you for your suggestion @blappm.

Your payload is currently caught by the following rules, none of them in the default installation:

[code]
I assume you want this caught in the default installation / PL1 too.

Other opinions?

[2018-12-03 19:51] lifeforms opened #1250 "Add Nginx+libmodsec to our Travis testing"
We have automated testing running on Apache + ModSec 2.9, but not yet for Nginx + ModSec 3.

This would be useful as this combination is becoming more common and the active development on ModSec 3 requires also us keeping more close tabs on our compatibility.

[2018-12-03 20:13] lifeforms commented on #1250
Duplicate of #1113. Please look better before opening issues, thanks.

[2018-12-03 20:13] #1250 closed, assigned to csanders-git, franbuehler

[2018-12-03 20:35] lifeforms opened #1251 "Auto-create documentation about rules"
Users who want to upgrade don't have a clear view of new ruleIds and their functionality.

We've talked a bit about creating a "rule zoo" with metadata taken from the CRS repo (paranoia level, rule type, attack class, platforms). Can we also import the relevant comment block above the rule?

We have to automatically import changes from the repo, otherwise it will get stale.

TBD: use cases - publi

[2018-12-03 20:36] lifeforms commented on #1251
@lifeforms and @christiantreutler-avi will have a chat about this and make a proposal.

[2018-12-03 20:38] lifeforms commented on #1251
Not a showstopper for CRS 3.2 but labeled it to not forget it.

[2018-12-03 21:10] #1238 closed, assigned to nobody

[2018-12-04 01:54] zimmerle commented on #1250
@lifeforms That is indeed a great idea. Notice that you may not need nginx to test v3. Unless you want to test the nginx connector. Using the regression test schema is a way faster and gives you more precise results. Let me know if you need any help.

[2018-12-04 11:26] csanders-git commented on #1249
thanks for the report @blappm. I wanted to put a little more context onto this request. Is this injection you're describing specific to injections in a JS context (i.e a dev has allowed an attacker to inject content between <script> tags)? I'm thinking it is, but let me know if i'm misunderstanding. Just trying to think of possible solutions :)

[2018-12-04 12:19] blappm commented on #1249
@csanders-git

It's worse. The source page calls itself with an error-message variable named 'msg'. This message is untested printed with javascript alert(). PHP quoting wasn't helpful here because those quotes were not html special chars ...

I'm sure there are other bad usage examples where developers programmed bad code.

[2018-12-04 12:35] blappm commented on #1249
@dune73

I just had a look at this, thank you.

Looking at the regex in rule 942110 it's much more simpler and doesn't catch all edge cases. And of course it leads to false positives since it catches balanced quotes within variables.

Why aren't you taking my example and move it to L1 ?

[2018-12-04 12:56] blappm commented on #1249
My regex didn't catch backticks. I've added this too to make it match 942110 more closely:

`SecRule ARGS "@rx (?:[\x27]\s*[\;\)\}\]\+\-\<\>\=\!](?:(?![\x27])|.*[\x22\x60]|[^\x22\x27\x60]+)$|[\x22]\s*[\;\)\}\]\+\-\<\>\=\!](?:(?![\x22])|.*[\x27\x60]|[^\x22\x27\x60]+)$|[\x60]\s*[\;\)\}\]\+\-\<\>\=\!](?:(?![\x60])|.*[\x27\x22]|[^\x60\x27\x22]+)$)" \
    "msg:'XSS Injection: Unbalances quote(s) found

[2018-12-06 16:22] Cryptophobia commented on #1195
Thank you for the work in convincing the ModSecurity team for a new release to fix compatibility with the CRS. Really appreciate your work @lifeforms @dune73

[2018-12-06 17:27] lifeforms commented on #1195
@Cryptophobia well sure but don't forget to thank the ModSec development team who are doing the work :P

[2018-12-06 17:51] dune73 commented on #1195
You are most welcome @Cryptophobia. The biggest benefactor was probably us not being ready for a release far too long so TW was quicker with their planned release.

[2018-12-09 21:29] dune73 opened #1258 "Create whitelist rules at PL3 for most important HTTP request headers"
See #1137 for reasoning.

We need to make sure that HTTP header pollution and header bypasses are ruled out. At least in PL3.

Candidates for whitelisting:
* Content-Type
* Content-Length

Possible additional headers:
* Authorization
* Connection
* Cookie
* Host
* Range
* Referer
* User-Agent
* Via

[2018-12-09 21:30] dune73 commented on #1137
Closing in favor of #1258.

[2018-12-09 21:30] #1137 closed, assigned to dune73

[2018-12-11 15:56] franbuehler commented on #1061
Solved in PR #1256.

[2018-12-11 15:56] #1061 closed, assigned to franbuehler

[2018-12-11 16:05] franbuehler opened #1259 "Test Apache Struts Vulnerabilities and Exploits 2018"
Issue #1061 and PR #1256 relate to Apache Struts Vulnerabilities from 2017.
In 2018, there are some Apache Struts vulnerabilities and exploits that should be tested.
The CVEs could then be added to comments as it was done in PR #1256 for 2017.

[2018-12-12 22:23] dune73 opened #1260 "Fix broken FTW tests and enable them in Travis"
I thought we were covered as far as FTW tests were concerned, but unfortunately, we have 78 failing tests and it seems travis is no fully enabled.

* 4 of the failing tests are in 920
* 74 of the failing tests are in 944

Here is the list:

* 920120-2
* 920130-1
* 920130-2
* 920400-1
* 944100-11
* 944100-12
* 944100-15
* 944100-16
* 944110-11
* 944110-12
* 944110-15
* 944110-16
* 944120-5
* 944120

[2018-12-13 01:11] csanders-git commented on #1260
I'll take a look not sure why this is the case

[2018-12-15 11:29] franbuehler commented on #955
In my opinion, this FP has been solved.

In Commit https://github.com/SpiderLabs/owasp-modsecurity-crs/commit/0d5110dcebefa1b845a06635d267b20b03d378c7, `ARGS` has been replaced with `ARGS_GET`. The post body is thus not checked anymore.

The problem was, that the minimum payload `\n\s:` triggered rule 921160:

[code]
In the RFC 2616 (https://tools.ietf.org/html/rfc2616#page-31) I can not see if a

[2018-12-15 16:09] lifeforms commented on #955
Agreed @franbuehler IIRC we removed the POST content exactly because of this problem - Thanks for the detailed review!

[2018-12-15 16:18] #955 closed, assigned to franbuehler

[2018-12-15 18:14] franbuehler commented on #955
Thank you @dune73 and @lifeforms for the confirmation. I closed the issue.

[2018-12-16 07:56] franbuehler commented on #1259
I looked for Apache Struts, Oracle WebLogic, and Java Remote Exploits from 2018 and found these 3 CVEs in the Exploit DB:

**Apache Struts**
CVE 2018-11776

Exploits:
- https://www.exploit-db.com/exploits/45262
- https://www.exploit-db.com/exploits/45260

**Java**
CVE 2018-2380

Exploit:
- https://www.exploit-db.com/exploits/44292

**Oracle WebLogic**
CVE 2018-2628

Exploit:
- https://www.exploit-

[2018-12-17 11:48] dune73 commented on #672
Did a new review of the payloads above (including new PR #1161 JSFuck rules). I thought this useful since 3.1 brought slightly adjusted rules that used request parameters in a different way for some rules, which resulted in higher scores.

* Payload 1:  5/5/15/28
* Payload 2:  0/0/10/23
* Payload 3:  5/26/47/60
* Payload 4:  0/0/13/26
* Payload 5:  5/23/44/57
* Payload 6:  5/5/23/41

So the releva

[2018-12-17 12:31] lifeforms commented on #672
I think for payload 2, we could add a blacklist of javascript event handlers: onerror, onload, etc. False positives could be a concern, but I'd be willing to try that out in production for a while to see if that's really a problem. In case of FP, we could create a sibling for the problematic ones at paranoia level 2.

I'm not really sure what we can do against payload 4.

[2018-12-17 13:12] dune73 commented on #672
On the bright side, I can't seem to have payload 4 execute. Do you have more luck?

Do you want to open an issue for payload 2 (I think we talked about this before) and we close this one here?

[2018-12-17 13:24] dune73 commented on #276
This is still not added and given our lack of knowledge for everything LDAP we would rely on @dnkolegov's word to go and include this into our rule set.

So @dnkolegov, are you actively using this rule on your server(s)? Any feedback with regards to false positives?

[2018-12-17 15:06] cyberblackhole opened #1262 "XSS not getting detected"
The URL am expecting to get blocked is:

`http://example.com/search.aspx\?txtSearch\=\<script\>alert\(1\)\</script\>`

**Logs and dumps**

Output of:
 1. DebugLogs (level 9)
[code]
Steps to reproduce the behavior:

`curl http://example.com/search.aspx\?txtSearch\=\<script\>alert\(1\)\</script\>`

**Expected behavior**

The above request should be blocked and I don't know why it is not getting bloc

[2018-12-17 16:29] lifeforms commented on #672
Yes I'm not sure if payload 4 contains anything dangerous by itself.

Want me to do a PR for payload 2? Looks like it could be a quick job.

[2018-12-17 19:48] dune73 commented on #672
That would be very cool. If it's easy, then please go ahead.

[2018-12-18 08:27] dune73 commented on #1262
Hey @Goron,

Sorry for the inconvenience, but I think there is something wrong with your setup.

Here are my results:

[code]

[2018-12-18 08:27] #1262 closed, assigned to nobody

[2018-12-18 09:55] dnkolegov commented on #276
This rule was developed and used within a proprietary Positive Technologies' Application Firewall. I do not remember customer requests regarding this rule. But I have not been working there for 2 years, so I do not have actual information.

[2018-12-18 09:59] dune73 commented on #276
Thank you for writing in again, @dnkolegov!

So what do we do guys: I see this as a new paranoia level 3 rule, or we drop the endeavour despite the good contribution by @dnkolegov because we simply lack the knowledge to support this.

[2018-12-18 10:28] lifeforms commented on #276
I would argue to bring back the rule in the default set (paranoia level 1). Vulnerability to LDAP injection may be somewhat rare, but nevertheless it's a well published attack class, I could see it being important to enterprise users, and even OWASP and Webappsec wikis have extensive pages on it.

The LDAP injection rule was present in CRS 2.x but removed, I have no data why, but I can't recall ev

[2018-12-18 21:59] dune73 opened #1263 "List of hidden directories and files (published research)"
There is a new article with hidden files and artefacts that we ought to detect. Yet there are some that we ignore:

https://medium.com/@_bl4de/hidden-directories-and-files-as-a-source-of-sensitive-information-about-web-application-84e5c534e5ad

[2018-12-19 06:32] yuynagforhacker opened #1264 "Image causes interception (930110 -> /../ in binary)"
Hi:
Recently, there has been a problem that has been bothering me. When I upload the image, the image binary exists ../ and I know this is not compliant, but there is no way to make smart judgments. This has affected my business and needs help. thanks

[2018-12-19 07:57] lifeforms commented on #1264
You are touching on a problematic rule in my opinion. I also have regular trouble with this rule and I wonder if we can make it better.

Is it possible for you to share the image, so we can see the surrounding bytes? If it's private, please don't post it on Github. But if it's okay, it could help us to improve the rule.

Also, can you post the relevant part of your audit log? (Often in /var/log/mo

[2018-12-19 08:07] yuynagforhacker commented on #1264
Of course, but because the picture is too large, the overall binary is too much to copy, the points involved in the binary can be copied, and my audit is fully recorded (from A to Z) and UTF-8
`Matched Data: ../ found within REQUEST_BODY: ......\u0013�=\n�../\u001b���\u0001h\u0005��!��.....`

[2018-12-19 08:10] dune73 commented on #1264
What rule are we talking about exactly?

[2018-12-19 08:14] yuynagforhacker commented on #1264
"message": "Path Traversal Attack (/../)"
"file": "/usr/local/nginx/conf/owasp-modsecurity-crs/rules/REQUEST-930-APPLICATION-ATTACK-LFI.conf"
"lineNumber": "55"
"ruleId": "930110"

[2018-12-19 08:18] yuynagforhacker commented on #1264
Is it because I am using UTF-8 encoding?

[2018-12-19 08:20] dune73 commented on #1264
Thanks. No, I presume this is just a question of statistics. It's only 4 characters and you have a large binary file...

[2018-12-19 08:23] dune73 commented on #1264
@lifeforms : Do we really need to check REQUEST_BODY here? We ignore the query string, but we inspect the request body. Does not make much sense.

@yuynagforhacker : Are you familiar with writing rule exclusions?

`SecRuleUpdateTargetById 930110 !REQUEST_BODY`

entered in the config after the CRS include should do the trick.

[2018-12-19 08:28] yuynagforhacker commented on #1264
So there is actually a problem here. Can I exclude it according to the file type of POST? For example, all images will not be detected, not a single rule, because I believe that all rules have probabilistic false positives.

[2018-12-19 08:36] dune73 commented on #1264
Sure. Such an exclusion is possible. But you will need to write it yourself.

You may find my tutorials at https://netnea.com a helpful resource when tuning away false positives.

[2018-12-19 08:38] yuynagforhacker commented on #1264
OK, thanks.

[2018-12-19 08:43] dune73 commented on #1264
You are welcome. I'm reopening the issue, so we can solve it for good. :)

[2018-12-19 10:13] lifeforms commented on #1264
I really hate that this rule has REQUEST_BODY and not ARGS. It makes it almost impossible to write a good exclusion.

This is also not the first complaint by a user about it, so I think we should slate it for 3.2.

I had already made an issue to discuss the problems with this rule: #597 so we can close this one.

Thank you for bringing it to our attention again @yuynagforhacker :D

[2018-12-19 10:13] #1264 closed, assigned to nobody

[2018-12-19 10:23] dune73 commented on #1264
ACK

[2018-12-19 10:24] lifeforms commented on #597
Another person was bitten by this problem in #1264.

One big problem is the rule running on `REQUEST_BODY` instead of `ARGS`.

Another problem with the rule is that `../` is a too eager pattern. This sequence happens too often in the middle of benign content. In-house I use a different rule for this, that triggers only on:

- `^../` start of string
-  `"../` start of a json-encoded string
-  `/../

[2018-12-19 10:36] lifeforms opened #1265 "Improve FP on SQLi heuristic rules with chains"
We have some rules which are problematic in terms of FP:

- 942440 SQL Comment Sequence Detected, triggers on `--`
- 942450 SQL Hex Encoding Identified, triggers on `0x1234`

They are very common in cookies, people entering forms, and especially in tokens which are getting more and more common.

(It's demonstrated by the presence of these ruleIds in our exclusion packages, but I've also about 30 m

[2018-12-19 10:55] franbuehler commented on #1259
**tl;dr**
Good news: 3 out of 4 exploits are detected by the CRS.
The one not detected is based on the WebLogic T3 protocol, not HTTP, so not relevant to us.

I propose to add CVE 2018-11776 to the comments of rules
- 933161
- 933160

And to enhance the Java rule 944130 with REQUEST_FILENAME. But I do not know what that would mean in terms of FP? @spartantri?

**Details**

CVE 2018-2380 (Java: SAP

[2018-12-20 07:31] yuynagforhacker commented on #1264
Thanks all.
At present, if there is no false positive after the rule is corrected, replace `..\ ../` with `\..\ /../`. Of course, I believe there will be a better solution, and any regular expressions may be triggered.

[2018-12-20 07:40] yuynagforhacker commented on #1264
Another problem that has appeared today is also about pictures. I don't know if it is related to photoshop. The rules that trigger are as follows:
[code]
Since php is not used in my server, this rule is currently closed. This rule blocks most of my business images and is shared with everyone here.
[code]

[2018-12-20 09:03] lifeforms commented on #1264
Hi @yuynagforhacker,  that's one of the things I'm thinking of :) We will be discussing it in the existing issue #597 so if you are interested please follow that bug!

[2018-12-24 08:12] franbuehler commented on #1259
**CVE-2018-2380**

I tested the exploit https://www.exploit-db.com/exploits/44292.

This exploit triggers 37 rules! A few of them twice or more.

[code]

Unfortunately, the error.log format is changed by a few errors, so that, among other things, message ids are missing:
[code]

I managed to detect the message ID by the regular expressions in the error.log file.

Here is the complete list of trigg

[2018-12-25 21:02] dune73 commented on #276
OK. Let's do that. I'll prepare a PR.

[2018-12-25 21:03] #1185 closed, assigned to dune73

[2018-12-25 21:10] lifeforms opened #1271 "933150: New tests failing"
I've added two tests for rule 933150 in #1268. The tests succeeded then, but they seem to be failing now for an unknown reason:

[code]

https://travis-ci.org/SpiderLabs/owasp-modsecurity-crs/builds/472175453

Tests are also succeeding when I run them locally in my owasp/modsecurity:v2-ubuntu-apache docker...

Link to the two changed tests: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/

[2018-12-25 21:21] dune73 commented on #1271
Confirm. Tests run fine locally here too.

[2018-12-25 21:27] dune73 commented on #1271
@csanders-git : could you take a look at travis? What other options do we have? We need to fix this quickly. Development is has picked up some steam and not being able to do CI would kill our enthusiasm.

[2018-12-26 12:04] dune73 opened #1272 "Agenda for Monthly Chat: January 2019 (2019-01-07)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, January 7, at 20:30 CET.

## Items on the Agenda:

### PRs
* #1276 JWall AuditConsole Outbound Anomaly Scoring Requirements
* #1270 Drop unneeded capture groups (the final 2 rules)
* #1261 New rule 941360 to detect JSFuck and Hieroglyphy at PL1
* #1156 Missing

[2018-12-29 07:55] lifeforms commented on #1271
The problem was found and fixed by @fgsch in #1273.

[2018-12-29 07:55] #1271 closed, assigned to nobody

[2018-12-29 08:02] lifeforms commented on #1186
This was fixed in #1242, thank you @theMiddleBlue !

[2018-12-29 08:02] #1186 closed, assigned to nobody

[2018-12-30 20:59] lifeforms opened #1274 "PHP function name bypasses"
In PHP code, functions are called like `system('uname')` which triggers our PHP function names blacklist. However, PHP functions can also be called as follows:

[code]

Can we block these patterns, for instance with a regular expression?
Probably would be in a higher paranoia level.

[2018-12-31 11:47] theMiddleBlue commented on #1274
I think that the idea on rule 942430 about matching anomaly number of special chars is a good way to block this kind of patterns. Probably just for `[]()"'.` could be enough.

I didn't think about this, cool!

[2019-01-02 13:25] spartantri commented on #1274
We will catch it as excessive non word chars and things like that not properly classify it as php injection bypass attempt, do somebody knows how to write transforms? it would be really nice to have the php equivalent `t:phpdecode` functionality to that of `t:cmdline` for bash as there will be a lot of possible combinations of this.

[2019-01-02 17:40] theMiddleBlue commented on #1274
yeah! it would be nice to have something that executes string concatenation syntaxes like: `(sy.(st).e."\x6d")` in `system`

[2019-01-04 09:48] mum-viadee opened #1277 "Upgrade of the MAxMind GeoLite country database fails with HTTP error 404"
## Type of Issue
Error upgrading geoip database

## Description
As the legacy version of the geoip database has been discontinued and is not longer available on the MaxMind webserver, the upgrade script "util/upgrade.py" gets an HTTP error 404 when started with --geoip.

## Your Environment
* CRS version:  v3.1.0
* ModSecurity version: 2.9.0-1 (Ubuntu package version)
* Web Server and version:  ap

[2019-01-04 12:50] dune73 opened #1279 "Submit CRS to stackshare.io"
https://stackshare.io is a place where online sites describe their stack so people get to see what other sites are using in terms of software. Apache is there, NGINX is, ModSecurity and CRS are not.

Submissions can be made via mail or twitter. It's probably smart to plan this a bit, add the logo and start a campaign to tell people to pick CRS on the sight.

[2019-01-04 12:51] csanders-git commented on #1279
Interesting never heard of this but I think it makes sense what is the level of effort

[2019-01-04 12:59] dune73 commented on #1272
For the record: we have hit 1500 stars on github!

![tmp](https://user-images.githubusercontent.com/618722/50689182-e1877d00-1028-11e9-9910-36341263369c.png)

Done with the help of https://seladb.github.io/StarTrack-js/ .

[2019-01-04 15:06] dune73 commented on #1277
Sorry for the inconvenience and thank you for pointing this out. Did not think of this so far.
We'll need to find a solution here.

Are you familiar with the work of @emphazer that allows you to transform the GeoIP database and continue to use it with ModSec 2.9? https://github.com/emphazer/GeoIP_convert-v2-v1

[2019-01-04 21:46] emphazer commented on #1277
@dune73 maybe we should discuss this problem Monday at chat to find a solution.

[2019-01-05 19:19] dune73 commented on #1277
Yes, that's a plan. Please add it to the agenda.

I would not mind integrating your script into CRS so we could offer people a CRS solution to the pending problem. Not strictly in line, but as a helper script...

[2019-01-05 19:44] dune73 opened #1280 "Review response rule scoring (many rules are not critical)"
Many, many response rules score at severity error and not critical like the
request rules. This leads us to outgoing anomaly default threshold being 4 instead of 5.

We should revise this and possibly raise most of the rules to severity critical and the default threshold to 5.

[2019-01-07 20:09] fgsch opened #1281 "Ensure capture groups are referenced in the rule or chain"
As discussed during today's meeting (ref #1272), it'd be great if we could check if the capture groups are referenced in the rule or chain as part of the CI job.

As a plus we could also check if capture is specified.

[2019-01-07 21:08] lifeforms commented on #1277
Hi @mum-viadee , as you have heard in the above comments, our project member @emphazer has created a tool to convert a modern GeoIP database to the legacy format which can be used with ModSecurity 2.x.

We have discussed if we can bring the conversion utility into the CRS tree and make it part of our upgrade script, so that all CRS users automatically have it. However for this moment we have decid

[2019-01-07 21:08] #1277 closed, assigned to lifeforms

[2019-01-07 21:38] franbuehler commented on #1259
If we extended rule 944130 (https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-944-APPLICATION-ATTACK-JAVA.conf#L139) with REQUEST_FILENAME, we would cover two exploits for CVE 2018-11776 Apache Struts.

Both exploits did not trigger any of the java rules. I had a look at the existing rule 944130, which checks for java keywords from java-classes.data.
The problem with

[2019-01-07 21:43] #1272 closed, assigned to nobody

[2019-01-08 15:02] spartantri commented on #1259
I vote to add REQUEST_FILENAME as suggested by @franbuehler this will also help in case there are weird rewrite rules in place turning /id/d into id=d and that kind of things

[2019-01-08 15:19] dune73 commented on #1259
Looking through the data file, I think we are quite safe with regards to FPs. I'd say a PR is due.

[2019-01-09 16:50] welljsjs commented on #597
Sorry for interfering, but I recently ran into the same issue.

I was just curious whether there's any update on this.

What's the reason for not using `ARGS` instead of `REQUEST_BODY`?

[2019-01-09 19:41] lifeforms commented on #597
I wish I knew, BUT my patience with this rule is getting thin. Let's fix it in the next release.

[2019-01-10 16:34] dune73 opened #1285 "Create unit-test to check for rule range"
In the standard rule files, we should only allow 9xxxxx rule IDs.
In the rule exclusions, we should only allow 9xxxxxx rule IDs.

3.1 was released with 9xxxxxx rule IDs within the REQUEST-914 file. And that's really annoying.

[2019-01-10 16:51] lifeforms commented on #1285
REQUEST-914 was not present in 3.1.

(But I don't disagree with some kind of linting on this!)

[2019-01-10 21:49] #1259 closed, assigned to franbuehler

[2019-01-11 09:47] dune73 commented on #1285
Ah, yes. We postponed this from 3.1. Thanks for pointing this out. I'm so much on 3.2 now, I got nervous, when I saw the PR #1284.

[2019-01-16 14:33] Tensibai commented on #762
@dune73 Just spent a while understanding an issue occuring every 50 mins on a load test on our setup which is exactly this one, I'd suggest reopening.

My setup of Dos protection (pretty high):

[code]
What happens is that 912150 increase the collection counter on each request if the request is within the `SecCollectionTimeout 600`.
The counter keeps increasing as long a there's requests within 10

[2019-01-16 14:40] spartantri commented on #762
Hi, @Tensibai rule execution order has nothing to do with numeric rule id, rules are executed in the order they are loaded into your configuration, also, we try to avoid as much as possible rule id changes on already existing rules as it usually causes issues in many deployments exceptions.

[2019-01-16 14:51] Tensibai commented on #762
@spartantri I didn't ask for a rule number change, I asked for changing:

In [912171](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-912-DOS-PROTECTION.conf#L259):

`SecRule IP:DOS_BURST_COUNTER "@ge 1" \` by `SecRule IP:DOS_BURST_COUNTER "@ge 2" \`

In [912170](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-912-DOS-PROTECTION.conf#

[2019-01-16 14:56] Tensibai commented on #762
As I've probably been unclear, the actual state with stock rules in Paranoia Level 2 is that with a regular stream of requests, the IP will be blocked after `dos_counter_threshold` requests regardless of the `dos_burst_time_slice` value.

[2019-01-18 16:40] celesteking commented on #762
`dos_counter` never expires. This should be fixed either by rethinking the rule logic or by adding expiration time.

[2019-01-22 23:30] ghost commented on #1227
Taking this issue. I think I understand it, and if that's the case, I'll have it done in two weeks...testing for a cert this weekend or would have it all sooner :)

[2019-01-22 23:33] ghost commented on #1263
@dune73 Do you mean updating this file? https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/restricted-files.data

If so, I'm going to be greedy and take the other "good first issue" if I can 💯

[2019-01-22 23:44] ghost opened #1289 "Enable SSL on the Docker CRS Proxy"
## Type of Issue

Feature suggestion for Dockerfile of ModSecurity.
## Description

ModSecurity should allow SSL as well on this proxy. Simple SSL termination for now on this proxy would be fine.

I know how to do this for the most part as I spent forever configuring it for another project. Could I create a pull request with the code required (will just extend current Dockerfile and Entry Point sc

[2019-01-23 01:46] csanders-git commented on #1289
Great idea I'll get right on this

[2019-01-23 17:27] strangegitter commented on #1151
This does not appear to have been fixed yet; is there any ETA?

[2019-01-23 20:31] dune73 commented on #1151
It has been fixed by axing the update script. ModSec 2.9.x is not getting support for the "new" GeoIP format.

However, there is a script that converts the new format to the legacy format that works with ModSec 2.9.

Link: https://github.com/emphazer/GeoIP_convert-v2-v1

I'm closing this.

[2019-01-23 20:31] #1151 closed, assigned to nobody

[2019-01-23 20:33] toutougabi commented on #1151
I am pretty sure i was using version 3 of modsecurity, are you sure this should have been close, see my comment on Jul 16, 2018

[2019-01-23 20:54] dune73 commented on #1263
Hi @danehrlich1, sorry for the late response. Yes, exactly this.

[2019-01-23 20:57] dune73 commented on #1151
Our script pulled the legacy format DB. ModSec3 supports the new format, but ModSec2 does not.

GeoIP support is no core feature of CRS, so we decided to remove the script instead of supporting something for only ModSec3.

[2019-01-23 20:59] dune73 commented on #1227
Looking forward to that! Thanks.

[2019-01-23 21:02] dune73 commented on #1289
Totally welcome contribution.

You guys may want to coordinate with @franbuehler and her plans for the docker container. Not sure if she had any time to work on it as of late.

[2019-01-24 02:20] ghost commented on #1144
Let me look into this. I've studied these headers pretty extensively. There are over 100 ones, including crazy ones that are deprecated but you see a lot in legacy apps that might use ModSecurity such as the `Pragma` header.

[2019-01-24 07:13] dune73 commented on #1144
Compared to the other issue you picked, this one is really big and complex as it touches on many different aspects of CRS. If you pick this, it will accompany you for months. By the end, you will understand the inner mechanics of CRS throughly, but you could also become overwhelmed along the way. Unsure how to advice you. Smaller bites are probably easier to swallow.

[2019-01-24 09:56] franbuehler opened #1290 "Discussion about what to add in the official CRS Docker Image"
Chaim and I discussed about opening a PR for the Docker Image. And then discussing the changes in that PR.
But now I thought it would be easier to think first about what we want to have in the official Docker Image and then open a PR.

I am sure you have already looked at it, but here again what I have done:

**docker-entrypoint.sh:**
- Extended Python Code with if statements and added more CRS va

[2019-01-24 09:58] dune73 commented on #1289
I suggest to contribute this issue to the discussion in #1290 and then close this one here.

[2019-01-24 09:59] franbuehler commented on #1289
Finally, I started to work on integrating my changes into the official image.
See issue #1290.

[2019-01-24 15:30] dune73 opened #1291 "Agenda for Monthly Chat: February 2019 (2019-01-04)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, February 4, at 20:30 CET.

## Items on the Agenda:

### PRs

    #... ...

### Other items

* Release 3.1.1 release because of #1276 (JWall compatibility)
* Cloudfest workshop
* AppSecGlobal Tel Aviv
* CRS swag, proposal by @fzipi
* #1277 GeoIP deprecated thei

[2019-01-24 21:00] ghost commented on #1144
Thanks for the heads up @dune73. Glad I didn't walk into this thinking it was way easier than it actually was. Will not do for the time being.

[2019-01-27 04:40] danehrlich1 commented on #1291
What is the issue with GeoIP not working?

Could the below work?

1. Update the GeoIP database daily
[code]
2. In ModSec offload to script that uses one of the many MaxMind GeoIP2 apis (they have ones for Perl, Java, PHP, Python, Javascript, C, etc) to read from above database and find location of REMOTE_IP.

[2019-01-27 14:44] theMiddleBlue opened #1295 "False positives on Ghost blog"
I'm creating an EXCLUSION rule set to handle all FPs for a default Ghost Blog installation (https://ghost.org/) in my WAF nodes. At the time, all FPs seems to be related to the "admin API". For example, when a user changes something on his profile:

[code]

matches the following rules:
[code]

The hardest thing to exclude is when a user creates a new post because it depends on what he writes on it

[2019-01-28 09:45] theMiddleBlue opened #1296 "Bug on 920440 restricted extension"
There's a problem on the 920440 regex. This rule uses `\.(.*)$` for matching file extensions like `.sql`. The problem is that it doesn’t only match `.sql`… If I request a file like `/database_backup_example.com.sql` the regex match `.com.sql`. This value is stored in `tx.extension` variable and used by the chained rule against the `tx.restricted_extensions` list but it doesn't match:

[code]

The

[2019-01-28 15:40] spartantri commented on #1295
Hi @theMiddleBlue,
- I think it could be interesting. I don't know if ghost itself is very popular or not but the exceptions for this kind of application can be used as a template to create other applications exceptions.
- Ideally, you would test the PL that make sense for the app, PL1 is mandatory, often the effort to go PL2 is minimal, however for apps like this one that may contain lots of non-

[2019-01-29 05:13] dune73 commented on #1296
Nice find, thank you!

[2019-01-29 14:28] spartantri commented on #1291
Hi @dune73, do you know when was the last time JWall was updated and how big is its user base?
I would like to have the PR#1294 on 3.1.1 to make it worth the updating effort for lots of users.

[2019-01-29 14:31] dune73 commented on #1291
I can not really tell, but the user base seems to be steady. I have a commerical customer integrating ModSec and they are referring their users to use JWall. Have not talked to Developer Christian Bockermann in years.

As far as #1294 is concerned, I doubt we'll backport this as it's a new rule and release policy states that we do not include new rules in point releases.

[2019-01-29 22:51] danieloppenheimer opened #1299 "CRS and nginx not logging sufficient context"
## Type of Issue

Bug

## Description

We are using the core rule set 3.0.2 configured for anomaly scoring.  The following is being blocked by modsecurity:

2019/01/24 10:17:52 [warn] 22326#0: *120 [client 172.16.17.54] ModSecurity: Warning. Matched "Operator `Ge' with parameter `5' against variable `TX:ANOMALY_SCORE' (Value: `10' ) [file "/etc/nginx/modsec/owasp-modsecurity-crs-3.0.2/rules/REQUES

[2019-01-31 02:00] ghost commented on #1263
@dune73
1. Quick question. Can we restrict access to every file or folder that begins with a "." ? I can't think of why something would need to access a hidden dot file or dot directory.

2. So we could restrict:

- .a*
- .b*
- .c*
- .d*
- etc.
- .z*

3. If a user really needed someone to access a hidden dot file / directory, they could turn off this rule or perhaps there should be space for an ex

[2019-01-31 04:07] dune73 commented on #1263
That sounds like a classic case for a stricter sibling. That is a more severe version of the rule at a higher paranoia level. So you have the base rule at PL1 and then at PL2 or PL3 an additional rule where you forbid all hidden files.

Good thinking actually!

[2019-02-04 21:19] lifeforms opened #1302 "Merge new stuff from restricted-files.data into lfi-os-files.data"
#1292 brought us some new credentials/config file names for `restricted-files.data`.

All or most of these entries (depending a short review for FP) should also be added to `lfi-os-files.data`.

As discussed in #1292, what's the difference between those two data files?

* `restricted-files.data` triggers on file paths, example: `http://localhost/.docker/xxx`
* `lfi-os-files.data` triggers when use

[2019-02-06 00:57] fgsch commented on #1296
Fix merged.

[2019-02-06 00:57] #1296 closed, assigned to nobody

[2019-02-06 00:58] fgsch commented on #1291
Completed.

[2019-02-06 00:58] #1291 closed, assigned to nobody

[2019-02-06 01:00] fgsch commented on #1142
I believe this is done now and we have a PR for the remaining work (https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1301).

[2019-02-06 01:00] #1142 closed, assigned to nobody

[2019-02-07 21:41] jleproust commented on #1133
Hi,

I've found exactly the same problem, triggered by the same rule. The regexp takes several minutes of pure CPU time, matching a simple 800kB json payload:
```[{"xxx": "2019-02-07T17:16:03", "xxxyyyy": "2019-02-07T17:16:01", "aaaayyyy": "2019-02-07T17:16:00", "abcde": "268447744", "kalsjdh": "F", "klasjdvhas": "268622082", "aaaa": "2019-02-07T17:16:02"}, {"xxx": "2019-02-07T17:16:04", "xxxyyyy"

[2019-02-09 10:49] JeffCleverley commented on #1277
I am using modsec 3, nginx connector and having the same issue.

[2019-02-09 11:00] JeffCleverley opened #1303 "Still including the update utility in the example conf - utility is now defunct"
## Type of Issue

Error upgrading geoip database using modsec 3 and nginx

## Description

In this ticket #1277

Seems to suggest that the only problem is with older versions of ModSec, 2.9x etc and not 3.0

## Your Environment

CRS version v3.1
ModSecurity v3.0.3
(libmodsecurity.so.3.0.3)
(https://github.com/SpiderLabs/ModSecurity)
Nginx 1.15.8
ModSec v3 Nginx Connector
(https://github.com/Spider

[2019-02-09 11:29] JeffCleverley commented on #1303
`/owasp-modsecurity-crs-3.1.0/util.py`

includes:

`url = 'https://geolite.maxmind.com/download/geoip/database/GeoLiteCountry/GeoIP.dat.gz'`

new databse is at

`https://geolite.maxmind.com/download/geoip/database/GeoLite2-Country.tar.gz`

[2019-02-09 11:33] JeffCleverley commented on #1151
that is great and everything.... but if you are going to remove the update script, perhaps you should update the example conf...

This is still in the latest tar version for download.

[code]

[2019-02-09 11:35] JeffCleverley commented on #1303
I see from #1151

That you pulled the database update script, and we need to do it ourselves...

Fair enough... but the packaged example conf still includes the update utility

[code]

[2019-02-09 11:44] JeffCleverley commented on #1303
Also

just to confirm

crs3 works with the new format?

`GeoLite2-Country.mmdb`

[2019-02-09 14:09] dune73 commented on #1303
Thanks for the hint about the example conf.

CRS is just fine with the format. It's with ModSec where the problem lies. ModSec 2 does not support the new format. However, there is now a conversion script by @emphazer, that allows you to continue to use the GeoIP DB with ModSec2.

[2019-02-09 14:11] JeffCleverley commented on #1303
That great, thanks for the reply.

What I should also ask is...

Does ModSec 3 work with the new GeoIP DB format

`GeoLite2-Country.mmdb`

[2019-02-09 14:22] dune73 commented on #1303
Yes it does. Many other things are unstable with ModSec3, but this seems to be OK.

[2019-02-09 19:29] theseion opened #1304 "Detected request method (GET) sometimes does not match actual method (POST)"
## Type of Issue
Incorrect blocking (false positive)

## Description
I find sporadic instances of requests blocked by the protocol enforcement rule that checks whether GET or HEAD requests have a Content-Length header > 0. When I try to match the requests to the NGiNX access log I see POST requests (as expected). I can reproduce the requests but haven't found a way to reproduce the blocking. Note

[2019-02-09 20:16] dune73 commented on #1304
Ooops. That is very annoying and I feel your pain.

But the bug points clearly to ModSec3 on nginx. Please report it over with the ModSecurity project. Closing this here.

[2019-02-09 20:16] #1304 closed, assigned to nobody

[2019-02-09 20:19] theseion commented on #1304
Will do, thanks.

[2019-02-10 12:54] c5c86a commented on #1290
Are you considering only a single flavor of a docker image? Then which is the purpose of CRS on maintaining a docker image?

1. CI?
2. Easy installation of a CRS-enabled modsecurity and reverse proxy for demo
3. Easy installation of a CRS-enabled modsecurity and reverse proxy for production

Personally, I am more familiar with docker and testing than with anything related to security (modsecurity,

[2019-02-10 14:41] ghost commented on #1290
1. Can this proxy be set to allow SSL?
- this will generate a self-signed  cert on this server if placed in the Dockerfile: `RUN openssl req -x509 -newkey rsa:4096 -keyout /etc/ssl/private/selfsigned.key.pem -out /etc/ssl/certs/selfsigned.cert.pem -days 1065 -nodes -subj "/C=xx/ST=x/L=x/O=x/OU=x/CN=localhost"`

2. Then configure `httpd.conf` to listen for SSL. Something like the following will wor

[2019-02-10 14:51] fgsch commented on #1281
Waiting on #1301

[2019-02-11 18:35] spartantri commented on #1290
Hi @franbuehler , I think TLS support is a must have (with A+ from [ssllabs](https://www.ssllabs.com/ssltest/)) but use ACME or mod_md to get a valid cert from let's encrypt or provide it with the conf, and let self-signed certs as bad non-default option.
Also proxyprotocol support would be nice so that it can be behind an HAproxy and keep original client ip on the logs or at least remoteip suppor

[2019-02-12 03:26] ghost commented on #1227
Does someone have an example of what this rule would look like? The only way I can see to specifically target XML coming in is to check the Headers. E.g.:

`SecRule REQUEST_HEADERS:Content-Type ^text/xml` ?

or maybe

`SecRule ARGS|XML:/* blahblahblah id:2000` ?

I actually don't see a mention of `XML:/*` anywhere in the documentation I'm looking at, although it is for 2.9.

[2019-02-12 03:29] ghost commented on #1227
@dune73 Just look at this comment:

Actually, I think this is the answer.

Anything that has the word `ARGS` after SecRule should, if it doesn't right now, have `|XML:/*` appended to it?

E.g. like the following rule:

`SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_HEADERS:User-Agent|REQUEST_HEADERS:Referer|ARGS_NAMES|ARGS|XML:/* "@detectSQLi" \`

[2019-02-12 10:30] fgsch commented on #1022
Another example (redacted): `/something/other%3C%2Fscript%3E%3Cscript%3Ealert(1)%3C%2Fscript%3E/`

Is there any update on this @dune73 ?

[2019-02-12 10:42] theMiddleBlue commented on #1299
Hi @danieloppenheimer

I'm not able to reproduce your issue. I've added `DELETE` on 900200 but your request didn't match the 949110 in my setup:

[code]

Can you provide the debug log output related to this request? You can turn on debug logging on your modsecurity.conf with something like this:

[code]

thanks!

[2019-02-12 11:17] fgsch commented on #1022
Can we start by adding the path to 941110?  Or anyone thinks this will cause many FPs?

[2019-02-12 16:10] dune73 commented on #1227
Could you guys please support @danehrlich1? I'm overly busy at the moment.

[2019-02-12 16:11] dune73 commented on #1022
No progress. Sorry. I know it's on my todo list, but my life outside CRS is eating me alive these days. If anybody wants to take over, be my guest.

I think adding the path would make sense. @lifeforms: What do you think?

[2019-02-12 16:29] theMiddleBlue commented on #1022
agree with @fgsch. IMHO all XSS rules should look into `REQUEST_FILENAME` too

[2019-02-12 16:46] fgsch commented on #1022
I will submit a PR later today or tomorrow for 941110. I haven't had a chance to look into the other vectors in detail but I expect FPs at least until https://github.com/client9/libinjection/pull/143 is merged, which seems to have gone awfully silent.

[2019-02-15 00:56] ghost commented on #1227
@spartantri Can you look at my comment really quickly? Think I am correct but just want someone to double check.

[2019-02-15 14:44] spartantri commented on #1227
Hi @danehrlich1 it may be better to discuss this in slack, but basically, this one is to add `XML:/*` to all `SecRule`'s that have ARGS as targets of the rule.
You may find all targets with running the command below on the rule set directory:
`egrep -o "SecRule ([^\s])ARGS([^\s]) " *|grep -v "XML:"`
You may find rules that do check both ARGS and XML removing the `-v` from the previous command:
`eg

[2019-02-16 07:54] JeffCleverley commented on #1232
We are very keen on helping here. Would need a bit of guidance too.

It's not just Gutenberg, any plugins that use the Rest API endpoints are hitting the firewall.

This is more and more of the newer plugins, and soon it will be central to most WordPress development.

We run a WordPress specific VPS Control SaaS that is incorporating ModSec into our Server deployments. (WordPress GridPane)

I was

[2019-02-16 09:26] JeffCleverley opened #1309 "XSS False Positives - GB stores html comments in json"
## Type of Issue
False positives - hitting XSS rules.

Running Modsec behind a reverse proxy http cache.

## Description

---OgqPdJlU---A--
[16/Feb/2019:09:15:21 +0000] 15503085215.783826 127.0.0.1 39696 127.0.0.1 8080
---OgqPdJlU---B--
POST /index.php?rest_route=%2Fwp%2Fv2%2Fposts%2F50%2Fautosaves&_locale=user HTTP/1.1
Accept-Encoding: gzip, deflate
X-Original-Scheme: http
Cookie: wordpress_test_

[2019-02-16 10:27] JeffCleverley commented on #1309
Seems looking at the rule and my log outpute

https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf

[code]

It seems the Rule is flagging the html comment ``

(I agree - very stupid)

I am trying to exclude this specific rule on post pages using Gutenberg but having no luck so far. (Brand new to modsec and also not the brightest spark :D )

[2019-02-16 12:53] JeffCleverley commented on #1309
For me re the XSS

this is working

[code]

Tried regex

[code]

and

[code]

But no joy that way

regex seems okay, I thought it might have been a lack of escaping but doesn't seem these rules need them.

It's working, but any pointers would be great.

We run a WordPress focused SaaS VPS control Panel, lots of our users are using RestAPI based plugins now, so I need to get my head around these ru

[2019-02-17 00:17] c5c86a commented on #1290
As a demo of my previous comment you can look at the following which is work in progress.

https://github.com/nicosmaris/auro-update-crs

My question is whether it makes sense to pull updates of this repository (for example once every month). If yes, then an official image that stays up to date would help.

[2019-02-18 13:42] dune73 commented on #1290
Reasonable thoughts, @nicosmaris.

[2019-02-18 13:57] dune73 commented on #1309
Sorry for the inconvenience @JeffCleverley. But well done with the attempts are rule exclusions. The problem with wordpress and other CMS systems are evident.

We have provided WP rule exclusions, but they are very limited in their scope and I am not surprised Gutenberg is not covered. Are you interested to give a hand to complete your setup in this regard?

[2019-02-18 14:03] JeffCleverley commented on #1309
Yeah certainly.

I am actually right in the middle of building our next stack, that is why I am integrating ModSec/OWASP

I have things working with the above two rules for GB. Everything else re vanilla WP seems fine.

Hopefully by next week we will have it rolling out to our dev plan clients as 'beta' for them to test their most used plugins etc. I

I wrote the whitelist from inspecting the audi

[2019-02-18 14:40] dune73 commented on #1309
Thank you very much in advance. I'm overly busy at the moment, but if there is anything, we can try to get you some support.

[2019-02-19 14:58] lifeforms opened #1313 "XSS false positive on "-->""
## Type of Issue

False positive

## Description

The sequence `-->` sometimes turns up in natural text as users make an arrow.

Example request:

[code]

This triggers rule 941180 (Node-Validator Blacklist Keywords)

Perhaps it's possible to move the comment close tag `-->` to paranoia level 2, while keeping the comment open tag `<!--` in paranoia level 1.

## Your Environment

CRS 3.1.0

## Conf

[2019-02-20 15:32] franbuehler commented on #1290
@csanders-git and I are working on these Docker images for modsecurity and modsecurity-crs.
The work is "in progress"...

[2019-02-20 20:08] lifeforms commented on #1309
Thanks for the heads-up @JeffCleverley , it turns out that WordPress has a 'backup' route `/index.php?rest_route=...` for installations without pretty URLs `/wp/v2/...`

https://developer.wordpress.org/rest-api/using-the-rest-api/discovery/

We are now only excluding the `/wp/v2/...` endpoint. So we should also add the `/index.php?rest_route...` URL pattern to the Gutenberg exclusion.

I'll have a

[2019-02-20 20:42] ghost commented on #1290
Franziska, do you need help on anything?

I’m an expert on Docker and Kubernetes, much more so than ModSecurity sadly, so maybe this is something I can actually help with.

[2019-02-20 21:38] nemphys commented on #794
I am also facing false positives caused by rule 942100 (running ModSecurity v3/master and CRS 3.1) on post params in **greek** (utf8).
The question mark (?) in greek is ";" (semicolon) so I guess this makes it easy to become trigger-happy more often.

After tracking down a false positive, I came to the conclusion that if an apostrophe (') and a greek question mark (semicolon, ";") appears on the s

[2019-02-21 06:37] franbuehler commented on #1290
Many thanks, @danehrlich1! I will contact you on Slack.

[2019-02-28 20:50] dune73 opened #1314 "Agenda for Monthly Chat: March 2019 (2019-03-04)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, March 4, at 20:30 CET.

## Items on the Agenda:

### PRs

* #1315 Adding rule for Drupal CVE-2019-6340
* #1113 Add NGINX Docker and Travis Testing support
* #1284 Update contributing v3.2
* #1286 XML Soap Encoding 920240
* #1301 Update travis to support secrul

[2019-03-04 19:33] fzipi commented on #1314
* Include Joomla support?

[2019-03-04 19:58] theMiddleBlue commented on #1314
suggested item: a rule (or some rules) to handle XXE?

[2019-03-04 20:06] dune73 commented on #1314
Do you want to open an issue / feature request for that?

[2019-03-04 20:07] theMiddleBlue commented on #1314
yes, I've a working PoC, I'll open it with a draft rule

[2019-03-04 20:07] dune73 commented on #1314
Cool. Very welcome.

[2019-03-04 23:09] theMiddleBlue commented on #369
referring to the list of exploits posted by @lifeforms: unfortunately, talking about PHP, we can't trust on the transformation function `t:base64Decode` when `base64_decode()` is called without the `strict` parameter.

When the `strict` parameters is not `True`, `base64_decode()` will decode all valid base64 strings even if they contain characters from outside the base64 alphabet:

[code]

![image

[2019-03-04 23:29] theMiddleBlue commented on #369
sorry deleted my previous comment on this, I missed the @spartantri comment (it seems a cool approach using t:base64decodeext in order to handle the missing of `base64_decode` strict parameter).

I'm trying to test all proposed rules in my test env

[2019-03-05 08:52] geekteq opened #1317 "900600 doesn't do anything and when turning on logging it gives error"
## Type of Issue

Bug

## Description

When/if enabling 900600 it does nothing to block. If I turn on logging I get
"Unconditional match in SecAction" for that rule (and I'm using the default rule for testing)

## Your Environment

* CRS version (e.g. v3.0.2):
3.1.0 (3.2/dev according to github)
* ModSecurity version (e.g. 2.9.2):
2.9.1
* Web Server and version (e.g. apache 2.4.27):
2.4.25
* Opera

[2019-03-05 09:25] dune73 commented on #1317
Hello @geekteq,

Sorry for the inconvenience and thank you for reporting. This works together with the MaxMind GeoIP database functionality. Do you have that in place?

The rule is meant to set the variable with your high risk countries. It is not meant to do anything else by itself. There is a separate rule which would then block requests.

The SecAction is not reported in the error log of the se

[2019-03-05 11:59] jleproust commented on #1133
By the way 941170 has the same issue, though using a little less cpu than 941160 on similar payloads. I ended up disabling both to avoid a DoS vulnerability.

[2019-03-05 13:26] #1314 closed, assigned to nobody

[2019-03-05 16:20] theMiddleBlue opened #1319 "XML eXternal Entity"
during the last chat meeting, we talked about creating one or more rules to handle XXE attacks. I'm quite near to a PR, I just want to share with you some topics. I'm trying to cover:
- all these payloads https://github.com/swisskyrepo/PayloadsAllTheThings/tree/master/XXE%20injection
- this bypass technique https://lab.wallarm.com/xxe-that-can-bypass-waf-protection-98f679452ce0

### Questions
befo

[2019-03-06 11:13] geekteq commented on #1317
I don't mind raising issues if we can resolve them so don't be sorry. I sort of figured: since I can't find anyone else with this issue and it being disabled per default and I used in a previous setup (due to most of the sites on the server not catering to anyone outside certain countries) I'd see if we can iron out why it's not working now.

Yes, I've added Maxmind (tried both mmdb and legacy dat

[2019-03-06 11:16] geekteq commented on #1317
I only changed it "log" to see what was happening since I would not see any response regardless of where a person was coming from (tried VPNing over to different countries to test it.)

Unconditional Match in SecAction sounds to me that something is written wrong in the rule, but I can be wrong -- that happens

[2019-03-06 19:49] dune73 commented on #1317
Can you write a rule that prints out the resolved GeoIP country code in an alert?

[2019-03-06 20:11] damnms opened #1321 "false positives with matrix synapse homeserver"
The default ruleset blocks matrix synapse (reference server implementation)

## Type of Issue

https://github.com/SpiderLabs/ModSecurity/issues/2036
and also uploads in general seems to be blocked, at least images
[code]

## Description

## Your Environment

* CRS version (e.g. v3.0.2): ii  modsecurity-crs                    3.0.0-3                        all          OWASP ModSecurity Core Rule S

[2019-03-06 20:21] theMiddleBlue commented on #1321
Hi @damnms

thanks for reporting this! It seems related to the content-type `image/jpeg` that is not allowed by default. Could you try to uncomment the rule `900220` on your crs-setup.conf and add `image/jpeg` to the list?

thank you

[2019-03-06 20:24] theMiddleBlue commented on #1319
closing this. Please, refer to #1320 (XML attack).

[2019-03-06 20:24] #1319 closed, assigned to nobody

[2019-03-06 20:54] damnms commented on #1321
Thanks that worked. in my crs-setup.conf i now have that block:

[code]

I am just wondering if there is some kind of "global whitelist for audio/image" ?
Sorry, i am total unfamiliar with all that. Maybe you have an idea?

[2019-03-06 21:03] theMiddleBlue commented on #1321
to be honest, I don't know how matrix synapse works. With a little search on the github repo I've found this: https://github.com/matrix-org/synapse/search?q=content-type&unscoped_q=content-type

Maybe you should include `image/png` too

[2019-03-06 21:12] damnms commented on #1321
its like whatsapp, people can register and then communicate with others, but on your own server. there is also `Content-Type: <media-type>` in a code part, so i guess there is some more to whitelist.

edit: even worse... https://github.com/matrix-org/synapse/blob/829213523eadad30aabedf8242c6c02f3dfcbe24/synapse/rest/media/v0/content_repository.py#L70

[2019-03-06 22:19] theMiddleBlue commented on #1171
done.

[2019-03-06 22:19] #1171 closed, assigned to nobody

[2019-03-07 01:46] fgsch commented on #1260
Anything left to do in this ticket? Seems like all tests are passing now.

[2019-03-07 01:47] fgsch commented on #1248
Looks like this ticket has been answered. Feel free to reopen it if not.

[2019-03-07 01:47] #1248 closed, assigned to nobody

[2019-03-07 01:53] #1236 closed, assigned to nobody

[2019-03-07 04:37] dune73 commented on #1260
True. Closing this.

[2019-03-07 04:37] #1260 closed, assigned to nobody

[2019-03-07 10:13] geekteq commented on #1317
I'm a noob at writing rules so if you can give me one I can put it in and test it! 🥇

[2019-03-07 15:52] fgsch commented on #550
Is this covered by https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-944-APPLICATION-ATTACK-JAVA.conf?

[2019-03-07 15:59] fgsch commented on #1321
This looks like a support question so maybe more suitable for https://security.stackexchange.com/questions/tagged/mod-security?

[2019-03-07 17:40] fgsch commented on #1232
#1298 has been merged. Is there any outstanding work here?

[2019-03-08 08:44] fgsch commented on #1289
Can this be closed in favour of #1290?

[2019-03-08 09:43] fgsch commented on #394
This is done. Closing.

[2019-03-08 09:43] #394 closed

[2019-03-08 09:45] fgsch commented on #999
Looks like this was merged. Closing.

[2019-03-08 09:45] #999 closed, assigned to nobody

[2019-03-08 09:46] fgsch commented on #668
This was fixed in 931130.
If you have any other rules showing the same behaviour please reopen this issue or create a new one.

[2019-03-08 09:46] #668 closed, assigned to nobody

[2019-03-08 09:48] fgsch commented on #487
So what's the consensus here? Should we remove it or not?
If not let's close this ticket.

[2019-03-08 09:57] fgsch commented on #1274
Is this resolved by #1294? Can we close it?

[2019-03-08 09:58] fgsch commented on #52
This is long overdue. If this is still a problem please reopen it.

[2019-03-08 09:58] #52 closed

[2019-03-08 10:11] fgsch commented on #1245
Makes sense.

Do you mind opening a PR for this?

[2019-03-08 10:12] fgsch commented on #961
#1095 has been merged. Can we close this?

[2019-03-08 10:18] fgsch commented on #996
@victorhora Any update on this?

[2019-03-08 10:23] fgsch commented on #554
This is documented now.

Which rules can benefit from this? Let's try to work towards a PR or something actionable.

[2019-03-08 10:25] fgsch commented on #1321
@damnms is there anything outstanding on this issue or can be closed? Thanks!

[2019-03-08 10:30] fgsch commented on #918
Is there anything actionable on this issue or should be closed?

[2019-03-08 12:10] geekteq commented on #1317
Ok, byt serious trial and terror I've concluded that it's GeoIP database that's the problem.
Question though. It seems like modsecurity doesn't like a combined IPv4/IPv6 GeoIP database.. and if I add them in separate lines on the last takes effect.. so any suggestions on how to get it to do both IPv6 and IPv4? Or, if all else fails, get modsecurity to accept mmdb instead of dat?

[2019-03-08 13:02] lifeforms commented on #1073
I'll put this on hold, because ModSec 3.0.3 does not have `sanitiseMatched` operator yet, so currently we cannot reasonably activate some of these sanitizations without breaking part of the userbase: https://github.com/SpiderLabs/ModSecurity/issues/1898

[2019-03-08 15:05] dune73 commented on #1317
Here is the rule that displays the country code if it's available:

[code]

I do not have any experiece with mixed format GeoIP databases. Maybe @emphazer can tell us more.

[2019-03-08 15:15] dune73 commented on #405
This has been fixed for CRS 3.1. Closing issue.

[2019-03-08 15:15] #405 closed

[2019-03-08 15:18] dune73 commented on #505
I think given the way we have positioned CRS and the continuing troubles with DOS protection, I think this is idea is nice, but out of scope for us. Also, we have not heard from @csanders-git about this for more than two years.

I suggest to close this issue.

[2019-03-08 15:20] dune73 commented on #1289
Yes.

I'm closing this in favour of #1290 as I understand that covers SSL too. Please reopen, if I am wrong.

[2019-03-08 15:20] #1289 closed, assigned to nobody

[2019-03-08 15:30] dune73 commented on #420
The crs-setup.conf.example file current does not have any comments longer than 80 chars outside of two filenames.

The rules files combined have 234 comment lines in this category, but 2/3 of them are between 80 and 100 chars. The ones longer than 100 chars are mostly references to CVEs that profit from the width.

While it is traditionally desirable to strive for narrow lines, there is also the c

[2019-03-08 15:30] #420 closed

[2019-03-08 15:33] dune73 commented on #501
Still hoping somebody is picking this up.

[2019-03-08 15:38] dune73 commented on #487
@csanders-git has a point that there is some risk involved and the bloat is not excessive.

So I'm closing this for the time being.

[2019-03-08 15:38] #487 closed

[2019-03-08 15:41] dune73 commented on #1274
Yes, @theMiddleBlue covered this in #1294. So this is done. Closing now. Please reopen if I'm wrong.

[2019-03-08 15:41] #1274 closed, assigned to nobody

[2019-03-08 15:48] dune73 commented on #1245
Sorry for chiming in so late.

Still, I disagree with the need for a rule exclusion in this case.

- It complicates the rule 920274 or costs everybody cycles if adding exclusion to 905.
- People working in PL4 are perfectly capable of excluding it themselves if they want googlebot.
- People working in PL4 are maybe happy to see googlebot blocked
  (In fact we have a crawler list in crawlers-user-a

[2019-03-08 15:49] dune73 commented on #961
Yes, let's close issues aggressively. We'll need to review the list again sooner or later anyways. No need to do this in this issue anymore.

[2019-03-08 15:49] #961 closed, assigned to nobody

[2019-03-08 15:50] lifeforms commented on #1232
Yep, basic Gutenberg support is now in. There's an additional request but that's in a separate issue and I will get to that. Thanks for reporting and commenting!

[2019-03-08 15:50] #1232 closed, assigned to lifeforms

[2019-03-08 15:56] fgsch commented on #1245
It just requires '!REQUEST_HEADERS:From' and we are already excluding User-Agent, Referer and Cookies. Why is this any different?

[2019-03-08 15:59] dune73 commented on #996
I wrote a message to four people at Trustwave. I'll keep you posted.

[2019-03-08 16:02] lifeforms commented on #1245
Running in PL4 will come with many false positives, of which this is only one. These FPs will vary from app to app. Due to our resource constraints, we have to prioritize false positives that come in the default install. But a PR for these kinds of things would be welcome imho.

[2019-03-08 16:03] dune73 commented on #554
This was posted here for reference. Some hopes I had with this operator fainted (as I can't seem to solve the looping problem with it), but I use it so frequently in my own rules, that we no longer need this issue as reference.

If I see a benefit from using it in CRS, I would push it. It's more interesting when doing very complex rules or for debugging.

[2019-03-08 16:03] #554 closed

[2019-03-08 16:04] dune73 commented on #1321
I do not see anything for us to do. So I'm closing this.

@damnms: Feel free to reopen, if the project should act.

[2019-03-08 16:04] #1321 closed, assigned to nobody

[2019-03-08 16:06] dune73 commented on #918
It is a separate sub-project, but I still think this would be very beneficial.

But you could argue that our test coverage is good enough and that we do not need this in the comments of the rules.

Opinions?

[2019-03-08 16:10] dune73 commented on #1245
If you do '!REQUEST_HEADERS:From', you remove protection for the header via this rule completely and all only because google does not provide @ in the email address.

The need is much bigger with the other headers where most requests will score an FP. On the FROM header, the FP is very rare.

[2019-03-08 16:13] dune73 commented on #919
Sorry for not acting on this.

We have some strange behaviours on NGINX that let a few dozen tests fail. I presume this falls into the same category.

We are also upgrading our Travis installation to cover all platforms. So we would discover problems as this in the future.

I'm therefore closing this (and we are currently axing old issues that went stale).

[2019-03-08 16:13] #919 closed, assigned to nobody

[2019-03-08 16:23] dune73 commented on #1244
I've been asked to comment some more. :)

I think we are open to add more user-agents to the exception list. Other than that, there are few people complaining about this rule in PL2. So I think there is no pressing need to remove the rule or shift it to a higher PL.

Let's let this stand for a few more days and then close the issue unless we get additional information / complaints.

[2019-03-08 16:27] emphazer commented on #961
maybe we should label issues/improvements like this here...

[2019-03-08 16:30] fgsch commented on #1245
I understand but there is nothing wrong with () in headers' values. This rule will also trigger for Via requests where the parenthesis are not uncommon. I'd also expect Googlebot to be quite common.

That said, it is indeed in PL4 and easy to exclude so nothing further from me.

[2019-03-08 16:50] fgsch commented on #1213
This rule has been removed so this ticket is OBE. Closing.

[2019-03-08 16:50] #1213 closed, assigned to nobody

[2019-03-08 16:52] emphazer commented on #1317
i never mixed it with ipv6 sorry.

[2019-03-08 17:33] spartantri commented on #1245
PL4 is for experts only, I don't mind dealing with all those anomalies, plus for all my sites running PL4, having google or anybody else crawling and indexing is definitively not a welcome request.
White listing this is easy but I think it should be a local exclusion.

[2019-03-08 19:47] dune73 commented on #1245
Glad we agree (more or less :). Sorry @bazzadp, but I'm closing this now.

[2019-03-08 19:47] #1245 closed, assigned to nobody

[2019-03-08 19:54] dune73 commented on #550
The three examples above all score 15 points and more in PL1 now. Closing this.

@lifeforms : Please re-open if you disagree.

[2019-03-08 19:54] #550 closed

[2019-03-08 21:49] dune73 commented on #1121
I'm not a fan of this construct and I have played around with removing this altogether. It was needed in a special construct in 949xxx in former versions, but that construct is gone and I think we could kick it together with the `setvar:'tx.msg=%{rule.msg}'` construct (the latter is used in 980xxx).

Thoughts?

CC @csanders-git, @lifeforms

[2019-03-09 07:04] surajy93 opened #1323 "Vimeo Iframe getting block by RESPONSE-980-CORRELATION.conf rules"
*CRS version (e.g. v3.0.2):
*ModSecurity version (e.g. 2.9.2):
* Web Server and version (e.g. apache 2.4.27):
* Operating System and version:
 Access denied with code 403 (phase 2). Operator GE matched 5 at TX:anomaly_score. [file "/etc/modsecurity/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line "93"] [id "949110"] [msg "Inbound Anomaly Score Exceeded (Total Score: 10)"] [severity "CRITICAL"] [

[2019-03-09 11:52] surajy93 opened #1324 "Wordress is being blocked for unknown reason. RESPONSE-980-CORRELATION.conf"
![log](https://user-images.githubusercontent.com/42316893/54072055-731aa180-429b-11e9-8b20-a55fb2d94796.PNG)

kindly refer attachment.
let me know if any concern.

[2019-03-09 12:34] dune73 commented on #1323
The request is being blocked by rule 949110, the standard rule blocking incoming requests after several rules triggered an alert.

Unfortunately, you did not provide those rules. No need to do a screen shot, copy pasting the alert message is good enough. And please be careful: Your screenshot includes your domain name.

[2019-03-09 12:47] surajy93 commented on #1323
@dune73 I am a newbie for ModSecurity, using Wordpress how can I set rules for this. thanks.

[2019-03-09 12:52] dune73 commented on #1323
You just need to send us the complete log. You can grep for the unique_id in the screenshot above.

[2019-03-09 13:05] surajy93 commented on #1323
@dune73 okay.
![log](https://user-images.githubusercontent.com/42316893/54071955-12d73000-429a-11e9-913b-457fa6ba143e.PNG)
Log file

[2019-03-09 13:18] surajy93 commented on #1323
@dune73
the post blog is working fine but when posting iframe embed link from Vimeo getting blocked

[2019-03-09 13:21] emphazer commented on #1317
Rule 900600 doesn’t work for me too. Thats why i never used it.
I do one rule in phase 2 for inbound and one in phase 4 for outbound.

[2019-03-09 13:26] emphazer commented on #1317
SecRule REMOTE_ADDR "@geoLookup" chain
                SecRule GEO:COUNTRY_CODE "@pm AD AE... etc etc...

[2019-03-09 14:43] surajy93 commented on #1323
![block](https://user-images.githubusercontent.com/42316893/54072984-b4b14980-42a7-11e9-9893-aa10c43587b0.PNG)
need help tired of these error and guide to remove rules

[2019-03-09 15:27] theMiddleBlue commented on #1323
confirmed, PL1:

[code]

It should be excluded by `9002700` but it doesn't fires any of the following tags:

[code]

What about adding `ctl:ruleRemoveTargetByTag=attack-xss;ARGS:content` to `9002700`?

[2019-03-09 15:31] theMiddleBlue commented on #1323
uhm... to be honest, I don't know if we should allow something like this...

[2019-03-09 15:35] surajy93 commented on #1323
Thanks for the reply.
 I will try maybe it works.

Refer : https://www.modsecurity.org/CRS/Documentation/anomaly.html.

Hope team will these solve soon.

[2019-03-09 18:26] dune73 commented on #1323
A tail won't do. We need the complete requst in the log.

If you really do not know how this works, why don't you take a look at the tutorials at http://netnea,com.

[2019-03-11 08:05] geekteq commented on #1317
Ok, so I'll leave it for IPv4 only until such time as you guys can get it working (either by mixed format or two DBs - one IPv4 and one IPv6). Since IPv6 is coming of age quite rapidly and even started being used by all these script kiddies it would be good to get it working somehow.

[2019-03-11 08:42] dune73 commented on #1317
I understand your problems, but GeoIP DB format support is really a ModSecurity issue and not so much a CRS problem. They need to be more flexible with various formats.

[2019-03-11 20:48] dune73 commented on #1188
My initial assessment about this being PL1 was wrong. It's PL2. And given it's a fairly rare FP, I do not see the need to act anymore. Closing this.

[2019-03-11 20:48] #1188 closed, assigned to dune73

[2019-03-11 21:11] dune73 commented on #276
I've done the following rule now

[code]

Triggered with `$> curl localhost -d "a=printer)(department=fa*)"`

Question: Where do we put this. I've added it to 921, protocol attacks, but so far there are only http protocol attacks in this group. Other options?

[2019-03-11 21:54] spartantri commented on #1323
Allowing iframe injections is generally a very bad idea and is often abused to perform XSS attacks, if those are required it will be better to white list the allowed targets but be aware that this could open a big hole on the anti-XSS protection.

[2019-03-12 05:29] surajy93 commented on #1323
@spartantri agreed with you. my website is a learning management system and it won't allow me to add a new course that is a big problem for me.
Don't want to white list looking for alternative solution.

[2019-03-12 10:24] fgsch commented on #1324
I don't see anything specific in the logs about response correlation.

Also please provide all the information requested when opening an issue as it is otherwise impossible to help.

[2019-03-12 10:28] fgsch commented on #1299
Closing due to inactivity.

Please reopen or create a new ticket and provide the information requested by @theMiddleBlue .

[2019-03-12 10:28] #1299 closed, assigned to nobody

[2019-03-12 12:29] surajy93 commented on #1324
[:error] [pid 16260] [client 103.58.8.207:27403] [client 103.58.8.207] ModSecurity: Warning. Operator GE matched 5 at TX:inbound_anomaly_score. [file "/etc/modsecurity/rules/RESPONSE-980-CORRELATION.conf"] [line "86"] [id "980130"] [msg "Inbound Anomaly Score Exceeded (Total Inbound Score: 10 - SQLI=0,XSS=10,RFI=0,LFI=0,RCE=0,PHPI=0,HTTP=0,SESS=0): NoScript XSS InjectionChecker: HTML Injection; in

[2019-03-12 12:34] surajy93 commented on #1323
ModSecurity: Warning. detected XSS using libinjection. [file "/etc/modsecurity/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "60"] [id "941100"] [msg "XSS Attack Detected via libinjection"] [data "Matched Data: XSS data found within ARGS:_lp_lesson_video_intro: <iframe src=\\x22https://player.vimeo.com/video/322230047\\x22 width=\\x22640\\x22 height=\\x22360\\x22 frameborder=\\x220\\x22 we

[2019-03-12 12:40] surajy93 commented on #1324
@fgsch anything else needs let me know or guide me.

[2019-03-12 13:14] fgsch commented on #1324
Yes. From the template:

[code]

There should be other rules that also matched. Please include all of them.

[2019-03-12 13:24] surajy93 commented on #1324
@fgsch https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1323 can look into these I have provided all detail.

[2019-03-12 13:31] spartantri commented on #1323
In that case why don't you add a second vhost for accessing the site that use stronger authentication (2FA) to make sure only really trusted users can access it and set the xss inspections on that field

`SecRuleUpdateTargetByTag "attack-xss" !ARGS:contentARGS:content`

This will allow you to insert XSS content, so consider this risky and make it available to a controlled set of users and sources.

[2019-03-12 13:31] #1323 closed, assigned to nobody

[2019-03-12 14:05] fgsch commented on #1324
I'm confused. If the details are in #1323 what's the purpose of this ticket?

[2019-03-12 14:31] surajy93 commented on #1324
@fgsch sorry to make confusion.
no one relying on this issue that why created the second one.

[2019-03-12 15:27] fgsch commented on #1324
In the future please have a bit more patience and avoid creating duplicated issues.
@spartantri has replied to your original issue so closing this one.

[2019-03-12 15:27] #1324 closed, assigned to nobody

[2019-03-12 19:23] lifeforms commented on #664
Implemented in #1325

[2019-03-12 19:24] #664 closed, assigned to nobody

[2019-03-13 09:12] AirisX commented on #794
Hi @victorhora ,

in your example you made mapping of the Cyrillic characters on their analogue in the Latin alphabet. E.g.:
[code]

Although, for mentioned code page 1251 (extension of the ASCII), correct mapping is:
[code]

The question is - do we always need make mapping for non latin symbols to their latin analogue to get working solution? Can you explain?

[2019-03-13 09:57] fgsch commented on #1121
Yes! I can open a PR 😁

[2019-03-13 09:58] fgsch commented on #1317
@geekteq can this be closed now?

[2019-03-13 10:19] #1317 closed, assigned to nobody

[2019-03-13 22:18] csanders-git commented on #1313
The problem with this is that it is really a control char from escaping comment syntax in HTML. Therefore it would be dangerous to add an exception, even if a <!-- wasn't seen.

[2019-03-13 22:30] lifeforms commented on #1313
Good point.

[2019-03-14 05:19] ghost commented on #1290
Worked on this today. See https://github.com/danehrlich1/modsecurity-docker
and this [issue](https://github.com/CRS-support/modsecurity-docker/issues/15) where I basically just echo what @franbuehler says above.

[2019-03-14 08:56] franbuehler commented on #1181
**Summary**
I think that our detection of these evasion techniques is not that bad, but unfortunately we do not have detection at PL1.
I am not sure, if we can change that, if we want to avoid FP at PL1.
I proposed a new rule
[code]
that checks for ticks and backticks with severity CRITICAL at PL2 as an addition to e WARNING rule [942110](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3

[2019-03-15 14:43] nileshyadav2004 commented on #1016
Hi, @rodrigo-martinez . I am doing an reseacher about detecting web attack by machine learning. But I cannot get the original ECML/PKDD 2007 dataset online. Could you send the dataset to me? My e-mail address nileshyadav2004@gmail.com . Thanks a lot plz!

[2019-03-15 14:45] nileshyadav2004 commented on #1016
original  xml ECML/PKDD 2007 dataset files

[2019-03-18 12:34] fgsch commented on #1244
It's been 10 days since the last comment and we haven't heard anything back.
I will close this now but feel free to reopen it.

[2019-03-18 12:34] #1244 closed, assigned to nobody

[2019-03-18 12:35] fgsch commented on #846
This been open since 2017 without further comments. I think it's time to close it.
@dune73 ?

[2019-03-18 13:35] #1313 closed, assigned to nobody

[2019-03-18 14:32] fgsch commented on #1121
PR opened

[2019-03-18 15:38] dune73 commented on #846
Closing this.

[2019-03-18 15:38] #846 closed, assigned to nobody

[2019-03-18 21:44] theMiddleBlue commented on #1182
It could be a good idea to remove `<b>Warning</b>:` from `php-errors.data` and replace it with a more strict SecRule? Something like `<b>Warning</b>:.+in<b>.+\.php</b>.+on\sline\s<b>[0-9]+</b>` ?

[2019-03-19 07:18] lifeforms commented on #1182
@theMiddleBlue I like that idea! I think the `on line N` piece is always part of the warning (it can also be `on line 0`), but the middle part might not always contain `.php` so I'd suggest something like `<b>Warning</b>:.+on\sline\s<b>[0-9]+</b>`

[2019-03-19 08:50] theMiddleBlue commented on #1182
yep! seems legit. Should we handle others type of errors different than `Warning`? something like notice, fatal, etc... ? I'm looking for a complete documentation about it, maybe this http://php.net/manual/en/errorfunc.constants.php ?

[2019-03-19 13:15] spartantri commented on #1182
I think `@pmf` will use that as literal string not as regex so we will need to remove `<b>Warning</b>:` from the data file and add a rule with the rx you suggest to make this work and get rid of the false positive.

[2019-03-19 13:25] dune73 commented on #1182
Yes, unfortunately so.

[2019-03-19 13:48] theMiddleBlue commented on #1182
a little test:

[code]

this display the following errors:

[code]

it seems that `on line` is not present on "Fatal error". What do you think about something like this?

[code]

[2019-03-19 14:29] theMiddleBlue commented on #1182
uhm... removing `<b>Warning</b>:` from `php-errors.data` it seems that all example errors I wrote are already intercepted by 953100...

can anyone suggest others examples? maybe we don't need a new SecRule :)

[2019-03-21 09:37] theseion opened #1328 "No libinjection check on last path segment"
The libinjection rule doesn't perform checks against the last path segment. That allows attackers to spam a webserver with URL's like the following:

[code]

[2019-03-21 16:13] fgsch commented on #1328
Isn't this a dup of #1022?

[2019-03-24 00:05] mhoran commented on #1154
The rules in https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1154#issuecomment-408340542 resolved the phpBB ACP access issues for me. With paranoia level 1, I haven't seen any other false positives. With paranoia level 2, there are a few more, and I decided to lower back to 1.

[2019-03-24 17:30] lifeforms commented on #1309
Solved in pull request #1330 , thanks for submitting this report! :)

[2019-03-24 17:30] #1309 closed, assigned to lifeforms

[2019-03-25 05:47] Hello-Linux opened #1331 "crs-setup.conf config error！"
## Description
When I have all the configurations installed,I use nginx -t  It show "nginx: [emerg] unexpected end of file, expecting ";" or "}" in /etc/nginx/conf.d/crs-setup.conf:857" ? why??? This CRS configuration file is directly copied from your official file without any modification

## Your Environment

* CRS version  master
* ModSecurity version 3.0.2
* Web Server and version  nginx1.15.9

[2019-03-25 06:28] #1331 closed, assigned to nobody

[2019-03-29 11:00] #1167 closed, assigned to franbuehler

[2019-04-01 06:30] dune73 opened #1333 "Monthly Chat Agenda April 2019 (2019-04-01)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, April 1, at 20:30 CET.

## Items on the Agenda:

### PRs
* #1113 Add NGINX Docker and Travis Testing support.
* #1320 XML attack rules file 945000
* #1327 Remove old and unwanted constructs
* #1329 Added libinjection SQLi rule for last path segment
* #1330 Wor

[2019-04-01 16:46] dune73 commented on #1181
That sounds like a well thought through proposal. I think you should do this!

[2019-04-01 18:41] theMiddleBlue commented on #1333
to remind myself: talk about RomHack 2019 :)

[2019-04-01 20:20] #1333 closed, assigned to nobody

[2019-04-02 15:31] robsch opened #1334 "Demo page isn't working"
https://www.modsecurity.org/crs-demo.html

Whatever I try, the response page is:

[2019-04-04 00:05] georgepatterson opened #1337 "Syntax Error line 30: OWASP3/rules/REQUEST-910-IP-REPUTATION.conf"
## Type of Issue

Possible Bug

## Description
Last night (around 11:00AM UTC) we recived an alert from out monitoring that apache had stopped responding. Even though our Level 1 support restarted the server, it still didn't come back.  After I logged in I noted the error message of:

These are on two different lines.

The rule is interesting in that it been put onto as single lines, unlike what;'

[2019-04-04 00:26] csanders-git commented on #1337
almost for sure you are including the rules twice. Did you add another config file recently?

[2019-04-04 00:48] georgepatterson commented on #1337
We haven't. Instead we have subscribed to the Modsecurty Vendor in WHM Cpanel, which updates daily basis. Cpanel responded with an irrelevant suguestion and kicked me over to here. I'm still pusing them for further information though.

The last update was today at 05:40AM local time. (which was Wednesday 6:40PM UTC)

I did a search for the id 910000 ad founnd it both OWASP3/rules/REQUEST-910-IP-RE

[2019-04-04 00:54] csanders-git commented on #1337
do you have access to where these files are included from? typically what this means is that a file has been included twice that duplicates the rules (and thereby IDs)

[2019-04-04 01:13] georgepatterson commented on #1337
They are being included from https://documentation.cpanel.net/display/CKB/OWASP+ModSecurity+CRS

I am not sure whee these rules are being pulled from. I have permtted cpanel access to the server, so let's see what they come back with. I can't find the cron job that might be running the updates

[2019-04-04 01:16] csanders-git commented on #1337
yes, this is all very strange. Let me attempt to help in the mean time.

Typically if it's apache they'll be included from undreneath the http.conf, now this gets tricky cause they could be anywhere under that file (this means that this duplicate could be anywhere). This is generally how this occurs, but it sounds like it was not done via something you manually configured.

[2019-04-04 01:29] georgepatterson commented on #1337
I think someone has made a mess of the repository... or a parser on the server is a mess, though give the timestamp is the same, I doubt it.

/etc/apache2/conf.d/modsec_vendor_configs/OWASP3/rules
[root@server rules]# ls -l
total 824
-rw-rw-rw-. 1 root root   659 Apr  4 05:41 crawlers-user-agents.data
-rw-rw-rw-. 1 root root   551 Apr  4 05:41 iis-errors.data
-rw-rw-rw-. 1 root root   264 Apr  4 0

[2019-04-04 02:06] csanders-git commented on #1337
that looks fine -- considering that they are likely doing something like include rules/*.conf (also congrats on being ticket 1337)

[2019-04-05 13:55] theMiddleBlue commented on #1337
it seems not related to a bug, moreover not related to CRS itself. Closing this for now. Feel free to reopen if you need.

[2019-04-05 13:55] #1337 closed, assigned to nobody

[2019-04-09 13:12] studersi opened #1342 "Regression tests for rule 931110 might be broken"
## Type of Issue

The regression tests for rule 931110 in `owasp-modsecurity-crs\util\regression-tests\tests\REQUEST-931-APPLICATION-ATTACK-RFI/931110.yaml` might not effectively test the rule 931110.

## Description

When I try to recreate the behaviour of the test request in 931110-1, the request is not blocked. But when I add parts of a URL, the request is blocked. This is consistent with the r

[2019-04-09 13:26] studersi commented on #1342
Similarly, regression tests for rule 931120 appear to be broken as well.

The regex for rule 931120 look like this:
[code]

Matching for example a request like the following:
[code]

Requests like the one contained in regression test 931120-3 are not blocked and do not trigger rule 931120:
[code]

And again, the request does not look like it should be matched by the regex.

[2019-04-09 14:14] fgsch commented on #1342
These tests are not enabled. See `enabled: false` at the top of the file.

[2019-04-09 14:16] fgsch commented on #1342
We'd very welcome fixes for these tests in the format of a PR if you have the time and the inclination though!

[2019-04-09 14:19] #1342 closed, assigned to nobody

[2019-04-09 14:21] fgsch commented on #1334
Unfortunately that page is outside our control.

Please do check with support@modsecurity.org.

[2019-04-09 14:21] #1334 closed, assigned to nobody

[2019-04-09 14:22] studersi commented on #1342
Thanks for the quick response @fgsch. I missed the fact that there are disabled rules, but this explains it.

I'll look into it this weekend, I might be able to fix a few of them.

[2019-04-09 14:25] theMiddleBlue commented on #1041
no updates received. Please, feel free to reopen if needed.

[2019-04-09 14:25] #1041 closed, assigned to nobody

[2019-04-09 14:25] fgsch commented on #1342
That'd be great! Please let us know if you need a hand.

[2019-04-09 15:20] theMiddleBlue commented on #501
I'm running this on my production... let's see what happen:

[code]

[2019-04-10 08:11] chrira opened #1344 "Missing Docker base image"
## Type of Issue
Docker build problem

## Description
The base image of the Dockerfile does not exist:
owasp/modsecurity:v2-ubuntu-apache

I don't know the GitHub repo for the owasp/modsecurity Docker image. Therefore I added the issue to this repo.

## Confirmation

[x] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2019-04-10 09:07] franbuehler commented on #1344
Hi @chrira,
Thanks for this issue.
@csanders is working on this problem. He removed the connected GitHub repo from DockerHub and is now not able to add it because of missing permissions.
@csanders, what's the status?

The repo for the ModSecurity images can be found at https://github.com/CRS-support/modsecurity-docker.

[2019-04-10 14:06] bittner commented on #1290
Configuration files for loading the security2_module are missing, IIUC. This should go after the [INSTALL instructions](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/INSTALL#L104-L107) and into files placed in `/etc/apache2/mods-available/`:

[code]
[code]
... and enabled via `a2enmod security2` in the Dockerfile, probably.

[2019-04-10 15:56] franbuehler commented on #1290
@bittner: which Docker image are you talking about?

[2019-04-10 17:09] bittner commented on #1290
@franbuehler: The official [CRS Docker image v3.1](https://hub.docker.com/r/owasp/modsecurity-crs/) from Docker Hub.

In the meantime we've noticed that the configuration I mentioned above is already included:

- `modsecurity.d/include.conf` -> contains the `Include` directives
- `mods-available/modsecurity.load` -> contains the `LoadModule` directive
- `mods-available/modsecurity.conf` -> loads t

[2019-04-10 21:05] franbuehler commented on #1290
Great! No problem 😊

[2019-04-11 17:32] bittner opened #1346 "Reorganize: util/regression-tests -> tests/regression, util/docker/Dockerfile -> /Dockerfile"
Some files and folders are currently not in obvious locations in this repository. It would make it easier for most people to stick to commonly used locations, e.g.

- Regression tests: `/util/regression-tests` -> `/tests/regression` (Place everything that is related to testing the CRS in `/tests`)
- Docker image: `/util/docker/Dockerfile` -> `/Dockerfile` (Typically placed in the root folder; acco

[2019-04-11 20:51] itmagpro opened #1347 "Modsecurity blocked request by unknown reason and rule id"
On my server:
[code]

Modsecurity blocked request to my contact page by unknown reason and rule id:
[code]

`modsecurity.conf` default  as `modsecurity.conf-recommended` - how to fin rule that blocked this request?

[2019-04-12 07:46] theMiddleBlue commented on #1347
Hi @itmagpro, I can't see the `K` part on your log. Be sure to have it on your `SecAuditLogParts` in order to see rules and messages from your rule set.

If you're not using the OWASP Core Rule Set, please refer to the [ModSecurity](https://github.com/SpiderLabs/ModSecurity/) git project.

Thanks!

[2019-04-12 07:46] #1347 closed, assigned to nobody

[2019-04-12 11:14] Ezizeay opened #1349 "ModSecurity failed rules"
Hello

It has been long time, no matter what attacks to the Apache/2.9.0, only following rule is triggered
[file "/etc/httpd/modsecurity.d/ruleset-01-crs/REQUEST-20-PROTOCOL-ENFORCEMENT.conf"] [line "722"] [id "960015"] [rev "3"]
# Environment
Producer: ModSecurity for Apache/2.9.0 (http://www.modsecurity.org/); OWASP_CRS/3.0.0.
CentOS release 6.10 (Final)

Any idea how to fix it please.

[2019-04-12 11:47] lifeforms commented on #1349
Hi @Ezizeay , it seems you are running a very old version of the CRS ruleset.

Would it be possible for you to upgrade them to the latest version?

[2019-04-13 11:41] studersi commented on #1342
Ok, I created a pull request here: https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1350.

[2019-04-13 14:55] Ezizeay opened #1351 "test modsecurity from CLI"
Hi, as the title says I need to test if crs can be fired or not.
Since there is no GUI installation of centOS6.10 in my environment,
I have to test it by command line .
Any suggestion will highly be appreciated.

[2019-04-13 15:03] Ezizeay commented on #1349
Hi  @lifeforms, thanks for your attention.  OWASP_CRS/3.0.0. is old version???
Yes, it is possible to upgrade it.  Will you please provide some link/descriptions to do it??
By the way, what is your suggestions of testing crs without browsers?

[2019-04-14 03:36] itmagpro commented on #1347
I using "OWASP ModSecurity Core Rule Set" refer on this page:

OWASP ModSecurity Core Rule Set (CRS)
https://www.modsecurity.org/crs/

Ok, see log with K section:
[code]

[2019-04-14 03:40] itmagpro opened #1352 "Hi @itmagpro, I can't see the `K` part on your log. Be sure to have it on your `SecAuditLogParts` in order to see rules and messages from your rule set."
Hi @itmagpro, I can't see the `K` part on your log. Be sure to have it on your `SecAuditLogParts` in order to see rules and messages from your rule set.

If you're not using the OWASP Core Rule Set, please refer to the [ModSecurity](https://github.com/SpiderLabs/ModSecurity/) git project.

Thanks!

_Originally posted by @theMiddleBlue in https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1

[2019-04-14 03:55] itmagpro commented on #1352
Access to /faq/ and to /contact/ dir (this dir, not /contact or /faq page) forbidden in .htaccess, and I see that modsecurity just interpreted (dublicated) 403 message from Apache2 error.log:
[code]

to /var/log/httpd/modsec_audit.log as threat:
[code]

and not present Apache2 error.log like some this:
[code]

[2019-04-14 04:02] itmagpro commented on #1352
General question: how to avoid dublicate Apache2 403 behavior from .htaccess rules to /var/log/httpd/modsec_audit.log?

[2019-04-14 04:03] itmagpro commented on #1347
Access to /faq/ and to /contact/ dir (this dir, not /contact or /faq page) forbidden in .htaccess, and I see that modsecurity just interpreted (dublicated) 403 message from Apache2 error.log:
[code]

to /var/log/httpd/modsec_audit.log as threat:
[code]

and not present Apache2 error.log like some this:
[code]

General question: how to avoid dublicate Apache2 403 behavior from .htaccess rules to /v

[2019-04-15 09:09] theMiddleBlue commented on #1352
@itmagpro uhm, sorry the K section was not so helpful in this case. If I understand well, Apache itself return 403 because of your .htaccess configuration. Anyway, it seems that your issue is not related to a CRS problem (and your request doesn't match any CRS rule). Closing this for now but if you disagree feel free to reopen.

[2019-04-15 09:09] #1352 closed, assigned to nobody

[2019-04-15 09:18] theMiddleBlue commented on #1349
Hi @Ezizeay

You can find information on how to install CRS3.1 here: https://coreruleset.org/installation/
Please, feel free to reopen this if you have further details about your issue.

[2019-04-15 09:18] #1349 closed, assigned to nobody

[2019-04-15 09:23] theMiddleBlue commented on #1351
Hi @Ezizeay

I'm closing this issue because it's not related to a CRS problem. BTW, If you need to send HTTP requests via CLI, you can use something like `curl`, `wget`, `httpie`, etc...

thanks!

[2019-04-15 09:23] #1351 closed, assigned to nobody

[2019-04-15 10:31] Ezizeay commented on #1349
Hi @theMiddle

Thanks for your attentions. I was told to trigger crs rules with current configurations.
I have trying followings on centos6.10 (modsecurity enable on apache without browser), but not working.
curl 'http://ip/?q="><script>alert(1)</script>'
curl "http://ip/?q='1 OR 1=1"
curl localhost/index.html?exec=/bin/bash
curl ip/index.html?exec=/bin/bash
Please shed some lights to trigger crs

[2019-04-15 14:18] Ezizeay opened #1353 "Apache configuration should include Modsecurity confiuration?"
What if Apache configuration does not include the Core Rules, ModSecurity?
Is it essential for ModSecurity functioning well?
Should it be included automatically or manually?

I have checked httpd.conf file and found that Modsecurity confiurations are not there (e.g. the attached configurations.

![Untitled](https://user-images.githubusercontent.com/49372377/56139809-e3eb6280-5f99-11e9-8b99-b31346f

[2019-04-15 15:24] spartantri commented on #1353
Hi @Ezizeay if the modsec main setup, crs setup and rules are not in your webserver include list, modsecurity provide no protection against attacks if you want that you need to add the includes yourself.

[2019-04-15 15:38] Ezizeay commented on #1353
Hi @spartantri
  Thanks a lot for your comments.
Can I COPY/PASTE the include directives in modsecurity.conf into httpd.conf file ???
Or I simply delete the includes directives (attached above) in modsecurity.conf and rewrite the include directives (or just copy) in httpd.conf file??
Thanks in advance of your attention.

[2019-04-15 15:52] spartantri commented on #1353
That depends if yours match the same path then copy/past the includes will work, I do not advise you to copy the entire `httpd.conf` as there may be other settings that are not compatible.
Once you do that also verify the CRS setup conf file and restart your Apache and it should load the rules.

[2019-04-15 16:03] s0md3v opened #1354 "Vulnerable regexp in rule 932140"
The vulnerable regular expression is located in
`/crs/rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf`
on line 404. [[Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/d0440071931e0d56256348334987bd38403d33c0/rules/REQUEST-932-APPLICATION-ATTACK-RCE.conf#L404)]

The vulnerability is caused by nested repetition operators and can be exploited with the following string

[code]

[2019-04-15 16:13] s0md3v opened #1356 "Vulnerable regexp in rule 933161"
The vulnerable regular expression is located in `/crs/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf` on line 642. [[Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/97969eae7bb8ac7cdc6a8b8132361b701117e564/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf#L642)]

The vulnerability is caused by nested repetition operators and intersecting alternate patterns. It can be exploited with the f

[2019-04-15 16:22] s0md3v opened #1357 "Vulnerable regexp in rule 933180"
The vulnerable regular expression is located in `/crs/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf` on line 451. [[Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/97969eae7bb8ac7cdc6a8b8132361b701117e564/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf#L451)]

The vulnerability is caused by nested repetition operators and can be exploited with the following string

[code]

[2019-04-15 17:01] s0md3v opened #1358 "Vulnerable regexp in rule 933160"
The vulnerable regular expression is located in `/crs/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf` on line 337. [[Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/97969eae7bb8ac7cdc6a8b8132361b701117e564/rules/REQUEST-933-APPLICATION-ATTACK-PHP.conf#L337)]

The vulnerability is caused by nested repetition operators and can be exploited with the following string

[code]

PS: For som

[2019-04-15 17:25] s0md3v opened #1359 "Vulnerable regexp in rule 942260, 942490 (was: 942330)"
The vulnerable regular expression is located in `/crs/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf` on line 913. [[Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/313ae7d1e525285cd0ff1a830c4f111ffad8b9a7/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf#L913)]

The vulnerability is caused by nested repetition operators and can be exploited with the following string

[code]

[2019-04-15 19:50] itmagpro opened #1360 "Why modsecurity register Apache2 403 .htaccess rule event instead only own modsecurity event?"
@itmagpro uhm, sorry the K section was not so helpful in this case. If I understand well, Apache itself return 403 because of your .htaccess configuration. Anyway, it seems that your issue is not related to a CRS problem (and your request doesn't match any CRS rule). Closing this for now but if you disagree feel free to reopen.

_Originally posted by @theMiddleBlue in https://github.com/SpiderLabs

[2019-04-16 08:02] theMiddleBlue commented on #1359
Hi @s0md3v

Thank you so much for reporting this! I'm testing it on my nginx + modsec3 and I confirm that it takes a lot of time to process a request like:

[code]

I'm creating a rule that drop a request if it contains repeating multiple characters. Based on your experience, what do you think about something like `if [\"]{10,} then drop` ?

thanks!

[2019-04-16 08:24] s0md3v commented on #1359
Hi @theMiddleBlue ,

I would like to patch all the 5 issues I have reported. I have opened a PR for the most critical one already.
I don't think dropping the request is great idea. I mean there's no way a legitimate user would enter that much of double quotes but I think it would be better if can fix the root cause which is the following sub-pattern

[code]
There are two problems,

##### Intersect

[2019-04-16 08:26] theMiddleBlue commented on #1359
Oh didn't see the PR sorry! That's really great! I'm testing your changes right now

[2019-04-16 08:28] theMiddleBlue commented on #1359
are your planning to fix all 5 issues in a single PR?

[2019-04-16 08:32] s0md3v commented on #1359
Do you want me to include all the fixes in one PR? Yeah sure, we can do that.

[2019-04-16 08:36] theMiddleBlue commented on #1359
Maybe to have it in a single PR can help us to talk about it (and test your changes quickly). But this is only my opinion, let's see what others say ;)

[2019-04-16 08:40] s0md3v commented on #1359
I thought it would be better to keep them separate so we can talk about different ways to tackle them and regression testing without getting things mixed up.

[2019-04-16 08:41] theMiddleBlue commented on #1359
ok, no problem for me!

[2019-04-16 09:14] s0md3v commented on #1356
Hi @theMiddleBlue ,

The ReDOS vulnerabilty in #1356, #1357 and #1358 is caused by a **similar** sub-pattern
[code]

This sub-pattern matches the following strings
<pre>         (anything)
/*anything*/(anything)
//anything(anything)
#anything(anything)
</pre>

But it also matches the following
<pre>
/*anything//anything#anything*/anything/anything(anything)
</pre>

Is it intended behavior?
If not,

[2019-04-16 09:51] theMiddleBlue commented on #1356
If you're talking about 942330 it should be the intended behavior. Unlike what you reported on #1359 I'm not able to reproduce the issue. Any help on defining a ReDoS HTTP request that matches 942330?

[2019-04-16 09:56] theMiddleBlue commented on #1357
Unlike what you reported on #1359 I'm not able to reproduce the issue. Any help on defining a ReDoS HTTP request that matches 933180?

[2019-04-16 09:57] theMiddleBlue commented on #1358
Unlike what you reported on #1359 I'm not able to reproduce the issue. Any help on defining a ReDoS HTTP request that matches 933160?

[2019-04-16 09:59] theMiddleBlue commented on #1354
Unlike what you reported on #1359 I'm not able to reproduce the issue. Any help on defining a ReDoS HTTP request that matches 932140?

[2019-04-16 10:13] s0md3v commented on #1356
@theMiddleBlue It might be due to the different regex engines we are using.
I used [regex101.com](https://regex101.com/) to craft exploit strings and a python interpreter to confirm the exploits and determine their impact.

There are tons of sub-patterns before `(?:\s|/\*.*\*/|//.*|#.*)*\(.*\)` in the rule and the regex engines might be matching them against the input differently but the vulnerabi

[2019-04-16 10:27] s0md3v commented on #1356
One more thing, I `searched` not `matched` while testing so the exploit strings might not `match` the pattern.
The best way to confirm the vulnerabilities is to take the vulnerable sub-pattern and run a `search` against the exploit strings. A `match` can also be used given that a matching prefix is provided.

[2019-04-16 13:26] spartantri commented on #1354
Hi @s0md3v ,there is a limit for following those bad regex matches in modsecurity, have you tested this in modsecurity? what is your current modsecurity setup and what is the extent of the impact you noticed?

[PCRE match limit](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecPcreMatchLimit)
[PCRE match limit recursion](https://github.com/SpiderLabs/ModSecurity/wiki/R

[2019-04-16 13:48] s0md3v commented on #1354
Hi @spartantri ,

I don't have modsecurity setup on my machine and I don't really need one because the vulnerability exists in the regular expression.

I simply extracted all the regular expressions from the configuration files, ran a quick grep to find the find the potentially vulnerable ones, tried to exploit them one by one by using [regex101.com](http://regex101.com/) and then verified the imp

[2019-04-16 14:17] spartantri commented on #1354
Unless the configuration is made purposely changed to extremely high limits this is not a high DoS vulnerability as the title suggest as the limits are like adding an {#} to the regex in place of a recursive match.

When limits are reached, depending on your particular setup and the rule logic the transaction most probably will be blocked. I agree there are some regex that need some love to make t

[2019-04-16 14:29] s0md3v commented on #1354
Thanks for making this clear but what's the default behavior?
Does mod_security flags the request as malicious when the timeout value is reached?

[2019-04-16 15:55] s0md3v commented on #1356
@spartantri What about this one?
Do we want to match `*anything//anything#anything*anything/anything(anything)`?

[2019-04-16 16:25] spartantri commented on #1356
This one is tricky, as mentioned in the comments it aims to match different php injection evasion techniques
[code]

[2019-04-16 17:24] s0md3v commented on #1356
Well that means if the attacker entered `system/*different // types of #comments in \t here*/(...)`
We should stop looking for the alternatives once we detect `/*` and skip to the `*/(...)` part but the currently implemented rule tries to keep looking for repetition of the different type of comments which isn't really required and causes ReDOS as discussed.
I am opening a PR to fix 3 instances of

[2019-04-16 17:48] airween commented on #1356
Hi @s0md3v,

just FYI, ModSecurity (ModSecurity2 and libmodsecurity3) uses [pcre_exec()](https://pcre.org/original/doc/html/pcre_exec.html), which uses `match` criteria, instead of `search`.

https://github.com/SpiderLabs/ModSecurity/blob/52532a1bce0b705c0aa4365fecf727b836d37f00/apache2/msc_pcre.c#L156

https://github.com/SpiderLabs/ModSecurity/blob/b5744183866042ea9a451858a843de3c012f63ef/src/uti

[2019-04-16 17:50] s0md3v commented on #1356
@airween
Your rule is `(really complex regex)(vulnerable regex I am interested in)`
I took the vulnerable sub-pattern and exploited it.
I hope that makes sense.

[2019-04-16 17:55] s0md3v commented on #1356
I will update these issues with "working" exploit strings shortly. brb

[2019-04-16 18:40] s0md3v commented on #1356
Just tried this with C++ engine and **it is** vulnerable to catastrophic backtracking.

![Screenshot_2019-04-17_00-07-12](https://user-images.githubusercontent.com/26716802/56235344-df5fa080-60a4-11e9-8f9b-94a99748807b.png)

I am not really sure why you guys are unable to reproduce this one.
Didn't you even notice a processing delay of just 1 second?
That's strange

[2019-04-17 08:30] Ezizeay commented on #1353
Can't thank enough @ spartantri.
Really helpful. I don't know how to close it.
Have a nice day

[2019-04-17 09:49] #1353 closed, assigned to nobody

[2019-04-17 10:36] theMiddleBlue commented on #1360
I'm not sure to understand well your question. If I'm not wrong, you get a 403 from your Apache when you request some paths that are disallowed by your .htaccess configuration, is it right? What you see on your modsecurity audit logs, depends on how you have configured `SecAuditEngine` and `SecAuditLogRelevantStatus`. For example, if you have configured `SecAuditEngine` to `RelevantOnly` and `SecA

[2019-04-17 10:36] #1360 closed, assigned to nobody

[2019-04-17 14:26] Ezizeay opened #1363 "Why Packages are incompatible"
Dear all
Why packages of CRS 2.x are incompatible with CRS 3.x. ??
(what packages for example?)
How to check if CRS 3.x is upgraded from CRS 2.x or simply installed freshly?

Thanks in advance for your attentions.

![Capture](https://user-images.githubusercontent.com/49372377/56295729-7f610c80-612d-11e9-9c79-2e7924c47780.PNG)

[2019-04-18 19:43] spartantri commented on #1363
Hi @Ezizeay we did a lot of changes including rule id changes from old 2.x to 3.0, I would advice to go directly to the latest 3.1, the number of false positive in v2 is much higher and there are tons of new features included since then.

[2019-04-18 19:43] #1363 closed, assigned to nobody

[2019-04-19 10:43] Ezizeay opened #1365 "rejected (Error 500) at our modsecurit crs with error"
Hello

Requests are rejected (Error 500) at our modsecurit crs with error “"Outbound Anomaly Score Exceeded (score 4): The application is not available" ." .

AAA-20191219:22.14.12.125 - - [18/Dec/2019:9:43:23 +00]
"POST /XXX-server-app/v1/licenses/ HTTP/1.1" 500 78 "-" "okhttp/3.11.0" 48718µs 744 UNIQUE_ID="XLiN@38AAAEAAPnddHgAAAAR"
SSL_CLIENT_S_DN_CN="-" SOAPAction=- SOAP_RESPONSE=-

AAA-2019041

[2019-04-24 01:12] smerriman commented on #1232
Very sorry for posting here, since this probably isn't meant to be a support forum.

But I'm having all of the OWASP rules triggered for the REST API endpoints when attempting to save a post in Gutenberg, implying these exceptions aren't happening.

I see this was only resolved relatively recently; is it possible Cloudflare haven't integrated the new ruleset yet?

Can provide more details if neces

[2019-04-24 08:47] Ezizeay opened #1366 "Freshly installing CRS 3.1 into Apache 2.2"
what is worse case of installing CRS 3.1 into Apache 2.2 (End-of-Life) in CentOS?
what is best environment requirements to install CRS 3.1?

[2019-04-24 09:28] lifeforms commented on #1232
Hi @smerriman, this change is not yet in an official CRS release. It will certainly be in the next release CRS 3.2 but this does not have a timetable yet. We are not aware of how/when Cloudflare picks up our releases, I think they likely use their own internal fork and integrate changes on their own pace.

[2019-04-24 11:29] Ezizeay opened #1367 "why modsec_audit.log is NOT ABEFHIJZ format"
Hello ;
1.
Since configured as `SecAuditLogParts              ABEFHIJZ`.
but why modsec_audit.log looks like below? I can't understand anything from the log.

secure-xxx 60.180.1.15 - - [1/Mar/2019:15:26:11 +0100] "POST xx/v1u1 HTTP/1.1" 200 309 "-" "-" XBEag6rT8su8jTS1nrYlCwAAAAU "-" /2019512/2019512-1526/2019512-152611-XBEag6rTsdz"nrYlCwAAAAU 0 26599 md5:ae4bsdfze67a4a9277zee67a4ac988af1

2.
Is

[2019-04-24 13:30] spartantri commented on #1366
Hi @Ezizeay for support questions you can use the mail list https://sourceforge.net/projects/mod-security/lists/mod-security-users or even better use  https://owasp.slack.com in the channel #coreruleset

As for your question, I would definetively stay away from EOL software, you may compile your own Apache 2.4, here is a good tutorial to help you start with ModSecurity and CRS https://www.netnea.c

[2019-04-24 13:30] #1366 closed, assigned to nobody

[2019-04-24 13:43] spartantri commented on #1367
Hi @Ezizeay this is not an auditlog sample, it looks more like a custom format access log, there are two format for auditlog native and json, native is human readable pretty easy to read clear text, json is better for scripting and searching but looks ugly unless you parse it with `jq` or `python -m json.tool`.

Please read the tutorials I shared in other ticket, to help you better understand ModS

[2019-04-24 14:00] Ezizeay commented on #1367
Thanks spartantri
I will do what you said

[2019-04-24 14:30] spartantri commented on #1365
Hi @Ezizeay this error means that the application replied with a 500 reply and ModSecurity is blocking it.

If you need to let those 500 response (/!\ caution can be risky) to go out, you can do it with this run-time rule removal added into your custom rules.
```SecRule RESPONSE_STATUS "@eq 500" "phase:3,id:58,t:none,ctl:ruleRemoveById=970901"```

Be careful as this will let all 500 response to le

[2019-04-24 19:04] #1367 closed, assigned to nobody

[2019-04-24 19:05] spartantri commented on #1365
Closing this since it is not a bug, feel free to contact us over slack or mail list for support related questions

[2019-04-24 19:05] #1365 closed, assigned to nobody

[2019-04-24 21:17] smerriman commented on #1232
OK, thanks for the reply. Hopefully the release is very soon, since otherwise it appears there is basically no option other than to disable OWASP rules entirely for any site running WordPress.

[2019-04-25 04:36] JeffCleverley commented on #1232
It is possible to write a whitelist rule for the api endpoints... that what I did

[2019-04-26 10:00] fgsch commented on #1346
I think for the regression tests it makes sense. The docker image is used for testing really, and there are other dependencies so I think it's current place is OK.

As for docs, I personally agree with your suggestion but I'm not sure if there is much value moving it around.

My suggestion would be to start with the tests and take it from there. What do you think?

[2019-04-26 12:31] lifeforms opened #1369 "ReDoS meeting agenda - Apr 29"
We will hold a chat on the Slack channel to triage, review and merge the ReDoS fixes (the proposed changes are welcome, yet they could lead to changes in the behavior and we need to be very careful).

The date = 29 Apr 2019, 19:30 UTC = 20:30 CEST.

The agenda:
- https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1359 report 5 (Priority 1)
- https://github.com/SpiderLabs/owasp-modsecurity-

[2019-04-26 12:34] lifeforms commented on #1369
@s0md3v We would love it if you could join our chat on Monday! Do you think you can make this time? It might be a bit late, depending on your time zone, but I don't know your sleeping schedule ;) Let us know.

[2019-04-26 14:07] s0md3v commented on #1369
Hi @lifeforms ,
I would love to join the chat but it would be 1:30 AM in here, so for some reason I fail to make it to the chat, I apologize in advance.
You can mail me conference details through s0md3v@gmail.com or just DM me on my twitter @s0md3v.

[2019-04-26 14:09] dune73 commented on #1354
This issue is being referenced as [CVE-2019-11388](https://nvd.nist.gov/vuln/detail/CVE-2019-11388) by NIST.

I confirm that this issue is not present with ModSecurity.

I have tried to reproduce the behaviour with the following call:

[code]

against the following setups:
* Vanilla ModSec 2.9.3 on Apache
* ModSec 2.9.3 on Apache with PCRE Match Limits of 50M
* ModSec 3.0.3 on Nginx 1.3.12

None o

[2019-04-26 14:16] dune73 commented on #1354
This issue is being referenced as [CVE-2019-11388](https://nvd.nist.gov/vuln/detail/CVE-2019-11388) by NIST.

[2019-04-26 14:18] dune73 commented on #1356
This issue is referenced as [CVE-2019-11389](https://nvd.nist.gov/vuln/detail/CVE-2019-11389) by NIST.

This issues is not directly exploitable in CRS / ModSecurity.

Tested against ModSecurity 3.0.3 on Nginx 1.3.12.

[code]

[2019-04-26 14:43] s0md3v commented on #1354
I did not craft exploits for the whole strings because they could have been abused. I wrote exploits for the vulnerable sub-patterns.

[2019-04-26 15:10] spartantri commented on #1354
@dune73  Some engines (like the one of regex101 which is different than modsec) get catastrophic backtracking errors with
```for/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d/d %variable in(se

[2019-04-26 16:02] NizarBlond opened #1370 "High Memory with Nginx 1.14 + ModSecurity v3"
## Type of Issue
performance issue

## Description
I'm running on a 4GB RAM on Amazon Linux 2 server which hosts multiple WP sites, almost 90, all have static content (cached pages) and the images/assets are all on CDN. Up until now, it was running perfectly fine.

I recently installed ModSecurity + OWASP ModSecurity

https://github.com/SpiderLabs/ModSecurity
https://github.com/SpiderLabs/ModSecur

[2019-04-26 16:23] lifeforms commented on #1369
Hi @s0md3v , wow that's very late. We can't ask that of you of course. But we could also discuss it earlier.

We always hold the chat on the OWASP Slack. You can find an invite in the top post, please join us in channel #coreruleset if you like :)

[2019-04-26 17:05] s0md3v commented on #1354
I tested it with Python.

[2019-04-26 21:04] fgsch commented on #1354
From pcre:

[code]

[2019-04-26 21:26] fgsch commented on #1370
This is really not a CRS question and probably more suited for https://github.com/SpiderLabs/ModSecurity or https://security.stackexchange.com/questions/tagged/owasp-crs.

[2019-04-26 21:26] #1370 closed, assigned to nobody

[2019-04-26 21:29] fgsch commented on #1344
As @franbuehler pointed out the Dockerfile to build the image is available in the repo above.
For the tests in this repo we have temporarily switched to the latest tag so there is no other action on this ticket.

[2019-04-26 21:29] #1344 closed, assigned to nobody

[2019-04-27 16:05] s0md3v commented on #1369
@lifeforms I appreciate you for changing the schedule for my comfort. thanks. That invite link expired tho.

[2019-04-28 05:07] dune73 commented on #1357
This issue is referenced as [CVE-2019-11391](https://nvd.nist.gov/vuln/detail/CVE-2019-11391) by NIST.

This issues is not directly exploitable in CRS / ModSecurity.

Tested against ModSecurity 3.0.3 on Nginx 1.3.12.

[code]

[2019-04-28 05:08] dune73 commented on #1358
This issue is referenced as [CVE-2019-11390](https://nvd.nist.gov/vuln/detail/CVE-2019-11390) by NIST.

This issues is not directly exploitable in CRS / ModSecurity.

Tested against ModSecurity 3.0.3 on Nginx 1.3.12.

[code]

[2019-04-28 05:11] dune73 commented on #1359
This issue is referenced as [CVE-2019-11387](https://nvd.nist.gov/vuln/detail/CVE-2019-11387) by NIST.

This issues is directly exploitable in CRS / ModSecurity with Paranoia Level 2 on ModSecurity 3 on NGINX (Tested against ModSecurity 3.0.3 on Nginx 1.3.12).

The issue is not directly exploitable on ModSecurity 2 thanks to PCRE match limit settings, that are very low by default.

The rule affect

[2019-04-28 07:41] dune73 commented on #1354
Thanks for your feedback @s0md3v. I see the problem in the regex and I can confirm what @fgsch got with `pcre2test`. Yet I am not sure if you can really exploit this via CRS/ModSec. After all CRS rule 932140 applies two transformations to the payload and I do not see any misbehaviour of the webserver with your subpattern.

Also: Where would the subpattern and the pattern lead to different behaviou

[2019-04-28 08:47] s0md3v opened #1372 "Regarding the ReDOS exploit strings & the un-reproducibility"
Hi there,

I am submitting this issue as the team is unable to see any impact by using the "exploit strings" i provided.
Look at the following regular expression:

[code]

This is indeed a very long regular expression to reverse into a string by hand when you are looking at tons of such regular expressions.
However, the only vulnerable part of the regular expression is the following:
[code]
This p

[2019-04-28 08:47] s0md3v commented on #1372
CC: @dune73

[2019-04-28 10:05] fgsch commented on #1372
@s0md3v if this is really a matter of using the right payload you can send this privately to the core developers.
I still fail to understand why a different payload will work when the pcre limits are in place though.

[2019-04-28 11:39] s0md3v commented on #1372
@fgsch If PCRE limits are in place, ReDOS won't occur but i guess Mod Security v3 doesn't have those limits because of some compatibility issue.
It's up to you if you want to fix the regexes or set up the limits.

[2019-04-29 06:27] dune73 commented on #1369
Could you try out the following invite https://join.slack.com/t/owasp/shared_invite/enQtNjExMTc3MTg0MzU4LTViMDg1MmJiMzMwZGUxZjgxZWQ1MTE0NTBlOTBhNjhhZDIzZTZiNmEwOTJlYjdkMzAxMGVhNDkwNDNiNjZiOWQ

It takes you to the channel #OWASP, then join channel #coreruleset.

[2019-04-29 07:50] s0md3v commented on #1369
[Joined]

[2019-04-29 08:11] dune73 commented on #1372
ModSec 3 does not allow a user to configure the limits, but they are there baked into the binary. However, transformations come into play too, so maybe it's the transformations that kill your attack (payload). Honestly, I do not really know why the attacks do not work.

The resulting problem with your issues / CVEs is thus, that they do not lead to a DoS. It is obvious, that quite a few of our reg

[2019-04-29 11:32] dune73 commented on #1359
Reproduction with pcre2test based on known payload and the regex from 942490.

[code]

[2019-04-29 14:01] dune73 commented on #1359
Rule `942260 Detects basic SQL authentication bypasss attempts 2/3 (PL 2)` is also affected by the DoS problem with this payload.

Regex:
[code]

Sources before regexp::assemble:
[code]

[2019-04-29 15:30] spartantri opened #1374 "Add CVE-2019-2725 to 944"
## Type of Issue
Add comments and test exploits

## Description
The info about RCE vulnerabilities witthout patch that should be blocked by CRS 3.2 https://isc.sans.edu/forums/diary/Unpatched+Vulnerability+Alert+WebLogic+Zero+Day/24880/
Exploits to test:
https://github.com/jas502n/CNVD-C-2019-48814/tree/master/cve-2017-10271
https://github.com/jas502n/CVE-2018-2628

Original CVE: CVE-2018-2628
New

[2019-05-01 22:40] #1369 closed, assigned to nobody

[2019-05-02 01:53] mhoran opened #1377 "HttpBL checks incompatible with modsecurity 3"
## Type of Issue
Changes in modsecurity 3 result in false negatives for HttpBL checks.

## Description
Due to a change in the implementation of the `@rbl` operator in modsecurity 3 (see [issue](https://github.com/SpiderLabs/ModSecurity/issues/1845#issuecomment-434480718)), the HttpBL checks can no longer determine whether the given IP should be blocked.

This is because `tx.1` now returns the matc

[2019-05-03 23:07] fgsch commented on #1354
We should correct the regexp regardless since the parameter can only appear once.
I've commented on the PR, and hopefully after it's updated we can merge it if there are no objections.

[2019-05-04 03:56] lowk3v opened #1386 "Bypass rule PHP Script Uploads with id=933111 and id = 933110"
## Type of Issue
incorrect bypass (false negative)

## Description
I bypassed this pull issue [#355](https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/355)

In rule id = 933110,
This behavior return true
[code]
But, by replacing `X_Filename` to `X.Filename`
[code]
in my php application, that understanding`X.Filename`  is  `X_Filename`
- request:
[code]
- response:
![image](https://user-imag

[2019-05-04 09:22] fgsch commented on #1386
I guess you meant false negative here.

Confirmed. Since dot is not valid in a variable in PHP it is transformed to underscore.

[2019-05-04 09:54] lowk3v commented on #1386
sorry, i edited

[2019-05-05 07:14] theMiddleBlue commented on #1377
Thanks @mhoran

maybe you should take a look at https://github.com/SpiderLabs/ModSecurity/issues/1845 there're a lot of information about this issue and a workaround for nginx using the Lua module.

[2019-05-05 12:57] mhoran commented on #1377
I saw your Lua workaround and thought it was pretty cool (I first stumbled across your blog post first and then tried to find the corresponding issue.) Unfortunately, the fact that the CRS still has rules that don't work with modsecurity 3 still led me to debug a configuration that wouldn't work no matter how much effort I put into it.

I'm not sure if there's a way to get these rules to work agai

[2019-05-05 13:47] mhoran commented on #597
I just hit this after enabling modsecurity and the CRS for my WordPress site. I had a draft post that had a sentence ending in "...". Of course, the thing that comes after "..." is a newline, or "\n" -- which triggers rule 930110 and 942440. The WordPress exclusions don't do anything to handle this, so I couldn't save my post. I deleted it and recreated without the "...", but fortunately I had acc

[2019-05-05 13:56] #1386 closed, assigned to nobody

[2019-05-06 15:53] chladic opened #1398 "SQL inject false negative - filter bypass"
I'd like to report false negative for this SQL injection in URL.
Its passing our modsec rules even if we removed all exceptions in place.

https://mydomain.com/sign-in%20or%20(1,2)=(select*from(select%20name_const(CHAR(72,118,86,115,107,102,97,77,100,99),1),name_const(CHAR(72,118,86,115,107,102,97,77,100,99),1))a)%20--%20and%201%3D1

https://mydomain.com/sign-in999999.1%20union%20select%20unhex(he

[2019-05-06 18:30] dune73 opened #1402 "Monthly Chat Agenda May 2019(2019-05-06)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, May 6, at 20:30 CET.

## Items on the Agenda:

### ReDoS and 3.1.1 release
* Status of the work vs the CVEs and the release plan

### PRs
* Huge groups of new tests by emphazer
* #1392 (new WAF bypass)

### Other items

* Status of our test suite on ModSec 3
*

[2019-05-06 19:16] dune73 commented on #1402
### Decisions
* @fgs needs some additional days to finish the immediate ReDoS work. We'll release 3.1.1 afterwards.
* Rest of the team supports him with tests
* @emphazer will continue to develop tests. We welcome as many tests as we can have for the time being.
* @fzipi and @airween and @emphazer form a little team to close gaps with our test tool FTW, namely when it comes to detect ReDoS.
* PR #

[2019-05-06 20:16] csanders-git commented on #1346
I'll add symlinks and we'll slowly remove the old links as we proceed inn the future.

[2019-05-06 20:26] franbuehler commented on #1398
Comment by Walter:

I think 1389 is a more commonly seen issue. It’s because we don’t scan `REQUEST_FILENAME` for sql so heavily. That might be because of FP. If we add that, we might get some FPs. For instance a blog post with `-having-` in the slug is likely to trigger libinjection. So maybe we should do it but in PL2.

I think a sibling for 942100 on REQUEST_FILENAME would likely be of most val

[2019-05-06 21:01] bittner commented on #1346
Thank you!

JFYI, we're inheriting from your Docker image ([vshn/modsecurity](https://hub.docker.com/r/vshn/modsecurity)), add a few sensible customizations and use it in production for customers. Going forward, we hope to get some insight into what makes sense to push upstream. I hope that sounds good.

[2019-05-06 21:23] csanders-git commented on #1346
That sounds good -- we've been making a lot of changes on this front in the coming week or two. As you might have noticed we've been focusing on the upstream https://hub.docker.com/r/owasp/modsecurity -- So now that this is almost done we can move down to the CRS one.

[2019-05-06 22:32] CanadianJeff commented on #1402
that invite link is dead

[2019-05-06 22:37] #1402 closed, assigned to nobody

[2019-05-07 04:13] dune73 commented on #1402
Thank you for the infor @CanadianJeff. Will use a new one for the next meeting.

[2019-05-07 07:18] dune73 commented on #597
It's an annoying problem and we should take care of it. But with so many other things going on, it did not get priority so far. Sorry.

[2019-05-07 07:31] chladic commented on #1398
@franbuehler many thanks for your answer. In this case we will test rule 942100 on REQUEST_FILENAME as you suggested.

[2019-05-07 12:41] dune73 opened #1404 "Additional test(s) for 931130"
PR 1388 has been merged with an open request for more tests.

This issues is meant to track that request.
It is meant to be assigned to @studersi who volunteered to write said tests. Unfortunately we can not assign to non-project members.

[2019-05-07 19:23] theMiddleBlue commented on #1182
fixed with #1343

[2019-05-07 19:23] #1182 closed, assigned to nobody

[2019-05-08 07:31] theMiddleBlue commented on #1377
you're right. I think that the easiest way to solve it is to don't include [REQUEST-910-IP-REPUTATION.conf](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-910-IP-REPUTATION.conf) in your modsecurity configuration, isn't it?

[2019-05-08 15:31] farouqBenarous commented on #1016
Can anyone send me the dataset its not availible in their website  : farouk.benarous26@gmail.com

[2019-05-08 16:35] csanders-git commented on #1016
@dune73 ?

[2019-05-08 21:33] chladic commented on #1398
I added `REQUEST_FILENAME` to rule 942100 like this but it is still not detecting it

`SecRule REQUEST_FILENAME|REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_HEADERS:User-Agent|REQUEST_HEADERS:Referer|ARGS_NAMES|ARGS|XML:/* "@detectSQLi" \`
`"id:942100,\`

[2019-05-09 01:28] mhoran commented on #1377
As written, the rules just won't work because they'll never match, due to the modsecurity change. But I've also left this [block](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/7f59ed9a312e47312ed875b18144dd07f814cbe4/crs-setup.conf.example#L616-L624) commented out since it doesn't work.

[2019-05-09 07:25] dune73 commented on #1016
Hey @faroukcr7. If it's no longer there, then @rodrigo-martinez is probably the best contact to get it.

Otherwise, did you try the repository https://gitlab.fing.edu.uy/gsi/web-application-attacks-datasets that he mentioned?

[2019-05-10 04:11] dune73 opened #1409 "Update 920470 to cover all chars allowed in Content-Type header according to RFC"
Our RegEx in 920470 is too narrow.

## Type of Issue

RegEx does not cover complete whitelist.

## Description

See quote of RFC 2046 in https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1406

[2019-05-10 04:23] dune73 opened #1410 "Remove Translate header from list of restricted headers in crs-setup.conf"
Since the inception the Translate header has been on the list of forbidden headers in CRS. But we do not know why as hardly any attacks are known on this header at all.

## Type of Issue

Default settings too tight.

## Description

The Translate header is rare, but it is used in WebDav OPTIONS requests for example. There it will lead to FPs.

The only problem we know of was a weakness in IIS in t

[2019-05-11 12:05] fgsch commented on #1404
Actually I want to change this rule and have written a number of tests to match those changes so if you don't mind @studersi I will assign myself to this ticket.

[2019-05-13 08:09] studersi commented on #1404
@fgsch That is fine with me.

[2019-05-13 08:24] bittner commented on #1346
I see the source code for the [owasp/modsecurity](https://hub.docker.com/r/owasp/modsecurity) image is at https://github.com/CRS-support/modsecurity-docker. This is a bit confusing, again. Why, when this image is in Docker Hub's owasp namespace isn't the repository also on GitHub's owasp namespace?

IIUC, SpiderLabs and OWASP Foundation are somewhat connected. Moving the repo there would make a lo

[2019-05-13 08:27] emphazer commented on #1410
we had a lot of FPs because of this request header.
the most are definetly falses.

[2019-05-13 08:37] ghost commented on #1346
@bittner I forked @csanders-git’s Docker Repo, consolidated all the branches, and then added sections for Kubernetes Manifests and a Helm Chart. You can see this here: https://github.com/danehrlich1/modsecurity-kubernetes

I will work on this over the next couple of days. I was inspired by your earlier commits :)

Here is what I am thinking:
- Images will inherit from GCP managed base images for t

[2019-05-13 08:38] ghost commented on #1346
Later on since ModSecurity is really just a web server, you could deploy it briefly to Google Cloud Run and hit it with a bunch of attacks / tests. Would be within the free tier if you stay under 30 minutes and would give you some confidence in the final build.

[2019-05-13 09:01] crazy4chrissi commented on #1154
I can also confirm the rules posted above resolved the phpBB ACP issues I encountered with current phpBB 3.2.7.

Some more notes on that for inexperienced users:
The file you need to edit is `REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf`, which Debian Stretch is in `/etc/modsecurity/crs/`.
Paste the rules [posted above](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1154#issuecomment-40

[2019-05-13 09:30] bittner commented on #1346
GCP, Google Cloud Platform, and trust/security. How does that fit together? (Maybe this is just a European thing to distrust Google.) From a technical view this might be okay, but I'd still be cautious.

[2019-05-15 07:35] XeroChen opened #1413 "Incorrect escape with dot '.' symbol in rule 943120"
## Type of Issue

bug fix
## Description

[code]
asp.net_sessionid
here should be
asp\.net_sessionid

according to Rule id **943110**, which is

[code]
## Your Environment

* CRS version : 3.1.0
* ModSecurity version : N/A
* Web Server and version (e.g. apache 2.4.27):  N/A
* Operating System and version:  N/A

## Confirmation

[v ] I have removed any personal data (email addresses, IP addresses,

[2019-05-15 11:18] lifeforms commented on #1413
Well spotted, thank you!

The cookie is named `ASP.NET_SessionId`. So the `.` character should be escaped in the regexp.

I've merged your PR and it will be part of the 3.2 release.

[2019-05-15 11:18] #1413 closed, assigned to nobody

[2019-05-16 15:30] smartITNinja opened #1415 "unable to log x-forwarded-for value when a given rule is fired"
## Type of Issue

I'm not able to log X-Forwarded-For value when a SecRule is fired.

I've verified that Owasp manages REQUEST_HEADERS_NAMES "^x-forwarded-for" as expected, and Apache web server manages it OK too.

I want to log x-forwarded-for value in the msg section of the rule, like using  %{REMOTE_ADDR} for non-proxied IPs. But without luck so far. Is it possible to achieve this goal?

## Des

[2019-05-16 15:37] csanders-git commented on #1415
you'll need to use REQUEST_HEADERS:X-Forwarded-For

The REQUEST_HEADERS collection contains all the headers, some of the elements you are seeing are other collections, for more information please see https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#REQUEST_HEADERS

[2019-05-16 15:37] #1415 closed, assigned to nobody

[2019-05-16 15:44] smartITNinja commented on #1415
Yes, I saw the reference guide, but it's not detailed in any place how to obtain the "REQUEST_HEADERS:X-Forwarded-For" value.

Is it possible to obtain it? which is the proper syntax for that?

[2019-05-16 15:58] csanders-git commented on #1415
ahh -- good question, when used in the macro expansion format it would be a dot so

%{REQUEST_HEADERS.X-Forwarded-For} should be what you need. let me know if that helps - weird design decision earlier on I think due to Apache's config file parser.

[2019-05-16 17:01] smartITNinja commented on #1415
Excellent, it worked OK

Thanks a bunch!

[2019-05-17 15:31] osamamaruf opened #1416 "942100: False positive"
## Type of Issue
Mod security blocks a valid request having
`[0: 006--u-m4YIaIyga-cq8yK]`
as payload.

## Description
[code]

## Your Environment

* CRS version (v3.0.0)
* ModSecurity version (3.0.2)
* Web Server and version (Nginx 1.15.9)

## Confirmation

[ x ] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2019-05-17 19:08] dune73 commented on #1416
Sorry for the inconvenience, @osamamaruf. This is annoying.

Your request is being blocked after triggering the rule 942100. This is depending on the external libinjection library at https://github.com/client9/libinjection.
You will need to open a bug report for a false positive there.

So I am closing this issue for CRS as there is nothing we can do for you.

If you want to work around the false

[2019-05-17 19:08] #1416 closed, assigned to nobody

[2019-05-19 12:18] hlef commented on #1359
@emphazer : Has this been fixed by #1379?

[2019-05-20 14:09] theMiddleBlue opened #1418 "libmodsecurity (v3) incompatible ctl:ruleRemoveByTag in rules/REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf"
the following two exclusion rules are not compatible with libmodsecurity (v3) due to `ctl:ruleRemoveByTag`:

file: [rules/REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/fbac747ca4be30d648823e5630614f27fd6fffb0/rules/REQUEST-903.9003-NEXTCLOUD-EXCLUSION-RULES.conf)

**9003100**:
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/fbac7

[2019-05-20 14:39] theMiddleBlue opened #1419 "Exclusion rules doesn't work with libmodsecurity (v3) due to ctl:ruleRemoveTargetByTag"
The following exclusion files contain many rules that don't work on libmodsecurity (v3) due to `ctl:ruleRemoveTargetByTag`

https://github.com/SpiderLabs/owasp-modsecurity-crs/search?q=ruleRemoveTargetByTag&unscoped_q=ruleRemoveTargetByTag

**Rules files**:
- rules/REQUEST-903.9001-DRUPAL-EXCLUSION-RULES.conf
- rules/REQUEST-903.9002-WORDPRESS-EXCLUSION-RULES.conf
- rules/REQUEST-903.9003-NEXTCLOU

[2019-05-20 14:44] emphazer commented on #1359
@hlef the ddos possibility in rule 942490 has been fixed for dev/3.2 branch, yes.

[2019-05-21 03:45] bittner opened #1420 "Configure autobuilds on Docker Hub (critical!)"
## Type of Issue

Security issue

## Description

The Docker image [owasp/modsecurity-crs](https://hub.docker.com/r/owasp/modsecurity-crs) provided by this repository [inherits from](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/util/docker/Dockerfile#L1) `owasp/modsecurity:2.9-apache-ubuntu`, however autobuilds seem not configured on Docker Hub.

This results in the CRS image

[2019-05-21 05:39] csanders-git commented on #1420
10-4 thanks, will update tmrw

[2019-05-21 07:00] hlef commented on #1359
Alright, and 942260 is not fixed yet. Thanks!

[2019-05-21 07:17] dune73 commented on #1359
942260 is almost fixed. PR is ready: https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1417

[2019-05-21 20:21] csanders-git commented on #1346
@bittner, the reason I orig made the docker folder is because we'll end up having multiple docker files (nginx, apache, and waflz) so for now i'm gonna leave that - but i'm gonna make a symlink for regressions -- let me know what you think. I'm also updating the images now.

[2019-05-22 13:43] Ezizeay opened #1423 "Audit log not recording"
Dear all

 Following is from tail modsec_debug.log.

![image](https://user-images.githubusercontent.com/49372377/58179065-b20ba100-7ca7-11e9-8abf-58498a9286e7.png)

1) What should I do to make Audit log to be configured?
2) What to do according to the log above? what does the log say anyway?

SecAuditLog looks OK.
![image](https://user-images.githubusercontent.com/49372377/58179178-f9922d00-7ca7-1

[2019-05-22 13:48] dune73 commented on #1423
The rule you quote is not from the CRS. So I can not tell if it should be logging to the audit log. Generally, CRS rules should log to the audit log. Common pitfall is bad write permissions on the logfile and subsequently on the audit log. The audit log itself is explained in the online reference for ModSec, the ModSecurity Handbook and the tutorials at https://netnea.com. Closing this.

[2019-05-22 17:41] csanders-git commented on #1423
Also if you're on CentOS make sure that you try turning SELinux off. @Ezizeay

[2019-05-23 08:32] bittner commented on #1420
@csanders-git Did you have time to flip the switch?

[2019-05-23 12:50] ghost opened #1426 "Rule 941120: bad usage of "t:urlDecodeUni" ?"
Hi,

## Type of Issue

I suspect bad usage of "t:urlDecodeUni".

## Description

I think there are a bug with the rule 941120:

[code]

The initial value is:

[code]

Is url decoded and becomes:

[code]

or in UTF-8

[code]

The rule 941120 chain these two rules: "t:utf8toUnicode,t:urlDecodeUni",
"t:utf8toUnicode" does this transform:

[code]

Reading the code of the "t:utf8toUnicode" transformati

[2019-05-23 15:46] csanders-git commented on #1420
yup -- so here is the plan of attack -- i'll have to push new docker images which are outlined in my PR (at minimum for Apache in the next day or so) once i do that -- i'll enable the autobuilding for crs.

[2019-05-23 15:56] theMiddleBlue commented on #1419
@airween has just done his magic things about this problem. A PR will be available soon. Please refer to https://github.com/SpiderLabs/ModSecurity/issues/2099

[2019-05-23 15:56] #1419 closed, assigned to nobody

[2019-05-23 15:59] theMiddleBlue commented on #1418
A PR will be available soon on ModSecurity that fix this problem. Thanks to @airween for the precious support.

[2019-05-23 18:48] airween commented on #1419
PR sent:
https://github.com/SpiderLabs/ModSecurity/pull/2102

[2019-05-23 19:28] jsfgreen commented on #653
So even if I do this:

    SecAction \
        "id:901321,\
        phase:1,\
        pass,\
        t:none,\
        nolog,\
        initcol:global=global,\
        initcol:ip=%{x-forwarded-for}_%{tx.ua_hash},\
        setvar:'tx.real_ip=%{x-forwarded-for}'"

It won't work?  Because that would explain why ModSec isn't blocking anyone... I tried the above in `REQUEST-901-INITIALIZATION.conf` befor

[2019-05-24 15:00] Ezizeay commented on #1423
The question is that
How to configure Audit Log to run for a particular request?

[2019-05-24 15:11] dune73 commented on #1423
Make a rule that triggers on the request, set it to pass and to "auditlog" in the action list.

[2019-05-24 19:04] dune73 commented on #1423
Make a rule that triggers on the request, set it to pass and to "auditlog" in the action list.

[2019-05-24 19:04] #1423 closed, assigned to nobody

[2019-05-24 19:09] bittner commented on #1420
I you need any help / support / whatever, drop us a line here! :rescue_worker_helmet:

[2019-05-24 19:10] bittner commented on #1420
Cc @franbuehler @dune73

[2019-05-27 08:54] dune73 opened #1427 "CRS 2 rule 973344 in mapping table points to inexisting 941000, should be 941100"
See Title.

[2019-05-27 09:08] bittner commented on #1420
@csanders-git Do you think you can make it to enable autobuilds somewhat soon? Or is there anyone else that can do that, so you don't have to worry?

*Pragmatic solution:* Could you [manually trigger](https://hub.docker.com/r/owasp/modsecurity) a build, for now? -- This way the current, critical situation would be remedied. This should be a matter of seconds!

Thank you! :100:

[2019-05-27 10:37] Ezizeay opened #1428 "Paranoia test is not working"
Hello

I tried to adjust Paranoia Level on a per-website basis, by copying rule 900000 from the crs-setup.conf file into the  <VirtualHost> section.
`<VirtualHost IP:80>
include sites/xxx.conf
SecAction \
  "id:10123,\
   phase:1,\
   nolog,\
   pass,\
   t:none,\
   setvar:tx.paranoia_level=4"
</VirtualHost>`
I tested by
curl -vv "http://IP/?q='1 OR 1=1"
curl "http://IP/?q='1 OR 1=1"
curl 'http:/

[2019-05-27 17:21] csanders-git commented on #1428
Hey, so there are a couple things that can be going wrong here. We traditionally assume users include the crs-setup, however your approach should work just as well.
Some considerations, ordering is important, this rule (setting the variable) should happen before you include the rules folder. Additionally, you should also make sure that your engine is on and configured, this is part of the modsecur

[2019-05-27 17:23] csanders-git commented on #1427
I can make a quick or at some point today or tomorrow, good eye

[2019-05-27 19:07] dune73 commented on #1427
Thank you man. Saw it in a transposed config of a customer. Hence the quick note as we were browsing his config.

[2019-05-28 06:31] bittner commented on #1420
Just noticed that this issue is also reported by the [CII Best Practices analysis](https://bestpractices.coreinfrastructure.org/en/projects/1390#security) (badge at the top of the [README](https://github.com/SpiderLabs/owasp-modsecurity-crs)) in the "Security" section.

According to @franbuehler the issues are significant:

Sounds like this needs immediate action to avert harm, technically, to use

[2019-05-28 07:50] casper5822 opened #1431 "941170 - json with base64 string image"
I have a rest json post with a base64 string field. It's a simple user avatar.
The field is in a json with this format:
{
new_image: "stringbase64"
}
For me it's a false negative.
I tried to add this to my config file to fix my error, but it not works:
SecUpdateTargetById 941170 !ARGS:json.new_image.

How can i fix this problem?

## Type of Issue
Incorrect bypass (false negative)

## Description
T

[2019-05-28 08:57] mhutter commented on #1420
I've opened #1432, which (if required) help with builds actually working again.

[2019-05-28 13:13] bittner commented on #1420
W.r.t. this issue, note that we are now (temporarily?) [building our own Docker image](https://hub.docker.com/r/vshn/modsecurity-crs) to circumvent the current security blockers.

You may want to take a look at the conversation at https://github.com/vshn/modsecurity-docker/pull/17 to seen what's the difference to the current official v3.1 image on Docker Hub.

[2019-05-28 17:44] csanders-git commented on #1431
While i don't see that rule ID in the current build of CRS 3.1.0, we can see in the regex that it is likely the word base64 triggering this.

In general though you should add add an exclusion. There are more examples in the following file (https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf.example), however something like (untested):

[2019-05-28 17:44] #1431 closed, assigned to nobody

[2019-05-28 17:45] csanders-git commented on #1428
feel free to reopene this is the issue persists.

[2019-05-28 17:45] #1428 closed, assigned to nobody

[2019-05-28 17:45] csanders-git commented on #1427
the issue was resolved.

[2019-05-28 17:45] #1427 closed, assigned to csanders-git

[2019-05-29 11:23] dune73 commented on #1426
Thank you for the report and this exemplary writeup @tech-ozon-io.

The problem behind this is probably bigger than we would with for. In fact there are certain decodings done on the Apache / NGINX level and they are not the same for both platforms and all ModSec versions. And CRS is not making a very good job by lacking a stringend policy when to use which transformation. We have been planning to