[2019-05-29 14:41] AirisX commented on #794
Some words about CP1251 mapping.

Unicode table contains a special range for Cyrillic characters. This is 0400 - 04FF (https://unicode-table.com/en/blocks/cyrillic/). They are used in many languages, the writing of which is based on them. But as for the Russian language, this range is much  narrower: 0410 - 044F and two characters outside this range are 0401 (letter "Ё") and 0451 (small letter "ё"

[2019-05-29 18:01] chaimsanders-okta commented on #1420
all the blockers should be out of the way for this to be fixed now -- ETA: today.

[2019-05-29 23:02] csanders-git commented on #1420
We still aren't able to configure autobuilds because of some issue with OWASPs dockerhub -- in the mean time i'm kicking off manual builds of v3.2, v3.1, and v3.0

![Screen Shot 2019-05-29 at 4 00 43 PM](https://user-images.githubusercontent.com/4632287/58597038-1d66ed00-822b-11e9-87b3-cd2f172eaac7.png)

[2019-05-29 23:20] csanders-git commented on #1420
These images can of course be lighhtened a good bit by using multipart builds upstream and removing deps but here are the latest . builds

https://cloud.docker.com/u/owasp/repository/docker/owasp/modsecurity-crs/tags

[2019-05-30 12:18] tlhackque opened #1442 "https://coreruleset.org/ dead links"
on the https://coreruleset.org/ website, near the bottom, one finds

Following the [CHANGES](https://raw.githubusercontent.com/SpiderLabs/owasp-modsecurity-crs/v3.1/master/CHANGES) link results in a 404

I also noticed that on https://coreruleset.org/20181114/crs-project-news-november-2018/, there is a reference to https://www.approach.be/en/modsecurity.htm, which displays as plain text (not a hyp

[2019-05-30 12:25] fgsch commented on #1442
Thanks for the report.

The first link should be https://raw.githubusercontent.com/SpiderLabs/owasp-modsecurity-crs/v3.1/dev/CHANGES. For the second the trailing l is missing.
Correct link is https://www.approach.be/en/modsecurity.html.

They will be corrected.

[2019-05-30 15:33] theMiddleBlue commented on #1418
fixed by https://github.com/SpiderLabs/ModSecurity/pull/2102 thanks @airween @zimmerle

[2019-05-30 15:33] #1418 closed, assigned to nobody

[2019-05-30 22:43] bittner commented on #1420
The publicly accessible URL is https://hub.docker.com/r/owasp/modsecurity-crs/tags

[2019-05-31 15:40] ghost commented on #1426
Hi,

Thank for the answer.

I do not use Nginx nor Apache. I use my own implementation. I'm confortable with encodings. We will try some transformations to remove this false positive.

After analysing ModSecurity source code, I saw that regex doesn't process utf8, so it will be a good idea to convert utf8 to many one-byte encoding. The file "unicode.mapping" does this job, but I will protect multi

[2019-06-01 20:16] DenysFrasinich commented on #1121
Hello!
I have some lua scripts which are called by rules at logging phase to push events from modsecurity to external system.
What should i use as alternative of TX.INBOUND_TX_MSG and TX.MSG to get pretty textual blocking reason in lua scripts?

[2019-06-02 04:31] dune73 opened #1443 "Monthly Chat Agenda June (2019-06-03)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, June 3, at 20:30 CET.

## Items on the Agenda:

### ReDoS and 3.1.1 release
* Status of the work vs the CVEs and the release plan

### Images, builds, travis and docker
* Status and plan

### PRs
* ...

### Other items

* #1444 Rule Exclusions Packages (like W

[2019-06-02 04:40] dune73 commented on #1121
Hi @DenysFrasinich, you are the first one to report to actually using these variables. Our call for opinions went unheard for many weeks, so we decided to axe them.

I do not see a way to get this information. However, ModSec is only writing the audit log in the logging phase AFAIK, maybe lua can lay its hand on this info that way. But I do not really know.

[2019-06-02 04:51] dune73 commented on #1442
Thank you for reporting @tlhackque - and for the suggestions @fgsch. Fixed.

[2019-06-02 04:51] #1442 closed, assigned to nobody

[2019-06-03 11:39] j0k2r opened #1444 "Problem with exclusion rules and ruleRemoveTargetByTag"
Hi guys,

I use OWASP CRS to protect a WordPress application, and I noticed some suspicious behavor (or I misunderstand how exclusion rules work).

For example, the request:
[code]

is blocked by the rule 942100, caused by pwd=abc%21%40%23:

[code]

But since I enabled WordPress exclusion rules, this should not be trigggered (exclusion rule 9002100):
[code]

The exclusion rule (9002100) "ctl:ruleR

[2019-06-03 12:24] theMiddleBlue commented on #1444
Hi @j0k2r

thanks for reporting it. I can confirm that it's related to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1419. A few days ago, it was merged a fix for this problem on the latest v3/master. Can you do some tests with the latest commit ([c7fe50e](https://github.com/SpiderLabs/ModSecurity/tree/c7fe50e5be3d20d4a350ad77eb58a38acd22d34b))?

If you have configured the SecEngine t

[2019-06-03 12:54] j0k2r commented on #1444
Hi,

I use the latest commit (c7fe50e) with a python binding to test the rules so there no disruptive action, it only tests transactions and return the log.

Even when I try with the SpiderLabs/ModSecurity#2032 patch, I have the same problem.

[2019-06-03 13:25] theMiddleBlue commented on #1444
yes, this patch https://github.com/SpiderLabs/ModSecurity/pull/2032 fixes only the problem described here https://github.com/SpiderLabs/ModSecurity/issues/1960.

Uhm sorry: I missed this:

I've done some test, and you're right. I can confirm that this is a different bug on v3... 😞
My test:

[code]

the request `curl -v 'http://localhost/?foo=bar&z=xxx'` is blocked anyway. Just by adding `tag:'CRS'

[2019-06-03 13:49] theMiddleBlue commented on #1444
Done: https://github.com/SpiderLabs/ModSecurity/issues/2109
unfortunately, this makes all CRS3 exclusion rule set incompatible with the current modsecurity v3/master.

[2019-06-03 13:51] dune73 commented on #1444
Adding it to tonight's agenda.

[2019-06-03 20:10] dune73 commented on #1444
We decided to replace all rule exclusions that work with tag CRS with a rule exclusion by id (910000-999999), which will have the same effect, but works on all ModSec versions.
@theMiddleBlue was kind enough to volunteer to create said PR.

[2019-06-04 08:40] theMiddleBlue commented on #1444
Hi @j0k2r

it would be helpful if you could do some test using this PR: https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1445

thank you for your support!

[2019-06-04 08:46] j0k2r commented on #1444
Hi @theMiddleBlue,

Same problem, it works when I explicitly specify the target rule:
[code]
But not with the range ID:

[code]

[2019-06-04 09:19] j0k2r commented on #1444
Can you confirm that @theMiddleBlue ?

[2019-06-04 09:20] airween commented on #1444
Did you got any error message, eg:
`Not able to convert '910000-999999' into a number`?

[2019-06-04 09:30] j0k2r commented on #1444
No, the rules are parsed correctly

[code]
[...]

[code]

[2019-06-04 09:32] airween commented on #1444
Okay, thanks, have to check, what's the expected behavior.

[2019-06-04 09:33] theMiddleBlue commented on #1444
Unfortunately, I've test `ruleRemoveTargetById` using a specific ruleId and not a range. I just assumed that it would have worked with range too. I've done a regression test and yes... I can confirm that there're **two different bugs** in `ruleRemoveTargetById` and in `ruleRemoveById` :(

I'm going to open another issue to ModSecurity. Thanks for your support.

[2019-06-04 10:09] theMiddleBlue commented on #1444
Following the two issues:

- https://github.com/SpiderLabs/ModSecurity/issues/2110
- https://github.com/SpiderLabs/ModSecurity/issues/2111

[2019-06-04 16:15] bittner commented on #1420
I just figured that the file layout in the newly built images has changed significantly. There is no `/etc/apache2` folder anymore. Looks like Apache2 is now installed manually (i.e. not the Debian way) and in `/usr/local/apache2`.

This broke every customization we did in [vshn/modsecurity-docker](https://github.com/vshn/modsecurity-docker). Not nice. :worried:

What's the motivation for that? Fo

[2019-06-04 16:54] csanders-git commented on #1420
sorry about that -- my motivation was that we wanted it to work across multiple Webservers -- Nginx/Apache/WAFLEZ/etc. I don't foresee that we'll end up changing it again -- new location is /etc/modsecurity.d/

In terms of compiling from scratch -- the primary images I like are based on the apache/nginx upstream images. That way we don't rely on ubunttu apt-repos to package updates.

[2019-06-05 07:50] theMiddleBlue opened #1446 "tags and exclusion rules"
As @zimmerle explained [here](https://github.com/SpiderLabs/ModSecurity/issues/2109#issuecomment-498648854) the tag matching in v3 is no more regex based.

In the link above, you can see why, in v3, tags like `OWASP_CRS/FOO/BAR` are no more useful and why we should split it into three different tags (something like `tag:'OWASP_CRS',tag:'FOO',tag:'BAR'`). I know that it means touching all rules wit

[2019-06-05 15:58] Nymeria1 commented on #1331
Hello,
how did you solve the issue? I have got the same problem

[2019-06-05 18:37] csanders-git commented on #1331
Not sure what is causing this but i'd like to try and help in case someone else sees this ticket. Perhaps try adding a space before the line continuation (if there is one at that location). -- There was an old apache bug like this.

[2019-06-05 18:41] csanders-git commented on #1446
Yeah, this should be done -- we need to slightly update the wording -- see the PR :)

[2019-06-06 12:09] j0k2r opened #1448 "FalsePositive with SQL HAVING clause, for rule 942230"
Hi,

Im doing some tests with the OWASP CRS ver.3.1.0, specifically with the rule 942230.

The SQLi HAVING regex `(?:having\s*?[^\s]+\s*?[^\w\s])` can cause a lots of false positives:
- https://regex101.com/r/BiFuQv/2

Related discussion: #409

As discussed in #409, the HAVING pattern was moved to PL3, since it's very complicated, if not impossible to match all cases with no false positive.

Let m

[2019-06-11 13:18] DeepMalh44 opened #1449 "Getting False Positive REQUEST-949-BLOCKING-EVALUATION"
Hi All,
We enabled WAF on PROD environment and on the web-application we are getting some issues. Basically as follows:-

PROD2-APPGW | OWASP | 3 | Default | 0 | Detected | Global | Warning.   Operator GE matched 5 at TX:anomaly_score. | rules/REQUEST-949-BLOCKING-EVALUATION.conf | 57 | quote.threeinsurance.com | Mandatory rule. Cannot be disabled. Inbound   Anomaly Score Exceeded (Total Score: 5)

[2019-06-11 13:31] dune73 commented on #1449
Sorry for the inconvenience @ketaanhshah. Unfortunately, your report only indicates _that_ a rule has triggered, but not which one. (In fact you report the evaluation rule, which evaluates the result of a different rule that detected an attack; and that rule is the culprit here).

You may want to check out my CRS tuning tutorial at https://netnea.com/apache-tutorials. It explains how to get rid of

[2019-06-11 13:44] DeepMalh44 commented on #1449
Thank you @dune73 Christian, I am not the person in my team with WAF and security background but I will do the most to find out what payload is generating these errors. I have attached the log file that I got from Infra team about one of the applications which was throwing the errors. I have sent this log to Application team asking them for individual request to clarify if all are false positives.

[2019-06-11 13:56] DeepMalh44 commented on #1449
@dune73 My Application team actually got back to me with some reasoning on why there could be the issues, for the last one I agree its a legitimate request but others are something we probably need help on fixing from our CRS Rule end, any advice?:-

Count | Rule Group | Comments | Action
-- | -- | -- | --
17 | 942-APPLICATION-ATTACK-SQLI | This is being raised because of the request verification

[2019-06-12 17:43] DeepMalh44 commented on #1449
@dune73 Christian any help on the above, do you think we will have to write our own custom rules and these custom rules will superceed the out of the box CRS 3.0 rules so even if they are kept enabled it wont hurt as custom rule will allow the requests even though ootb rules will block them? Or u think we have to disable the ootb rules? Also any guidance on how we can write the custom rules for ab

[2019-06-12 17:55] csanders-git commented on #1449
Hey @ketaanhshah  in order to answer that we'll need to know the ID of the rule(s) that fired and the content that triggered that rule. Both of these would be included in the error.log (by default) on the system where the rule triggered. In general it is possible to create exceptions for false positive or in some cases disable the rule, if they cannot be avoided (typically this is due to legit but

[2019-06-12 18:15] DeepMalh44 commented on #1449
Thank you @csanders-git Chaim, I will try to get more details from the log and send it. Meanwhile can you let me know if we write a custom rule and keep the out of the box rule enabled, and in our custom rule we enable/allow the request which is blocked in ootb rule in that case will the custom rule superceed and allow OR we have to disable the ootb BLOCK rule and let custom rule take care of it.

[2019-06-12 18:16] DeepMalh44 commented on #1449
@csanders-git Chaims here is the following table with Rule ID

App | Rule ID | Rule Group | Message | Comment
-- | -- | -- | -- | --
CMS | 942260 |   | Detects   basic SQL authentication bypass attempts 2/3 | High   chances of false-positive. All the requests looks genuine asking for media,   fonts, css, scripts, favicon, dclid, autodiscover
CMS | 942340 |   | Detects   basic SQL authentication by

[2019-06-12 18:51] ketaanhshah commented on #1449
Some more additional details here:-

Resource | ruleSetType_s | ruleSetVersion_s | ruleGroup_s | ruleId_s | action_s | site_s | details_message_s | details_data_s | details_file_s | details_line_s | hostname_s | Message | requestUri_s | count_
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
PROD2-APPGW | OWASP | 3 | 942-APPLICATION-ATTACK-SQLI | 942370 | Matched | Global |

[2019-06-12 18:52] DeepMalh44 commented on #1449
Resource | ruleSetType_s | ruleSetVersion_s | ruleGroup_s | ruleId_s | action_s | site_s | details_message_s | details_data_s | details_file_s | details_line_s | hostname_s | Message | requestUri_s | count_
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | --
PROD2-APPGW | OWASP | 3 | 942-APPLICATION-ATTACK-SQLI | 942370 | Matched | Global | Warning. Pattern match   "(?i:(?:[\"

[2019-06-12 19:10] csanders-git commented on #1449
Looks like all of those  FPs are at paranoia level 2 -- this configuration level is expected to have some false positives. my recommendation would be to start in PL1.
You can then use `setvar:tx.executing_paranoia_level=2` in the crs-setup.conf to only alert (but not contribute to the anaomly score for anything at PL2) for anything in a higher paranoia level. You can then build a list of exclusion

[2019-06-12 19:14] DeepMalh44 commented on #1449
Thank you @csanders-git , I am so new to all this that first I need to figure out how I can modify the Paranoia levels in Azure to level=2 using the above command you mentioned to modify the crs-setup.conf. Can you please help me with some link to documentation on how to set it so that it takes effect on Azure environment we are using. We have multiple env. DEV, UAT and PROD.. so we can start with

[2019-06-12 19:50] csanders-git commented on #1449
I have no idea how azure CRS works or how it is configured in their environment :-\ -- perhaps someone else may be able to help you who has used it. The docs on setting this value are in line, you can see them here on git by going here: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/crs-setup.conf.example#L131.

[2019-06-12 19:57] DeepMalh44 commented on #1449
Thank you @csanders-git Chaim appreciate your quick help, I only wish now if I can get some answer on how we can change these levels on Azure as we have WAF enabled on Azure and our applications are hosted on a IAAS VM on Azure.

[2019-06-13 15:53] csanders-git commented on #1449
let us know if/when you figure it out.

[2019-06-13 15:56] csanders-git commented on #1448
on P2 perhaps we can add a rule that requires GROUP BY to be part of the query -- as far as i remember HAVING must be preceded by GROUP BY

[2019-06-13 16:53] DeepMalh44 commented on #1449
Thank you @csanders-git Microsoft Engineer just confirmed that it is not possible at this moment to change it. Following is the github issue # for it: https://github.com/MicrosoftDocs/azure-docs/issues/33205

[2019-06-13 20:15] 1raj1 opened #1451 "rules block Google OAuth2 redirect (callback) URLs"
## Type of Issue

false positive

## Description

I don't have access to server logs, because I'm not an administrator, however the issue is pretty simple and was already described here: https://serverfault.com/questions/932614/apache-issue-with-profile-in-the-url (however without any solution)

I implemented Google OAuth2 authentication on my website. After user authenticates successfully on Goog

[2019-06-13 20:34] csanders-git commented on #1451
Well that is certainly interesting and I think we could easily put forth some exceptions (even a pack for google auth maybe). However, My understanding of the OAuth flow is that you should never really be seeing scopes on your own side. You will generate a request to accounts.google.com (in this case) and that will include, scopes, redirect_uri, state, client-id, etc. After the user logs in and al

[2019-06-13 21:44] msassmann commented on #860
When using WP 5.2.1 Rule 941160 is causing a false positive again. Wordpress Exceptions are enabled, using OWASP 3.1.
[modsec_audit.log](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/3288190/modsec_audit.log)

[2019-06-13 22:44] 1raj1 commented on #1451
I don't know why Google is sending back the scopes if it shouldn't, but it does. If you search the net for posts about error 403 after Google auth (not all cases caused by mod_security, of course :)) - as I did - you will find multiple examples of actual redirect URLs posted by people, and the scopes are always there.

[2019-06-13 23:20] csanders-git commented on #1451
I'll take a look at the regex in the coming days hopefully - in the mean time, do you need help crafting an exception rule?

[2019-06-14 09:23] lifeforms commented on #860
@msassmann Hi Mario, would it be possible for you to open a new issue for this? This issue is closed already, so it's hard for us to keep track. I'm thinking you might have hit a bug in ModSec3, but it's hard to say right now. We should investigate further. Thanks in advance!

[2019-06-14 09:39] 1raj1 commented on #1451
Can this exception rule be placed in .htaccess file? If not, I have to contact the server administrator anyway, who probably can temporarily resolve the issue by replacing ".profile" with "/.profile" in the file containing restricted names list - am I right?

[2019-06-14 15:33] csanders-git commented on #1451
as far as i'm aware it is possible to place these in htaccess files, however we have to be careful to make it a more sweepinng rule -- so for instance, we can remove any variable named scopes from being processed by this rule -- if we wanted to be more specific it would have to be loaded before the rules, which would probably require contactign an admin.

[2019-06-14 15:33] csanders-git commented on #1451
to save me some time, do you have the ID of the rule?

[2019-06-14 15:37] csanders-git commented on #1449
wow, surprising, however,  looking at the docs -- it seems you are probably able to quickly solve your problem. They support REQUEST_COOKIES, and all your problems documented seem to stem from one cookie, REQUEST_COOKIES:fs_uid -- looks like you could (at the cost of some security) get this to work as expected.

[2019-06-14 15:37] csanders-git commented on #1449
I'm going to close this issue though, let me know if you find a more satisfying solution.

[2019-06-14 15:37] #1449 closed, assigned to nobody

[2019-06-14 15:40] DeepMalh44 commented on #1449
@csanders-git Thank you sir, yes we used exclusion rule to exclude fs_uid and go ahead!

[2019-06-15 09:49] 1raj1 commented on #1451
As I already wrote, I'm not the server admin and I don't have access to configuration or logs, so I can't provide you any more information than I already did.
It is actually my first contact with mod_security at all, I was not even aware of existence of this software. After I got 403 response from Google redirect, I started searching the net for similar problem, and I found the link that I mention

[2019-06-15 14:25] msassmann opened #1452 "Inserting media, WP 5.2 classic editor"
As @lifeforms suggested, I'm opening a new issue for this.
Using WP 5.2.1 Rule 941160 is causing a false positive when inserting media into the wp classic editor. Wordpress Exceptions are enabled, using OWASP 3.1.

[modsec_audit.log](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/3293189/modsec_audit.log)

[2019-06-17 21:59] csanders-git commented on #1451
Thanks for following up with that information. The rule referenced by that file indicates that the following rule (snippet) is at fault

[code]

This is incorrect for the case at hand as REQUEST_FILENAME does not contain parameters (see https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#request_filename), rather it is just the path of the URL /index.html for instance.

As a res

[2019-06-17 21:59] #1451 closed, assigned to nobody

[2019-06-19 11:27] dneha19 commented on #1016
Can anyone send me the dataset its not available.
id : nehadalpe16@gmail.com

[2019-06-20 06:52] dune73 commented on #1359
Fixed in #1417 and #1379.

Closing this.

Thank you for reporting @s0md3v.

[2019-06-20 14:59] rodrigo-martinez commented on #1016
Hi @dneha19,
   As already mention @dune73, the dataset is publicly available at:  https://gitlab.fing.edu.uy/gsi/web-application-attacks-datasets

    Did you have any issue to get it?

Regards,
    Rodrigo

[2019-06-25 09:30] thevulnhunter commented on #794
What to do for this false positive from ModSecurity?
Message: Warning. detected SQLi using libinjection with fingerprint 'novc' [file "/etc/apache2/modsecurity.d/owasp-modsecurity/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf"] [line "66"] [id "942100"] [msg "SQL Injection Attack Detected via libinjection"] [data "Matched Data: novc found within ARGS:password:

[2019-06-25 09:40] lifeforms commented on #794
@jibz08 That's an issue unrelated to this thread. Generally you want to exclude a password field from CRS checking. This is normally done by adding to your ModSec config a rule like:

[code]

[2019-06-25 10:40] thevulnhunter commented on #794
Thanks @lifeforms ,it helped .

[2019-06-25 12:47] lfarndt opened #1464 "Cannot get reverse proxy to work"
I just want to use the provided Dockerfiles to create a container doing reverse proxying to another container with my application.

I tried with all the Dockerfiles in
https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.2/dev/util/docker

I start my container with
docker run -d -p 8765:80 --name security-proxy -e "PARANOIA=5" -e PROXY=1 -e / UPSTREAM=192.168.0.90:666 --rm owasp/modsecurity

[2019-06-25 12:53] dune73 commented on #1464
@franbuehler, can you help?

[2019-06-25 13:48] franbuehler commented on #1464
We are currently revising our Docker images.

Reverse Proxy mode is currently only available if you rebuild the images from the provided parent modsecurity Dockerfiles available at https://github.com/CRS-support/modsecurity-docker.
The Reverse Proxy mode is now implemented in this parent modsecurity image during build time. Default is SETPROXY=False.
Also see: https://hub.docker.com/r/owasp/modsec

[2019-06-25 14:11] lfarndt commented on #1464
Thx, for your fast answer.
Now there seems to be another problem, so the container crashes after the start

`Traceback (most recent call last):
  File "<stdin>", line 3, in <module>
  File "/usr/lib/python2.7/UserDict.py", line 40, in __getitem__
    raise KeyError(key)
KeyError: 'ANOMALYIN'
AH00526: Syntax error on line 15 of /usr/local/apache2/conf/extra/httpd-logging-before-modsec.conf:
Unrecog

[2019-06-25 14:32] franbuehler commented on #1464
I see the problem. The problem will go away when you activate TLS during build time of the modsecurity container.

`--build-arg SETTLS=True`

`docker build --build-arg SETPROXY=True --build-arg SETTLS=True -t my-modsec .`

We will talk about these containers in a workshop tomorrow.
Maybe we need to rethink some details.
Sorry for the circumstances!

[2019-06-26 12:13] duckasylum opened #1468 "False positive with "postgres SQL Information Leakage" rule 951240"
Rule 951240 seems to trigger for example when I have used a string sequence *PG_* anywhere in text. For example I am trying to edit an email draft in Roundcube email webclient which contains a string "GPG_AGENT" and this will trigger the rule (I changed the PG_ with "pgeeunderscore" and the rule was not triggered).

Log snippet from audit.log

ModSecurity: Warning. Matched "Operator `Rx' with para

[2019-06-27 20:37] davemosk commented on #1232
Hey @JeffCleverley would it be possible for you to share your whitelist rule here?  Thanks!

[2019-06-28 06:30] theMiddleBlue commented on #1452
Thanks @msassmann!

In this case, the exclusion rule 9002770 should remove `ARGS:html` from all rules, but it does only if you're using ModSecurity v2. If you're using libmodsecurity (v3.0) your problem should be related to https://github.com/SpiderLabs/ModSecurity/issues/2110. We're still waiting for this PR https://github.com/SpiderLabs/ModSecurity/pull/2114 😞

[2019-06-28 08:14] tlaukkan commented on #1464
Hi

Thank you for this valuable work. Would it be possible to provide at least one prebuilt image with proxy enabled?

Kind regards,
Tommi

[2019-06-28 09:31] lfarndt commented on #1464
@franbuehler Thx for your work. I got it working.
You have to put a trailing / after the Proxylocation. Otherwise the apache revers proxy throws an DNS Error
`docker run -dti --rm -p 80:80 -e PARANOIA=1 -e PROXYLOCATION=http://192.168.1.100:8000/ my-modsec-crs`

[2019-06-28 09:47] tlaukkan commented on #1464
Following the above directions to build my own images on startup I get the following error:

AH00526: Syntax error on line 15 of /usr/local/apache2/conf/extra/httpd-logging-before-modsec.conf:
Unrecognized LogFormat directive %x

[2019-06-28 09:50] lfarndt commented on #1464
Did you use the build statement from above with

`docker build --build-arg SETPROXY=True --build-arg SETTLS=True -t my-modsec .`

I got the same error first. (see above!)

[2019-06-28 09:51] tlaukkan commented on #1464
Uh thanks :)

[2019-06-28 11:41] tlaukkan opened #1469 "Log apache errors to console"
## Suggestion

## Description
Please, let ErrorLog go to /proc/self/fd/2 so docker logging solutions will collect the mod security rule alerts without extra log configuration.

httpd-logging-before-modsec.conf
ErrorLog                /proc/self/fd/2

[2019-06-28 11:57] franbuehler commented on #1464
Thank you for your feedback @lfarndt and @tlaukkan. We appreciate that very much.
I see, we have to improve that.

[2019-07-01 15:16] osamamaruf opened #1470 "942190: False Positive"
## Type of Issue

False Positive
## Description

The regex used in this rule detects user ( as an sql injection attack.

## Your Environment

* CRS version (v3.0.0)
* ModSecurity version (3.0.2)
* Web Server and version (Nginx 1.15.9)

## Confirmation

[x] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2019-07-01 18:32] dune73 opened #1471 "Monthly Chat Agenda July (2019-07-01)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, July 1, at 20:30 CET.

## Items on the Agenda:

### PRs
* RE2 PRs by @allanrbo
* Other PRs, that are not yet on-hold

### Other items

* Project funds at OWASP HQ
* Swag
* CRS community summit in Amsterdam
* Reaching out to Mitre because of the CVEs

Feel free

[2019-07-01 20:17] #1443 closed, assigned to nobody

[2019-07-05 10:26] fgsch commented on #1471
Completed!

[2019-07-05 10:26] #1471 closed, assigned to nobody

[2019-07-05 10:27] fgsch commented on #1354
Addressed in #1472

[2019-07-05 10:27] #1354 closed, assigned to nobody

[2019-07-09 18:57] bittner commented on #1277
We're facing the same issue and may be willing to integrate the conversion process into the `upgrade.py` script.

Just for clarification, which one of [the three databases](https://dev.maxmind.com/geoip/geoip2/geolite2/) should be downloaded and converted in that case? GeoLite2 City, GeoLite2 Country, GeoLite2 ASN (Sorry if that question is stupid)

[2019-07-10 04:23] dune73 opened #1477 "Add SQLi coverage missing in 942370"
The rule 942370 has a bug that should be fixed.

## Type of Issue
Bug in RegEx

## Description
See #1466

## Your Environment
-

## Confirmation

[X ] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2019-07-10 04:47] dune73 commented on #1277
We have talked about this in the project and decided, that MaxMind GeoIP support is not an essential part of CRS and that we are thus _not_ including the conversion script  Which is not to say that the conversion script or GeoIP are not important. We just do not want to maintain it ourselves.

Personally, I am using the GeoLite2 Country DB. That's mainly because the City DB is not very accurate in

[2019-07-10 08:07] bittner commented on #1277
What does that translate to? Shall we remove the `upgrade.py` script from this repository?

Note that I offered that we would maintain the script in the project.

[2019-07-10 20:35] dune73 commented on #1277
@lifeforms is the guy behind the upgrade.py scipt. So his opinion matters. Personally, I am torn.

[2019-07-11 07:30] #1359 closed, assigned to nobody

[2019-07-11 14:27] emphazer opened #1478 "changelog date typo v3.1.1"
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/607c0f5e4f0b0de643a3d3db2c7a9d9e496d281b/CHANGES#L8

i guess it should be 2019

[2019-07-11 15:03] DeepMalh44 commented on #761
@franbuehler @dune73  hey guys we got a 942410 exception where it caught it where the match was " is (" basically it is a legitimate one for us as our businessType Arguments have a value which containg " is (" and now what we have to do here is to disable this 942410 rule on WAF.. you think this is correct? I know we can simply exclude the ARGS (businessType) but we may get more new Arguments :(.

[2019-07-11 15:17] dune73 commented on #1478
Oops. Sharp eyes. Thank you.

[2019-07-15 08:35] gmarec commented on #1154
@Xymox1 I found this thread today, because we just migrate from phpBB2.x with modsecurity 2.x to phpBB3.x with modsecurity 3.x. I can tell you you're right phpBB can be a nightmare without modsecurity, it helped us to maintain a phpBB2 instance (with many security problems) with no issue during last 9 years !!

[2019-07-16 07:59] dune73 opened #1479 "Fix potential ReDoS in 942330"
## Type of Issue

Potential ReDoS (but not exploitable via ModSec)

## Description

This is part of a series of ReDoS problems, that were discovered by @s0md3v and promptly provided with a PR to fix it (-> #1361).

The ReDoS is not exploitable via ModSecurity. If you run the regex naked on the PCRE engine, it is there, though.

The fix does not pass our tests though and we can not only fix the reg

[2019-07-17 14:23] dune73 opened #1480 "Include the big list of bad UAs from ultimate-bad-bot-blocker list"
## Type of Issue
Feature request

## Description

This was proposed as a PR in #1412. However, this PR was not mergeable as is. This is meant to continue the conversation.

The list at https://github.com/mitchellkrogza/apache-ultimate-bad-bot-blocker is maintained by @mitchellkrogza. Extracting all user-agents from folder `_generator_lists` brings 597 UAs as of this writing (` cat bad-user-agents*

[2019-07-17 14:35] dune73 commented on #1480
There are basically two problems:

### UAs are not explained or commented

Nobody is going to look up 548 UAs, but I think we can live with the list as is by annotating all new entries with a generic reference to the ultimate-bad-bot-blocker list. A comment line like we do it now.

### UA list mixes scanners and crawlers

Right now, we have 85 scanners, 12 scripting UAs and 15 crawlers. It is safe

[2019-07-17 15:07] dune73 commented on #1446
PR #1445 is meant to fix this in order to bring back libModSecurity v3 compatibility. However, PR #1445 is blocked by another libModSecurity bug (https://github.com/SpiderLabs/ModSecurity/pull/2114). We are thus stuck between a hammer and a hard place.

[2019-07-18 08:49] theMiddleBlue commented on #1470
Thanks @osamamaruf

it seems that your application arg `json.something.event` doesn't encode round brackets characters and it's really similar to the SQL syntax `SELECT USER();`:

![image](https://user-images.githubusercontent.com/4454961/61442553-23826b80-a948-11e9-9ac4-9fbba7325006.png)

You should fix this by removing `ARGS:json.something.event` from 942190 with something like:
[code]

Closing

[2019-07-18 08:49] #1470 closed, assigned to nobody

[2019-07-19 11:27] fgsch opened #1481 "Regexen with UTF8 characters inside a class lead to incorrect rules"
## Type of Issue
Bug

## Description
Rules with UTF8 characters inside a class will get the code points used instead of the correct uf8 character. For example in 941110 we get:

`(?i)[<\xef\xbc\x9c]script[^>\xef\xbc\x9e]*[>\xef\xbc\x9e][\s\S]*?`

instead of:

`(?i)[<\x{ff1c}]script[^>\x{ff1e}]*[>\x{ff1e}][\s\S]*?`

This currently affect 6 rules:

~941110~ fixed
942430
942420
942431
942421
942432

[2019-07-19 12:02] mum-viadee opened #1482 "Installation guide on https://modsecurity.org/crs is not up to date."
In the head of the  owasp-modsecurity-crs github page the link to the project page is https://modsecurity.org/crs which contains an installation guide, that is not up to date.

Please update installation instruction on https://modsecurity.org/crs or change link to official OWASP CRS page https://coreruleset.org

[2019-07-19 15:15] fzipi commented on #1482
@mum-viadee Please refer to #996 .

[2019-07-19 15:58] dune73 commented on #1482
Thank you for reporting @mum-viadee. Unfortunately, both pieces of infos are beyond our reach as we are residing under a Trustwave github account and Trustwave ignores all our requests to fix this / update the links. And there have been many, many requests.

Sorry for the inconvenience.

[2019-07-19 15:58] #1482 closed, assigned to nobody

[2019-07-19 15:59] dune73 commented on #996
Another using reporting this and the outdated documentation on modsecurity.org in issue #1482.

And still no fix.

[2019-07-21 18:43] LocalHeroPro opened #1485 "False positive PrestaShop 1.7.6.x"
## Type of Issue

Falsepositive
When trying to see preview of email template I see uncommon issue on the browser. Reported on PrestaShop issue tracker: https://github.com/PrestaShop/PrestaShop/issues/14643.

## Description
Apache-Error: [file "apache2_util.c"] [line 273] [level 3] [client xxx.xxx.xxx.xxx] ModSecurity: Rule 7fc82ed0dd40 [id "-"][file "/usr/share/modsecurity-crs/rules/RESPONSE-951-D

[2019-07-21 21:16] LocalHeroPro opened #1486 "Falsepositive Graylog"
## Type of Issue

Falsepositive
Trying to add new Inputs.

## Description

[code]

## Your Environment

* CRS version (e.g. v3.0.2): OWASP_CRS/3.1.0
* ModSecurity version (e.g. 2.9.2): ModSecurity for Apache/2.9.2
* Web Server and version Apache/2.4.29 (Ubuntu)
* Operating System and version: Ubuntu 18.04.2 LTS (GNU/Linux 4.15.0-50-generic x86_64)

## EDIT
After disabled those rules 911100 949110

[2019-07-21 21:30] lifeforms commented on #1486
If you need to support `DELETE` HTTP verb, you can configure the following rule in `crs-setup.conf`:

[code]

After making this change and restarting your webserver, you should be able to use `DELETE`!

[2019-07-21 21:30] #1486 closed, assigned to nobody

[2019-07-22 14:03] DubSeven opened #1488 "Prestashop 1.7.4.4 false positive"
Hello,

There is a false positive with Prestashop 1.7.4.4 :

[code]

With: OWASP ModSecurity Core Rule Set V3.0

Thank you,
Regards

[2019-07-22 14:43] theMiddleBlue commented on #1488
Hi @dubseven

we'll take a look at your issue soon. meanwhile, I've removed sensitive parts from your message (local full path including users and home dirs, your website hostname, etc..).

thanks!

[2019-07-22 15:03] DubSeven commented on #1488
Hi @theMiddleBlue,

Thanks, i'm new here, i believed its was a private conversation. :)

[2019-07-23 08:56] SS-Raman opened #1489 "Application blocked by Azure Application firewall "941-APPLICATION-ATTACK-XSS-941120""
Hi Team,
We have faced the Issue in your application to blocking the Auth-key in login page "941-APPLICATION-ATTACK-XSS-941120". Kindly share the Rule-ID: 941120 details.

[2019-07-23 13:21] spartantri commented on #1489
This is the regular expression on that rule in v3.2
```(?i)[\s\"'`;\/0-9=\x0B\x09\x0C\x3B\x2C\x28\x3B]+on[a-zA-Z]+[\s\x0B\x09\x0C\x3B\x2C\x28\x3B]*?=```
You can find the full rule at [XSS rules](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf)

[2019-07-24 04:23] dune73 commented on #1489
You will need to write a rule exclusion. You can learn how to do that with the tutorials at https://netnea.com/apache-tutorials - or seek support from Azure.

[2019-07-24 04:23] #1489 closed, assigned to nobody

[2019-07-24 04:27] SS-Raman commented on #1489
Hi Spartantri,

Thanks for your reply, I want to know about the particular Rule-ID: 941120 essential and which category the Rule is blocking your application Auth-key.

[2019-07-31 04:33] dune73 commented on #996
Brought it up on the ModSecurity user mailinglist after the website's cert expired.

[2019-08-01 17:48] ssiar-fastly commented on #1328
Appreciate a response to this! @fgsch

[2019-08-01 17:50] fgsch commented on #1328
@ssiar-fastly Please see PR above.

[2019-08-02 13:17] kevross33 opened #1491 "Please add %comspec rule"
Hi,

Along with cmd.exe type matches on windows RCE %comspec should be considered being added too as this is the environment variable used for cmd.exe and is used in attacks.

Thanks.

## Type of Issue

## Description

## Your Environment

* CRS version (e.g. v3.0.2):
* ModSecurity version (e.g. 2.9.2):
* Web Server and version (e.g. apache 2.4.27):
* Operating System and version:

## Confirmation

[2019-08-02 13:29] dune73 commented on #1491
Good point. Thank you for bringing this up @kevross33. We will look into it.

Alternative option: Would you be interested to write the PR for this? We'd be happy to guide you through the process.

[2019-08-02 13:51] dune73 opened #1493 "Fix potential ReDoS in 933161"
# Type of Issue

Potential ReDoS (but not exploitable via ModSec)

# Description

This is part of a series of ReDoS problems, that were discovered by @s0md3v and promptly provided with a PR to fix it (-> #1362).

The ReDoS is not exploitable via ModSecurity. If you run the regex naked on the PCRE engine, it is there, though.

The fix does not pass our tests though and we can not only fix the regex

[2019-08-02 13:52] dune73 opened #1494 "Fix potential ReDoS in 933160"
# Type of Issue

Potential ReDoS (but not exploitable via ModSec)

# Description

This is part of a series of ReDoS problems, that were discovered by @s0md3v and promptly provided with a PR to fix it (-> #1362).

The ReDoS is not exploitable via ModSecurity. If you run the regex naked on the PCRE engine, it is there, though.

The fix does not pass our tests though and we can not only fix the regex

[2019-08-02 13:52] dune73 opened #1495 "Fix potential ReDoS in 933180"
# Type of Issue

Potential ReDoS (but not exploitable via ModSec)

# Description

This is part of a series of ReDoS problems, that were discovered by @s0md3v and promptly provided with a PR to fix it (-> #1362).

The ReDoS is not exploitable via ModSecurity. If you run the regex naked on the PCRE engine, it is there, though.

The fix does not pass our tests though and we can not only fix the regex

[2019-08-02 14:47] dune73 opened #1496 "Monthly Chat Agenda August (2019-08-05)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, August 5, at 20:30 CET.

## Items on the Agenda:

### PRs
* #1490 Add PUBLIC identifier for XML entities
* #1487 some node.js unserialization + javascript RCE snippets
* #1484 Drop unneeded unicode from 941110
* #1467 Simpler regression test Docker image
* #14

[2019-08-02 18:34] dune73 commented on #1328
PR #1329 superseeded by PR #1492.

PR #1492 has been merged. It fixes this issue. Closing this.

[2019-08-02 18:34] #1328 closed, assigned to nobody

[2019-08-05 08:12] theseion commented on #1328
Awesome! Thanks @dune73!

[2019-08-05 09:02] dune73 commented on #1328
You're most welcome. Glad we could merge this. Thank you for the initiative.

[2019-08-05 18:33] dune73 commented on #1496
### Decisions
* @dune73 takes care of #1490, which we think merge-worthy
* There is going to be a new nodejs rule file and #1487 will be the first addition
* We generally want to get better coverage of modern things like node
* #1484 will be merged as is
* #1467 is being closed in favor of an alternative approach by @csanders-git
* @allanbomsft and @csanders-git will work on a blog post about quic

[2019-08-06 07:49] #1496 closed, assigned to nobody

[2019-08-07 09:37] mark4409 opened #1499 "Nginx directive rules error in REQUEST-920-PROTOCOL-ENFORCEMENT.conf"
I have performed a git pull this morning on the 3.2/Dev branch.

Since then, I am receiving an error in Nginx:

`"modsecurity_rules_file" directive Rules error. File: /etc/nginx/modsec/owasp-modsecurity-crs/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf. Line: 321. Column: 10. Expecting an action, got  ,\ in ...... `

This seems to relate to id:920220

I am using the latest Nginx 17.2 together with t

[2019-08-07 09:41] fgsch commented on #1499
Can you paste what's in that line for the rules you have?

[2019-08-07 09:41] fgsch commented on #1499
Also please specify which modsecurity version you are using and the revision of the 3.2/dev branch you are on.

[2019-08-07 10:52] mark4409 commented on #1499
I am on modsecurity v3.0.3-95-gd5b93c10

I followed the procedure:
git checkout v3/master
git submodule init
git submodule update

With the Nginx connector, I'm on version 1.0.0-58-gd7101e1

With the CRS, I'm on v3.1.0-rc1-292-gc5f1656

git branch shows v3.2/dev

Line 321 is the second line here:

[code]
I can see that there have been changes in this file 4 days ago - looks like a change of the re

[2019-08-07 11:21] fgsch commented on #1499
To confirm, you were using CRS v3.1.0-rc1-292-gc5f1656 without problems and when you switched to CRS v3.2/dev, using the same setup you are getting that error?

I can't see anything wrong in that file. I will investigate.

[2019-08-07 11:28] mark4409 commented on #1499
no, this is whats weird. Before I updated with git pull, i did a git branch to make sure I was on the correct one. It showed I was on v3.2/dev. However when I type git descripe --tags, it says CRS v3.1.0-rc1-292-gc5f1656

[2019-08-07 11:31] mark4409 commented on #1499
When I first logged this issue, I noticed after that I was still on modsecurity 3.0.2. I have since recompiled and installed the latest but it hasn't resolved this particular issue.

[2019-08-07 11:34] fgsch commented on #1499
You are using `git describe` incorrectly.  Please check the manpage.
That aside (and what we need to understand) is:

- Which version/revision of ModSecurity you are running
- Which version/revision of CRS you are running
- Which version/revision of nginx
- What error you are seeing

Can you provide that information after ensuring that your setup matches your expectations?
It's hard to pinpoint wh

[2019-08-07 12:02] mark4409 commented on #1499
I am by no means an expert in the usage of git, but lets try this from `git log -1`. If it's not correct then I'd very much appreciate a bit of help in finding the exact revision:

**ModSecurity**
`commit d5b93c1013ca9c9a96c75369576b54832e9a2b48 (HEAD -> v3/master, origin/v3/master, origin/HEAD)`

**CRS:**
`commit c5f165634623a51b1d082a830ca6f70b526470d6 (HEAD -> v3.2/dev, origin/v3.2/dev, origin/

[2019-08-07 12:21] fgsch commented on #1499
Thanks for all the details. I will try to reproduce the issue and see what I find.

[2019-08-07 13:26] mark4409 commented on #1499
I've just tried a little test and commented that particular rule out. Upon doing so, I get the same error message again but this time at line 354 - which happens to be the next occurence of `"@contains %" \`

[2019-08-07 14:08] fgsch commented on #1499
Ok, I think I know what's going on.

Could you put a backslash (\) in front of the percentage (%) in those rules?

[2019-08-07 14:12] mark4409 commented on #1499
so like `"@contains \(%)"` ?

[2019-08-07 14:18] fgsch commented on #1499
Without the ()s, it should be `"@contains \%"`

[2019-08-07 14:22] mark4409 commented on #1499
Nope, same message just with the backslash

I did try it with the brackets whilst waiting for your reply... and that didn't fail!

[2019-08-07 14:46] mark4409 commented on #1499
does `"@contains %"` really do the same thing as the previous `"@rx \%(?:(?!$|\W)|[0-9a-fA-F]{2}|u[0-9a-fA-F]{4})"` ?

[2019-08-07 16:25] fgsch commented on #1499
Nop, and is not supposed to. The original rule was wrong.

[2019-08-07 16:32] mark4409 commented on #1499
Well the backslash didn't work I'm afraid. I have disabled modsecurity temporarily until it is fixed.

[2019-08-07 18:15] fgsch commented on #1499
Unfortunately you are hitting a bug in modsec 3.
I've opened https://github.com/SpiderLabs/ModSecurity/issues/2145 to track this.

In the meantime we'll see if we can workaround it.

[2019-08-08 15:09] #1499 closed, assigned to nobody

[2019-08-09 13:07] fgsch opened #1504 "Review recent changes to rule 942370"
We recently updated rule 942370 (commit 62e7a8d2d68fe38f2acfe1335839b7caf09aed70 via #1466).

I believe there are a number of issues with this change:

- The resulting pattern doesn't make much sense to me
- We removed part of the pattern from the .data file
- We added (12) unnecessary capture groups

The last 2 points are self explanatory. For the first one, we now have:

[code]

Which seems inco

[2019-08-09 13:12] dune73 commented on #1504
Can we close #1477 in favor of this issue?

[2019-08-09 17:52] franbuehler commented on #1504
I reviewed this Pull Request #1466.

1. Yes, the resulting pattern is wrong!
The result of
`$ util/regexp-assemble/regexp-assemble.pl util/regexp-assemble/regexp-942370.data`
is:
[code]
without these capturing groups!
I am sorry, I do not know how I could overlook that! I have no clue. Maybe I concentrated on the regexes in the data file and not on the result of the assembly tool.

2. yes, that is

[2019-08-09 17:56] fgsch commented on #1504
@franbuehler So we basically removed that part but forgot to regenerate it?
IIUC that makes sense. So we need to update the pattern in the rule?

[2019-08-09 17:58] franbuehler commented on #1504
Yes, only the pattern in the rulefile is wrong. And I did not check that.

Shall I open a PR to fix that? It's my fault!

[2019-08-09 17:59] fgsch commented on #1504
Nobody's fault, things happen.
Sure, if you have the time please go ahead 👍

[2019-08-09 18:03] franbuehler commented on #1504
Thank you, that you took a closer look!
Ok, I'll provide a PR soon.

[2019-08-10 12:38] dune73 commented on #1504
PR #1505 fixed this.

[2019-08-10 12:38] #1504 closed, assigned to nobody

[2019-08-11 19:31] lifeforms opened #1506 "Rewrite links to blog.modsecurity.org"
In several places we refer to http://blog.modsecurity.org/2007/06/optimizing-regu.html but that site has disappeared off the web.

The content has been spidered at https://web.archive.org/web/20180822205124/http://blog.modsecurity.org/2007/06/optimizing-regu.html

We should rewrite it and replace the links.

[2019-08-12 10:24] fgsch commented on #1506
What do you think about moving the article to https://coreruleset.org/ instead of using internet archive ?

[2019-08-12 10:29] lifeforms commented on #1506
Yes @fgsch I think we should do that, but since we don't know the license of the original content we should rewrite it instead of copying.

[2019-08-12 10:31] dune73 commented on #1506
I'm writing to Ofer, the original author.

[2019-08-12 12:40] dune73 commented on #1506
Ofer agrees to us re-publishing the blog post on https://coreruleset.org.

[2019-08-13 23:58] Ed-AITpro opened #1508 "Too many false positives to list"
Without all out ranting here and exploding like I feel like exploding it would be great if you could provide some sort of Mod Security whitelisting method that could be used in a WordPress Plugin's code to tell Mod Security not to falsely flag every single thing as a threat. The problem with trying to deal with all the false flags in Mod Security is this >  A customer contacts me and I confirm tha

[2019-08-14 00:09] Ed-AITpro commented on #1508
FYI all of the data in those error messages was stripped out. So yeah you are just left with the base Mod Security error, which is useless pretty much just like Mod Security. There I said it.

[2019-08-14 00:14] Ed-AITpro commented on #1508
Now this was only occurring in my WordPress plugin then I would just think that I suck at coding, but when I look around I can literally find 100's and probably more like 1,000's of WordPress plugins that Mod Security breaks. To me that classifies as a disaster.

[2019-08-14 00:17] Ed-AITpro commented on #1508
If were easy, simple and quick to fix Mod Security false flags then Mod Security would be awesome, but unfortunately that is where Mod Security has failed in a very big way. At this point Mod Security is a menace and not a help.

[2019-08-14 00:31] Ed-AITpro commented on #1508
One final thing from me and I'll go my merry way and start redesigning my plugin to evade Mod Security. Ironically my WordPress plugin is a security plugin that uses some features that are almost identical to what Mod Security is doing. The difference between my security plugin and Mod Security is that I have also provided whitelisting tools within my plugin that a user can use to quickly fix anyt

[2019-08-14 07:05] dune73 commented on #1508
Hello @Ed-AITpro, I'm sorry for the (huge) inconvenience and I feel your pain.

The problem here is that we have certain assumptions on how people should be running CRS to minimize the pain and then hosters just ignore these and you are pretty much on your own.

The 3 alerts you submitted above all seem to relate to response body inspection. The quickest way to get rid of these is to disable respo

[2019-08-14 15:26] Ed-AITpro commented on #1508
Thanks for responding.  I apologize for letting my emotions get the better of me and venting my frustrations, which is not conducive or constructive to anyone.  I've had them bottled up for a long time and honestly am just upset at myself for waiting so long hoping that this cPanel Mod Security CRS thing would work itself out over time.  I know better than that.  ;)

I have Mod Security with CRS i

[2019-08-14 15:49] dune73 commented on #1508
Thank you for following up, Ed. It is true that the cPanel integration is but minimal. Also cPanel used to work with the ModSec developers directly and that did not work out so well. We have met the cPanel guys last year when they attended the CRS community summit and we hope they will be back this year (September 24 in Amsterdam), so we can get serious about improving the integration so people ge

[2019-08-14 16:23] Ed-AITpro commented on #1508
Well 99% of what cPanel has done and created is absolutely incredible.  Personally I think cPanel is the best web host backend toolset out there.  I fairly regularly login to customer's web host control panels and have first hand experience with navigating a lot of them and cPanel is the most intuitive and feature packed toolset of all of them in my opinion.  So yeah cPanel just dropped the ball o

[2019-08-14 16:43] Ed-AITpro commented on #1508
On a positive and off topic note, I am actually having some fun redesigning my plugin by creating text box Forms that are updated in real time using Event Listeners that encrypt and decrypt data using pure js.

[2019-08-16 12:32] azurit opened #1510 "Rule 941100 false positive with Drupal"
Rule number 941100 is triggering 2 times for Drupal version 6.26 with crs_exclusions_drupal enabled. Example of URI (POST request):
/?q=node/205/edit

What other info do you need?

## Your Environment
* CRS version (e.g. v3.0.2): 3.1.1
* ModSecurity version (e.g. 2.9.2): 2.9.3
* Web Server and version (e.g. apache 2.4.27): Apache 2.4.25
* Operating System and version: Debian Stretch

## Confirmati

[2019-08-16 12:40] dune73 commented on #1510
Sorry for the inconvenience and thank you for letting us know.

Would you please send us the rule alerts (from the error.log or the audit-log)? That would help.

Also: Can you write a rule exclusion yourself or do you need help?

[2019-08-16 12:46] azurit commented on #1510
Can i send it privately? There's probably lot's of sensitive data. It's in JSON format.

I never done it before, maybe i can try. Any initial hints?

[2019-08-16 12:47] dune73 commented on #1510
Sending via private mail is welcome: folini@netnea.com

Rule Exclusions: Maybe take a look at my tutorials at https://netnea.com/apache-tutorials.

[2019-08-16 13:10] azurit commented on #1510
E-mail sent.

Well, i think that whole regexp is wrong. The one doing problems is in file REQUEST-903.9001-DRUPAL-EXCLUSION-RULES.conf, line 330:
`SecRule REQUEST_FILENAME "@rx /node/[0-9]+/edit$" \`

I think that '/' characters should be escaped - this should fix it and also workaround my problem (not sure if the '^' at the beggining is needed?):

`SecRule REQUEST_FILENAME "@rx ^\/(?:s|\?q=){0,1}

[2019-08-16 13:18] dune73 commented on #1510
Thank you for your message.

I see 4 false positives against 941100 on uri "/" in the parameters `body` and `field_teaser[0][value]`.

The rule exclusion you point to does not apply, because your requests go against /.

As for the regex, we do not need to escape the slash. But we need to understand why your requests are sent to / and if this is the new normal with Drupal.

[2019-08-16 13:24] azurit commented on #1510
Well, as it's Drupal version 6.26, released in 2012, it's probably the old way. Would be fine, if you can support it.

[2019-08-16 13:30] dune73 commented on #1510
Our rules exclusions are based on Drupal 8. Drupal 6 has long lost support. I doubt we are going to add support for it in CRS.

Please understand that excluding a strong and important rule like 941100 on / is very dangerous.

[2019-08-16 13:30] azurit commented on #1510
Ok, thank you for your time.

[2019-08-16 13:30] #1510 closed, assigned to nobody

[2019-08-16 13:35] dune73 commented on #1510
You are welcome.

[2019-08-16 13:55] azurit opened #1511 "Rule 941100 false positive with WordPress"
## Type of Issue
false positive

## Description

WordPress version 5.2.2 with crs_exclusions_wordpress enabled. Rule is triggered multiple times for argument 'element'. I sent the full log to folini@netnea.com.

## Your Environment

* CRS version (e.g. v3.0.2): 3.1.1
* ModSecurity version (e.g. 2.9.2): 2.9.3
* Web Server and version (e.g. apache 2.4.27): 2.4.25
* Operating System and version: Debi

[2019-08-16 14:50] azurit commented on #1511
Found out that external theme is causing this (which is using custom visual editor). Guessing third party plugins/themes/whatever aren't supported? :)

[2019-08-19 07:06] dune73 opened #1513 "RCE detection bypass at PL1"
The following bypass was pasted on twitter.

[code]

https://twitter.com/spyerror/status/1162826904833089541?s=19

According to @franbuehler, this passes on PL1, but is being detected on PL2.

## Type of Issue

RCE rule detection bypass

## Description

See above.

## Your Environment
CRS 3.1

## Confirmation

[X] I have removed any personal data (email addresses, IP addresses,
    passwords, doma

[2019-08-19 07:34] franbuehler commented on #1513
First command gets the following scores:
`individual paranoia level scores: 0, 13, 11, 13`

Second command:
`individual paranoia level scores: 0, 18, 11, 13`

[2019-08-20 01:42] yeyouli opened #1514 "rule_id:941350"
## Type of Issue

incorrect bypass (false negative)
remove the "t:lowercase" function
## Description

### payload
`curl -v -H "Host:www.test.com" "http://127.0.0.1/xx?id=%25252bADw-script%25252bADw-"`
This payload never matches.
### debug log
"[156626498153.465280] [/xx?id=%25252bADw-script%25252bADw-] [4] (Rule: 16010022) Executing operator "Rx" with param "(?:\+ADw\-|\+AD4\-).*(?:\+ADw\-|\+AD4\-

[2019-08-20 06:30] marcstern commented on #1513
This evasion technique (and several others) can be defeated with the t:bash transformation - see https://www.approach.be/en/modsecurity.html

[2019-08-20 06:38] dune73 commented on #1513
If only it would be merged ...

[2019-08-20 21:54] Ed-AITpro commented on #1508
Ok so the most critical forms now completely evade ModSecurity altogether using encryption and will no longer be broken by ModSecurity, but I have some less important forms that ModSecurity is still falsely detecting critical issues.  This one is an absolute joke to be honest with you:  "ModSecurity: Warning. Matched phrase ".htaccess" at ARGS:filename." Are you kidding me??? That's like saying Cr

[2019-08-20 22:19] Ed-AITpro commented on #1508
Wow ok so the Rule is checking the outputted "success message", which contains this success phrase:  Your currently active root htaccess file has been updated. I assume this ridiculousness is occurring because I am checking with the content body filter on, which obviously just grabs random Source Code and tries to magically interpret what it means. Brilliant stuff.... not.

[2019-08-20 22:27] Ed-AITpro commented on #1508
What the hell does this error mean?  I tried looking at the CRS SecRule code and it does not make any sense at all to me.
ModSecurity: Warning. Operator GE matched 5 at TX:anomaly_score.
file "C:/xampp/apache/modsecurity/owasp-modsecurity-crs/rules/REQUEST-949-BLOCKING-EVALUATION.conf"
id "949110"
tag "attack-generic"

[2019-08-20 22:38] csanders-git commented on #1508
You sure have quite the thread here and while I appreciate your enthusiasm I must question if writing long text blocks is the best way to allow us to assist you.

Generally I'll talk to the two most recent points. Not allowing htaccess is not akin to air, instead these are apache configuration files and are not designed to be typically accessible.
As per the blocking evaluation. This indicates tha

[2019-08-20 22:46] Ed-AITpro commented on #1508
"instead these are apache configuration files and are not designed to be typically accessible." What? That does not make any sense.  WordPress ships with a default .htaccess file that users can edit. .htaccess files are very common and used by anyone and everyone these days. They can be used anywhere and everywhere under a hosting account structure. Are you thinking of conf files?

Ok so how do I

[2019-08-20 23:01] Ed-AITpro commented on #1508
Got another obscure error message and the SecRule code does not tell me what CRS is specifically checking.
SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|ARGS_NAMES|ARGS|XML:/* "@pmf lfi-os-files.data" \

ModSecurity: Warning. Operator GE matched 5 at TX
OS File Access Attempt;

What does this mean???????

[2019-08-20 23:11] Ed-AITpro commented on #1508
If these things were only happening just to me and not millions of people using cPanel then I would just start commenting out SecRules, but since i get contacted daily by my users about things that are being broken by ModSecurity CRS rules and doing Google searches shows that 100's if not 1,000's of other plugin and theme authors are dealing with this nightmare as well.  Sure would be nice if you

[2019-08-21 00:32] Ed-AITpro commented on #1508
Ok take back anything positive I said previously about your CRS Ruleset.  The more I look at it the more I am convinced it is an absolute disaster. Jesus Christ.

[2019-08-21 00:50] Ed-AITpro commented on #1508
"...anomaly mode is the default and recommended mode, since it gives the
most accurate log information...".  Really?  How come it does not tell me anything useful then?  I have no idea how to troubleshoot things because anomaly mode does not tell me anything I can use.

[2019-08-21 01:04] Ed-AITpro commented on #1508
Just tried using Debug Mode. It tells me the exact same thing as DetectionOnly tells me = absolutely nothing useful.

[2019-08-21 01:11] Ed-AITpro commented on #1508
No wonder web host techs are rarely (10% of the time at best) able to solve any ModSecurity CRS problems. How can you solve a problem if you don't know what is causing the problem. Very basic stuff.  Too bad CRS does not incorporate that very basic fundamental concept. What an absolute disaster.

[2019-08-21 15:39] Ed-AITpro commented on #1508
Ok I figured out how to get CRS to do something useful. I found the SecRule that is malfunctioning and changed nolog to log. What I found is very disturbing and upsetting.  The CRS SecRule considers these things as LFI attacks:

Warning. Operator LT matched 2 at TX:executing_paranoia_level.
A Request to: uri "/wp-admin/admin-ajax.php" - counts 2 times as an LFI attack on lines 132 and 133
A Reques

[2019-08-21 15:58] Ed-AITpro commented on #1508
So all my redesign changes in my plugin using encryption work perfectly to evade your CRS nightmare and now what I am facing is something that is fundamentally how WordPress works in general. That is not something that I can get around because I have tested several other WordPress plugins by saving option settings in those other plugins and the same FUBAR CRS SecRule is malfunctioning.  So in gene

[2019-08-21 16:02] Ed-AITpro commented on #1508
Anyway I am relieved that my plugin is ok and CRS is taking a big steaming pile.  What I can do now is just refer web hosts to this GitHub post so that they know what in CRS needs to be done, which is disable Anomaly crap so that they won't have to deal with angry customers all day calling about ModSecurity CRS breaking stuff.

[2019-08-21 16:24] Ed-AITpro commented on #1508
Hmm now there is something else in CRS that is malfunctioning and no information on what the root cause is. What a surprise. Anyway I have found a method that works to evade ModSecurity that works perfectly for all my critical Forms. So I will simply have to design all my plugin Forms to use that method since ModSecurity CRS tends to block legitimate Form processing in general.

[2019-08-21 16:45] Ed-AITpro commented on #1508
To web hosts:  Anomaly Scoring help info can be found here > https://www.modsecurity.org/CRS/Documentation/anomaly.html.  The help information does not clearly state that the default Critical Anomaly Scoring level is set to 5 and uncommenting the Anomaly Scoring settings allows you to change the default scoring levels to a higher scoring level.  By default the Anomaly Scoring settings are commente

[2019-08-21 18:34] gotwf commented on #1508
Recent discussion in another *developer* focused community concludes: "cPanel (and Docker) is(are) for those who either don't know how or are too lazy to be sysadmins".  That cPanel has become ubiquitous notwithstanding, cPanel is also a for profit entity that takes from FOSS but gives very little back.  In other words; parasites.  Hence, I would encourage owasp developers not to focus *too* much

[2019-08-21 18:57] Ed-AITpro commented on #1508
Well imagine if creating ModSecurity CRS whitelist rules was simple - then there would be absolutely no problem at all. In my security plugin I put major emphasis on designing it so that troubleshooting and problem solving takes only a few minutes even for non-technical folks. Brilliance is creating something complex that is simple enough for anyone to use. Creating some complex that is complex to

[2019-08-21 19:01] Ed-AITpro commented on #1508
Imagine if ModSecurity CRS had a user friendly GUI - Now that would be brilliance. ;)

[2019-08-21 19:05] dune73 commented on #1514
Thank you for reporting this. Idiotic failure in the rule. Makes you wonder just why some rules never match...

[2019-08-21 19:17] dune73 commented on #1511
OK. I took a look. 9 of the 11 alerts in your log file (thanks for sending) are against 941100. This is handled by libinjection, a 3rd party library that ModSecurity uses. If there are false positives we can do very little outside of disabling said rule / library for certain elements.

Here they all target parameters of the form `element[1][0][]` and the like. So one would have to exclude them all

[2019-08-21 19:53] azurit commented on #1511
It was a WordPress 5.2.2 with 3th party theme called Mioweb (don't know the version, if it has any). That theme has it's own visual editor included and that was triggering the mentioned rules. I already wrote an exclusion rule for this one (not sure about the 'element' array indices, is it possible to write it better? for example using a regexp):

[code]

[2019-08-21 19:59] dune73 commented on #1508
Dear @Ed-AITpro,

We are sorry that CRS does not work for you. As we have explained above, false positives are a nuisance and we are aware of the fact that they are painful for you and other users. That's why we welcome actionable bug reports, ideally with log excerpts or summaries that we can work with (maybe check out other issues where this is done in an exemplary way).

There is plenty of docu

[2019-08-21 19:59] #1508 closed, assigned to nobody

[2019-08-21 21:47] Ed-AITpro opened #1516 "Apology for ranting in my other topic"
As it turns out the Anomaly Scoring log entries regarding LFI attacks had nothing to do with why the Form was being blocked. There was a coding mistake higher up in my code that was calling fopen and fwrite twice that was triggering something in CRS to see the Form submission as a threat and block the Form submission. I should have just done good old fashioned commenting code out first instead of

[2019-08-21 21:51] Ed-AITpro commented on #1516
Please delete my rant topic since it does not serve any useful constructive purpose. ;)

[2019-08-22 04:34] dune73 commented on #1511
That's a well written rule exclusion. No, unfortunately, you have to address them directly like this. I hope the numbers don't change... Other than that you can only disable the rule completely in this situation.

[2019-08-22 04:34] #1511 closed, assigned to nobody

[2019-08-24 06:50] azurit opened #1518 "Rules matched at REQUEST_BODY instead of ARGS"
## Type of Issue

Bug

## Description

Rules 930100 and 930110 are getting matched at whole REQUEST_BODY instead of ARGS:redirect . I sent the full log to folini@netnea.com.

## Your Environment

* CRS version (e.g. v3.0.2): 3.1.1
* ModSecurity version (e.g. 2.9.2): 2.9.3
* Web Server and version (e.g. apache 2.4.27): 2.4.25
* Operating System and version: Debian Stretch

## Confirmation

[x] I ha

[2019-08-24 16:24] #1514 closed, assigned to nobody

[2019-08-24 16:25] lifeforms commented on #1514
Thanks for reporting this bug and thanks to @fgsch for writing the pull request to fix it!

[2019-08-25 01:13] Ed-AITpro commented on #1516
Ok making some good progress now with redesigning my plugins:

OWASP ModSecurity CRS testing, troubleshooting, solutions and pending redesign work for the BPS and BPS Pro Plugins:

Major Redesign|ModSecurity CRS Proofing: The OWASP ModSecurity Core Rule Set installed on cPanel breaks numerous Forms/Features/Pages and other things in the BPS and BPS Pro plugins:  A list of broken/fixed/pending Form

[2019-08-26 08:58] lifeforms commented on #1506
Fixed in #1523.

[2019-08-26 08:58] #1506 closed, assigned to nobody

[2019-08-27 09:54] aramhovsepyan opened #1524 "942510 false positive"
## Type of Issue
It seems that the rule 942510 is blocking a trivial 'test' input.

## Description

## Your Environment

* CRS version (e.g. v3.0.2): 3.2/dev
* ModSecurity version (e.g. 2.9.2): 2.9.3
* Web Server and version (e.g. apache 2.4.27): 2.4.29
* Operating System and version: ubuntu

## Audit log in JSON
{"transaction":{"time":"27/Aug/2019:11:43:00 +0200","transaction_id":"XWT7JM0kvDID-KM

[2019-08-27 11:08] fgsch commented on #1178
@dune73 this can be closed now, or is there anything remaining to do here?

[2019-08-27 11:20] #1478 closed, assigned to nobody

[2019-08-27 12:22] dune73 commented on #1524
Confirmed. This is a false positive. Thank you for reporting.

[code]

[2019-08-27 13:59] spartantri commented on #1524
@dune73 I like your script, you should consider adding it to crs util scripts :)

[2019-08-27 14:04] dune73 commented on #1524
Thank you. Yes, probably. But it's a bit of a hack so far - and it depends on a very specific configuration of the webserver - that you do not want in prod :):
[code]

[2019-08-27 18:58] lifeforms commented on #1524
Thanks @aramhovsepyan for the false positive report. Your report arrived just in time for our fixing it before the v3.2 release next month. A fix is in #1528.

[2019-08-27 18:58] #1524 closed, assigned to nobody

[2019-08-28 08:00] franbuehler commented on #1258
WIP suggestion in https://github.com/franbuehler/owasp-modsecurity-crs/tree/header-whitelisting-pl4:

- Content-Type
- Accept
- Authorization
- Pragma
- Range, Request-Range

Content-Length Whitelist `!@rx ^\d+$` is already covered: rule id 920160.

[2019-08-29 01:14] ghost opened #1529 "False Positive with Rules 942100, 942190"
Hi.  I'm getting a false positive on the rules 942100, 942190 with the following input string:

Manufacturing Workers' Union (MMWS)

It seems like these 2 rules are overzealous when there is ' Union ( in a string as they don't check what the contents of the rest of the string are.

Log Data:

Message: Warning. detected SQLi using libinjection with fingerprint 'sU(n)' [file "/usr/share/modsecurity-

[2019-08-30 12:12] dune73 commented on #1529
Thank you for reporting this @mark324 and sorry for the inconvenience.

I confirm your finding, this payload provokes false positives:

[code]

942100 is covered by the libinjection library. You will have to report there : https://github.com/client9/libinjection

942190 is our fault though. We will look into it.

I'm afraid to admit that the UNION keyword has been a regular culprit in the past.

C

[2019-08-30 20:50] azurit opened #1531 "New restricted files for WordPress, Drupal and Joomla"
These should be added to restricted-files.data for WordPress:
wp-config.php~ (vim backup file)
wp-config.php.swp (vim swap file)

,for Drupal:
/sites/default/default.settings.php~
/sites/default/settings.php~
/sites/default/settings.local.php~
/sites/default/default.settings.php.swp
/sites/default/settings.php.swp
/sites/default/settings.local.php.swp

and for Joomla:
/configuration.php
/configura

[2019-09-01 23:20] ghost commented on #1529
Thanks for following up.  I have excluded rule 942100 for the specific actions/args that the names go into.  I didn't want to exclude rule 942190 as it seems to catch a lot so I have modified the regex for rule 942190 locally with the following look ahead (?!\(\w*\))

(?i:(?:[\"'`](?:;?\s*?(?:having|select|union)\b\s*?(?!\(\w*\))[^\s]|\s*?!\s*?[\"'`\w])|(?:c(?:onnection_id|urrent_user)|database)\s

[2019-09-02 12:47] dune73 commented on #1529
Well done. We're a bit reluctant to add more look-arounds as they are not compatible with other RegEx implementations and we're aiming to become independent of PCRE. But I think you are steering this in the right direction.

[2019-09-02 14:35] Nyloth opened #1535 "Rule triggering : Execution error - PCRE limits exceeded (-8)"
## Type of Issue
Execution error - PCRE limits exceeded (-8)

## Description
We have the rule 981243 in the ruleset which triggers a PCRE error everytime on the same page. Here is an example of a trigger.

[Fri Aug 30 09:29:31.360865 2019] [:error] [pid 7841:tid 140301347780352] [client X.X.X.X] ModSecurity: Rule 7f9a94002918 [id "981243"][file "/etc/modsecurity/activated_rules/modsecurity_crs_41_

[2019-09-02 17:51] dune73 commented on #1535
Sorry for the inconvenience @Nyloth. However, we are no longer supporting 2.2.9. I suggest you upgrade to 3.1 which has vastly better detection rates and far less false positives. 3.1 is supported by your ModSec version.

Upgrading is relatively simple and I think there is even a backported CRS package.

[2019-09-02 17:51] #1535 closed, assigned to nobody

[2019-09-02 18:17] dune73 opened #1536 "Monthly Chat Agenda September (2019-09-02)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, September 2, at 20:30 CET.

## Items on the Agenda:

### Release 3.2
* original timeline: Merge freeze on Aug 19, RC1 on Aug 26, RC2 on Sep 8, release on Sep 24
* new timeline: RC1 on Sep 3, RC2 on FIXME, release on Sep 24
* Open issues / PRs?
* Are we really

[2019-09-02 18:41] dune73 commented on #1536
### Decisions

* 3.2-RC2 will be announced tomorrow with new merges from tonight, replacing the RC1 we did not announce
* #1534 is too late for 3.2
* #1532 and #1533 will be merged for 3.2
* #1530 will be merged
* #1525 is too late for 3.2
* #1519 will be replaced by a fix in the Dockerfiles. @franbuehler is providing this quickly and it will be merged for 3.2. [Update: This new PR is #1537]

[2019-09-06 19:38] allanrbo commented on #1504
Must have must have had a copy-paste error! The text in the PR description was correct, but the file was not... Sorry about that, @franbuehler !

[2019-09-07 00:05] theMiddleBlue commented on #1513
IIRC we already talk about that in a meeting (refer to https://www.secjuice.com/web-application-firewall-waf-evasion/). If you agree, I would try to catch this bypass technique in PL1.

[2019-09-09 14:55] #1536 closed, assigned to nobody

[2019-09-12 08:10] spartantri opened #1546 "Improve rx in 953120"
## Type of Issue
false negative in 953120

## Description
The regular expression in 953120 has no anchors, which may lead to bypass due to wrong identification of magic bytes

I doesn't apply to NGNIX since this is a phase:4 rule

## Your Environment
* CRS version : 3.1, 3.2, 3.3
* ModSecurity version : 2.9
* Web Server and version : Apache 2.4
* Operating System and version: Linux

## Confirmatio

[2019-09-12 08:51] erniewarren opened #1547 "utils/upgrade.py not included in V3.2/master"
## Type of Issue
Bug fix - Missing file?
From /etc/nginx/modsec/owasp-modsecurity-crs/INSTALL upgrade.py is still referenced...

Installing From Git
===================

    Github is the preferred way to download and install CRS. Doing so
    insures that you have the most recent version of the rules. We
    encourage you to create scripts that will automatically download
    updates at regular i

[2019-09-12 19:20] csanders-git commented on #1547
This was removed as 2.x CRS is not as common anymore

[2019-09-12 19:23] csanders-git commented on #1546
We should fix this for 3.3

[2019-09-12 23:59] erniewarren commented on #1547
Is upgrade.py only used for 2.x CRS.
Is there an equivalent for Version 3.x CRS for updating the rulesets.
If so where is it located?

[2019-09-13 07:38] spartantri commented on #1546
Absolutely, I just opened the issue to keep it in mind as I didn't want to do the full change on this one with 3.2 so close to be released.

[2019-09-13 09:59] spartantri opened #1550 "Add REQBODY_PROCESSOR_ERROR checks"
## Type of Issue
Add verification of body processor errors

## Description
This may lead to both false positives and false negatives, requires testing

## Your Environment

* CRS version (e.g. v3.0.2): 3.3
* ModSecurity version (e.g. 2.9.2): *
* Web Server and version (e.g. apache 2.4.27): *
* Operating System and version: *

## Confirmation

[ X ] I have removed any personal data (email addresses

[2019-09-16 10:16] interN3rd opened #1553 "CRS 3.1.0: How to customize apache error log entries"
Hey guys,

so far I'm getting along well with **ModSecurity (version 2.9.3)** and kind of learning it. But there is one special issue that I can't handle myself (despite having read the ModSecurity Handbook by Christian Folini and a couple of tutorials):

I want to build a website and secure it with ModSecurity and the OWASP CRS. I have installad an **Apache Webserver** (version 2.4.41 (Debian) fo

[2019-09-16 10:29] dune73 commented on #1553
Thank you for writing in and glad you find our stuff useful. Also thank you for reading my boring book.

Unfortunately, the so called alert message is hard-coded into ModSecurity. There is no way to to configure it. If you look in my tutorial on netnea.com, where I configure the ErrorLogFormat, you see, that the ModSec part is just a message block, that you can not re-configure with Apache and the

[2019-09-16 10:29] #1553 closed, assigned to nobody

[2019-09-17 15:02] lifeforms commented on #1547
Thank you for bringing this documentation issue to our attention. I have fixed it.

The upgrade utility was retired since we no longer recommend to clone from Github (unless you want to develop on the CRS) but download the releases instead. To upgrade the CRS, you can simply delete your old rule files and download a new release from https://coreruleset.org/installation/ into the same directory.

[2019-09-17 15:02] #1547 closed, assigned to lifeforms

[2019-09-18 08:53] erniewarren commented on #1547
Thanks very much for your clarification. You have answered my questions.

On Wed, 18 Sep 2019 01:02 Walter Hop <notifications@github.com> wrote:

[2019-09-23 11:21] nlyf commented on #1016
Hi @rodrigo-martinez , @dneha19 ,@dune73!
provided site is not available now. Is there any saved archve?

[2019-09-23 13:36] nlyf commented on #1016
Now their link is availibe, do not worry

[2019-09-25 16:02] lifeforms commented on #1444
This is fixed in v3.2.0. We worked around the problem in ModSecurity 3 by adding the explicit tag to all the rules. Thanks for reporting!

[2019-09-25 16:02] #1444 closed, assigned to theMiddleBlue

[2019-09-25 16:03] lifeforms commented on #1446
This is fixed in v3.2.0. We worked around the problem in ModSecurity 3 by adding the explicit tag to all the rules.

[2019-09-25 16:03] #1446 closed, assigned to nobody

[2019-09-26 13:07] a-zb opened #1562 "Minimum version of mod_security question"
This is not an issue per se,- more of a question to the maintainers.
I tried the mailing list link, but it returns with a 404 status and nobody on IRC channel #modsecurity answers , so I came here as a last resort.

Question: Current ruleset has a minimum mod_security version requirement of 2.8.
Do you see the crs project moving up the minimum version requirement above 2.9 in the near future or ev

[2019-09-26 14:08] lifeforms commented on #1562
Hi @arekzb,

We always recommend running the latest ModSecurity version within a release train - IIRC we will run on ModSecurity 2.8, but ModSecurity 2.9.3 solves a lot of issues.

In our experiences, ModSecurity 3 still has some missing features and has performance disadvantages compared with ModSecurity 2. Also not all of our tests are yet running successfully on ModSecurity 3. The ModSecurity 3

[2019-09-26 14:08] #1562 closed, assigned to nobody

[2019-09-26 14:15] spartantri commented on #1562
Hi @arekzb ,

I agree on all that Walter previously mentioned,  the CRS minimum version means which mod_security versions would be able to run the CRS.

Version 3 still do not support some of the features that 2.9 does and that fact forced us to take specific alternatives on the rule writing style so the CRS could be compatible with version 3.

I recommend you to avoid using any version under 2.9.

[2019-09-26 15:32] emphazer commented on #567
is this issue or feature request still up to date?

[2019-09-26 20:57] wjwoodson opened #1564 "Improve rx in 942400"
## Type of Issue
false positive in 942400

## Description

The regexp in 942400 can trigger a false positive when " and " is followed by a digit. e.g. "1 apple and 7 oranges".

## Your Environment

* CRS version: 3.2, 3.3
* ModSecurity version (e.g. 2.9.2):
* Web Server and version (e.g. apache 2.4.27):
* Operating System and version:

## Confirmation

[ X ] I have removed any personal data (email

[2019-09-26 22:45] cgzones opened #1566 "Rule 920350: ignore local access to /server-status"
##  Type of Issue
Rule 920350 fires when `/server-status` is accessed from localhost.
I think when the client and the source ip is `127.0.0.1` this should be ignored.

## Description

### Apache error log
[code]

### modsec_audit.log
[code]

[code]

## Your Environment
* CRS version (e.g. v3.0.2): latest git: commit 8ab05a16cf2d81c232975628ca1fe35af471c35d
* ModSecurity version (e.g. 2.9.2): 2.9.3

[2019-09-28 10:22] fzipi commented on #502
Congratulations! According to the information that you've provided, your project has earned the CII best practices ‘passing’ badge. For more information, see this URL: https://bestpractices.coreinfrastructure.org/en/projects/1390

Please add your badge to your project and/or repository site; you've earned it:

In markdown you can add this: [![CII Best Practices](https://bestpractices.coreinfrastru

[2019-09-28 10:22] fzipi commented on #502
We can close this one!

[2019-09-28 10:22] #502 closed

[2019-09-28 15:30] dune73 commented on #502
Thank you for your time and dedication getting this done, @fzipi!

[2019-09-28 16:45] dune73 opened #1567 "Monthly Chat Agenda October (2019-10-07) #1536"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, October 7, at 20:30 CET.

## Items on the Agenda:

### PRs

* #1585 - Change chain order
* #1584 - Correct example text regarding GeoIP
* #1583 - Add exception for Monit status check
* #1581 - Fix a FP in 942360 (#1580)
* #1569 - #1579 - New unit tests
* #1565

[2019-09-28 18:50] fzipi commented on #486
Will try to get this done, based on what we discussed in the summit.

[2019-09-28 19:36] dune73 commented on #486
That would be huge, Felipe!

[2019-09-28 19:45] fzipi commented on #505
Agreed. This can be done using https://www.nginx.com/resources/wiki/modules/secure_download/ in nginx or maybe https://docs.unified-streaming.com/tutorials/security/apache-mod-auth-token.html for apache

Closing.

[2019-09-28 19:45] #505 closed

[2019-09-28 19:56] fzipi commented on #650
@dune73 Do you want to add the same version for all?

In that case, we may want to use a var and just reference it everywhere.

@airween Should be capable of changing everything in no time using the parser :)

[2019-09-28 19:59] fzipi commented on #1469
@franbuehler Aren't we properly logging in docker now? I guess we can close this one just letting people know which one is the crs docker... and maybe have it documented somewhere :thinking:

[2019-09-28 20:33] airween commented on #650
Sure! :)

I assigned this issue for myself, let's discuss about the details.

[2019-09-29 05:51] dune73 commented on #650
Let's discuss it at the meeting.

[2019-09-30 22:05] spartantri commented on #1469
Hi @tlaukkan

Just set a envvar ERRORLOG, that should make what you need.

`ENV ERRORLOG=/proc/self/fd/2`

Maybe the README file needs some improvement, I tested using the `Dockerfile-2.9-apache` file and it works as expected.

[2019-09-30 22:06] na1ex commented on #1550
Rule 920130 has been removed in crs-3.2.0.
My opinion : a replacement is required.
Depending on parser involved, parsing error leads to different situations :
   * xml parser goes 500
   * json parser will let things go ( with REQBODY_ERROR set to 1 )
   * urlencoded parser is very permissive (e.g. xml or json bodies are accepted.)
   * multipart parser : not checked (multipart is 'special'!)
As s

[2019-10-02 13:56] fzipi commented on #610
@dune73 What is remaining to do here? Maybe we can have a pass of airween 's magical tool here also, identifying what changes remain?

[2019-10-02 19:01] franbuehler commented on #1464
I have to check why the README https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/dev/util/docker/README.md is not taken for DockerHubs documentation: https://hub.docker.com/r/owasp/modsecurity-crs.

[2019-10-02 19:13] franbuehler commented on #1469
Logging for http and https should work now, yes. Logfiles can be set as spartantri described above.
There is an open issue for documentation: #1464.

[2019-10-02 19:13] #1469 closed, assigned to nobody

[2019-10-02 19:23] franbuehler commented on #1464
I realised that the DockerHub documentation contains a wrong Dockerfile and README.
This is confusing for the users.
Do we want to provide a blog post or another Docker documentation on coreruleset.org.
There I could describe what the official CRS Docker Images supports and how it can be used?
I would not put too much effort into this, because we got Docker image updates or new images promised. Bu

[2019-10-03 07:13] pl853 commented on #1464
dear @franbuehler ,
First of all thank you, and al the people working at and for SpiderLabs, very much for everything you are doing for the community.

 At the moment I'm building a stack containing a Gunicorn Web Server with the Python-Flask Microwebframework and a NGINX Web Server with ModSecurity installed running in docker containers.

The post that i quoted worked for me, but now I'm trying t

[2019-10-03 11:40] airween commented on #610
What do you think about [this](https://docs.google.com/spreadsheets/d/1B2VCMauDQ-eubNwOmz8IbqQ4xeljnrbTY9N-bs2W3bA/edit?usp=sharing)? (List of severity levels at every rule.)

If you have any idea, just let me know.

[2019-10-03 11:52] fzipi commented on #610
What I see is that there are lots of rules without severity :open_mouth:

[2019-10-03 12:49] fgsch commented on #610
I think a lot of the rules missing severity are the paranoia level checks.
Could we exclude those from the list?

[2019-10-03 13:10] dune73 commented on #610
Yes, the rule IDs below xxx100 probably don't need the severity.

I made some comment above what else needs to be done. I stand by that comment, but I think it should not keep this issue back. Let's get this over and do the rest afterwards.

[2019-10-03 14:54] airween commented on #610
Right, it's important info. Any other criteria? I mean, `severity` needs only if rule contains any disruptive action?

[2019-10-03 15:24] Taiki-San opened #1580 "Rule 942360: Small bug in the regex cause FP"
## Type of Issue

False positive.

## Description

The rule trigger a false positive for the following pattern: `\W asbla from`.
More specifically, patterns similar to `, aside from` will trigger.

This is likely due to the following construct ```[\W]\s+as\s*?[\\"'`\w]+\s*?from``` being used instead ```[\W]\s+as\s+?[\\"'`\w]+\s*?from```.
Specifically `\s*?` instead of `\s+?`.

## Confirmation

[X]

[2019-10-03 15:42] dune73 commented on #1580
Sorry for the inconvenience and thank you for reporting.

@franbuehler : You reassembled this rule in your regex archaeology project, I think. Anything comment?

[2019-10-03 15:56] dune73 commented on #610
I'd skip the rule files below 910 and also 949, 959 and 980.

[2019-10-03 15:57] Taiki-San commented on #1580
No problem, thanks for the quick response.
Do you want me to open a PR implementing this change?

[2019-10-03 16:03] dune73 commented on #1580
The 184 open issues does not mean we don't care. It just means we're not enough people in the project. :)

In the light of this, a PR would be most welcome. Can't guarantee immediate merge though, we'll need to take a closer look first.

[2019-10-03 16:18] Taiki-San commented on #1580
Didn't meant to imply so :)
Created the PR!

[2019-10-03 16:52] Taiki-San opened #1582 "Rule 941130: False positive"
## Type of Issue

False positive.

## Description

The rule incorrectly (I think) match patterns finishing with `base64`.
Specifically, because of the starting `[\s\S]`, patterns like `blablabase64` will match.

I suspect the reason is that the regex tries to do too many things.
Specifically, trying to touch the starting condition to simply be `[\s]` break the match of patterns like `<!ENTITY % cg

[2019-10-03 17:13] fgsch commented on #610
Perhaps rather than skipping ranges we could exclude some of these files altogether?

[2019-10-03 17:18] dune73 commented on #610
That's what I tried to express, yes.

[2019-10-03 17:24] fgsch commented on #610
Sorry, I can't read. Reading it again, your comment was clear.

[2019-10-03 18:54] airween commented on #610
[Table](https://docs.google.com/spreadsheets/d/1B2VCMauDQ-eubNwOmz8IbqQ4xeljnrbTY9N-bs2W3bA/edit#gid=1564920677) updated.

The used filter was:
[code]
Tha last condition filters out the rules with id 900NNNN...

[2019-10-04 08:48] fgsch commented on #1580
Changing the `\s*` to `\s+` will break e.g. `1 as' from`.

I think a better fix would be to add a word boundary:

[code]

This still matches the case above and doesn't match `, aside from`.

Using pcretest:
[code]

What do you think?

[2019-10-04 12:56] Taiki-San commented on #1580
Yeah, your solution is better, updated the PR.

[2019-10-05 11:34] fzipi commented on #1566
@cgzones Thanks for reporting.

Seems like you are using Monit locally. I would not ignore every access, just for Monit.

We already have exceptions for Apache dummy internal connections, and I've been adding this exceptions to my own hosts, somaybe adding it to CRS makes total sense.

[2019-10-05 12:14] fzipi commented on #1566
Monit can also be configured to use http headers for testing, like this:
[code]
So you don't get this FP (and also checks the correct host).

But if you are just testing that the service is still alive, the default behaviour will be going for IP or localhost.

[2019-10-05 12:35] fzipi commented on #1227
@danehrlich1 Did you made any progress with this? Do you need more help/advise?

[2019-10-05 12:38] fzipi commented on #1197
@dune73 Do you think is anything left to be done here?

[2019-10-05 12:39] fzipi commented on #1197
@deepwather We did not receive additional comments from you, so we will be closing this issue.

[2019-10-05 12:43] dune73 commented on #1197
I did not follow this, so I can not really tell. The report came for 3.2, so I think it is still valid unless we really solved the 930100/10 FPs.

[2019-10-05 13:37] fzipi commented on #1567
For closing the stale issues, we can use for example https://github.com/marketplace/stale.

[2019-10-05 14:34] pl853 commented on #1464
Dear @franbuehler
After a lot of trying I managed to get it working without the crs rules.
When rebuilding the base image I had to set the proxy location as well:
`
docker build --build-arg SETPROXY=True --build-arg PROXYLOCATION=192.168.0.55:8000 -t my-modsec-nginx3`

Then follow the same procedure as mentioned above:
[code]
Now I only have to build the owap-modsecurity-crs image again and run in

[2019-10-05 19:40] pl853 commented on #1464
Well I fixed it, the only thing I had to do was load the modules in my custom nginx configuration files. *facepalm*

For anyone that is also struggling with this:
At the top of your nginx.conf file add:
`load_module modules/ngx_http_modsecurity_module.so;`

Then for the upstream server add :
[code]

[2019-10-06 17:10] dune73 commented on #1567
I have added this link to the agenda above. Thank you @fzipi.

[2019-10-07 14:38] dansiviter opened #1586 "SQLi bypass @PL2 with 'SELECT *'"
## Type of Issue
Incorrect bypass (false negative)

## Description
It appears any `SELECT *` can bypass the ruleset. Modifying the [OWASP example](https://www.owasp.org/index.php/Testing_for_SQL_Injection_(OTG-INPVAL-005)) and using default CRS at Paranoia Level 2 tried:
* `curl -v 'localhost:8080/` NOT BLOCKED ✅
* `curl -v 'localhost:8080/?id=select title, text from news where id=$id'` BLOCKED ✅

[2019-10-07 18:55] dune73 commented on #1567
## Decisions / Infos
* @csanders-git will be at cloudfest (-> rule exclusions for hosters)
* @csanders-git has the demo setup almost done. We are talking end of the week.
* Stale issues: @fzipi volunteers and the leads will make sure the permissions are being set up correctly.
* Release signing: @fzipi volunteers to do this, signing and publication of checksums.
* @csanders-git will look into the

[2019-10-08 08:10] dansiviter commented on #1586
I've just checked these at PL3 & 4 and only PL4 seems to exhibits the correct behaviour for both `GET` and `POST` and block the `*`.

[2019-10-08 09:08] theMiddleBlue commented on #1586
Hi @dansiviter

I don't think we can talk about bypass here (at least for now). Following are my thoughts, please feel free to correct me if I'm wrong. There're some points we need to go deep before:

- all your payload have an invalid request line. You should encode all whitespace (with `+` or `%20`) and test them again
- I don't get well the injection scenario... I mean, have you a working PoC f

[2019-10-08 09:08] #1586 closed, assigned to theMiddleBlue

[2019-10-08 09:42] Taiki-San opened #1587 "Rule 942350: False positive"
## Type of Issue

False positive

## Description

The rule incorrectly detect patterns like `;insertion_424242`.
I suspect this is because the regex doesn't require spaces (`\s*`) before matching an arbitrary number of `\w` (`\w{2,}`).
The obvious fix (`\s+`) is likely to fail because of test vectors, I'll need to have a deeper look.
I'm thinking of updating the `insert` regex (and maybe others) w

[2019-10-08 10:54] emphazer commented on #1580
@fgsch good solution with \b instead of +.
okay, i could change the regression test to ````6 As" from```` for example

[2019-10-08 10:57] fgsch commented on #1580
@emphazer thanks. should we have a separate PR or include it in #1580?

[2019-10-08 11:07] fgsch commented on #1531
.swp is now covered. This leave us with:

[code]

[2019-10-08 11:09] azurit commented on #1531
Sending more:
[code]

[2019-10-08 11:10] fgsch commented on #1531
We could exclude the .php~ extension as well but vim backup is not limited to a particular extension.

[2019-10-08 11:15] azurit commented on #1531
I think that everything, which ends with a ~ is not supposed to be accessible via HTTP(S).

[2019-10-08 11:18] theMiddleBlue commented on #1531
The problem with ~ is to handle bypass like  `/foo.php~/bar/` and prevent blocking userdir `/~user/`

[2019-10-08 11:42] emphazer commented on #1580
@fgsch no problemo, i will make a seperate PR today

[2019-10-08 16:27] dansiviter commented on #1586
@theMiddleBlue Thanks for your notes. As requested I've tried both URL encoding and '+':

* `curl -v 'localhost:8080/` NOT BLOCKED ✅
* `curl -v 'http://localhost:8080/?id=select%20title,%20text%20from%20news%20where%20id=$id%27` BLOCKED ✅
* `curl -v 'http://localhost:8080/?id=select+title,+text+from+news+where+id=$id%27'` BLOCKED ✅
* `curl -v 'localhost:8080/?id=select%20*%20from%20news%20where%20

[2019-10-08 16:39] annawinkler commented on #1060
I'd like to help out with this work!

[2019-10-08 16:52] dune73 commented on #1060
Very cool. Thank you for volunteering.

Do you see what needs to be done? If not, I'll be glad to help.

[2019-10-08 17:29] annawinkler commented on #1060
I don't yet know what to do - but I like diving in to learn 😺 I'll ask questions when I have them - thanks!

[2019-10-08 19:07] annawinkler commented on #1060
As I read https://www.modsecurity.org/CRS/Documentation/metadata.html#tags-about-paranoia-level it sounds like `any rule in a paranoia level greater than 1 will have a ‘paranoia-level’ tag` - does this issue mean that we wish to change that so that even PL1 rules will have `paranoia-level` tags?

[2019-10-08 19:32] fzipi commented on #1060
@annawinkler Yes, the idea is to have consistent naming everywhere. So we need to add the tag `paranoia-level` to all rules in PL1.

[2019-10-08 20:03] dune73 commented on #1060
Exactly. It's really simple. Just add the new tag across all PL1 rules.

You can do it by hand, or if you want to be smart and learn hot new stuff, then use the msc_pyparser script by @airween at https://github.com/digitalwave/msc_pyparser to do this in a badge. It even comes with an example to manipulate tags in rules.

[2019-10-08 20:13] fzipi commented on #986
We should close this one. We already fixed the remaining steps!

[2019-10-08 20:13] #986 closed, assigned to fzipi

[2019-10-08 20:31] fzipi opened #1589 "Proposal to include monitoring agents exceptions in a new data file"
## Type of Issue
New feature.

## Description

While working on creating one exception for FP (#1583), the discussion there turned into getting a more holistic approach for monitoring agents.

We can take into account Monit, Nagios, Elasticsearch Metricbeat: anything that does the monitoring *exclusively from 127.0.0.1*.

For example:
[code]
The list of monitoring agent could be read from a data f

[2019-10-08 20:32] fzipi commented on #1566
Will be tracked now in #1589 .

[2019-10-08 20:40] dune73 commented on #1589
Thank you for starting to write things up. I'm starting to understand. Yet it's far from complete.

So what do you want to do with these IP ranges and UAs. Are you going to exclude rules based on the User-Agent?

[2019-10-08 20:42] fgsch commented on #1589
I think the idea is checking the ip address, user-agent and some urls. Similar to what we do in 905110, which also falls into this category.

[2019-10-08 20:45] dune73 commented on #1589
I do not like the example in 905110 very much, but at least it's limited to 127.0.0.1. I do not see us disabling rules by default based on data that the client controls.

A complete example would help. Need not be complete rules. Only what will the sysadmin put into the variable, what are we going to do with it.

[2019-10-08 20:48] fgsch commented on #1589
@dune73 what do you mean? This is exactly what 905110 is doing.
I'd assume the rules into this category will follow the same format, but have a different User-Agent and uri.

[2019-10-08 20:59] fzipi commented on #1589
I do not think we will have lots of rules getting data from remote monitoring.

If we have remote monitoring, they will be GETting correct URLs with a reasonable User-Agent. That's what I have in nagios/icinga/centreon and sensu right now. I don't know how much of these ones are we blocking now, but I guess not much (basically it works flawlessly).

Sometimes there are some that execute extended c

[2019-10-08 21:02] dune73 commented on #1589
That's why I was reluctant yesterday and what I am reading here makes me nervous.

I do not want attackers to come up with a Burp pluginthat probes user-agents automatically and then based on the right UA disable the rule engine. You probably want to build an additional constraint via the IP address, but I think this is very dangerous and an invitation for configuration errors.

I mean if everybod

[2019-10-08 21:33] dune73 commented on #1589
Let me iterate this: The examples in 905 disable the rule engine completely. I think this is very dangerous, but it is limited to requests from 127.0.0.1 and you can't spoof that IP address.

The description above implies this will be used in connection with internet IPs. So imagine a cheap monitoring service being used to ping an online banking system. If you combine this with the disabling of th

[2019-10-08 22:28] fzipi commented on #1589
We are going to use only 127.0.0.1.

Forget about anything else.

I'm changing the text above.

[2019-10-08 22:38] fzipi commented on #1589
Done. Also, I'm not comfortable with using
[code]
for these cases.

I think we need to see the common rules that will match, likely 920350, and add the proper ctl. And I would like to see a nice tag for the auditlog.

[2019-10-09 04:57] dune73 commented on #1589
Thank you. Much better now.

[2019-10-09 06:12] theMiddleBlue commented on #1531
ok, I think I got it. Today I'll send a PR.

[2019-10-12 22:39] annawinkler commented on #610
I would be happy to help out with this issue. I was talking with @airween about it and I can take an initial go at updating the rules in the range listed. Are there any other suggested heuristics for setting the severity?

[2019-10-14 18:01] Taiki-San opened #1595 "The pattern of rule 941310 is incorrect"
## Type of Issue
Bug Fix

## Description

As discussed on Slack, the pattern for this rule appear to improperly escape the byte sequence it's trying to match.
To copy @fgsch's analysis for posterity:

[code]

## Confirmation

[X] I have removed any personal data (email addresses, IP addresses,
    passwords, domain names) from any logs posted.

[2019-10-15 07:42] mphilipps opened #1597 "implementation of 912-DOS Protection makes no sense."
## Type of Issue
Incorrect blocking (false positive)

## Description
In the csr-setup.conf.example there is the following comment:

For me this implies that for each ip/useragent the last 100 requests are tracked to discover these burst. However after debugging why this rule would constantly trigger, I found the actual implementation is far from that. Using **modsec-sdbm-util** I monitored the ip.

[2019-10-15 20:21] #1567 closed, assigned to nobody

[2019-10-16 09:06] Rolandwalraven opened #1598 "Rule 942230: False positive"
## Type of Issue
Incorrect blocking (false positive)

## Description
`o.havingu@gmail.com` is detected as conditional SQL injection attempt

Email address is fictional

`Message: Warning. Pattern match "(?i:[\\s()]case\\s*?\\(|\\)\\s*?like\\s*?\\(|having\\s*?[^\\s]+\\s*?[^\\w\\s]|if\\s?\\([\\d\\w]\\s*?[=<>~])" at ARGS:email. [file "/etc/modsecurity/modsecurity.d/owasp-modsecurity-crs/rules/REQUEST

[2019-10-16 13:30] spartantri commented on #1598
we can add \b before spaces to reduce false positives and maybe before the keywords
`(?i:[\s()]case\b\s*?\(|\)\s*?like\b\s*?\(|having\b\s*?[^\s]+\s*?[^\w\s]|if\s?\([\d\w]\s*?[=<>~])`
we will have to check if this doesn't introduce bad side effects.

[2019-10-16 19:19] airween commented on #1251
@theMiddleBlue and me also discussed about this (before I found this issue :)). I'ld like to join to this task.

My primary goal is that when I parsed the rules (and build AST), the comments remains and will parts of the structure. It would be good to bind the right comment to the specific rule, thus if somebody wants to operate with the structure, then the documentations is available.

Furthermor

[2019-10-16 20:07] airween opened #1599 "Integrating rule check into Travis CI"
## Extending the continuous integration tests

We discussed about the more checks before, and now @csanders-git asked [again](https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1594#issuecomment-541369610), I would like to start to design the implementation.

## Description

The main goal is to extend the Travis CI with some more tests, which did not exist before, and helps to keep the well

[2019-10-17 15:11] soufianebenali opened #1600 "Make ModSecurity CRS repositories easier to manage"
As discussed by @csanders-git and @bittner on Slack, and related to #1346 and #1420, we're proposing to simplify the repository structure and branching model of all repositories related to ModSecurity CRS.

1. [SpiderLabs/owasp-modsecurity-crs](https://github.com/SpiderLabs/owasp-modsecurity-crs)
2. [CRS-support/modsecurity-docker](https://github.com/CRS-support/modsecurity-docker)
3. [CRS-support

[2019-10-17 20:47] dune73 commented on #1600
Thank you for this detailed description. I've labelled it, so we will discuss this in the next community chat on Nov 4, 2030 CET on owasp.slack.com, channel coreruleset.
Are you and @bittner available?

[2019-10-17 21:14] dune73 commented on #1251
I think your parser is the way to so many nice things and defining a way for meta-information about rules sounds like a good start, then we can adopt the rules, extract the data and publish it in an accessible way on the website. Possibly also via a JSON API, so integrators could simply fetch rule information from crs.org and we would thus get an overview over CRS usage in return.

[2019-10-18 16:19] bittner commented on #1600
Monday, Nov 4 20:30 CET is possible in theory.

However, can we discuss the matters before that? This issue is actually coming out from an agreement with @csanders-git a few weeks ago. He mentioned he would discuss it with some co-maintainers.

Full disclosure: We, @vshn, are allocating resources for this project. It's important for us to ensure a solid basis of the software. There is no afterthou

[2019-10-18 16:28] spartantri commented on #1600
Interesting :+1:

[2019-10-18 22:01] dune73 commented on #1600
@bittner, I knew you have been working on this for quite some time and I welcome the initiative. However, @csanders-git has not discussed this with the rest of the project so far and I doubt he is making an *agreement* on behalf of our project that changes our complete repository structure without discussing it first. Having a contributor without commit rights tell a project about an agreement wit

[2019-10-18 22:53] fgsch commented on #1600
I'd like to chime in.

There is a lot to unpack on this single issue. In the future it might be easier to have multiple issues so they are easier to discuss and the outcome of one doesn't affect the other.

I think there is merit on some of the changes proposed here, but they are largely aesthetic and therefore subjective as well.

I fail to see the justification for the folder-based versioning fo

[2019-10-18 23:37] bittner commented on #1600
@csanders-git Can you please speak up and clarify this?

Also, I am not a non-committer on this project.

I fully agree. That is what this issue is all about. Otherwise we would have submitted a PR.

[2019-10-19 00:56] bittner commented on #1600
The problems we are hoping to solve:

## Introduction

IIUC, this repository is meant to house the CRS, i.e. the rules files which make ModSecurity useful. Over time it has accumulated additional software and data in the spirit of adding tools, processes and artifacts to help manage the project. This is for the most part the content of the utils folder.

While there is value in the contributed too

[2019-10-19 06:11] dune73 commented on #1600
Thank you for the clarifications.

Changed *non-committer* to *contributor without commit rights*. That's what I meant to say anyways.

[2019-10-19 13:19] #1409 closed, assigned to nobody

[2019-10-19 14:25] franbuehler commented on #1600
I would like to chime in too.
Chaim and I discussed VSHN's idea of splitting the CRS Docker stuff into a new repository called modsecurity-crs-docker a few weeks ago. We both agreed that it is a good plan.
Then VHSN worked on a proposal and now it is here.

It is really hard to understand the current structure of the Docker stuff.

- Different ModSecurity Docker images are built based on branches.

[2019-10-19 15:11] fzipi commented on #1600
I see the benefits of refactoring the CRS Docker repo.

I still can't see the benefits of merging branches to have everything in master in the CRS itself.

[2019-10-20 20:32] dune73 opened #1601 "Migration of the CRS site on the OWASP wiki"
## Message from OWASP HQ

[code]

**During the migration period, our new OWASP website will be at https://www2.owasp.org/www-project-modsecurity-core-rule-set/.**

[2019-10-20 20:35] fzipi commented on #1601
Yeah, it's jekyll based now. I've migrated a couple other projects already.

[2019-10-20 20:42] fzipi commented on #1601
How valid/updated are the https://www.owasp.org/index.php/ModSecurity_CRS_Rule_Description_Template ?

[2019-10-20 20:53] dune73 commented on #1601
That was an attempt to do this. If it gets new traction, we would probably extract it from our comments with the msc_parser. But it's probably too detailed and many data points are wishful thinking.

[2019-10-20 21:03] fzipi commented on #1601
This is my initial attempt.
![Screenshot from 2019-10-20 18-00-47](https://user-images.githubusercontent.com/3012076/67166210-9d6d2b00-f363-11e9-80ba-af5d33813482.png)

There are some things to define, because we don't have the same information now. For example, wiki users don't exist anymore! So the tree leaders should migrate their info (or update their github profile).

The list of collaborator

[2019-10-20 21:03] fzipi commented on #1601
Need to move assets also (images and so).

[2019-10-20 21:59] fgsch commented on #1083
Hi there. We'll certainly welcome a PR to clean up tx.anomaly_score.
As this issue has not been updated in over a year and the next steps are clear I'm going to close it for now.

[2019-10-20 21:59] #1083 closed, assigned to nobody

[2019-10-20 22:00] fgsch commented on #1281
Hi there. We'll certainly welcome a PR to ensure capture groups are referenced.
As this issue has not been updated in over a year and the next steps are clear I'm going to close it for now.

[2019-10-20 22:00] #1281 closed, assigned to fgsch, csanders-git

[2019-10-20 22:01] fgsch commented on #1121
This has been completed.

[2019-10-20 22:01] #1121 closed, assigned to nobody

[2019-10-20 22:03] fgsch commented on #1015
Hi there. We'll certainly welcome a PR to sort this out.
As this issue has not been updated in over a year I'd suggest to move this convo to a PR.
I will close this issue for now.

[2019-10-20 22:03] #1015 closed, assigned to nobody

[2019-10-20 22:05] fgsch commented on #21
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:05] #21 closed

[2019-10-20 22:06] fgsch commented on #49
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:06] #49 closed

[2019-10-20 22:06] fgsch commented on #180
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:06] #180 closed

[2019-10-20 22:06] fgsch commented on #322
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:06] #322 closed

[2019-10-20 22:07] fgsch commented on #328
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:07] #328 closed

[2019-10-20 22:08] fgsch commented on #341
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:08] #341 closed

[2019-10-20 22:08] fzipi commented on #1303
After merging #1584 , text has been extended to provide better insights.

[2019-10-20 22:08] #1303 closed, assigned to lifeforms

[2019-10-20 22:09] fgsch commented on #363
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:09] #363 closed

[2019-10-20 22:10] fgsch commented on #457
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:10] #457 closed

[2019-10-20 22:10] fgsch commented on #548
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:10] #548 closed

[2019-10-20 22:11] fgsch commented on #574
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:11] #574 closed

[2019-10-20 22:11] fgsch commented on #576
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:11] #576 closed

[2019-10-20 22:12] fgsch commented on #553
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:12] #553 closed

[2019-10-20 22:12] fgsch commented on #638
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:12] #638 closed

[2019-10-20 22:12] fgsch commented on #646
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:12] #646 closed, assigned to nobody

[2019-10-20 22:12] fgsch commented on #676
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:12] #676 closed, assigned to nobody

[2019-10-20 22:13] fgsch commented on #778
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:13] #778 closed, assigned to nobody

[2019-10-20 22:13] fgsch commented on #780
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:13] #780 closed, assigned to nobody

[2019-10-20 22:15] fgsch commented on #782
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:15] #782 closed, assigned to nobody

[2019-10-20 22:16] fgsch commented on #807
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:16] #807 closed, assigned to nobody

[2019-10-20 22:16] fgsch commented on #802
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:16] #802 closed, assigned to nobody

[2019-10-20 22:16] fgsch commented on #809
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:16] #809 closed, assigned to nobody

[2019-10-20 22:16] fgsch commented on #734
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:16] #734 closed, assigned to nobody

[2019-10-20 22:16] fgsch commented on #868
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:16] #868 closed, assigned to nobody

[2019-10-20 22:17] fgsch commented on #891
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:17] #891 closed, assigned to nobody

[2019-10-20 22:17] fgsch commented on #848
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:17] #848 closed, assigned to nobody

[2019-10-20 22:17] fgsch commented on #888
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:17] #888 closed, assigned to nobody

[2019-10-20 22:17] fgsch commented on #853
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:17] #853 closed, assigned to nobody

[2019-10-20 22:17] fgsch commented on #577
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:17] #577 closed

[2019-10-20 22:18] fgsch commented on #845
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:18] #845 closed, assigned to nobody

[2019-10-20 22:18] fgsch commented on #325
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:18] #325 closed

[2019-10-20 22:19] fgsch commented on #375
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:19] #375 closed

[2019-10-20 22:21] fgsch commented on #382
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:21] #382 closed

[2019-10-20 22:21] fgsch commented on #386
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:21] #386 closed

[2019-10-20 22:22] fgsch commented on #397
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:22] #397 closed

[2019-10-20 22:22] fgsch commented on #404
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:22] #404 closed

[2019-10-20 22:22] fgsch commented on #431
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:22] #431 closed

[2019-10-20 22:22] fgsch commented on #552
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:22] #552 closed

[2019-10-20 22:23] fgsch commented on #446
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:23] #446 closed

[2019-10-20 22:23] fgsch commented on #421
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:23] #421 closed

[2019-10-20 22:23] fgsch commented on #526
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:23] #526 closed

[2019-10-20 22:24] fgsch commented on #540
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:24] #540 closed

[2019-10-20 22:24] fgsch commented on #512
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:24] #512 closed

[2019-10-20 22:25] fgsch commented on #494
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:25] #494 closed

[2019-10-20 22:27] fgsch commented on #673
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:27] #673 closed, assigned to nobody

[2019-10-20 22:27] fgsch commented on #652
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:27] #652 closed, assigned to nobody

[2019-10-20 22:28] fgsch commented on #568
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:28] #568 closed

[2019-10-20 22:28] fgsch commented on #562
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:28] #562 closed

[2019-10-20 22:28] fgsch commented on #591
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:28] #591 closed

[2019-10-20 22:28] fgsch commented on #489
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:28] #489 closed

[2019-10-20 22:29] fgsch commented on #488
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:29] #488 closed

[2019-10-20 22:29] fgsch commented on #485
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:29] #485 closed

[2019-10-20 22:29] fgsch commented on #484
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:29] #484 closed

[2019-10-20 22:29] fgsch commented on #566
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:29] #566 closed

[2019-10-20 22:29] fgsch commented on #483
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:29] #483 closed

[2019-10-20 22:30] fgsch commented on #478
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:30] #478 closed

[2019-10-20 22:30] fgsch commented on #477
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:30] #477 closed

[2019-10-20 22:30] fgsch commented on #565
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:30] #565 closed

[2019-10-20 22:32] fgsch commented on #425
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:32] #425 closed

[2019-10-20 22:32] fgsch commented on #447
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:32] #447 closed

[2019-10-20 22:32] fgsch commented on #482
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:32] #482 closed

[2019-10-20 22:33] fgsch commented on #524
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:33] #524 closed

[2019-10-20 22:35] fgsch commented on #749
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:35] #749 closed, assigned to nobody

[2019-10-20 22:36] fgsch commented on #748
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:36] #748 closed, assigned to nobody

[2019-10-20 22:36] fgsch commented on #747
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:36] #747 closed, assigned to nobody

[2019-10-20 22:36] fgsch commented on #746
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:36] #746 closed, assigned to nobody

[2019-10-20 22:36] fgsch commented on #745
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:36] #745 closed, assigned to nobody

[2019-10-20 22:36] fgsch commented on #699
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:36] #699 closed, assigned to nobody

[2019-10-20 22:36] fgsch commented on #682
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:36] #682 closed, assigned to nobody

[2019-10-20 22:39] fgsch commented on #803
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:39] #803 closed, assigned to nobody

[2019-10-20 22:39] fgsch commented on #781
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:39] #781 closed, assigned to nobody

[2019-10-20 22:39] fgsch commented on #755
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:39] #755 closed, assigned to nobody

[2019-10-20 22:39] fgsch commented on #754
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:39] #754 closed, assigned to nobody

[2019-10-20 22:40] fgsch commented on #753
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:40] #753 closed, assigned to nobody

[2019-10-20 22:40] fgsch commented on #752
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:40] #752 closed, assigned to nobody

[2019-10-20 22:40] fgsch commented on #751
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:40] #751 closed, assigned to nobody

[2019-10-20 22:40] fgsch commented on #750
This issue has timed out as it has not received any update in over 2 years.
If this is still a problem please open a new issue.

[2019-10-20 22:40] #750 closed, assigned to nobody

[2019-10-20 22:47] fgsch commented on #422
This issue has been overtaken by events.

Please open a new issue if this is still a concern.

[2019-10-20 22:47] #422 closed

[2019-10-20 23:24] fgsch commented on #1346
Moved to #1600

[2019-10-20 23:24] #1346 closed, assigned to csanders-git

[2019-10-20 23:25] #1516 closed, assigned to nobody

[2019-10-20 23:33] fgsch commented on #501
@theMiddleBlue did you get any useful info from the exercise above?

[2019-10-20 23:56] fgsch commented on #1566
@fzipi can we close this in favour of #1589 ?

[2019-10-21 00:04] fgsch commented on #1058
This definitely sounds like a ModSecurity issue.

@lordnsa are you still experiencing this?

[2019-10-21 07:56] fgsch commented on #1356
Moved to #1493

[2019-10-21 07:56] #1356 closed, assigned to nobody

[2019-10-21 07:57] fgsch commented on #1357
Moved to #1495

[2019-10-21 07:57] #1357 closed, assigned to nobody

[2019-10-21 07:57] fgsch commented on #1358
Moved to #1494

[2019-10-21 07:57] #1358 closed, assigned to nobody

[2019-10-21 08:00] fgsch commented on #1181
Is this addressed by the above PR?

[2019-10-21 10:50] fzipi commented on #1566
Definitely.

[2019-10-21 10:50] #1566 closed, assigned to fzipi

[2019-10-21 14:00] bittner commented on #1600
Thanks for the valuable feedback everyone!

It looks like there is a common understanding on what should be done. Hence, I'd suggest:

* We tackle bullets 2 and 3 from above, refactoring and automating the building of the container images.
* We'll also look at the details of the multistage build suggestion from above.
* We'll align with @franbuehler and @csanders-git, and keep the rest of the comm

[2019-10-21 14:13] dune73 commented on #1600
Thank you for your update @bittner. This sounds doable.

From a project perspective, I would appreciate if we could separate CRS refactoring and the container stuff completely. Or are they depending on each other? If not, then let's do an issue for the CRS folder structure and a separate issue for the whole container setup.

Most of the people I talked to agree that we need to do something with th

[2019-10-21 18:06] #1060 closed, assigned to nobody

[2019-10-21 20:02] podguzovvasily opened #1603 "Getting False Positive REQUEST-941-APPLICATION-ATTACK-XSS, REQUEST-949-BLOCKING-EVALUATION, RESPONSE-980-CORRELATION 403 error received, when updating any Wordpress posts."
I get a false positive when updating any WordPress post.

## Type of Issue

## Description
I get a false positive when updating any WordPress post.

/var/log/modsec_audit.log:

---W4AdO4CI---F--
HTTP/1.1 403
Server: nginx
Date: Mon, 21 Oct 2019 16:42:29 GMT
Content-Length: 548
Content-Type: text/html
Connection: keep-alive
Strict-Transport-Security: max-age=31536000; includeSubDomains

---W4AdO4CI

[2019-10-21 20:13] dune73 commented on #1603
Sorry for the inconvenience, @podguzovvasily. Could you try to reproduce the FP with our latest release? We have fixed a lot of false positives since CRS 3.0.0 came out and we are no longer officially supporting it.

And wordpress version might  also help.

[2019-10-21 20:28] dune73 commented on #1181
@franbuehler is out for a couple of days. I asked her to return to this once she is back.

[2019-10-21 21:04] podguzovvasily commented on #1603
Thanks @dune73 I'll try the latest version CRS.

[2019-10-21 21:04] #1603 closed, assigned to nobody

[2019-10-21 21:22] dune73 commented on #1603
We also had a brief conversation on our slack and we think this ought to be solved. It may have to do with how ModSec 3 could not handle CRS 3.0.0 rule exclusions properly. An issue we fixed lately.

[2019-10-22 07:55] bittner commented on #1600
Absolutely!

1. We'll create an **issue** and **PRs** in [CRS-support/modsecurity-docker](https://github.com/CRS-support/modsecurity-docker/issues) for the ModSecurity container images.
1. We'll create an **issue** and **PRs** in [CRS-support/modsecurity-crs-docker](https://github.com/CRS-support/modsecurity-crs-docker/issues) for the CRS container images.
1. We'll create a **PR** here, in this re

[2019-10-22 07:59] dune73 commented on #1600
If you could look into the multistage build until the meetup, that would be awesome.

Looking for a volunteer to guide you with the Travis integration now.

[2019-10-22 11:56] soufianebenali commented on #1600
Hi all,

I can join the [Meetup in Bern Wednesday next week](https://www.meetup.com/CRS-ModSecurity-Meetup-Bern/events/264395956).

Thank you and see you there.

[2019-10-22 13:35] fzipi opened #1604 "Monthly Chat Agenda November (2019-11-04)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, November 4, at 20:30 CET.

## Items on the Agenda:

### PRs

* #1616 Revert #578
* #1610 New Rule 921190: HTTP Splitting
* #1591 New rule 920500: block backup extensions

### Issues

* #1600 Make ModSecurity CRS repositories easier to manage
* #1599 Integratin

[2019-10-24 08:21] franbuehler commented on #1181
Yes, this issue is solved by the mentioned PRs:
#1335
#1326

Not all SQLi bypasses are detected at PL1, but that's not possible I think.

[2019-10-24 08:21] #1181 closed, assigned to franbuehler

[2019-10-24 08:57] Taiki-San opened #1605 "Rule 942360: False positive"
## Type of Issue
False positive

## Description

The rule is a bit too aggressive and will match patterns like `/create`
I believe this is due to the initial group being a bit too aggressive, with `[\W\d]+`.
We could either go with a simple exclusion for path-looking strings (exclude `/`) or maybe something a bit smarter.

## Confirmation

[x] I have removed any personal data (email addresses, IP

[2019-10-24 09:08] dune73 commented on #1605
Confirmed. `a=/create` is a false positive at PL1.

This might get hairy. Thanks for the report, @Taiki-San.

[2019-10-24 09:21] jofisiva opened #1606 "JSON request body contains =calc|a!z value mod security doesn't capture"
The JSON request body contains calculator function
{
"name": "=calc|a!z"
}

The request has not been blocked.

Include modsecurity-crs/crs-config.conf Include modsecurity-crs/rules/REQUEST-901-INITIALIZATION.conf
Include modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf
Include modsecurity-crs/rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf
SecRule REQUEST_HEADERS:Content-Type "applicat

[2019-10-24 09:31] jofisiva commented on #1606
ModSecurity for Apache/2.9.1 (http://www.modsecurity.org/) configured.
 ModSecurity: APR compiled version="1.3.9"; loaded version="1.3.9"
 ModSecurity: PCRE compiled version="7.8 "; loaded version="7.8 2008-09-05"
 YAJL compiled version="2.1.1"
 LIBXML compiled version="2.7.6"

[2019-10-24 09:57] Taiki-San opened #1607 "Rule 942230: False positive"
## Type of Issue
False positive

## Description
I think this rule has a similar issue to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1580 and will _very_ aggressively match weird patterns like `behavingbadly/`.
I suspect the simplest fix would be to add `\b` right and left.

## Confirmation

[x] I have removed any personal data (email addresses, IP addresses,
    passwords, domain n

[2019-10-24 10:20] fgsch commented on #1606
@jofisiva Thanks for the report.

Could you explain in more detail why you think this should be blocked and which rule should do it?

[2019-10-24 11:01] dune73 commented on #1597
Hello @mphilipps, this is not our favorite part of CRS and there are reasons it is off by default.
Sorry, you are running into problems with this.

I reviewed and documented these rules a few years back and I think your summary more or less meets what I seem to remember as well.

And it seems the rules are not doing what they are meant to do.

So could you please confirm that the following leads t

[2019-10-24 11:04] mphilipps commented on #1597
hi @dune73
I was using
`while true; do sleep 1;curl domain.tld; done`
to test this. I would assume that limiting it to just 60 requests won't hit the limit of 100. If you really want me to test that I can do that..

[2019-10-24 11:18] mphilipps commented on #1597
`for I in {1..60}; do curl domain.tld; sleep 1; done`

Every request was a 200.

`for I in {1..110}; do curl domain.tld; sleep 1; done`

First 100\*200 and then 10\*503 (Backend fetch failed)

[2019-10-24 11:20] dune73 commented on #1597
Thank you for the clarification. I'm seeing clearer now.

So what you are saying is, that if a client does 100 requests stretched over longer than 60 seconds (burst_time_slice) it is still being blocked and it should not.

[2019-10-24 11:38] mphilipps commented on #1597
Yes, the client needs to take a 10 minute break  before it hits 100 to not trigger the dos detection.

[2019-10-24 11:44] dune73 commented on #1597
Thank you for the confirmation. So the burst_time_slice functionality is broken. Need to check.

Generally: We kept this rule for historical reasons. It's not core CRS functionality and I do not think ModSec is very good at fighting DoS. Maybe a small one, but certainly nothing serious or nothing distributed.

[2019-10-24 13:06] Taiki-San opened #1609 "Rule 921130: False positive"
## Type of Issue
False positive.

## Description
I'm not sure what the regex is trying to do, (I guess matching `<html` when there is no `>` forthcoming?) but it instead match any HTML blob, including `<html>`.
I guess `\b` was meant not to match if there was a `>` at the end of the tag but it doesn't work, at least not on RE2.
Therefore, any HTML blob will match, making this rule incredibly noisy

[2019-10-24 13:59] Taiki-San commented on #1609
A very similar issue is present in `941140` where it'll match simple things like `<body>`

[2019-10-24 18:55] dune73 commented on #1600
Btw, @fgsch is ready to help you with Travis, if there is a need.

[2019-10-25 10:46] fzipi commented on #1601
Added reference to logos in https://github.com/OWASP/www-project-modsecurity-core-rule-set/pull/3, and contributors list in https://github.com/OWASP/www-project-modsecurity-core-rule-set/pull/2.

[2019-10-25 10:46] fzipi commented on #1601
@dune73 Do you think we need anything more migrated?

[2019-10-26 11:22] fzipi commented on #486
Yesterday I had a meeting with one potential student. He will begin playing with `msc_pyparser` to get a document with all tags per rule.

Officially he may start by the end of November. We'll see.

[2019-10-28 09:15] dune73 commented on #486
This sounds very good. Is there anything we should do to make this work?

Also: Would this be a moment, where we get in touch with any OWASP projects that might profit from this / might be interested in our data? (First task: Find out which OWASP project might qualify).

[2019-10-28 09:34] dune73 commented on #1601
This looks really good. Thank you very much. Some of the links on the right are broken. Is it possible to fix this?

[2019-10-28 11:23] dune73 commented on #1595
@Taiki-San : @fgsch has provided a fix for this in #1596. Could you please check and confirm said PR fixes this problem and follows your proposal?

[2019-10-28 15:52] fgsch commented on #1580
Sorry for the delay. The fix is merged now.

[2019-10-28 15:52] #1580 closed, assigned to nobody

[2019-10-28 16:35] Taiki-San commented on #1595
Yep. For the record, the proposal was @fgsch :)

[2019-10-29 09:38] azurit opened #1613 "New vuln scanner for scanners-user-agents.data"
[code]

[2019-10-29 13:44] azurit commented on #1613
https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1614

[2019-10-29 15:44] Taiki-San opened #1615 "Rule 921120: False positive"
## Type of Issue
False positive.

## Description
The regex doesn't check if there is a payload after fairly common keywords.
We had a false positive on the pattern `...\r\n\r\nlocation:\r\n...`.
This specific case could have avoided if the regex was followed by something like `\s+\w+`.
What do you think?

## Confirmation

[X] I have removed any personal data (email addresses, IP addresses,
    pas

[2019-10-29 16:44] csanders-git commented on #1613
Merged upstream in #1614

[2019-10-29 16:44] #1613 closed, assigned to csanders-git

[2019-10-29 20:47] harwoeck commented on #1451
Hi @csanders-git ! :)

I'm currently having the same issue and can provide additional data if you want :) I use ModSecurity v3 with nginx, owasp-modsecurity-crs 3.2 and a `PARANOIA` level of 2

When the oauth callback returns from google it is detected as **930-APPLICATION-ATTACK-LFI**. Excerpt from my logs:

---

2019/10/29 20:23:50 [error] 6#6: *5 [client 188.x.x.x] ModSecurity: Access denied wi

[2019-10-30 05:21] dune73 commented on #1595
True that. And thanks.

[2019-10-30 05:23] #1595 closed, assigned to fgsch

[2019-10-30 13:03] bittner commented on #1600
As a preparation for today's Meetup we created two follow-up issues (see above).

As a logical consequence, in _this_ repository it would make sense to make use of the then-built CRS image for [running the test suite](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/.travis.yml#L40-L42). The Docker build logic in the Travis configuration will be optional / unneeded at that point.

[2019-10-31 16:47] airween commented on #610
After dissussing with @fgsch I updated the [table](https://docs.google.com/spreadsheets/d/1B2VCMauDQ-eubNwOmz8IbqQ4xeljnrbTY9N-bs2W3bA/edit#gid=1564920677).

This table also filtered the rules with this condition:
[code]
The concept what I checked: the code follows the used PL (which controlled with a special rule what checks the `TX:EXECUTING_PARANOIA_LEVEL` variable) (this is the column F). It c

[2019-11-01 15:10] airween commented on #1599
I've created a small tool for the steps above, please check it:

https://github.com/airween/secrules_check

[2019-11-03 14:04] #1404 closed, assigned to fgsch

[2019-11-04 19:39] dune73 commented on #1604
## Decisions

### PRs
* #1616 is going to be merged after updates to commit message (better explanations on what the matter is)
* #1610 is very welcome. Yet a few open questions remain like the relationship with rule 921140 or the Splitting talk by James Kettle at AppSecEU in Amsterdam (video is published),the number of FPs (and thus PL), etc. The PR is being assigned to @lifeforms to guide it to

[2019-11-04 19:40] RubieV commented on #1604
Best to reference https://git.securely.ai/securely/common/securely-app-oss

[2019-11-04 20:27] annawinkler commented on #650
I'd like to help out with this one!

[2019-11-04 23:27] fgsch commented on #1599
Meeting decision: I will follow up with @airween. Aim is to create a MVP first, and add features incrementally.

[2019-11-04 23:28] #1604 closed, assigned to nobody

[2019-11-04 23:29] fgsch commented on #650
Meeting outcome:  @airween with make sure this issue is solved together with Anna.

[2019-11-04 23:29] fgsch commented on #610
Meeting outcome:  @airween with make sure this issue is solved together with Anna.

[2019-11-04 23:44] fgsch commented on #1531
I believe this is now addressed by 920500. Can you confirm so we can close this issue?

[2019-11-04 23:46] fgsch commented on #1099
There has not been an update in over a year.

@lifeforms Can we close it as Timed out?

[2019-11-05 08:26] lifeforms commented on #1099
Agreed, without log information it is hard to say what exactly has happened here. We will close, but please reopen the issue if more information is available!

[2019-11-05 08:26] #1099 closed, assigned to nobody

[2019-11-05 09:06] nizarakbarm opened #1618 "Rule 941180 : False Positive"
**Type Of Issue**
False Positive
**Description**
There is an false positive issue at OWASP CRS version 3.2.0. When i tried to save draft or post at wordpress, it is blocked by rule id 949110 and regarded as XSS attack.
For the additional information, i use paranoia level 1 at my ModSecurity.
My audit-log:
[code]

* CRS version : 3.2.0
* ModSecurity version : 3.0.3
* Web Server and version : nginx/

[2019-11-06 12:32] scaarup commented on #1415
So how can we accomplish this without modifying every secrule in crs?

[2019-11-12 01:46] mbuchner commented on #1464
Could somebody provide an instruction how to build those images with proxy and / or tls ...
I followed the instructions above -> here are my exact steps  ....

- git clone https://github.com/CRS-support/modsecurity-docker.git
- cd modsecurity-docker
- git checkout v2/apache-apache
- docker build --build-arg SETPROXY=True --build-arg SETTLS=True --build-arg PROXYLOCATION=http://172.52.10.31:9180/ -

[2019-11-12 08:21] franbuehler commented on #1464
Sorry for the inconvenience, @mbuchner!

You use the standard v2/apache-apache image. Because this is the default image we support TLS and PROXY support as a default in this image. You do not need to build this image.

But of course you can build the image from source.

Your commands look good and it "works on my machine". But we can shorten some of the commands.

The minimum commands you use to r

[2019-11-12 11:00] Taiki-San opened #1622 "Inconsistent style in rule names"
## Type of Issue
Cosmetic

## Description
Some rules name finish with a dot, while others don't.
Should be unified one way or another.

[2019-11-12 12:50] dune73 commented on #1622
Could you give a few examples?

[2019-11-12 15:37] Taiki-San commented on #1622
Sure! For instance, rules like 920160 have as `msg` property `"Content-Length HTTP header is not numeric."`.
The final dots is there right and left (specifically 920160, 920190, 920210, 941190, 941200, 941210, 941220, 941230, 941240, 941250, 941260, 941270, 941280, 941290, 941300, 941310, 941350, 942160, 942270, 942500 in our set) but still in minority.

[2019-11-12 16:17] airween commented on #1622
You can see the values of `msg` actions [here](https://docs.google.com/spreadsheets/d/1jwBkFWIhuOThsBFXOCi8QReZpIjVxXLZ8QQNtwffDGo/edit?usp=sharing), marked with a boolean flag whether it contains a dot or not.

:)

Note, that turn on/off or modify the filters in the header row.

[2019-11-12 16:54] fgsch commented on #1531
Addressed by #1591 .

[2019-11-12 16:54] #1531 closed, assigned to theMiddleBlue

[2019-11-12 17:12] fgsch commented on #1606
Hi @jofisiva . Unfortunately without more information there is nothing we can do here.
I'm going to close this for now, but feel free to add more details or open a new ticket with all the needed information.

[2019-11-12 17:12] #1606 closed, assigned to nobody

[2019-11-12 18:25] azurit commented on #1531
I'm sorry, i'm running out of time :( Looks good, thank you!

[2019-11-12 20:09] dune73 commented on #1622
Ah, it's the msg you are talking about.

Yes, this is untidy. Feel free to open a PR to clean this up.

[2019-11-14 07:23] Mr-later opened #1623 "Error in file install"
Line 30 of the file install
https://www.projecthoneypot.org/httpbl_configure.php.
cannt access

[2019-11-15 12:42] selwynorren commented on #1451
Hi,

So I am having the exact same issue on my side. I am running WAF Comodo rules and it is rule number 210580 that is invoking,

Here is my ruleset:
SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|!REQUEST_COOKIES_NAMES:scarab.profile|REQUEST_COOKIES_NAMES|ARGS_NAMES|ARGS|XML:/* "@pmf bl_os_files" \
	"id:210580,msg:'COMODO WAF: OS File Access Attempt||%{tx.domain}|%{tx.mode}|2',phase:2,capture,

[2019-11-16 20:31] fgsch commented on #1623
Thanks for your report. Can you provide more details?

[2019-11-18 00:10] diablodale commented on #1452
Still waiting on PR dependency

[2019-11-18 00:11] mhoran commented on #1377
This issue still exists.

[2019-11-18 05:09] lifeforms commented on #1452
This problem should have been fixed in CRS 3.2.0 by working around the ModSec issues theMiddleBlue described. Rule 9002770 should catch the problem correctly now.

If you are still having problems after the upgrade, please open a new issue with the log!

[2019-11-18 05:09] #1452 closed, assigned to nobody

[2019-11-18 09:47] fzipi commented on #1601
@dune73 Tried to find in the new website links similar to the previous one. Also linked to security policy for consistency.

See https://github.com/OWASP/www-project-modsecurity-core-rule-set/pull/4

[2019-11-18 12:06] authentictech commented on #1618
I experienced something like this too. It only seemed to happen when I used the classic editor or classic editor plugin. When I used the Gutenberg editor it didn't trigger the firewall rule.

[2019-11-18 15:38] bittner commented on #1290
This may be addressed in the long run by #1600.

[2019-11-18 15:44] bittner commented on #1420
This will be addressed by #1600 via https://github.com/CRS-support/modsecurity-crs-docker/issues/1 in the long run.

Hence, closing the issue.

[2019-11-18 15:44] #1420 closed, assigned to nobody

[2019-11-19 00:08] mhoran commented on #1154
As mentioned, it would be great if these rules could be merged. Then this issue can be closed.

[2019-11-19 11:42] emphazer opened #1626 "Rule 933210 PHP Injection Attack FP"
Rule 933210 PHP Injection Attack FP

## Type of Issue
Incorrect blocking (false positive)

## Description
curl 'localhost/picture(5)(4).jpg'

[msg "PHP Injection Attack: Variable Function Call Found"] [data "Matched Data: (5)(4) found within REQUEST_FILENAME: /picture(5)(4).jpg"]

## Your Environment
* CRS version (e.g. v3.2.0):
* ModSecurity version (e.g. 2.9.3):

any ideas?

[2019-11-19 14:05] emphazer commented on #1626
@theMiddleBlue do you have any ideas?

[2019-11-19 15:22] theMiddleBlue commented on #1626
Hi @emphazer

the rule tries to catch PHP code injection bypass technique such as `(string)"system"("uname");`. Maybe we can remove the REQUEST_FILENAME from the rule, I need to do some tests. I'll update this issue with more information.

thanks!

[2019-11-19 17:29] modernwebsites opened #1633 "941 XSS stopping TinyMCE editor from saving image locations (false positive)"
## Type of Issue

941 XSS stopping TinyMCE editor from saving image file locations or any text containing ../ (false positive)

## Description

Hi. Starting today, I am no longer able to save the output of TinyMCE Rich text editor via post variables. This is specifically when images have been added or the text contains a ../

I found the issue was with REQUEST-941-APPLICATION-ATTACK-XSS as it work

[2019-11-19 17:53] fgsch commented on #1623
Have you tried creating an account as described in the INSTALL doc?

[code]

[2019-11-19 17:54] fgsch commented on #1623
Please try following that and let us know if you have any issues.
I will close this for now.

[2019-11-19 17:54] #1623 closed, assigned to nobody

[2019-11-19 18:25] GoldraK opened #1635 "False positive 953120"
## Type of Issue
False positive

## Description
We have Gzip active but only pass with two images.

Apache-Error: [file "apache2_util.c"] [line 271] [level 3] [client XXX.XXX.XXX.XXX] ModSecurity: Warning. Match of "rx (?:\\\\\\\\x1f\\\\\\\\x8b\\\\\\\\x08|\\\\\\\\b(?:(?:i(?:nterplay|hdr|d3)|m(?:ovi|thd)|r(?:ar!|iff)|(?:ex|jf)if|f(?:lv|ws)|varg|cws)\\\\\\\\b|gif)|B(?:%pdf|\\\\\\\\.ra)\\\\\\\\b|^wOF

[2019-11-19 20:35] henryzhang87 opened #1637 "single quote in file"
When files uploaded into our application, the files contain single quote, especially French content.
These are blocked by MULTIPART_INVALID_QUOTE rule.

Some one suggested using separate rules to WARN not DENY, but this strategy won't stop malicious content

Would you please advise how could we fix this problem?

## Type of Issue

## Description

## Your Environment

* CRS version (e.g. v3.0.2):
*

[2019-11-20 00:06] fgsch commented on #998
@dune73 ping.

[2019-11-20 09:35] bittner commented on #1600
We opened PRs for part 1 of the discussed changes above.

* The branches `v3.0/dev` and `v3.0/master` are obsolete (we didn't know that, sorry!) according to feedback in the PRs.
* For `v3.1/dev` there doesn't seem be a corresponding `v3.1/master` branch in the repository (hence no PR for that).
* Similar for `v3.3/dev` (which is probably fine).

Is there anything we should do with the `master` br

[2019-11-21 04:30] lifeforms commented on #637
This is definitely on the roadmap of our Travis experts. Currently however, ModSecurity v3 has some behavioral changes, or bugs, which make part of our test suite fail. While we have worked around some changes, it's not there yet. We will try to help on the ModSec GitHub to address the issues as best as we can.

[2019-11-21 07:23] emphazer commented on #1635
@GoldraK
could you please post your response header?
what did you configure in SecResponseBodyMimeType?
gzip and jpeg makes no sense.

normally the response body handler shouldn't trigger a jpeg file.

[2019-11-21 07:48] airween commented on #637
Just a poor self-promotion for this :). There is the [ftwrunner](https://github.com/digitalwave/ftwrunner), which does explicitly as it need - without any HTTP server. Of course, users (and developers too) need the correct result about _how-the-whole-system-works_, including HTTP server, engine and rule set. But we can use it as 1st step (eg. the runner faster than any other test suite).

[2019-11-21 16:26] dmarlow opened #1638 "ModSecurity CRS - possible to override certain rule sets?"
(I tried to post to the security stack exchange site, but I don't have enough reputation points to be able to post something there).

I currently have `SecRuleEngine DetectionOnly`, but would like to enable something like `REQUEST-913-SCANNER-DETECTION` to actively block (i.e. prevention mode). What's the correct/best way to do that without going into that rule set file and changing each rule? I'd

[2019-11-21 19:39] nizarakbarm commented on #1618
@authentictech I am using gutenberg editor but still found that issue, so for temporary i am added a whitelist rule.

[2019-11-22 10:17] GoldraK commented on #1635
@emphazer First thanks for your time

Don't have config SecResponseBodyMimeType

--99164202-A--
[18/Nov/2019:21:25:14 +0100] XdL@Krad1fgIirQk35XoxQAAAAw 159.138.150.192 46462 192.168.1.4 82
--99164202-B--
GET /imagen-producto/97/camiseta-quebranta-frontal.png HTTP/1.1
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: zh-CN,zh;q=0.9
User-Agent: Mozilla/5.0 (Li

[2019-11-22 13:17] emphazer commented on #1635
@GoldraK
this is a very strange behavior.
i think the mime-type of the jpeg is misconfigured or missing.
normally the OUTBOUND shouldn't trigger the content-type image/jpeg
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#SecResponseBodyMimeType

the default is  text/plain text/html

you could set modsecurity to DetectionOnly to see what content-type the apache delivers.

[2019-11-24 15:56] illman2 opened #1639 "Was the Bayesian Attack Analysis method abandoned？"
I can‘t find the Bayesian Attack Analysis method in the latest modsecurity-crs. It maybe abandoned？what‘s wrong with this method？

[2019-11-25 09:11] GoldraK commented on #1635
He activated the rule again and put it on DetectionOnly and now I don't get on the record. If I activate again to stop it if it comes out in the log: S

[2019-11-25 12:48] GoldraK commented on #1635
Thanks for the info. Now Work perfect.

[2019-11-25 12:48] #1635 closed, assigned to nobody

[2019-11-25 16:40] swatantrajain-sapiens commented on #1202
Can you share the link to the other project, where this has been raised

[2019-11-25 19:32] unakriti opened #1640 "False Positive - Jetpack connection with WordPress dot com servers"
## Type of Issue
 False Positive

Based on the data below, what is the best way to include an exception that enables Jetpack-to-WordPress dot com connection?

## Description

Jetpack is a popular plugin on the WordPress CMS. Jetpack support recommends whitelisting all WordPress dot com server IP addresses - a dynamic stack prone to disruptions. Also, disabling an entire ModSecurity rule by ID seem

[2019-11-26 18:37] #1410 closed, assigned to nobody

[2019-11-29 10:26] RamananKR commented on #671
Hi ,
need help  about owasp 3.0 rules azure  policy 949110 980130

can you please  explain about advantage and  use-case  of  azure application gateway rule 949110 980130

[2019-12-01 19:36] chaimsanders-okta commented on #1639
Hi @illman2 all the experimental rules were removed from the 3.x branch. In most cases these were done as part of testing and were not production ready. Additionally, in many cases these were not the most efficient implementations of the solution.

We still have these available in the 2.x branch they are just not maintained by the Core Rule Set Team any longer. If you are interested in an area spe

[2019-12-01 19:36] csanders-git commented on #1639
Hi @illman2 all the experimental rules were removed from the 3.x branch. In most cases these were done as part of testing and were not production ready. Additionally, in many cases these were not the most efficient implementations of the solution.

We still have these available in the 2.x branch they are just not maintained by the Core Rule Set Team any longer. If you are interested in an area spe

[2019-12-01 19:36] #1639 closed, assigned to nobody

[2019-12-01 20:05] csanders-git commented on #1638
The quickest way to do this would probably be with `SecRuleRemoveById`.

1) Set `SecRuleEngine On`
2) Modify 999-EXCLUSION (https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/rules/RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf.example) to add two SecRuleRemoveById's (and also remove the .example, this prevents CRS from ever overwriting this on update)

[code]

This technically leaves

[2019-12-01 20:05] #1638 closed, assigned to nobody

[2019-12-01 20:10] csanders-git commented on #1633
This is prevented due to directory traversal attacks. In general, editors (esp those that accept HTML) will always cause a problem for CRS as there is no context to know what is supposed to be allowed and what is an attack. However, it is quite straight forward to whitelist that parameter.

The CRS team has provided a number of examples in [RESPONSE-999-exclusions](https://github.com/SpiderLabs/ow

[2019-12-01 20:10] #1633 closed, assigned to nobody

[2019-12-02 01:46] fzipi opened #1641 "Monthly Chat Agenda December (2019-12-02)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, December 2, at 20:30 CET.

## Items on the Agenda:

### PRs

* #1495 - Fix potential ReDoS in 933180
* #1601 - Migration of the CRS site on the OWASP wiki
* #1610 - HTTP splitting
* #1627, #1628, #1629, #1630 Repo refactoring, step 1 (See #1600)

### Open Issu

[2019-12-02 15:03] theMiddleBlue commented on #1641
should this be removed/changed? Isn't it no longer true? If yes, I can open a PR during the meeting:
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/7f228032ee9a4911043ed75a5c06eb8a869683c5/crs-setup.conf.example#L166-L168

[2019-12-02 15:05] theMiddleBlue commented on #1641
~If we all agree, I would like to remove `REQUEST_FILENAME` from 933210 because it could lead to FPs as @emphazer reported in https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1626~ need more time to test, removed from agenda

[2019-12-02 16:24] dune73 commented on #1626
I am not sure this is what we want.

How about URLs like `/app/index.php/connector/<parameter>`. On a reverse proxy, this is part of the REQUEST_FILENAME.

But I agree we need to do something about the false positive.

[2019-12-02 17:03] dmarlow commented on #1638
`SecRuleRemoveById` basically becomes detection only when `SecRuleEngine On`?

Seems like the reverse of this is a better approach, but can see why it's being done this way. I appreciate the response and suggestion! Thank you.

[2019-12-02 19:56] dune73 commented on #1641
## Decisions

* #1495 is being assigned to Walter (issue)
* #1601 is good to go from our perspective.
* #1610 has been used in prod without any FPs and is ready to be merged (Many millions of requests served)
* #1627 is merged as is. Older stable branches are not changed, crs-setup.conf won't be moved to example folder
* #1600 We agree on the refactoring of the docker repo with a folder (vs branch

[2019-12-02 20:00] theMiddleBlue commented on #1626
totally agree, didn't think about it. need more time to test :/

[2019-12-03 00:01] #1480 closed, assigned to nobody

[2019-12-03 00:01] #1477 closed, assigned to franbuehler

[2019-12-03 00:01] #1479 closed, assigned to nobody

[2019-12-03 00:01] #1448 closed, assigned to nobody

[2019-12-03 00:01] #1468 closed, assigned to nobody

[2019-12-03 00:01] #1398 closed, assigned to franbuehler

[2019-12-03 00:01] #1426 closed, assigned to nobody

[2019-12-03 00:01] #1374 closed, assigned to spartantri

[2019-12-03 00:01] #1295 closed, assigned to theMiddleBlue

[2019-12-03 00:01] #1372 closed, assigned to nobody

[2019-12-03 00:01] #1290 closed, assigned to franbuehler

[2019-12-03 15:42] #1641 closed, assigned to nobody

[2019-12-03 20:30] diablodale commented on #820
ping, not yet addressed?

[2019-12-03 20:39] fgsch commented on #820
@diablodale You should probably ping https://github.com/client9/libinjection/pull/143 as well.

[2019-12-03 20:49] diablodale commented on #820
My concern was the bot autoclosing this; seems a good tracking issue on the dependency. I don't have perms to remove the stale tag. Which I see you now did...thank you.👍

[2019-12-03 20:56] diablodale commented on #820
FYI, the owning libinjection repo of the PR appears dead. There have been no commits since early 2018.
A handful of forks have slightly moved forward; nothing substantial. One of them applied the PR in question https://github.com/blappm/libinjection/commits/master

[2019-12-03 20:59] fgsch commented on #820
@diablodale thanks for the info and for ensuring this issue is not closed.
If upstream is indeed dead, ModSecurity might want to use something else (or perhaps embed it).
@zimmerle, what do you think?

[2019-12-04 00:10] #1488 closed, assigned to nobody

[2019-12-04 00:10] #1279 closed, assigned to nobody

[2019-12-04 00:10] #1285 closed, assigned to nobody

[2019-12-04 00:10] #1249 closed, assigned to nobody

[2019-12-04 00:10] #1263 closed, assigned to nobody

[2019-12-04 00:10] #1200 closed, assigned to nobody

[2019-12-04 00:10] #1247 closed, assigned to nobody

[2019-12-04 00:10] #1175 closed, assigned to nobody

[2019-12-04 00:10] #1193 closed, assigned to nobody

[2019-12-04 00:10] #1141 closed, assigned to nobody

[2019-12-04 00:10] #1163 closed, assigned to nobody

[2019-12-04 00:10] #1073 closed, assigned to nobody

[2019-12-04 00:10] #1123 closed, assigned to nobody

[2019-12-04 00:10] #1070 closed, assigned to nobody

[2019-12-04 00:10] #1053 closed, assigned to nobody

[2019-12-04 00:10] #1037 closed, assigned to nobody

[2019-12-04 00:10] #1042 closed, assigned to nobody

[2019-12-04 00:10] #1020 closed, assigned to nobody

[2019-12-04 00:10] #1022 closed, assigned to dune73

[2019-12-04 00:10] #895 closed, assigned to spartantri

[2019-12-04 00:10] #918 closed, assigned to dune73, franbuehler

[2019-12-04 00:10] #790 closed, assigned to nobody

[2019-12-04 00:10] #744 closed, assigned to nobody

[2019-12-04 00:10] #786 closed, assigned to nobody

[2019-12-04 00:10] #709 closed, assigned to nobody

[2019-12-04 00:10] #730 closed, assigned to nobody

[2019-12-04 03:51] fgsch commented on #637
Travis includes modsec 3 tests for apache and nginx.
Is there anything else to do in this issue?

[2019-12-04 10:28] Rolandwalraven opened #1645 "Rule 941310: False positive"
## Type of Issue

Incorrect blocking (false positive)

## Description

This innocent german text triggered rule 941310
DE_Matten & Sitzbezüge > Fußmatten_MT

## Audit Logs / Triggered Rule Numbers
Matched Data: \xbcge > found within ARGS:*********: de_matten & sitzbez\xc3\xbcge > fu\xc3\x9fmatten_mt

## Your Environment

CRS version: 3.1.0
ModSec version: 2.9.2-1
Apache/2.4.29

## Confirmation

[x

[2019-12-04 12:43] dune73 commented on #1645
Sorry for the inconvenience. However, I can't reproduce your finding, so I'm closing this for now. However, I suggest you reproduce this yourself with curl and reopen this issue together with the exact curl call.

Thanks for working against 3.2.0. Using the latest version helps us with our work.

[2019-12-04 12:46] dune73 commented on #637
Let's close this for now.

We run v3 on Travis and the experience will only get better when ModSec3 passes our test suite. We can then configure Travis to block on unit test failures.

[2019-12-04 12:46] #637 closed

[2019-12-04 13:23] dune73 commented on #1638
What @csanders-git suggests is removing all your rule other than the 913 block that you want to put into blocking.

If you want to retain everything else in detection mode and only 913xxx in blocking, this is going to be tough. It's probably best to rewrite the complete ruleset via a script. Either you trust `sed` to do this, or you use this handy tool https://github.com/digitalwave/msc_pyparser.

[2019-12-04 13:56] Rolandwalraven commented on #1645
@dune73: I'm sorry we use CRS version 3.1.0. I was distracted by [ver "OWASP_CRS/3.2.0"] in the error log. Anyway i can trigger the rule with this curl request:

`curl -X POST -d "test=DE_Matten%20%26%20Sitzbez%C3%BCge%20%3E%20Fu%C3%9Fmatten_MT" "https://DOMAIN.TLD/"`

[2019-12-04 14:04] dune73 commented on #1645
Negative.

Please provide your alert message.

[2019-12-04 14:08] Rolandwalraven commented on #1645
[Wed Dec 04 14:57:22.277027 2019] [:error] [pid 8562:tid 140488478672640] [client 11.22.33.44:55097] [client 11.22.33.44] ModSecurity: Warning. Pattern match "\\\\xbc[^\\\\xbe>]*[\\\\xbe>]|<[^\\\\xbe]*\\\\xbe" at ARGS:test. [file "/etc/modsecurity/modsecurity.d/owasp-modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "646"] [id "941310"] [msg "US-ASCII Malformed Encoding XSS Fil

[2019-12-04 14:15] fgsch commented on #1645
This is unrelated but which paranoia level are you using?
As this attack is pretty old I wonder if we should move this rule.

[2019-12-04 14:18] Rolandwalraven commented on #1645
Level 1 (default)

[2019-12-04 14:20] dune73 commented on #1645
This is very odd. I can't reproduce.

@fgsch: Can you get this rule to trigger on said payload?

Otherwise, it may be worth to upgrade to Apache and ModSec to 2.4.41 / 2.9.3.

[2019-12-04 14:54] fgsch commented on #1645
I haven't tried but I recognise the rule and based on the matched data I see the issue.
Unfortunately this is a problem with some rules in combination with languages other than english.

[2019-12-04 14:58] dune73 commented on #1645
Totally so. I would not be surprised to see an FP here. But I can't seem to reproduce despite the welcome curl call.

[2019-12-04 16:07] dmarlow commented on #1638
Thank you, much appreciated!

[2019-12-05 21:26] ghost commented on #1607
Also experiencing this same issue -- catching "having pain." and "having tooth #30".  This is way overly aggressive regex.
Any word on when someone might fix this?

[2019-12-05 21:44] dune73 commented on #1607
Sorry for the inconvenience, guys. This is annoying. And the examples you give clearly underline the fact, this is overly aggressive.

@dentaldeveloper : Are you able to write a rule exclusion as a workaround?

One problem with 942230 is that we only have 1 official unit test for this rule. So it is possible that we add a `\b` and stop detecting the things this is made for.

However, I have over 5

[2019-12-06 00:01] #681 closed, assigned to nobody

[2019-12-06 03:43] wilton-wu opened #1648 "Rule 942100: False Positive"
### Type of Issue

Incorrect blocking (false positive)

### Description

Simplified Chinese characters are parsed into incorrect English characters.
(异常) => 1)on;

### Audit Logs

[code]

### Environment

+ CRS version: 3.2.0
+ ModSec version: v3
+ Nginx/1.15.12

[2019-12-06 13:27] ghost commented on #1607
Thanks for the quick response.  I will probably write a workaround for this until it can be fixed.  Unfortunately, I'm not familiar with the WFT framework for testing -- so I won't be able to help at this time.

[2019-12-07 22:37] nerrehmit commented on #1622
Do we have a preference if we would rather have all the messages end with a dot or without? If there is a preferred way I'd gladly work on this.

[2019-12-07 22:54] Taiki-San commented on #1622
I think without dot make more sense to later format it in log messages and whatnot.

[2019-12-08 05:52] dune73 commented on #1622
I agreee with @Taiki-San.

Thanks @nerrehmit!

[2019-12-08 14:49] dune73 commented on #1648
Hi @HudsonWu, sorry to hear of this issue. Unfortunately, you are probably hitting on a ModSecurity shortcoming where CRS can not help you very much.

The point is, that ModSec is very weak in terms of Unicode.

What you can make sure is that your Unicode Mapping tables are correctly set up.
See the ModSecurity Handbook or this older blog post: https://www.trustwave.com/en-us/resources/blogs/spide

[2019-12-09 03:18] HudsonWu commented on #1648
Thank you for your reply, I can trigger the rule with this curl request:
[code]
## Audit Logs

[code]

[2019-12-09 03:24] wilton-wu commented on #1648
Thank you for your reply, I can trigger the rule with this curl request:
[code]
## Audit Logs

[code]

[2019-12-09 05:31] dune73 commented on #1648
Thank you. This works for me know.

For the record, the JSON payload has the following Hex:

[code]

@HudsonWu : Are you able to do a rule exclusion yourself, or do you need support?

[2019-12-09 13:49] wilton-wu commented on #1648
Thank you, There are still a few questions:
  + Can I just remove the match of the keywords (`1)on;`)  in the rule? and how?
  + How this problem arises?

[2019-12-10 19:35] bittner commented on #1600
A quick update on our current efforts:

* We discussed building ModSecurity binaries with @SpiderLabs in https://github.com/SpiderLabs/ModSecurity-nginx/issues/171 and https://github.com/SpiderLabs/ModSecurity-apache/issues/64.
* We openend PR https://github.com/CRS-support/modsecurity-docker/pull/33 (ModSecurity Docker images).

If you can help us get those tasks done or move faster your support

[2019-12-12 13:49] davidbalazs opened #1649 "Modsec rule causes nginx cu spin up a lot of worker processes"
### Describe the bug

Hi there, we run Nginx in a Docker container as a sidecar in a pod in a Kubernetes cluster.
We have the ModSec module (version 3.0.3) enabled for Nginx.
In our Nginx configuration, we set the number of worker processes to be 16 (we have 16 cpu cores on our machines):
[code]

- With modsec **disabled**, it all works fine, we can see in the access logs that requests are process

[2019-12-12 14:18] dune73 commented on #1649
Sorry for the inconvenience @davidbalazs. The way you describe this, it sounds a lot like a ModSecurity bug. Performance on libModSecurity3 is certainly a problem, but this is even more severe.

I do not see anything pointing to a problem with the rule set though, so I will close this bug report for CRS. But I suggest you turn to ModSecurity and open a bug report there.

[2019-12-12 14:18] #1649 closed, assigned to nobody

[2019-12-14 00:01] #996 closed, assigned to victorhora

[2019-12-14 06:06] wilton-wu commented on #1648
## Debug Logs

[code]

Above is debug logs, In addition to the valid characters (`(异常)社保;`, was translated into`(%u5f02%u5e38)%u793e%u4fdd;`), there are other characters (`(8)>ۻ`). Where do these characters come from?

[2019-12-15 03:51] fgsch commented on #1648
`(%u5f02%u5e38)%u793e%u4fdd` gets translated to (\x028)>\xdd by urlDecodeUni.
`%u5f02` -> `02`, `%u5e38` -> `8`, `%u793e` -> `>`, `%u4fdd` -> `dd`.

As @dune73 said, can you confirm the unicode mapping tables are set up correctly?

[2019-12-16 00:00] #1494 closed, assigned to nobody

[2019-12-16 00:01] #1491 closed, assigned to nobody

[2019-12-16 00:01] #1493 closed, assigned to nobody

[2019-12-16 02:41] wilton-wu commented on #1648
Thank you, I see. That means, if my application try and do best-fit mapping like this, then the rule is valid ; otherwise, the rule is a false positive (relatively speaking), just do a rule exclusion.

If there are false positives because of unicode mapping, check and modify the `unicode.mapping` file, or just remove related characters:  `t:utf8toUnicode` from the rule.

[2019-12-16 05:32] dune73 commented on #1648
Yes, that's a good summary. Don't be shy about rules that don't work for your setup.

[2019-12-17 17:08] NullIsNot0 opened #1651 "Move tx.allowed_request_content_type list to separate file?"
It's not a feature request, but more likely a discussion.
Today I put instant messaging platform behind CRS and noticed - when people upload files, rule ID:920420 gets triggered: "Request content type is not allowed by policy". It's because upload is made using POST method and setting Content-Type depending on file type. If image is uploaded, then we get `Content-Type: image/png` or `Content-Type:

[2019-12-18 06:38] dune73 commented on #1651
He @NullIsNot0, thank you for your suggestion. I see your need and I felt the same, but it is a special use case, I'm afraid and it would make things more complicated for everyone else (since we do not have the
concept of configurable datasets in conf files. We do have that for rules with items like security scanner user-agents, but users are not supposed / expected to edit them.

I thought about

[2019-12-18 06:38] #1651 closed, assigned to nobody

[2019-12-19 00:01] #672 closed, assigned to dune73, lifeforms

[2019-12-19 05:53] dune73 commented on #672
We detect Payload 2 with an anomaly score of 5 at PL2 with CRS 3.2. So closing this is kind of OK, I guess.

[2019-12-23 08:02] azurit commented on #1518
We are still having problems with this (maybe also with other rules).

[2019-12-23 08:40] theMiddleBlue commented on #1518
Hi @azurit

could you please provide the full blocked request log here too? Anyway, If your request is blocked by both rules because of something inside ARGS:redirect, a possible solution could be to remove ARGS:redirect evaluation from  930100 and 930110.

[2019-12-23 08:57] azurit commented on #1518
I don't have that log anymore (but it's quite common issue, maybe i will get another one soon).

The problem which i see here is when i write a rule to exclude, for example, ARGS:redirect, the modsecurity is, sometimes (NOT always of course), matching the SAME problem second time for, this time for whole REQUEST_BODY. TO bypass this, i need to exclude whole REQUEST_BODY, which means that i'm exclu

[2019-12-23 09:24] theMiddleBlue commented on #1518
Oh okay, I got it now. It should be solved replacing REQUEST_BODY with ARGS so you can write your exclusion rule. Is it?

[2019-12-23 10:08] azurit commented on #1518
No, as i said, i alredy have exclusion rule for ARGS but modsecurity is triggering the same thing again but this time on REQUEST_BODY (so i'm forced to rewrite the rule to exclude whole REQUEST_BODY).

[2019-12-23 10:59] theMiddleBlue commented on #1518
Yes, I mean we should replace REQUEST_BODY in both rules (930100 and 930110) with ARGS.

[2019-12-23 11:00] fgsch commented on #1518
@dune73 do you have the logs @azurit sent? Is there any information that can be shared from them?

[2019-12-25 06:46] dune73 commented on #1518
I'm sure I do. I remember receiving it. But I can't seem to find it anymore.

Who was the sender @azurit? The email address, I mean, so I have a keyword to search my archive.

[2019-12-25 14:32] azurit commented on #1518
@dune73 I sent you another e-mail with list of address (don't remember which one i used). Thank you.

[2019-12-26 03:00] sule01u opened #1652 "[DOS protection]Why can't a request be made after 600 seconds, It is still shielded"
### [DOS protection]Why can't a request be made after 600 seconds, It is still shielded
SecAction \
 "id:900700,\
  phase:1,\
  nolog,\
  pass,\
  t:none,\
  setvar:'tx.dos_burst_time_slice=60',\
  setvar:'tx.dos_counter_threshold=100',\
  setvar:'tx.dos_block_timeout=600'"
owasp-modsecurity-crs/crs-setup.conf
owasp-modsecurity-crs/rules/REQUEST-912-DOS-PROTECTION.conf

### Steps to reproduce

201

[2019-12-26 10:32] airween commented on #1652
Hi @BigTree975, thanks for the report - could you provide the details of your environment? Eg.: webserver version, ModSecurity version.

[2019-12-27 02:04] BigTree975 commented on #1652
The image used by my virtual machine is CentOS-7-x86_64-Minimal-1810.iso
Modsecurity v3
nginx-1.15.12

[2019-12-27 02:06] sule01u commented on #1652
@airween
我的虚拟机使用的映像是CentOS-7-x86_64-Minimal-1810.iso
Modsecurity v3
nginx-1.15.12

[2019-12-27 08:11] airween commented on #1652
Hi @BigTree975,

I'm sorry to say, but your ModSecurity version doesn't support the `expirevar` action, which is responsible for deleting a variable (in a collection, eg. an IP address). Without that, the pushed IP address stay in collection while you restart your engine.

Please check out the documentation:
https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#expirevar

_**Suppo

[2019-12-27 08:11] #1652 closed, assigned to nobody

[2019-12-27 23:53] Steve8291 opened #1653 "merge conflict with git pull origin master"
### Describe the bug

I keep getting merge conflicts even after cloning a new repo.

### Steps to reproduce
Clone the repo.
Try to pull master.
`git clone git@github.com:SpiderLabs/owasp-modsecurity-crs.git`
`cd owasp-modsecurity-crs`
`git pull origin master`

Lots of errors similar to:

. . .

### Expected behaviour

### Actual behaviour

### Additional context

[2019-12-28 13:02] fgsch commented on #1653
master does not contain the latest changes.  You should be using the v3.3/dev branch instead, which is the default if you clone this repo.

Out of curiosity, why are you doing a `pull origin master` after cloning?

[2019-12-28 13:02] #1653 closed, assigned to nobody

[2019-12-30 10:13] fzipi opened #1654 "Monthly Chat Agenda January (2020-01-06)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, January 6, at 20:30 CET.

## Items on the Agenda:

### PRs

* #1310 : Rule to check if both C-L and T-E are present [idling, needs work]
* #1602 : 932200: PL1 RCE bypass uninitialized variable (DRAFT) [idling, needs work]
* #1616 : Revert #578 [idling, needs w

[2020-01-03 09:05] dune73 commented on #1258
We're actively working on this. Just not as active as necessary to implement this within 120 days.

[2020-01-03 09:24] dune73 commented on #1518
Dug out the message / attachment in question successfully. Forwarded to @fgsch and @azurit.

[2020-01-06 00:52] fgsch commented on #1518
@dune73 thanks. I had a quick look and I think what @theMiddleBlue wrote makes sense. We should replace REQUEST_BODY with ARGS so a rule to exclude specific arguments can be written.

[2020-01-06 00:53] fgsch commented on #1518
@theMiddleBlue Do you want to open a PR or should I take a look?

[2020-01-06 19:43] dune73 commented on #1654
## Decisions

### PRs

* #1310 is assigned to @theMiddleBlue.
* A meta-issue is generated to cover all the request smuggling stuff, assgined to @theMiddleBlue.
* #1616 will be finished by @fgs during the week and then merged.
* #1602 is a work in progres by @theMiddleBlue. It will take more time to get into a mergeable state.
* #1656 will be merged as is. Afterwards, @lifeforms will come up with a

[2020-01-06 20:14] lifeforms opened #1658 "XenForo: Remove unnecessary chains"
The XenForo exclusion package has an admin section that's skipped over unless the filename is `admin.php`.

Within this section, extra chains are used on the filename, but they are not needed and will be cleaned up.

[2020-01-06 23:06] theMiddleBlue commented on #1518
Sure! Thanks. I'll open a PR

[2020-01-07 04:51] #1654 closed, assigned to nobody

[2020-01-08 10:18] fgsch opened #1660 "Rule 920190 should work with a single range (TBC)"
As mentioned on slack by @dune73:

We should verify that it works as expected.

[2020-01-08 10:20] fgsch commented on #1660
Also, the comment in that rule seems to be stale. We should update it to match what the rule is doing.

[2020-01-08 10:22] fgsch commented on #1622
@nerrehmit Will you be working on this?

[2020-01-08 16:03] dune73 commented on #998
OK. I got you now.

We are based on an engine that defines \@pmf as case-insensitive, yet we act as if it was sensitive in order to comfort implementations that do not follow the definition and implement a case sensitive A-C algorithm. Consequently users of compliant implementations suffer the performance penalty of an unnecessary `t:lowercase` transformation. And on top of it, we're likely to fac

[2020-01-13 06:21] GRB099 commented on #1043
Hi, i am using modsecurity in nginx level and now i need to whitelist the some of special characters can anyone help me in this.
Thank You.

[2020-01-13 07:08] dune73 commented on #1043
Hi @GRB099, this is the wrong place to ask for help. But you may want to look into the tutorial at https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/ to figure it out yourself.

[2020-01-13 14:40] #1660 closed, assigned to fgsch

[2020-01-16 00:01] #1529 closed, assigned to nobody

[2020-01-16 05:25] dune73 opened #1664 "Typos across the board"
### "Fossies" project has covered our repo for spelling mistakes

https://fossies.org/linux/test/owasp-modsecurity-crs-3.3-dev.cd39f4e.tar.gz/codespell.html

Most of them are in the comments / documentation and thus easy to fix. Some of them are hitting on regular expressions, so we will rather not cover them.

### Examples

* dirctory
* fitlers
* readibility
* ...

Question is if we really want t

[2020-01-16 10:20] bittner commented on #1600
First 2020 update on our development efforts:

* We consolidated and enabled automatic builds for the [owasp/modsecurity](https://hub.docker.com/r/owasp/modsecurity) Docker image (see https://github.com/CRS-support/modsecurity-docker/issues/32).
* We started the migration of the [owasp/modsecurity-crs](https://hub.docker.com/r/owasp/modsecurity-crs) Docker image source code to its own repository a

[2020-01-18 00:01] #1258 closed, assigned to dune73, franbuehler

[2020-01-19 03:59] sunskyyao opened #1665 "Rule 941120 Processing time is too long"
SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_HEADERS:User-Agent|REQUEST_HEADERS:Referer|ARGS_NAMES|ARGS|XML:/* "@rx (?i)[\s\"'`;\/0-9=\x0B\x09\x0C\x3B\x2C\x28\x3B]+on[a-zA-Z]+[\s\x0B\x09\x0C\x3B\x2C\x28\x3B]*?=" \
    "id:941120,\
    phase:2,\
    block,\
    capture,\
    t:none,t:utf8toUnicode,t:urlDecodeUni,t:htmlEntityDecode,t:jsDecode,t:cssDecode,t:removeNul

[2020-01-19 19:53] airween commented on #1665
Hi @sunskyyao,

thanks for the report.

Could you tell us your ModSecurity version exactly? There isn't any release with version 3.2. If your HTTP server is Nginx, then it could be libmodsecurity3 with version 3.0.[01234], or mod_security2.

Also we need the variables from your modsecurity config with these names:
`grep -w "\(SecRequestBodyLimit\|SecRequestBodyNoFilesLimit\)" /path/to/your/modsecu

[2020-01-20 02:13] sunskyyao commented on #1665
Test environment:
modsecurity: 3.0.4
CRS : OWASP_CRS/3.2.0
server: nginx

test web:
[html.zip](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/4084105/html.zip)

modsecurity.conf

[modsecurity.conf.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/4084117/modsecurity.conf.txt)

root@liangay-virtual-machine:/usr/local/nginx/conf# grep -w "\(SecRequestBodyLimit\|SecRequestBody

[2020-01-20 20:27] airween commented on #1665
Hi @sunskyyao,

thanks for more details. The issue is still under investigating, please be patient.

[2020-01-22 03:28] dune73 commented on #1016
Let's keep this open for a bit longer.

[2020-01-22 10:59] g4laad commented on #1197
Good morning,

A colleague of mine and myself had the same issue as @deepwather .
We uploaded a simple text file with "../../../" in it. It directly trigerred rule id "930100".

`
Message: Warning. Pattern match "(?i)(?:\\x5c|(?:%(?:c(?:0%(?:[2aq]f|5c|9v)|1%(?:[19p]c|8s|af))|2(?:5(?:c(?:0%25af|1%259c)|2f|5c)|%46|f)|(?:(?:f(?:8%8)?0%8|e)0%80%a|bg%q)f|%3(?:2(?:%(?:%6|4)6|F)|5%%63)|u(?:221[56]|002f|E

[2020-01-22 17:03] srikr opened #1666 "Regression Tests in CRS doesn't have Tests for some of the CRS Rules"
### Describe the bug

Regression Tests doesn't have YAML files for following attack and rules of different Paranoia Level

Paranoia Level 1
===========
REQUEST-942-APPLICATION-ATTACK-SQLI = 942170
REQUEST-930-APPLICATION-ATTACK-LFI = 930130
REQUEST-920-PROTOCOL-ENFORCEMENT = 920140, 920410, 920171
REQUEST-932-APPLICATION-ATTACK-RCE = 932170, 932171, 932180, 932120
REQUEST-949-BLOCKING-EVALUATION =

[2020-01-22 17:13] dune73 commented on #1666
Yes, there are still a few gaps, true.

Would you be interested to help us creating some tests for these?

[2020-01-23 04:40] srikr commented on #1666
Thanks for the quick response. Sure. Will give it a try

[2020-01-23 06:01] dune73 commented on #1666
Way to go man. We're happy to assist you, if you encounter any problems.

[2020-01-23 06:26] srikr commented on #1666
Thank You

[2020-01-24 10:03] bittner commented on #1600
Quick update on the current status:

* We have configured automatic builds successfully now also on the [CRS-support/modsecurity-crs-docker](https://github.com/CRS-support/modsecurity-crs-docker) repository, so that the new images are added to Docker Hub (image tags `3.3`, `3.3-apache`, `apache`, `3.3-nginx`, `nginx`). For details see https://github.com/CRS-support/modsecurity-crs-docker/issues/1.

[2020-01-26 17:12] podguzovvasily opened #1669 "Wordpress preview page false positive on REQUEST-949-BLOCKING-EVALUATION"
Mod security audit log:

---Q17tMcfU---A--
[26/Jan/2020:15:11:40 +0000] 158005150036.533109 My IP 443
---Q17tMcfU---B--
POST /wp-admin/post.php HTTP/1.1
CF-Connecting-IP: My IP
accept-language: ru-RU,ru;q=0.9,en-US;q=0.8,en;q=0.7
sec-fetch-site: same-origin
referer: https://somedomain.com/wp-admin/post.php?post=34&action=edit
content-type: application/x-www-form-urlencoded
origin: https://somedoma

[2020-01-26 18:44] emphazer commented on #567
i close this issue because of inactivity.

[2020-01-26 18:44] #567 closed

[2020-01-28 10:04] JStyle21 opened #1670 "What happend to the experimental rules from v2?"
Hi,

This is more of a question, i was looking to use a rule that was in v2's experimental folder but i don't see it on v3, can i just copy paste to add a new regex as a rule for v3?

[2020-01-28 15:21] dune73 commented on #1670
You can - at your own risk.

When the current management took over the project and aimed for v3, we had to set priorities and the experimental rules looked like something few people used, very little experience with it and we did not find them attractive from cursory glance.

[2020-01-28 15:21] #1670 closed, assigned to nobody

[2020-01-28 16:18] JStyle21 commented on #1670
Ok, 2 questions then
1. There is nothing missing or changed in v3 that would prevent those rules from running?
2. Can i just straightforward copy the copy rules and they work, or does v3 now require some change made to the rules?

[2020-01-28 17:14] dune73 commented on #1670
If you are running in anomaly scoring mode, then the names of the variables have changed.

Generally, you should never just copy rules into your production setup. We curate the official CRS3 rules, so the risk is more or less contained. Legacy experimental rules do not come with this protection.

You should look at the rules, try to understand them, test them throughly and only then should you dep

[2020-01-30 17:17] dune73 opened #1671 "Monthly Chat Agenda February (extraordinary changed to: 2020-02-10)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, February 10, at 20:30 CET.

## Items on the Agenda:

* Previous Meetings decisions: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1654#issuecomment-571283896

### PRs
* Problems with Travis
* PR #1679 new vuln scanner
* PR #1678 cleanup: Remove re

[2020-01-31 14:16] fzipi commented on #1601
@dune73 I guess this one can be closed, now that the site is in production?

[2020-01-31 14:17] fzipi commented on #1589
Will push soon some of the data I've got for this one.

[2020-01-31 14:35] dune73 commented on #1601
Yes, thanks to you.

[2020-01-31 14:35] #1601 closed, assigned to fzipi

[2020-02-02 12:58] lifeforms commented on #1658
Discuss in #1673.

[2020-02-02 12:58] #1658 closed, assigned to lifeforms

[2020-02-03 11:14] osamamaruf opened #1676 "MULTIPART_STRICT_ERROR False Positive"
### Description
Modsecurity flags the following content type header

The boundary should be allowed to have quotes.

### Audit Logs / Triggered Rule Numbers
MULTIPART_BOUNDARY_QUOTED
MULTIPART_DATA_BEFORE

The above rule have been triggered from `200003`.

### Your Environment

- CRS version (v3.0.0)
- ModSecurity version (3.0.2)
- Web Server and version (Nginx 1.15.9)

### Confirmation

[X] I hav

[2020-02-03 11:17] dune73 commented on #1676
Sorry for the inconvenience, but the rule 200003 is not part of CRS, it is one of the recommended rules by ModSecurity itself. It is based on variables written by ModSecurity and thus the engine itself.

I'm closing this here and ask you to go over to the ModSec project.

[2020-02-03 11:17] #1676 closed, assigned to nobody

[2020-02-03 16:39] airween commented on #650
There is a [table about occurrence](https://docs.google.com/spreadsheets/d/1x6tg8RyAELw0h4y1uoMEi3rPiLfrNFpK598kyXLtogs/edit#gid=119269151) of `ver` actions (and with values). The point is that all rule must have a `ver` action? And what would be the correct value now? `OWASP_CRS/3.2.0`?

[2020-02-03 16:53] airween commented on #610
Updated the [table](https://docs.google.com/spreadsheets/d/1B2VCMauDQ-eubNwOmz8IbqQ4xeljnrbTY9N-bs2W3bA/edit#gid=1564920677), please review this issue the next monthly chat.

[2020-02-04 09:07] vieridipaola opened #1677 "Rules 911100, 949110, 980130: False Positives (paranoia level 1)"
Hi,

I'm seeing false positives each time a user legitimately logs out a web application such as "Apache Guacamole".
This application requires the DELETE method.

### Description

ModSecurity Audit:

--18b96d00-A--
[04/Feb/2020:09:39:27 +0100] Xjktv-A4XMHvYwMDNIoJKgAAAAQ 1.2.3.4 25747 4.3.2.1 443
--18b96d00-B--
GET / HTTP/1.1
Host: gw.mydomain.org
Connection: keep-alive
Cache-Control: max-age=0
Up

[2020-02-04 11:13] dune73 commented on #1677
Hi there, the rule alert says the following:

* ModSecurity: Warning. Match of "within %{tx.allowed_methods}" against "REQUEST_METHOD"
* Method is not allowed by policy

So the DELETE method is not allowed based on your configuration.

You should add `DELETE` to the list of allowed methods in rule 900200 in your crs-setup.conf. The rule is commented out by default. So activate the rule and add the

[2020-02-04 11:13] #1677 closed, assigned to nobody

[2020-02-06 00:01] #1016 closed, assigned to dune73

[2020-02-09 00:02] #1564 closed, assigned to nobody

[2020-02-09 00:02] #1546 closed, assigned to nobody

[2020-02-10 19:55] dune73 commented on #1671
## Decisions

### PRs
* Problems with Travis: We are unsure as to why this happens. @franbuehler will investigate this for an hour or two on Tuesday, if she fails, @dune73 will try and pick it up. Longterm, we want to replace Travis with github actions. @fzipitria is working on this.
* #1679 will be merged as soon as Travis works again
* #1678 will be merged as soon as Travis works again
* #1675 h

[2020-02-10 21:33] #437 closed

[2020-02-11 13:50] dune73 commented on #1665
We talked about this a big deal during (or rather after) our monthly chat.

@dune73 (thus me) came up with a simpler variant of this rule that should kill the performance / DoS problems and still match the same payloads.

[code]

 @airween is going to test this and provide a PR if it works. If not, we need to continue our discussion.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurit

[2020-02-11 13:51] dune73 commented on #1227
@lifeforms volunteered to fix this issue during the monthly CRS chat.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

[2020-02-11 13:55] dune73 commented on #606
This has been open for far too long and it seems we are not able to come up with a decent solution that does away with the false positives that this brings. During the monthly CRS chat, we have does decided to close this issue.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

If anybody feels like giving this a go for real and come up with a

[2020-02-11 13:55] #606 closed

[2020-02-11 13:56] dune73 commented on #597
@emphazer volunteered to take on this issue as he has been affected before. This is likely to take until March 2020 though.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

[2020-02-11 13:57] dune73 commented on #501
During the monthly CRS chat, @theMiddleBlue volunteered to develop the proposed rule above into a working PR.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

[2020-02-11 13:59] dune73 commented on #437
During the monthly CRS chat, we decided to drop this issue as we are not enough committed to really come up with a clean solution. Seems we can live with the situation as is.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

If somebody has the time and interest to solve this for good, then please reopen.

[2020-02-11 14:05] dune73 commented on #369
During the monthly CRS community chat, we decided to close this in favor of the bigger solution, that does decoding trough a variety of transformations. This is aimed for CRS 3.3.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

[2020-02-11 14:05] #369 closed

[2020-02-11 14:06] dune73 commented on #276
During the monthly CRS community chat, I re-confirmed my lifelong commitment to this problem and I promised to make this into a PR and get it merged.

Meeting minutes: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

[2020-02-11 14:08] #1671 closed, assigned to nobody

[2020-02-11 14:10] dune73 opened #1683 "Monthly Chat Agenda March (2020-03-02)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, March 2, at 20:30 CET.

## Items on the Agenda:

* Previous Meetings decisions: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1671#issuecomment-584320407

### PRs

In light of the planned migration or our github, cleaning out the open PRs would be

[2020-02-11 16:34] franbuehler commented on #1671
Thank you @dune73 for leading the meeting and for your excellent work!!

[2020-02-11 19:51] dune73 commented on #1671
Thank you very much. Glad we made so much progress.

Yesterday was a decisive meeting since we decided to tackle 10 issues per month. The start is now made. If we really manage to solve them, we have manged the turnaround and can look forward.

[2020-02-11 20:39] bittner commented on #1600
See also: #1684

[2020-02-12 00:02] #1550 closed, assigned to nobody

[2020-02-12 18:38] kakigorimochi opened #1686 "Wordpress Problem"
### Description

I am not sure what will I include here from inside the log file.

### Audit Logs / Triggered Rule Numbers

I am hosting few Wordpress staging sites. And I having problems with the PHP Applications' functionally as a whole. Everything seems to work fine with ModSec turned off. But when it is turned some scripts like file upload are being blocked "wp-admin/admin-ajax.php".

Please h

[2020-02-12 21:01] #1622 closed, assigned to nobody

[2020-02-12 21:07] dune73 commented on #1686
Sorry for the inconvenience. Running ModSec / CRS on NGINX can be quite painful. Are you familiar with my tutorials on netnea.com?

Other than that, I am not sure you use SecRuleRemoveById correctly. It's meant to work with numeric ids. Correct?

And then it's likely it stops working because of false positives. Did you enable the WordPress rule exclusion package (see crs-setup.conf file). But even

[2020-02-12 21:07] #1686 closed, assigned to nobody

[2020-02-13 12:33] mricherzhagen opened #1689 "The word "Warning" causes "PCRE limit exceeded""
### Describe the bug

When the word "Warning" is used in a response in any way (e.g. as part of bootstraps CSS class`text-warning`) and there is more content on the page this results in PCRE limits beeing exceeded.

### Steps to reproduce

Have a simple file with the Word "Warning" at the beginning and 200 words of lorem ipsum after that.

### Expected behaviour

PCRE limits not being exceeded by

[2020-02-13 13:20] dune73 commented on #1689
Hey Matthias, sorry for the inconvenience.

Can you tell me what your SecPcreMatchLimit / SecPcreMatchLimitRecursion is? It's probably too low.

But even if it is high enough, these errors are still possible. I would probably disable said rules for CSS files in your situation. Like you treat a false positive, actually.

[2020-02-14 07:53] Taiki-San commented on #1582
The issue still exists, not sure tagging it as stale and closing it is the right way forward :)

[2020-02-14 07:54] Taiki-San commented on #1587
The issue still exists, not sure tagging it as stale and closing it is the right way forward :)

[2020-02-14 07:58] dune73 commented on #1582
Correct.

Yes so far nobody seemed to care enough to actually get going on this. I have added it to the next meeting. Chances are we will find a volunteer that way.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683

[2020-02-14 08:00] Taiki-San commented on #1582
Thanks! I'm hoping to get a bit of time to focus on them in the coming weeks/months otherwise.

[2020-02-14 08:08] mricherzhagen commented on #1689
These are the limits:
[code]

I don't think that increasing the limits is the solution here, though. If i look at the regex they all have something like `Warning.*something`. Which causes the regex engine to go until the end of the file and then try to backtrack to find the biggest possible match - if i understand regex correctly.

Can replacing the `.*` with `.*?` fix this while keeping the regex

[2020-02-14 12:01] mricherzhagen commented on #1689
I tried a `sed -i -E -e 's/Warning\.\*([^?])/Warning.*?\1/g' RESPONSE-951-DATA-LEAKAGES-SQL.conf` to change all the `.*` after "Warning" to `.*?` and it did indeed fix the PCRE limit exceeded errors. At least for my simple Test-Case with the word "Warning" and lorem ipsum. Didn't test if it still detects the real warning messages, though. But i guess you have automated test examples for these?

**

[2020-02-15 00:18] jeremyjpj0916 opened #1692 "REQUEST-941-APPLICATION-ATTACK-XSS.conf on JSON payload"
### Description

So I have an admin API endpoint that accepts json, it has a structure of:

[code]

### Audit Logs / Triggered Rule Numbers

ModSecurity: Warning. Matched "Operator `Rx' with parameter `(?i)[\s\S]((?:x(?:link:href|html|mlns)|!ENTITY.*?(?:SYSTEM|PUBLIC)|data:text\/html|formaction|\@import|base64)\b|pattern\b.*?=)' against variable `ARGS_NAMES:json.config.secret_is_base64' (Value: `j

[2020-02-15 09:18] airween commented on #1692
You should play with `ctl:ruleRemoveTargetById` in your [REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf.example) - just append to the end of your copy:

[code]

Of course, you have to replace the URI by the correct pattern. There are lot of examples (in the file above) to solve similar

[2020-02-15 09:31] jeremyjpj0916 commented on #1692
Ah so that is how yall get around lots of edge cases with CRS, whitelist on URI in many cases and take what the attack vector prints out and drop it in an excludes logic override. Seems elegant enough, otherwise I imagine its impossible to please everyone with a ruleset without the regex's and checks becoming not maintainable.

Thanks!

[2020-02-15 09:31] #1692 closed, assigned to nobody

[2020-02-18 11:01] mirkodziadzka-avi opened #1693 "Protocol enforcement 920180 does have problems with HTTP/2"
### Description

When using HTTP/2, a valid request may have neither a content-length header nor a transfer-encoding header (because HTTP/2 is implicitly chunking on protocol level)

To reproduce this,  issue a
[code]

against a http2 enabled backend.

This will trigger rule 920180 (because no content-length is set and no transfer-encoding header is set.

### Your Environment

* CRS version: 3.2
*

[2020-02-18 20:00] dune73 commented on #1693
Well observed. Thank you!

[2020-02-19 19:16] felixarntz commented on #1451
Hello there, I've discovered this thread because we have been encountering the same problem in our WordPress plugin that integrates with the Google OAuth flow (https://github.com/google/site-kit-wp/issues/1113).

@csanders-git I believe that this should be reopened, an indeed an exception for the `https://www.googleapis.com/auth/userinfo.profile` scope should be added. The `scope` parameter MAY be

[2020-02-22 06:34] Taiki-San commented on #1609
Same as the others, this one is still valid :)