[2020-02-24 08:31] dune73 commented on #1609
I'm taking it into the agenda for the next chat.

[2020-02-24 13:47] theMiddleBlue commented on #1513
still in progress...

[2020-02-24 22:27] jeremyjpj0916 opened #1696 "Rule 930120 JSON/XML Bodies with profile in the name or nested reference?"
### Description

Looking at some recent blocks thought I would bring up a case and see if this was "as designed" or a bug of sorts. We have plenty of API services that pass some for of the word profile as a JSON body parameter, sometimes in nested JSON too. These are blocked and I am not sure if it was intentional design or is it because of json parser doing like Object.profile.CoolField or Object

[2020-02-25 06:49] jeremyjpj0916 opened #1697 "Rule 920220 Query Parameters detecting malformed UrlEncoding?"
### Description

Seems the REQUEST_URI is valid to me in this request (%25's replacing for the % character for url encoded). Unsure why it's blocking it, I see no % signs isolated by themselves?

Irrelevant headers removed from Audit log.

### Audit Logs / Triggered Rule Numbers

https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L328

[2020-02-25 07:13] jeremyjpj0916 commented on #1697
Opp, closing this. Oddly enough my modsec audit logs are set to only log 400/403 events (blocking) but this one is 200 response and even though it says it found a match in the H section like above its not actually blocking the tx? Very strange, probably a mod security bug itself but not core rulsets problem, rule is working as expected and allowing this tx to pass.

[2020-02-25 07:13] #1697 closed, assigned to nobody

[2020-02-25 16:50] jeremyjpj0916 commented on #1696
From slack:

As such closing this issue for now. Likely needs a better resolution long term by ModSec + CRS working together.

[2020-02-25 16:50] #1696 closed, assigned to nobody

[2020-02-25 18:59] jeremyjpj0916 opened #1698 "Rule 941130 Blocking XML Payload"
### Description

```application/xml``` payload gets blocked:

[code]

https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/master/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf#L126

I don't necessarily think there will be a "fix" in this mother of all regex'es perhaps. I suppose next steps are how to whitelist certain URI paths to drop this check on XML payloads. Would really like it if I

[2020-02-25 19:08] kkasmi opened #1699 "@rx validation required for 933210"
SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_FILENAME|ARGS_NAMES|ARGS|XML:/* "@rx (?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}/*\s]+(?:\)|\])[0-9_.$\"'\[\](){}/*\s]*\([a-zA-Z0-9_.$\"'\[\](){}/*\s].*\)|\([\s]*string[\s]*\)[\s]*(?:\"|'))" \
    "id:933210,\
   .....
"

I'd like to get some help on the regular expression in 933210 as a RX checkup program gave me errors such

[2020-02-25 19:31] airween commented on #1699
You need to escape the `"` characters inside of operator argument.

Compare your original and the corrected rule (last one works - well, Nginx allows :)).
[code]

Hope this helps.

[2020-02-25 20:46] kkasmi commented on #1699
Hi Airween,
Thanks for the reply.

The rx in 933210 of CRS 3.2 already has \(backward slash) to escape before "(double quote). When I copied and pasted into this form, some how \ in front of " are disappeared. Sorry for the wrong post by this. I corrected it below:

So the rx that I have some problem in 933210 is
(?:(?:\(|\[)[a-zA-Z0-9_.$\"'\[\](){}/*\s]+(?:\)|\])[0-9_.$\"'\[\](){}/*\s]*\([a-zA-Z0

[2020-02-25 20:48] kkasmi commented on #1699
I think the backward slash are gone again. This is weird. This editor is somehow opt it out.
You can refer the rx in 933210 for the original rx that I have problems

[2020-02-25 21:17] jeremyjpj0916 commented on #1698
As noted by airween, ways to whitelist this issue:

[code]

[2020-02-25 21:17] #1698 closed, assigned to nobody

[2020-02-26 07:34] airween commented on #1699
Hi @kkasmi,

so are you using CRS version 3.2 from tarball, but when you copied here the pattern then the editor cut some chars? Please use the markdown format, eg the 3 pieces of sequence of ` character.

Anyway, you didn't wrote any exact info about your engine. When I wrote my answer yesterday, I assumed you're using libmodsecurity3 (as WAF) with Nginx - but now I'm not sure. I checked this rul

[2020-02-26 11:51] impondesk opened #1700 "Blocking Object as get arguments gets blocked with Rule REQUEST-949-BLOCKING-EVALUATION.conf"
### Description
Requests with object as parameter is getting blocked since of the Rule 949 as anomaly score is higher 5+ for the respective requests. As per definitions requests with score 4+ gets blocked.

### Audit Logs / Triggered Rule Numbers
REQUEST-949-BLOCKING-EVALUATION.conf

### Your Environment

* CRS version (e.g., v3.2.0): v3.0.2
* Paranoia level setting:
* ModSecurity version (e.g., 2

[2020-02-26 14:06] kkasmi commented on #1699
Hi again @airween
I am using NGINX/1.17.6 (nginx-plus-r20) with WAF (ModSecurity CRS v3.2.0) in the test environment.

I copied the part of the rule 933210 again. I think it will show correctly this time. Thanks for keeping checking and please let me know if you need more information from my end.
`SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|REQUEST_FILENAME|ARGS_NAMES|AR

[2020-02-26 14:30] airween commented on #1699
Okay, you wrote that you use nginx-plus-r20 - I checked, looks like this is an nginx extended version, perhaps it contains some WAF implementation. If it's true, then I think you have to ask the Nginx developers about the parsing errors. The rule 933210 works with modsecurity2 + Apache and modsecurity3 + Nginx as well.

But now I'm a bit confused - you included a part of your error log. Now this r

[2020-02-26 15:11] kkasmi commented on #1699
Hi @airween again,
Thanks for the follow-up. I got the same confusion as the RuleId 933210 without modification (with parsing errors) caught the error. I wonder how NGINX WAF works with a broken rx to catch.
Possible scenario in my mind though, the rx matches the phrase (data){ $( ) in this order so it doesn't need to parse /*. So in this way, 933210 will catch the error with broken rx. (I am a be

[2020-02-26 15:19] airween commented on #1699
Hi @kkasmi,

well, your engine notices you that the `@rx` argument is wrong, but started :O?

I think the regex is good:
https://regex101.com/r/frDwrc/1

On this link I just added the `\` char to escape the `/` (because the regex101 engine uses the `/` as separator).

I think this isn't the false positive catch. What you can do that make an exception for the affected URI/argument.

If you don't ha

[2020-02-26 15:25] kkasmi commented on #1699
Hi @airween,
I agree that this is not the false positive case so that I will close the issue.
I think rx should be validated before it is included in the ruleset, specially, for the user who uses commercial version.
Thanks.

[2020-02-26 15:25] #1699 closed, assigned to nobody

[2020-02-26 19:07] dune73 commented on #1582
We took this to our CRS Meetup in Bern and wrote a fix together: #1701

Removing it from the meeting agenda.

[2020-02-26 19:18] theseion commented on #1645
The problem is present on 3.3/dev. There was a change to that particular rule and that change introduced a couple of problems. We're looking into it.

[2020-02-26 19:43] #1582 closed, assigned to nobody

[2020-02-26 19:59] theseion commented on #1645
<del>This is the direct conversion of the old regex to the single byte version: `(?:\xbc|\xbe).*(?:\xbc|\xbe|>)|(?:\xbc|\xbe|<).*(?:\xbc|\xbe)`. The character classes in the new regex don't work. I think we should start with the direct conversion and maybe use the optimizer to figure out what to do</del> (@franbuehler thanks for the help).

[2020-02-27 06:17] theseion commented on #1645
I figured out how the evasion targeted by rule 941310 works. Look at the following UTF-8 string: ```¼script¾alert(¢XSS¢)¼/script¾```
If a web server transmits this payload with an encoding of US-ASCII the string will be interpreted as
```B<script>Balert(B"XSS"B)B</script>B```
This is because US-ASCII uses only 7 bits to encode a character.

The bit sequence for the UTF-8 character `¼` (hexadecimal

[2020-02-27 10:20] dune73 commented on #1664
Fixed in #1702. Closing.

[2020-02-27 10:20] #1664 closed, assigned to nobody

[2020-02-28 15:03] theMiddleBlue opened #1704 "PrestaShop: FP on REQUEST_COOKIE"
### Description

In my logs, I have seen a false positive on a request to a PrestaShop e-commerce:
`GET /themes/control/cache/v_716_db8a1bc0baf2b785f3106c4d91c790e2_all.css HTTP/1.1`

that triggered the Rule ID 941100 (XSS Attack Detected via libinjection) in `REQUEST_COOKIE`:
`Matched Data: XSS data found within REQUEST_COOKIES:PrestaShop-xxxxxxx`

I self-assign this issue as a note to push a PR

[2020-02-28 15:10] dune73 opened #1705 "XSS bypass with a payload not containing "<script>""
### Description

The following request is not identified as an attack at PL1 - yet on the specific application I am lookin at, this is a successful XSS.

[code]

The problem is probably that it's "alert" without prior script tag. I wonder if we want to come up with a rule to detect this by default. I am a bit torn and I fear false positives.

### Your Environment

* CRS version (e.g., v3.2.0): v3.

[2020-02-29 00:34] Taiki-San commented on #1587
Hey, the issue shouldn't have been closed as it's still relevant. Can someone open it up again?

[2020-02-29 05:40] dune73 commented on #1587
Yes. Added to the agenda for Monday.

@Taiki-San: We're meeting at 20:30 your time on https://owasp.slack.com in the channel #coreruleset. It would be nice to have you around as well.

[2020-02-29 16:33] Taiki-San commented on #1587
Thanks!
Will try to be there but I'm flying back from the US at roughly midnight CET. Might miss the beginning.

[2020-03-01 11:22] fgsch commented on #1645
Sorry to be late at the party. Is this a follow up from the original report or some other string matching?
If so, can you share what it is matching?

Also, can you elaborate on:

[2020-03-01 17:13] theseion commented on #1645
Yes this is a follow up to the original. He failed to mention that he was using rules from 3.3/dev. The regular expression of rule 941310 was modified in https://github.com/SpiderLabs/owasp-modsecurity-crs/commit/aa2794a466ed66fe5190323888c1eac700239802.

The string with the match is `de_matten & sitzbez\xc3\xbcge > fu\xc3\x9fmatten_mt`, in original encoding `de_matten & sitzbezüge > fußmatten_mt`

[2020-03-02 11:07] franbuehler commented on #1605
This issue has been solved by PR #1675.

[2020-03-02 11:07] #1605 closed, assigned to franbuehler

[2020-03-02 11:27] Taiki-San commented on #1605
Thanks for having fixed the issue!

[2020-03-02 11:46] franbuehler commented on #1605
Thanks for reporting the issue!

[2020-03-02 12:20] franbuehler commented on #1587
I think we could add a word boundary after `insert`.

Original regex: `;\s*?insert\s*?[\[(]?\w{2,}`
New regex: `;\s*?insert\b\s*?[\[(]?\w{2,}`

And I would apply this `\b` to every sql word in the source file regexp-942350.data expect the first entry:

[code]

I will make a PR for that.

[2020-03-02 13:33] Taiki-San commented on #1587
Thanks! Indeed look more appropriate than my suggestion

[2020-03-02 14:02] franbuehler commented on #1587
This issue has been solved by PR #1706

[2020-03-02 14:02] #1587 closed, assigned to franbuehler

[2020-03-02 14:53] franbuehler commented on #1615
Yes, I think this issue could be solved by adding a `\s\w+` maybe even a `\s+[\w.:/]+` after `location:` so that all sorts of valid location headers match.

But, as far as I know empty headers are valid too, but they are ignored by the browser. So we potentially add an evasion here.

That's why I would only add my suggested regex to the location header and not all of the headers in this rule.
Orig

[2020-03-02 14:58] dune73 commented on #1615
No, I can not see where an empty contnt-type, content-length, set-cookie or location header can be considered standard behaviour. Sure, the protocol does allow it, but that does not mean that it happens in real life.

[2020-03-02 15:02] franbuehler commented on #1615
So I add my suggested regex to all headers?

[2020-03-02 15:03] dune73 commented on #1615
I think that should work, yes.

[2020-03-02 15:07] dune73 commented on #1227
@lifeforms: Any update here?

[2020-03-02 15:08] dune73 commented on #1665
@airween :  Do you have any update on your test with this rule?

[2020-03-02 15:08] franbuehler commented on #1615
Ok, I'll do that. Thanks for your fast feedback!

[2020-03-02 15:10] dune73 commented on #501
@theMiddleBlue : Do you have an update here?

[2020-03-02 15:15] dune73 commented on #992
We did not get the infos requests in two years. Closing this.

[2020-03-02 15:15] #992 closed, assigned to nobody

[2020-03-02 15:17] dune73 commented on #1058
This is unlikely to be a CRS problem and we have not heard from the original reporter. Closing this.

[2020-03-02 15:17] #1058 closed, assigned to nobody

[2020-03-02 19:37] airween commented on #1665
With @theMiddleBlue we're still working on this issue. Needs more time to finish.

[2020-03-02 19:48] dune73 commented on #1683
## Decisions

### PRs
* #1310 - merged
* #1616 - @fgsch is at it but needs more time
* #1690 - @fgsch volunteers to get this completed
* #1695 - merged
* #1707 - @lifeforms will review on his production servers and merge this

PRs on hold

* #1602 - we will ask @theMiddleBlue what the matter with his PR is
* #1663 - on hold with @dune73
* #1674 - on hold with @dune73
* #1667 - on hold on request o

[2020-03-02 19:50] #1693 closed, assigned to nobody

[2020-03-03 00:02] #1485 closed, assigned to nobody

[2020-03-03 00:02] #1265 closed, assigned to nobody

[2020-03-03 00:02] #1239 closed, assigned to nobody

[2020-03-03 00:02] #1251 closed, assigned to lifeforms

[2020-03-03 00:02] #1178 closed, assigned to dune73

[2020-03-03 00:02] #823 closed, assigned to nobody

[2020-03-03 07:24] dune73 commented on #1178
I think we are covered.

[2020-03-03 07:26] dune73 commented on #1302
I'm reopening this. I really think we should do this.

[2020-03-03 07:27] dune73 commented on #1144
I still plan to follow up on this.

[2020-03-04 00:23] fzipi commented on #1599
We need this one open for a little bit longer.

[2020-03-04 08:03] dune73 commented on #998
This was on the agenda for the community chat on March 2, 2020. But we postponed the discussion.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:04] dune73 commented on #1609
Decision during the CRS project chat on March 2, 2020: @franbuehler will solve this.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:04] dune73 commented on #1615
Decision during the CRS project chat on March 2, 2020: @franbuehler will solve this.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:04] dune73 commented on #610
Decision during the CRS project chat on March 2, 2020: @lifeforms will sort this out.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:05] dune73 commented on #650
Decision during the CRS project chat on March 2, 2020: @airween will bring some consistency to this.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:06] dune73 commented on #794
Decision during the CRS project chat on March 2, 2020: @dune73 will get in touch with the libinjection project to try and get things moving again.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:06] dune73 commented on #820
Decision during the CRS project chat on March 2, 2020: @dune73 will get in touch with the libinjection project to try and get things moving again.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:07] dune73 commented on #823
Decision during the CRS project chat on March 2, 2020: This has been stale far too long. We are closing this - let the bot close it and try to find somebody working on Unicode support in general and not limited to one isolated finding.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:07] dune73 commented on #833
Decision during the CRS project chat on March 2, 2020: @lifeforms will take this on.

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:09] dune73 commented on #1645
Results from the CRS project chat on March 2, 2020: We appreciate @theseion working on this. Thanks in advance!

https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538

[2020-03-04 08:11] #1683 closed, assigned to nobody

[2020-03-04 14:02] theMiddleBlue commented on #501
not yet, unfortunately it seems that this rule never triggers since my Nginx convert something like `HEAD http://localhost:80 HTTP/1.1` in `HEAD / HTTP/1.1`.

Request:
[code]

Audit log:
[code]

[2020-03-05 06:56] jeremyjpj0916 opened #1711 "FP 942100 MySQLi rule triggered?"
### Description

I am guessing this fires on just some keywords to trip a MySQLi?

### Audit Logs / Triggered Rule Numbers

[code]

Linked my issue w dependency here: https://github.com/client9/libinjection/issues/149

### Your Environment

* CRS version (e.g., v3.2.0): 3.2/master
* Paranoia level setting: 1
* ModSecurity version (e.g., 2.9.3): 3.0.4

[2020-03-05 08:17] dune73 commented on #1711
Confirm. I can trigger this on 942100 as follows:

[code]

[2020-03-06 07:48] jeremyjpj0916 commented on #1711
UNION AVE on the other hand did not match a fingerprint. GRANT AVE citizens get rekt I suppose.

[2020-03-07 12:18] DragonRegex opened #1712 "Vulnerable Regular Expressions in 942360"
### Type of Issue
Potential Regex Denial of Service (ReDoS)

### Description

The vulnerable regular expressions  are located in
`util/regexp-assemble/regexp-942360.data` on lines 35-134  ([Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/3aa260d73097e5678f7493ecc1c2fecc4f7d93e9/util/regexp-assemble/regexp-942360.data#L35)),
`rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf` on line 46

[2020-03-07 12:55] DragonRegex opened #1713 "Vulnerable Regular Expressions in 942300"
### Type of Issue
Potential Regex Denial of Service (ReDoS)

### Description

The vulnerable regular expressions  are located in
`util/regexp-assemble/regexp-942300.data` on lines 8-18  ([Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/3aa260d73097e5678f7493ecc1c2fecc4f7d93e9/util/regexp-assemble/regexp-942300.data#L8)) and
`rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf` on line 46

[2020-03-07 13:59] DragonRegex opened #1714 "Vulnerable Regular Expressions in 942260"
### Type of Issue
Potential Regex Denial of Service (ReDoS)

### Description

The vulnerable regular expressions  are located in
`util/regexp-assemble/regexp-942260.data` on lines 1-4, 8-18, 21  ([Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/3aa260d73097e5678f7493ecc1c2fecc4f7d93e9/util/regexp-assemble/regexp-942260.data#L1)) and
`rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf` o

[2020-03-08 02:49] DragonRegex opened #1715 "Vulnerable Regular Expressions in 942200"
### Type of Issue
Potential Regex Denial of Service (ReDoS)

### Description

1. The vulnerable regular expression ```,.*?[)\da-f\"'`][\"'`][\"'`].*?[\"'`]```  is located in
`util/regexp-assemble/regexp-942200.data` on line 1  ([Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/3aa260d73097e5678f7493ecc1c2fecc4f7d93e9/util/regexp-assemble/regexp-942200.data#L1)). The ReDOS vulnerabili

[2020-03-08 04:04] DragonRegex opened #1716 "Vulnerable Regular Expressions in 942170"
### Type of Issue
Potential Regex Denial of Service (ReDoS)

### Description

The vulnerable regular expressions  are located in `util/regexp-assemble/regexp-942170.data` on lines 1-6  ([Link](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/3aa260d73097e5678f7493ecc1c2fecc4f7d93e9/util/regexp-assemble/regexp-942170.data#L1)).

The ReDOS vulnerabilities of these regular expressions are mai

[2020-03-08 19:49] dune73 commented on #1712
Thank you for reporting.

We can either (a) not reproduce your findings, or (b) they are prevented by the PCRE match limits, namely on ModSecurity 2.

While there are rules with severe ReDoS issues in CRS, the ones your report do not fall into this category from our point of view. We get reports like your's from time to time. Usually people just look at the regular expression and do not try it out

[2020-03-08 19:49] #1712 closed, assigned to nobody

[2020-03-08 19:49] dune73 commented on #1713
Thank you for reporting.

We can either (a) not reproduce your findings, or (b) they are prevented by the PCRE match limits, namely on ModSecurity 2.

While there are rules with severe ReDoS issues in CRS, the ones your report do not fall into this category from our point of view. We get reports like your's from time to time. Usually people just look at the regular expression and do not try it out

[2020-03-08 19:49] #1713 closed, assigned to nobody

[2020-03-08 19:49] dune73 commented on #1714
Thank you for reporting.

We can either (a) not reproduce your findings, or (b) they are prevented by the PCRE match limits, namely on ModSecurity 2.

While there are rules with severe ReDoS issues in CRS, the ones your report do not fall into this category from our point of view. We get reports like your's from time to time. Usually people just look at the regular expression and do not try it out

[2020-03-08 19:49] #1714 closed, assigned to nobody

[2020-03-08 19:49] dune73 commented on #1715
Thank you for reporting.

We can either (a) not reproduce your findings, or (b) they are prevented by the PCRE match limits, namely on ModSecurity 2.

While there are rules with severe ReDoS issues in CRS, the ones your report do not fall into this category from our point of view. We get reports like your's from time to time. Usually people just look at the regular expression and do not try it out

[2020-03-08 19:49] #1715 closed, assigned to nobody

[2020-03-08 19:49] dune73 commented on #1716
Thank you for reporting.

We can either (a) not reproduce your findings, or (b) they are prevented by the PCRE match limits, namely on ModSecurity 2.

While there are rules with severe ReDoS issues in CRS, the ones your report do not fall into this category from our point of view. We get reports like your's from time to time. Usually people just look at the regular expression and do not try it out

[2020-03-08 19:49] #1716 closed, assigned to nobody

[2020-03-11 04:07] kumaranubhaw opened #1718 "XSS attack detection for session id in cookie"
### Description of bug
I am using the Rails application.

The rails generates session id which is stored in cookie in browser which consists of the random alpha-numeric characters. when new request to server is made the session id is used and new session is generated and store in cookie.

The session id can be any alpha-numeric character and symbols, So it should not be detected as XSS attack if p

[2020-03-11 19:30] H4R0 opened #1719 "Need help with whitelisting false positive for gitlab rule id 949110"
Im not quite understanding how to whitelist false postives.

Gitlab behind crs is completly unusable with default rules.

When you do a https git push or for example want to list files in the web overview it gets blocked by rule id 949110

So i added "SecRuleRemoveById 949110" to RESPONSE-999-EXCLUSION-RULES-AFTER-CRS.conf but this completly seems to disable the waf as i can just do xss requests t

[2020-03-11 22:18] #1719 closed, assigned to nobody

[2020-03-12 04:36] jeremyjpj0916 opened #1720 "XSS Attack Detected for valid XML Wrapped in CDATA Id 941160"
### Description

Rule 941160 blocking XML in CDATA, its not a fan of the text ```<pr:form```

### Audit Logs / Triggered Rule Numbers

[code]

Interestingly if you take the valid XML out of the CDATA you don't get blocked, request payload example like so:

[code]

These payloads are dumbed down versions of a real request I saw and I have taken out all the soap headers, xmlns namespacing reference

[2020-03-13 23:07] jeremyjpj0916 opened #1722 "SOAPUI SOAP Tx multipart/related call False Positive id: 920470"
### Description

I already have a pending PR to help with the fact multipart/related is not allowed:
https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/1721

But, another rule after the above one gets fixed will get hit, which is 920470,
https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.2/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L870

This only allows ```(?:boundary|chars

[2020-03-16 05:19] dune73 commented on #1722
Thank you for reporting. I'm more and more seeing a need to review all the content-type rules in its own little project to overhaul them all. Thanks for the contribution.

[2020-03-16 14:26] jeremyjpj0916 commented on #1722
Not the best at fixing them but playing the role of QA and providing FP's is right up my wheelhouse, I can make small fixes 😄  .

[2020-03-16 15:58] franbuehler commented on #1722
I also see `start-info` in this `multipart/related `Content-Type.
And I see this is also a valid param: https://tools.ietf.org/html/rfc2387

So the full list would be: `(?:boundary|charset|type|start|start-info)` or `(?:boundary|charset|type|start(?:-info)?)`.

I haven't tested that yet.

Example Request Header:
`Content-Type: multipart/related; type="application/xop+xml"; boundary="uuid:a111aaa1-

[2020-03-17 10:56] sule01u opened #1723 "DOS protection is invalid"
DOS protection is invalid, The same IP can be an unlimited number of requests, any other protection can work normally.

I use fstack + nginx-1.16.0 + mod security v3 + owasp-modsecurity-crs v3 ,has anyone had the same problem

Linux kernel mode can be protected normally

[2020-03-17 12:35] BigTree975 commented on #1723
- crs-setup.conf
![屏幕快照 2020-03-17 20 34 48](https://user-images.githubusercontent.com/33783361/76856712-c7813580-688e-11ea-8b8a-e6c7e218e982.png)

- Fifth request
dpdk-fstack
![屏幕快照 2020-03-17 20 31 59](https://user-images.githubusercontent.com/33783361/76856569-7c672280-688e-11ea-9285-2f1c5621f328.png)

linux-kernel
![屏幕快照 2020-03-17 20 32 19](https://user-images.githubusercontent.com/33783361/7

[2020-03-17 12:47] #1723 closed, assigned to nobody

[2020-03-18 04:35] jeremyjpj0916 opened #1724 "Crazy Long Processing time of XML of a certain kinda payload body."
### Describe the bug

Seems an ```application/xml``` payload that uses lots of &gt; and &lt; chars in the place of the actual < >'s will cause insane WAF processing time(you end up with one fairly large XML element containing all this data as string in the long running XML one.

With regular < >'s keeping a full XML schema+elements the whole time: 3.7 seconds e2e on a 450kb payload for me.

With t

[2020-03-18 12:46] mhoran commented on #1377
This issue still exists.

[2020-03-18 23:59] kumaranubhaw commented on #1718
I got the reply for the same issue I created in modsecurity. I am pasting the reply here and closing the issue.

 A common strategy in cases like yours is to exclude specific variables from the rule.
One option is to exclude your particular cookie directly in the rule. Rule 941120 already does one such exclusion for a cookie pattern ( !REQUEST_COOKIES:/__utm/ ). If you want, you could simply expan

[2020-03-18 23:59] #1718 closed, assigned to nobody

[2020-03-19 02:13] kumaranubhaw commented on #1718
The best idea is to exclude particular cookie directly in the rule.
I just exclude for the cookie pattern (!REQUEST_COOKIES:_(application name)_session) and that works fine.

[2020-03-19 05:15] jeremyjpj0916 commented on #1724
Update: Did remove 200000 on my test for this call to see if it removed the slowness(ModSec XML Parse rule), and it did not make things faster.

[2020-03-19 06:30] jeremyjpj0916 commented on #1724
Ran some more tests tonight, nothing fixed it until I straight up disabled the engine:
[code]

URI edited for privacy reasons here :P . But yeah unsure where the slowdown is...

[2020-03-19 06:46] dune73 commented on #1718
Thank you for reporting back.

[2020-03-20 15:32] rahulbhatu commented on #1451
@selwynorren

[2020-03-20 15:36] rahulbhatu commented on #1451
@selwynorren If this is still a problem, i can help you bypass this rule, But it is just a workaround not advisable you can comment out **.profile** from the bl_os_files and reload your webserver this requests will not be scanned for .profile.
However i want proper solution for this to whitelist them.

[2020-03-25 23:53] jeremyjpj0916 opened #1725 "Easy to trigger these rule id blocks just with keywords [932115, 942360]"
### Description

Seems many CRS rules rely on keywords without considering the context. See below XML sample that just has the word select trigger two blocking rules:

### Audit Logs / Triggered Rule Numbers

[code]

### Your Environment

* CRS version (e.g., v3.2.0): CRS 3.2/master
* Paranoia level setting: 1
* ModSecurity version (e.g., 2.9.3): 3.0.4
* Web Server and version (e.g., apache 2.4.41

[2020-03-26 13:02] albgen commented on #1511
Hello,

this rule is blocking me from changing a page in wordpress. I have just installed yesterday the latest CRS and also the latest wordpress.

Any idea?

[2020-03-26 13:04] azurit commented on #1511
@albgen Use my exclusion rule above.

[2020-03-26 13:27] albgen commented on #1511
hi, thanks for the fast reply.
i/m a newbiew in the CRS amd Modsecuirty rule syntax.

Where to insert your exclusion rule?

[2020-03-26 13:28] azurit commented on #1511
Into file REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf

[2020-03-26 13:38] albgen commented on #1511
It has triggered the following...

`ModSecurity: Warning. detected XSS using libinjection. [file "/etc/nginx/modsec/owasp-modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf"] [line "37"] [id "941100"] [rev ""] [msg "XSS Attack Detected via libinjection"] [data "Matched Data: XSS data found within ARGS:modules: [{"type":"et_pb_section","attrs":{"next_background_color":"#FFFFFF","disabled

[2020-03-26 13:43] azurit commented on #1511
Try adding also this rule:

[code]

[2020-03-26 13:55] albgen commented on #1511
Now i can save the pages.
Is there other workaround rather than excluding the rules?

thanks

[2020-03-26 14:13] azurit commented on #1511
No.

[2020-03-26 14:15] azurit commented on #1511
With this, you are NOT excluding the whole rules on the whole server, just on very little part of the requests and only for specified POST parameters. It is safe to do this and has no effect on other types of requests.

[2020-03-26 14:19] albgen commented on #1511
i think it has disabled other rules as well.
for example even a simple rule like

is not working anymore: curl https://domain/?testparam=test
If i remove your rule it works again.

Even with a simple XSS request it goes through
curl https://domain/?param="><script>alert(1);</script>"

[2020-03-26 14:20] azurit commented on #1511
Then you did something wrong.

[2020-03-26 14:31] albgen commented on #1511
just added the rule(the second one you posted) in REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf The file contains only that rule.
Restart nginx and thats it.

No idea why seems the whole WAF is disabled...will try to understand better whats happening :(

[2020-03-26 14:36] azurit commented on #1511
Maybe you copied something wrong (some syntax errors in config file) and your nginx disabled modsecurity? Not using nginx so i don't know how it works.

Also, my rules are for Apache and i don't know if the syntax is the same.

[2020-03-26 14:42] albgen commented on #1511
Syntax is ok. nginx does not even start if there is a syntax problem. Here is a sample if i put gibberish on a config file in REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf

So the syntax of your rule is correct. Now, why it seems has disabled is another story. Maybe i should learn how to debug modsec :)

[root@web ~]# nginx -t
nginx: [emerg] "modsecurity_rules_file" directive Rules error. File: /etc

[2020-03-26 14:55] azurit commented on #1511
So i cannot help you more. That rule is a part of our own rules which we are using on all of our webhosting servers (we are one of the lead hosting providers in Slovakia).

[2020-03-26 14:57] albgen commented on #1511
ok i see. thanks man.
Will let you know my findings

[2020-03-27 00:03] #1464 closed, assigned to nobody

[2020-03-28 13:29] ceandre opened #1726 "DoS rule triggering with static (png) file"
### Description
The DoS rule continues to trigger with 'png' even though the extension is in the 'static_extensions' variable.

### Audit Logs / Triggered Rule Numbers

setvar:'tx.dos_burst_time_slice=60'
setvar:'tx.dos_counter_threshold=300'
setvar:'tx.dos_block_timeout=600'

setvar:'tx.static_extensions=/.jpg/ /.jpeg/ /.png/ /.gif/ /.js/ /.css/ /.ico/ /.svg/ /.tiff/ /.webp/'

[Tue Mar 24 21:36:0

[2020-03-28 15:47] seedis opened #1727 "SQLi bypass at PL1(CRS 3.2.0)"
### Description

Fuzz found that the following request can bypass modesecurity rules and implement SQLi injection.
sample code：`user.php`(id parameter has SQL injection security issues)
[code]
Database table contents：
[code]
Normal request
[code]

![image](https://user-images.githubusercontent.com/39592354/78272586-48535900-7540-11ea-8005-d5ef5cf6aadf.png)
evil request:
id=1 and 1=1 (blocked by CR

[2020-03-30 19:31] rsbrisci opened #1728 "JSON Payloads process significantly slower (600%) than XML Payloads of a similar size and format"
### Describe the bug

In comparison testing of different payload types while running the OWASP CRS Ruleset 3.2, with Modsecurity 3.0.4 on nginx; we've noticed a pretty huge discrepancy in processing times between JSON and XML payloads.

Please find a screenshot of a reasonable comparison, as well as the raw JSON and XML payloads below.

![image](https://user-images.githubusercontent.com/9117801/77

[2020-03-30 21:03] rsbrisci commented on #1728
The question buried in here is:

 Is there any significant set of rules which runs by default on JSON, but not XML-parsed fields? If not (and I couldn't find *any*), I am at a total loss to explain the roughly 650% increase in processing time in JSON compared to XML requests

[2020-03-31 15:17] frankyhun opened #1729 "XSS Attack Detected via libinjection for AWS AWSALBCORS Cookie"
### Description

libinjection detects XSS Attack in the AWS AWSALBCORS Cookie, and blocks harmless requests.

### Audit Logs / Triggered Rule Numbers

---O4A1GJgF---A--
[30/Mar/2020:04:26:00 +0000] 158554236078.061819 <SCR ID> 0 <INT IP> <PORT>
---O4A1GJgF---B--
POST /oauth/token HTTP/1.1
Accept: application/json, application/*+json
X-Span-Name: https:/oauth/token
Content-Length: 94
b3: 779cec51b5

[2020-03-31 17:22] rsbrisci commented on #1728
UPDATE!

I've been able to confirm that the latency with JSON has something to do with the inclusion of a large list within the payload.

![image](https://user-images.githubusercontent.com/9117801/78056170-e7f6c880-7341-11ea-81af-571c3c55c5a6.png)

[2020-03-31 17:23] rsbrisci commented on #1728
Question for the CRS team now:

Why do JSON Lists cause so much latency with CRS rules?

[2020-03-31 17:24] rsbrisci commented on #1728
Payload for the "Fast" JSON test outlined above:
[code]

[2020-03-31 22:56] airween commented on #1728
I'm afraid we can't help with the available information.

The JSON contents above are very different: the first one has so many keys, and all child have more child items. The second one has 10 keys (as I see) without any sub-child.

If a rule has an argument `XML:/*`, it means **all keys will checked**. That could be so many time...

Yes, you're right - the XML content doesn't trigger this latency

[2020-04-01 00:01] #1227 closed, assigned to lifeforms

[2020-04-01 00:17] rsbrisci commented on #1728
Thanks @airween !

Agree, there's not enough info yet to draw conclusions.

For now, my current theory is that something about lists with multiple items, multiple nested keys, *might* cause high latency in some particular rule(s).

I'm pretty sure XML vs JSON doesn't really matter. I just happened to run my original test with a particularly "bad" JSON. I ran a "List" version of [this payload](http

[2020-04-01 10:10] theMiddleBlue opened #1730 "Block QQGameHall in UA"
![image](https://user-images.githubusercontent.com/4454961/78125397-4474e900-7411-11ea-89e5-e6b084fd7649.png)

we should add `QQGameHall` to 913100 (scanners-user-agents.data). Unfortunately that's not a "scanner" but we have not a different category yet... What do you think about it?

(thanks Daniel Stenberg @bagder)

[2020-04-01 10:36] bagder commented on #1730
I've blocked "QQGameHall" from the curl site from where the above screenshot comes from. That's the full user-agent string this thing uses. Still weird since it is supposedly the name of a game launcher...

[2020-04-01 10:42] dune73 commented on #1730
I'd be happy to merge anytime, @theMiddleBlue.

[2020-04-01 10:54] theMiddleBlue commented on #1730
thanks @dune73 and @bagder, I'm going to open a PR.

[2020-04-01 12:25] airween commented on #1728
I made some researches, let me share with you the results. I sent all of three payloads above to my test Nginx with `curl`, and reviewed the `modsec_debug.log`.

The first column in the line is the line number in file (all requests logged into same file). The first line of three pairs is the beginning of random rule, the last is same with next one. Just see the difference between the first and las

[2020-04-01 14:20] dune73 commented on #1730
Closing this in favor of PR #1731, which was been merged.

[2020-04-01 14:20] #1730 closed, assigned to theMiddleBlue

[2020-04-01 15:13] rsbrisci commented on #1728
@airween thank you for the analysis!

Just one last Q - is this behavior consistent between all rules for the "High Latency" JSON? Or just for the `942100` rule?

[2020-04-01 15:51] airween commented on #1728
No, not just for the rule `942100` - that's just a random chosed :).

It's consistent between all rules (which affected on your chosed PL), just check your log.
The "problem" is that JSON parser converts the tree hierarchy into a flat structure, and the engine handles it as `ARGS` and `ARGS_NAMES`. Any rule which contains these variables will check all 'flatted' list.

Just check your `modsec_debu

[2020-04-02 00:02] #1377 closed, assigned to nobody

[2020-04-02 06:16] emphazer commented on #1626
any news here?

[2020-04-02 15:35] seedis commented on #1727
@dune73    Can you help reproduce this bypass tricks when you have free time(I have added
 my database structure information above for easy reproduction).Looking forward to your reply, thanks.

[2020-04-03 00:02] #1637 closed, assigned to nobody

[2020-04-03 12:41] airween commented on #1637
Hi @henryzhang87,

you think about [`MULTIPART_INVALID_QUOTING`](https://github.com/SpiderLabs/ModSecurity/blob/v2/master/modsecurity.conf-recommended#L78)? If yes, that's not part of CRS, that's part of default `modsecurity.conf`.

A possible solution could be to turn off this rule, and create a new (or more new) rule(s) for each `MULTIPART_*` checking.

[2020-04-05 00:01] #1618 closed, assigned to nobody

[2020-04-05 09:13] franbuehler commented on #1722
I'll open a PR with the following suggestion for rule 920470:

`^[\w\d\/\.\-\+]+(?:\s?;\s?(?:action|boundary|charset|type|start(?:-info)?)\s?=\s?['\"\w\d\.\-\/+<>@:]+)*$`

[2020-04-06 10:51] theMiddleBlue commented on #1518
should be fixed by #1659

[2020-04-06 10:51] #1518 closed, assigned to theMiddleBlue

[2020-04-06 14:31] lifeforms commented on #610
Addressed in #1732. Thanks for the help, everyone!

[2020-04-06 14:31] #610 closed

[2020-04-06 15:08] lifeforms commented on #833
The great thing is that @wjwoodson already fixed this in #1662, so this issue can be closed!

[2020-04-06 15:08] #833 closed, assigned to lifeforms

[2020-04-06 18:18] dune73 opened #1733 "Monthly Chat Agenda April (2020-04-06)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, April 6, at 20:30 CET.

## Items on the Agenda:

Previous Meetings decisions: [here](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1683#issuecomment-593584538)

### PRs

* #1707 New ldap injection rule 921200 (fixes issue #276)
* #1708 Perf issue

[2020-04-07 13:42] franbuehler commented on #1733
## Decisions

### PRs
* #1707 - @lifeforms did not have the time. This issue remains open.
* #1708 - no relevant progress here
* #1710 - @franbuehler will review this PR
* #1717 - @franbuehler did not have the time. This issue remains open.
* #1721 - merged
* #1732 - merged
* #1734 - @franbuehler and @lifeforms will test this rule in production.

### PRs on hold

* #1602 - we will ask @theMiddleBl

[2020-04-07 13:45] #1733 closed, assigned to nobody

[2020-04-07 14:03] Rolandwalraven commented on #1598
With the alternative regex from @spartantri i saw a FP today.

`[data "Matched Data: having-head-for-oneblade-pro-trimmer-422203626171-qp210- found within ARGS:url: /philips-shaving-head-for-oneblade-pro-trimmer-422203626171-qp210-50"]`

[2020-04-11 13:30] manuelroccon opened #1736 "NextCloud False Positive"
### Type of Issue

False positive

### Description

I've just configured rules. Last version of Nextcloud give me this errors.

### Audit Logs / Triggered Rule Numbers

--4693d56e-A--
[11/Apr/2020:16:00:06 +0300] XpG-VqTsDq4eM7zXEJkhRwAAAEs 123.123.123.123 53284 123.123.123.123 443
--4693d56e-B--
PROPFIND /remote.php/dav/files/user/ HTTP/1.1
Host: nextcloud.domanin.it
Depth: 0
Authorization: Basic

[2020-04-11 13:36] manuelroccon opened #1737 "WordPress JetPack False Positive"
### Type of Issue

False positive

### Description

Issue with Wordpress JetPack plugin

### Audit Logs / Triggered Rule Numbers

--a8dd7334-A--
[11/Apr/2020:15:19:23 +0300] XpG1y2B9vAtGdcg7i3j4AAAAEE 192.0.101.214 1088 123.123.123.123 443
--a8dd7334-B--
POST /?for=jetpack&jetpack=comms&token=&timestamp=&nonce=&body-hash=&signature=%3D HTTP/1.1
Host: www.domain.com
User-Agent: Jetpack by WordPress

[2020-04-12 16:25] NullIsNot0 commented on #1645
I have spent few days trying to figure out why `t:urlDecodeUni` did not convert latvian or russian characters to their "simplified" version. For example `ļ` to get converted to `l`. My main setup is Docker container which uses Ubuntu 18.04 as base image, but have managed to set up also Alpine Linux and Debian (from https://github.com/CRS-support/modsecurity-docker) with the same dissatisfying resu

[2020-04-14 07:04] theseion commented on #1645
Thanks for that detailed report. My gut tells me that this is probably a separate issue. As I've described above, rule 941310 is there to guard against exploiting an encoding mismatch. I think (without having really looked at it) that what your change does is it modifies the bytes in the request (into Unicode) so that the rule no longer matches. That, however, only goes for the rule. The attack wo

[2020-04-14 09:04] NullIsNot0 commented on #1645
My intension is not to skip this rule with real attempt to exploit site with `¼script¾alert(¢XSS¢)¼/script¾`, but to reduce false positives on it. Othervise I have to completely disable this rule for most sites with input forms. Because sequence of `ļ` then `ž` are quite common in latvian language. For example `ļoti žēl` - whiche means "so sorry". I can also find similar phrases in russian which t

[2020-04-14 09:28] theseion commented on #1645
Firstly, yes, Unicode characters are a known problem for the CRS in general. Secondly, we need to fix rule 941310 in such a way that it only triggers when it matters, e.g. when coupled with `script`.

I think you should open a separate issue for your suggestion to use `t:utf8toUnicode`.

[2020-04-15 00:02] #1495 closed, assigned to lifeforms

[2020-04-16 02:01] FuZZie-PoP commented on #1154
Having some issues getting the 2 rule exclusions to work in phpbb ver 3.3 still locked out ACP
I've read trough the tutorial and set requests 10000 and panic 1. I'm not sure what I'm looking for in the logs?
Message: Warning. Pattern match "(?i)(?:\\x5c|(?:%(?:c(?:0%(?:[2aq]f|5c|9v)|1%(?:[19p]c|8s|af))|2(?:5(?:c(?:0%25af|1%259c)|2f|5c)|%46|f)|(?:($
Message: Warning. Pattern match "(?:^|[\\/])\\.\\

[2020-04-18 00:02] #1640 closed, assigned to nobody

[2020-04-18 00:02] #1280 closed, assigned to nobody

[2020-04-18 00:02] #1597 closed, assigned to nobody

[2020-04-19 02:21] fzipi commented on #1280
I guess we still want to do something about this.

[2020-04-19 21:39] fzipi commented on #268
@WHK102 Sorry to tell you I was testing a migration and the repo you commented isn't operational.

I'm pasting your comments here!

Hello, sorry for the delay. I speak Spanish, if someone speaks the language it would be more fluent to explain the situation, I use the google translator.

Apache httpd uses a defined format to create logs and these are respected by multiple event correlation systems

[2020-04-20 16:01] mirkodziadzka-avi opened #1741 "Rule 920450 and modsec 3x"
Regarding https://github.com/SpiderLabs/ModSecurity/issues/2296

We detected this, because rule 920450 is setting `setvar:'tx.header_name_%{tx.0}=/%{tx.0}/'` but accessing it via `SecRule TX:/^HEADER_NAME_/`

I think since modsec 3x seems to be (wrongly) case sensitive on regex, rule 920450 could be changed as

[code]

Note that I did not test the new rule, but this case difference is a problem wi

[2020-04-22 12:35] airween commented on #1741
Hi @mirkodziadzka-avi, thanks for the report. Yes, this is an "old" and "know" problem, and guess you saw the PR for modsec 3x :).

I'll review the whole rule set for all occurrence of `TX:UPPER_CASE_VARIABLES`, and make a PR for this issue - or feel free to make it.

Anyway (just for the sake of completeness), there is an another way to fix (but I'm sure your suggestion is more elegant and clear

[2020-04-22 21:16] airween commented on #1741
First, there is a new [PR](https://github.com/SpiderLabs/ModSecurity/pull/2297) which fixes this bug.

I did some research on how we use the TX variables in `SecRule`'s.

There are 3 rule, where the variable contains a regex:

**920450**: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/cf57fd53de06b87b90d2cc5d61d602df81b2dd70/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L1133-L1134

**9211

[2020-04-23 09:32] #1728 closed, assigned to nobody

[2020-04-23 20:29] jbtule commented on #1468
Same

My rando false positive was some url safe base64 data (excerpt `oTIScWqgwDjKvA0UKbB1WV6pg_URyHwagG9u3`) in an hidden input used for cross site request forgery detection.

So I think you should open this issue back up.

[2020-04-25 15:17] franbuehler commented on #1609
The rule 921130 is a `msg:'HTTP Response Splitting Attack'` rule.
I think the regex does exactly what it should do: to detect an html `<html` or a request line `http/1.1` in one of the targets `REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES|ARGS_NAMES|ARGS|XML:/*`

Rule: https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.3/dev/rules/REQUEST-921-PROTOCOL-ATTACK.conf#L88

So

[2020-04-25 15:31] Taiki-San commented on #1609
Hey! Thanks for spending time looking into this issue.
We had extreme level of false positives on this one, because this pattern runs on `ARGS`. Many of our users have applications processing HTML blobs, and this rule will trigger on a large percentage of their requests making it useless.
Moreover, although I understand the role of `http/1.1` in an HTTP splitting attack, I don't really get why `<h

[2020-04-27 18:50] a-zb opened #1747 "Password Scrubbing within the libinjection rule"
Describe the bug

Sanitization of passwords does not seem to work. Password is recorded
in audit log when caught by owasp CRS 3.2 libinjection rule.

Libinjection CRS rule has an output format that outputs the VAR name and values, and mod_sec module does not sanitize it, please see this log output. The rule can be triggered by putting in a character sequence of !@# within the password. How do we p

[2020-04-27 19:07] dune73 commented on #1747
I feel your pain @arekzb, but this is unfortunately a ModSecurity limitation and nothing we can control.

Likewise: It's also in your error-log.

[2020-04-27 19:07] #1747 closed, assigned to nobody

[2020-04-28 09:03] mirkodziadzka-avi commented on #1741
Yes. But for normal access TX:foo and TX:FOO was always be the same (case insensitive). And modsec did not change the behaviour. As far as I know this is true for all collections. And I can see a reason why this is (was?) a good thing to do.

I can also find a reason why regexes should be case sensitive by default. Although I do not know if the change between modsec 2 and 3 is on purpose or by acc

[2020-04-28 10:09] airween commented on #1741
sure, that's no problem, it works as well.

I just found a short text about this behavior in [documentation](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-(v2.x)#setvar):

_Variable names are case-insensitive._

So because it doesn't matter the variable is with lower or uppercase, if the rule references that with a regex, there also no matter - I assume this is an accident.

You'

[2020-04-29 00:02] #1648 closed, assigned to nobody

[2020-04-29 09:24] frankyhun commented on #1729
As the cookie arrives at libinjection it is reformatted as:

REQUEST_COOKIES:AWSALBCORS: PWOhL14py8Wi FMWQxerjk4XFirhKd457flcD 95U90WpVH1VOdwKE/HeJ 3Mjfd4Tt861Hh vY7cEYSPJ0I1xs 3XaXNZtlpTFCDCJd7psj/K7Hbb T THELV3ISsCQ1is4wS4m ...

So the + sign is replaced with spaces.

Libinjection xss detects **Ong1VE1igIhX7bSV9ylSA==** as _black attribute_ in the method is_black_attr, because it's length is >=

[2020-04-29 11:48] franbuehler opened #1749 "Monthly Chat Agenda May (2020-05-04)"
This is the Agenda for the Monthly CRS Chat.

The chat is going to happen on https://owasp.slack.com in the channel #coreruleset on Monday, May 4, at 20:30 CET.

## Items on the Agenda:

Previous Meetings decisions: [here](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1733#issuecomment-610394063)

### PRs

* #1707 New ldap injection rule 921200 (fixes issue #276)
* #1708 Perf issue wi

[2020-04-29 14:26] frankyhun commented on #1729
Looks like exactly this change should have fixed this issue:
https://github.com/client9/libinjection/pull/118/commits/ceb2895a3afe42f216cc0ba9457030f6c86310a0

[2020-04-29 14:34] frankyhun commented on #1729
Is the libinjection project abandoned?
If the request https://github.com/client9/libinjection/pull/143 would me merged, the issue would be solved.

[2020-04-29 15:02] frankyhun commented on #1729
@zimmerle, @martinhsv: looks like you have to maintain libinjection by your own

[2020-04-30 19:41] jeremyjpj0916 commented on #1711
@dune73 another one strikes again!

[code]

Not sure what a nok1o is but it reminds me of the word Tokyo for some reason.

[2020-05-01 00:02] #1154 closed, assigned to nobody

[2020-05-04 10:14] owingruters opened #1751 "rule 920300 title / details mismatch"
I have a lot of positives for rule 920300 'Request Missing an Accept Header'.
The details are : 'Warning. Match of \\'pm AppleWebKit Android\\' against \\'REQUEST_HEADERS:User-Agent\\' required. '

The title of the rule and the details do not match. The first is about Accept-header, the latter about the User-agent header. 2 completely different things.

Also the user-agent 'pm AppleWebKit Android'

[2020-05-04 18:38] dune73 commented on #1749
## Decisions

### PRs
* #1707 merge
* #1708 @airween und Mirko will work on this PR and see it or a new PR getting merged during May
* #1710 merge
* #1734 merge
* #1735 merge
* #1738 merge
* #1739 merge
* #1740 stalled until #1748 is merged. Then @franbuehler needs somebody to talk this through.
* #1742 merge
* #1743 merge
* #1744 Assigning @franbuehler to review and investigat the use of ENV vari

[2020-05-04 19:35] #650 closed, assigned to airween

[2020-05-04 21:51] fzipi commented on #1736
Hi @manuelroccon. Did you enable NextCloud exclusion rules in rule `id:900130` in `crs-setup.conf`?

[2020-05-05 07:28] #1722 closed, assigned to franbuehler

[2020-05-05 07:31] #1741 closed, assigned to nobody

[2020-05-05 08:52] franbuehler opened #1752 "Note config change of tx.allowed_request_content_type in the v3.3 release notes"
I am opening this issue so that we don't forget to mention the config change of the variable tx.allowed_request_content_type from PR #1748 in the v3.3 release notes.

According to the monthly chat meeting on May 4: https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/1749#issuecomment-623634756.

[2020-05-05 08:53] #1749 closed, assigned to nobody

[2020-05-05 12:40] dune73 commented on #1751
Thank yor for reporting @owingruters. This rule is a troubling one, but you are facing a mis-understanding.

`pm AppleWebKit Android` is a parallel match of the two keywords AppleWebKit and/or Android.

The full rule syntax is: Trigger an alert if no Accept Header unless it's an OPTIONS request coming from AppleWebKit or Android.

Now the trouble: ModSecurity only reports the last rule match. This

[2020-05-05 12:40] #1751 closed, assigned to dune73

[2020-05-05 12:50] dune73 commented on #276
A long story comes to an end. We merged the fix for this with PR #1707.

Thank you for your contribution @dnkolegov.

[2020-05-05 12:50] #276 closed

[2020-05-09 04:47] randyoo opened #1754 "false positive on rule 932110"
Not running Windows anyway, so I've already taken the opportunity to disable this rule entirely. Still, figured it was worth reporting an "out-of-the-box" false positive, as per the documentation in crs-setup.conf.

It looks like the word "Call" on a new line (following "\\x0a") is triggering the rule. Relevant portion of audit logs follow.

### Audit Logs / Triggered Rule Numbers

[code]

### You

[2020-05-10 11:31] fzipi commented on #1736
@manuelroccon Any comments so we can figure this out?

[2020-05-10 11:55] manuelroccon commented on #1736
I use secremovebyid in apache vhost configuration. This is right method to fix this issue?

[2020-05-10 12:29] fzipi commented on #1736
Depends.

You need to first enable the exclusion rules for NextCloud. Can you please check the file `crs-setup.conf`, and search for `900130`?

Then you need to have something like this:
[code]

That will effectively enable the exclusions we have for NextCloud. Without that, the rules to prevent this are not enabled!

[2020-05-10 16:19] fzipi commented on #1736
@manuelroccon Can you check this please? :point_up:

[2020-05-10 16:58] manuelroccon commented on #1736
ok, this exclusion rules not enabled in crs-setup.conf.
But if i've more vhosts in my server with different CMS, can I put this exclusion directive only in vhost configuration that running Nextcloud?

[2020-05-10 17:13] fzipi commented on #1736
@manuelroccon You can also do this:
[code]
Give a quick look at the whole `crs-setup.conf` file to get a taste what you can do.

[2020-05-10 18:16] Ziris85 opened #1755 "Incompatible with ModSecurity 3.x?"
### Describe the bug

Forgive me if this is either a question that's already been asked, or has an obvious answer, but I've not been able to find one if so. It doesn't appear that any of these rules are compatible with ModSecurity 3.x:
[code]
### Steps to reproduce

I just compiled and installed libmodsecurity v3.0.4, then did the same for the ModSecurity-Apache connector (v0.1.1-beta). I then dow

[2020-05-10 18:33] manuelroccon commented on #1736
@fzipi thank for your support,

The crs-setup.conf are default, i've not modify it of master brench.

I've read this recommendation about **REQUEST_URI "@beginsWith /wordpress/"** in crs-setup.conf, but REQUEST_URI of vhosts not start with specific pattern.
All vhosts are separate domain. If i make this exclusion in crs-setup.conf is applied to all sites inside server.

So I think i must put this

[2020-05-10 18:36] airween commented on #1755
As you can see in the connector version, this is a **beta** software. Nobody recommends to use it, please **don't do that**.

If you want to test it, please read the [README](https://github.com/SpiderLabs/ModSecurity-apache/) of connector. There you can find the relevant keywords what you can use for module.

An example:
[code]
and put the lines from your module config into `modsecurity_includes.c

[2020-05-10 18:36] #1755 closed, assigned to nobody

[2020-05-11 11:35] fzipi commented on #1736
Hi @manuelroccon,

Hmmm.. :thinking: you will definitely need to apply this to a particular url/vhost. One technique I normally use in these cases is to use the `SecWebAppId` directive.

For example (you may need to modify it a bit, it is just a rough idea),
[code]

Please check the [documentation](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29#SecWebAppId) for more exa

[2020-05-11 11:55] morko opened #1756 "False positive with WordPress when hosted from http://example.com/update-prefix"
### Description

Rule **942360** gets triggered when WordPress site is hosted from url like `http://example.com/update-prefix` and doing stuff in wp-admin area (navigating to `http://example.com/update-prefix/wp-admin`.

I fixed this by adding following exclusion rule:

[code]

### Audit Logs / Triggered Rule Numbers

Message: Warning. Pattern match "(?i:(?:^[\\W\\d]+\\s*?(?:alter\\s*(?:a(?:(?:ppl

[2020-05-11 12:13] morko commented on #1756
This also happens at least WordPress wants to update the database making a request with `/wp-admin/upgrade.php?step=1&backto=%2Fupdate-prefix%2Fwp-admin%2F` so I also removed `backto`.

[code]

[2020-05-12 10:17] Taiki-San commented on #1518
Hey! Sorry for arriving late to the party but this change introduced many false positives to the rule.
I'm seeing many of our users with patterns similar to `http://url?query=../img/social_icons.png`.
Although that could be construed as a LFI vulnerability, this case is a false positive.

We had already forked the rule to run on ARGS at a lower confidence level but with this change, the main rule

[2020-05-12 10:22] azurit commented on #1518
@Taiki-San Hi, how this change could introduced new FPs? Before, it was matching the whole REQUEST_BODY (including ARGS) and now it is matching only ARGS.

[2020-05-12 11:51] Taiki-San commented on #1518
@azurit `REQUEST_BODY` is a subset of `ARGS`, at least according to the [reference](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual-%28v2.x%29).
`REQUEST_BODY` only contains the POST payload, while `ARGS` also include the query string. Our false positives are on parameters coming from query strings.

[2020-05-12 13:53] azurit commented on #1518
Ok, i see. In this case, it should be set to ARGS_POST instead of ARGS to keep backward compatibility.