[2017-03-28 11:18] dune73 commented on #718
Thank you for this detailed analysis. An exemplary example of a very good bug report. We'll look into improving this along your suggestions.

[2017-03-28 21:23] csanders-git opened #719 "Missing transformation?"
@csjperon brought this issue up... it seems like it might be missing a needed transform

[code]
utftounicode outputs %uXXXX encoding - do we want to use utftounicode transformation here?

I think in fact this is a major oversight? Thoughts @dune73 @zimmerle

[2017-03-29 08:01] dune73 commented on #719
Yes, this seems to be an omission.

Did you guys check what `t:utf8tounicode` does to unicode strings?

E.g, what is the result if `t:utf8tounicode` is applied to `%uXXXX`. Do we run the risk of obfuscating attacking payloads?

[2017-03-29 17:30] fgsch commented on #719
It should pass the string as-is since it's valid ascii.

[2017-03-29 17:47] dune73 commented on #719
True. I tested this and can confirm. UTF8 with `%uXXXX` is not being affected by `utf8tounicode`.

[2017-03-29 19:30] franbuehler commented on #675
What do you think about explicitly listing the event handlers?
It's a finite number of commands:

[code]

Or the same after running through a regexp optimizer:
`on(?:pointer(?:(?:lea|mo)ve|o(?:ver|ut)|cancel|enter|down|up)|s(?:(?:elec(?:tstar)?|ubmi)t|croll)|c(?:l(?:ick|ose)|ontextmenu|hange)|mouse(?:o(?:ver|ut)|down|move|up)|touch(?:cancel|start|move)|key(?:press|down|up)|(?:abor|inpu)t|(?:erro|b

[2017-03-29 19:49] dune73 commented on #675
So the idea would be to replace the `on\w+` in the regex with the pattern you suggest, @franbuehler?

[2017-03-29 20:02] franbuehler commented on #675
Yes:

[code]

[2017-03-29 20:31] dune73 commented on #675
Looks good.

@jhaar and @vishaalgc: Could you give this a shot and test it?

@franbuehler: When doing a PR eventually, I suggest you also update the documentation with the full list of events you are covering the source of the list.

[2017-03-30 08:09] Krupa9 opened #720 "Issue with SQL Injection rule -REQUEST-42-APPLICATION-ATTACK-SQLI.conf"
SQL Injection rule -REQUEST-42-APPLICATION-ATTACK-SQLI.conf, where is throwing  "Matched Data: rlike found within XML: Warning but rlike is a part of the Substring in the XML
Ex
<avfrlikett vix>
We are using oracle db and we also want to chceck how to avoid these things

[2017-03-30 08:33] dune73 commented on #720
Thank you for reporting.

Could you provide the full log and ideally an example payload so we can reproduce this bug?

[2017-03-30 09:34] Krupa9 commented on #720
Thanks for the response
I cannot share the production data. Creating the test data similar to live data. will share shortly

Regards
Krupa

[2017-03-30 09:42] dune73 commented on #720
Makes sense. Please do.

[2017-03-30 09:45] Krupa9 commented on #720
Thank you

[2017-03-30 11:59] Krupa9 commented on #720
Attaching the test data where 981319 rule id isgiving the warning rlike found within XML

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<ns2:Request1 xmlns:ns3="http://www.ws.abc.org.uk/ns/XXX" xmlns:ns2="http://www.ws.abc.org.uk/ns/XXXX" xmlns:ns10="http://www.ws.abc.org.uk/ns/XXX" xmlns:ns8="http://www.ws.abc.org.uk/ns/XXX" xmlns:ns5="http://www.ws.abc.org.uk/ns/XXXX" xmlns:ns6="http:/

[2017-03-30 12:14] dune73 commented on #720
Thank you. Could you please edit your text and put the file in

```triple single-backquotes like this```

The way it is now, your file is somewhat distorted. Pastebin might also help.

[2017-03-30 13:11] Krupa9 commented on #720
Attching it
[testdata.docx](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/882384/testdata.docx)

[2017-03-31 20:58] dune73 commented on #720
Thanks.

I confirm the false positive on PL2 rule 942120:

[code]

This is complex data and the rule in question is a paranoia level 2 rule. We are not generally weeding out false positives on paranoia level 2. You should write a rule exclusion yourself.

The tutorial at https://www.netnea.com/cms/apache-tutorial-8_handling-false-positives-modsecurity-core-rule-set/ can teach you how.

[2017-03-31 20:58] #720 closed, assigned to nobody

[2017-04-03 01:09] jhaar commented on #675
The new rule made the problem go away for me.

[2017-04-03 06:33] dune73 commented on #663
#717 solving this issue by removing the referer check from PL1 and adding it in a separate rule in PL2 has been merged. Closing this.

[2017-04-03 06:33] #663 closed, assigned to nobody

[2017-04-03 08:58] Krupa9 commented on #720
Thanks

[2017-04-03 15:32] victorhora commented on #703
Looks good to me.

As a side note, looks like even the current public recommended base configuration of ModSecurity should automatically reject requests with invalid multipart quoting which seems to be the case for the current payloads in the wild which uses the Content-Disposition approach. So this should be easily blocked even on PL1.

[2017-04-03 17:09] lifeforms commented on #704
CRS configuration used to contain the switches `tx.allow_html` and `tx.allowed_html_urls`.

If `tx.allow_html` was set, and the URL matched `tx.allowed_html_urls`, then XSS rules were skipped, allowing a user to post HTML.

If I remember correctly (though I cannot find my notes), we discussed that this feature was duplicate, since it is possible to selectively disable the XSS checks much more prec

[2017-04-03 18:11] dune73 commented on #704
Good you remember all this, @lifeforms. It is all lost on me.

As the situation is, we have a broken functionality / rule in a stable release and we need to fix it. The most simple fix seems to be to reintroduce `tx.allow_html` for 3.0.1. But instead of shifting it to PL2/3 for 3.1 as proposed above, we better remove the functionality as you explain.

If we remove the chained check for `tx.allow_h

[2017-04-03 18:17] dune73 commented on #703
Thanks.

There is an issue with the quoting, though. There are a few languages that have a habit of using single quotes in filenames. This immediately results in a block in the base config. We excluded all these rules from the CRS and therefore got rid of this problem in our narrow context. But for the users, it's still a major nuisance.

[2017-04-03 18:24] lifeforms commented on #704
If we remove the chained check, it means we will re-enable the rule 941150. (Rule 941150 is now unfortunately never firing in 3.0 since commit 79d3011, due to `TX:ALLOW_HTML` never being set.)

Do you mean that it's undesirable that the re-enabling rule 941150 could introduce additional false positives? That's true. In fact it might be a very good policy for us to never introduce new types of bloc

[2017-04-03 19:14] lifeforms commented on #675
For 3.0.1 we revert to just checking letters e.g. `on[a-zA-Z]+`, which will most likely suppress all the base64 related FPs for this rule.

If FP still remains a problem we can use a blacklist and move the original `onxxx` rule to PL2.

[2017-04-03 19:20] lifeforms commented on #671
Going to take a look at this next week.

[2017-04-03 19:26] lifeforms commented on #660
Closing this issue since it's been inactive for some time. @tomsommer if you still have some FP data that you want to share with us, we will be delighted to look at it. It could be quite a bit of a project, but it would be very useful to the community.

[2017-04-03 19:26] #660 closed, assigned to nobody

[2017-04-03 19:26] lifeforms commented on #675
@franbuehler is going to take a stab at a PR for this. :)

[2017-04-03 19:35] lifeforms commented on #244
This issue will be fixed in 3.0.1. Thanks for reporting @xformerfhs!

More discussion is in #675 where another user reported the same problem.

[2017-04-03 19:35] #244 closed

[2017-04-03 20:53] csanders-git commented on #703
@dune73 I think i'm correct in assuming that this would violate the bugfix condition and should be shelved till 3.1? I have some other ideas anyway on topics like this :)

[2017-04-04 03:33] dune73 commented on #703
Thinking of a "point release should not introduce new rules possibly generating FPs" was my thought when tagging for 3.1.

[2017-04-04 03:45] dune73 commented on #704
Yes, I am quite sure a default-on 941150 brings too many FPs at PL1, so that's a no-go for 3.0.1.

But keeping an obviously broken rule around is hard to swallow. Re-introducing `tx.allow_html` would solve this for 3.0.1, but I agree it would also be a step back.

We could mark `tx.allow_html` in the crs-setup.conf as a temporary fix.

[2017-04-04 06:23] dune73 commented on #719
Assigning this to @csanders-git as per last night's chat session.

[2017-04-04 17:00] maravento opened #722 "missing master.zip"
OWASP setup for Ubuntu 16.04
before:
	wget https://github.com/SpiderLabs/owasp-modsecurity-crs/archive/master.zip
	unzip master.zip
	sudo cp -fr owasp-modsecurity-crs-master/* /etc/modsecurity/
	sudo mv /etc/modsecurity/modsecurity_crs_10_setup.conf.example /etc/modsecurity/modsecurity_crs_10_setup.conf
	sudo ls /etc/modsecurity/base_rules | xargs -I {} sudo ln -s /etc/modsecurity/base_rules/{} /e

[2017-04-04 19:33] dune73 commented on #722
Thank you for reporting.

I do not understand your problem. Where did you find the outdated information? Where do we have to change something. Please be explicit.

[2017-04-04 20:18] maravento commented on #722
The first information is obsolete. So I ask for the second, which is in the INSTALL file.
PD: You change the installation method very often and that does not provide stability

[2017-04-04 20:18] #722 closed, assigned to nobody

[2017-04-05 03:10] dune73 commented on #722
Sorry for changing the install procedure. It was necessary for this major release. We hope to stick to this one now.

[2017-04-05 11:50] dune73 commented on #704
OK, this broken rule has just bitten me in the soft parts.

The problem is the setvars happen on the first rule, while the allow stuff is only checked in the chained rule. This results in a situation where anomaly score is raised, but no alert is written since the chained rule fails and log/auditlog is thus never triggered.

Consequently, I ended up with blocked requests on a production server wit

[2017-04-05 15:14] lifeforms commented on #704
So the rule was active? That's great, then we are not raising FP by removing the chain right? :)

[2017-04-05 15:20] dune73 commented on #704
Haha. Are you trying to weasel out of this?

In fact yes, it is sort of active, but you do not notice it is active as it does not show up in the audit and the error log. it is only showing when you have a well-tuned system and still see blocked requests

The test run which turned these up had 1 FP in 35K requests on average on random data (encrypted payload arguments).

It is broken. It has to be

[2017-04-05 15:27] lifeforms commented on #704
Weasel? If I'm correct, a possible argument against my unchanged position (keep the rule without the chain check) was invalidated, since right now the rule *is* already active. So removing the chain check cannot cause additional FP. I might be dense or misunderstanding the other options though.

[2017-04-05 16:01] dune73 commented on #704
Interesting philosophical questions surface here.

Is a rule active if it raises the score, but does not block (it has the `block` action defined) nor write an alert? I would argue that the setvar is active but the rule is only partially active.

Is it a false positive if the score is raised, but no alert message is written? Probably yes.

What will happen if we remove the `tx.allow_html`: FPs tha

[2017-04-07 06:16] CROSP commented on #651
Hi guys, I have the same issue. But I cannot understand what do you mean by `continuation char (')`.
I have the following error

[code]

And it points to the 36 line of the file

[code]

The line 36 is

Could you please tell me how can fix the issue without updating the Apache server.

Thank you.

[2017-04-07 13:09] csanders-git commented on #651
@CROSP on line 36 add a space between the ',' and the '\\' -- That oughtta do it :)

[2017-04-08 07:35] CROSP commented on #651
@csanders-git Thank you so much. Works like a charm !!

[2017-04-08 20:43] lifeforms commented on #680
Discussion and review in PR #725.

[2017-04-08 20:43] #680 closed, assigned to lifeforms

[2017-04-10 15:52] victorhora commented on #718
Hey there @diablodale. Thanks for spotting this.

I just pushed [#cfc95ee](https://github.com/SpiderLabs/owasp-modsecurity-crs/commit/cfc95ee6a22ccd8c61ee19aa5c0f8f15414c7675) to fix this issue with some of your suggestions:

1. stderr is being routed to stdout with "stderr=STDOUT"
2. There's a check for a non-zero exit code to distinguish good/bad output in quiet mode
3. The git pull command is o

[2017-04-12 12:28] dune73 commented on #704
We are a bit at a stalemate here @lifeforms and a stalemate won't get us past 3.0.1.

Do you have any new insight on the issue? I have nothing more to add and I think one of us needs to move to arrive at a solution.

[2017-04-12 12:38] lifeforms commented on #704
Meh, I still really would hate reintroducing a config knob that we removed for a very good reason, and having users spend time looking at this change and their config, with no effect on blocking effectivity, just for the purpose of adding a blocking entry to the log in case this rule matches. Keeping the var check in this rule was a bug. We removed the var check for every other XSS rule. I see no

[2017-04-12 15:03] csanders-git commented on #704
haha, thanks @lifeforms . I think the best approach here is we introduce the 'knob' for 3.0.1 and mark it as a temporary fix for 3.0.x line that will be removed in 3.1

[2017-04-12 15:08] csanders-git opened #730 "Add support for IP in integer form detection for 931100"
http://2130706433 would currently not be caught by 931100

[2017-04-12 16:17] dune73 commented on #730
Holy shit!? That's valid? I did not know this notation existed. What's the official name of this and does it work for IPv6 too?

[2017-04-12 16:33] dune73 commented on #704
Thank you @csanders-git for making a call here.

Still, I thought some more about this and I came to the conclusion that shifting to 941150 for 3.0.1 and removing the chained `tx.allow_html` is a valid solution here. Here is why:
- We have FPs right now, they are just not visible. We remove the FPs from the default install and make them visible with this move. PL2 is arguably the right level for t

[2017-04-12 17:07] csanders-git commented on #730
very much valid, not sure what it's offical name is -- can't seem to find it anywhere but it is a pretty useful trick to obfuscate URLs

[2017-04-12 17:08] dune73 commented on #730
I'm scared.

[2017-04-12 17:11] lifeforms commented on #704
No hard feelings, sorry if I sounded curt, might just be conversation style -- I just had a pretty strong opinion on this one issue, but it's also just a small issue. I am fine deferring to the majority. I like your proposal in your last post.

[2017-04-12 17:12] csanders-git commented on #730
Looks like hex http://0x1F0D4724  and octal also work.. http://0037.0015.0107.0044

[2017-04-12 17:21] emphazer commented on #730
ASCII is also possible

The possibilities are listed here
https://www3.trustwave.com/support/kb/article.aspx?id=10537

This one is good
ht%74p://0%787F0%300001/

[2017-04-13 01:21] fgsch commented on #730
Would this be a transformation to normalise all entries to an ip address or expand the regular expression? I can work on it.

[2017-04-13 03:13] csanders-git commented on #730
A transformation is an interesting idea but wouldn't really work here... I think we'd have to expand the regex.

[2017-04-13 03:26] fgsch commented on #730
The problem with the regex is matching e.g. 2130706433, otherwise it's pretty simple:

`+SecRule ARGS "^(?i)(?:ht|f)tps?:\/\/(\d+\.\d+\.\d+\.\d+|0x[a-z0-9]+)" \`

If you have any ideas I'm happy to look into them.

[2017-04-13 11:54] YbyMMbPh opened #731 "cPanel whm-server-status FP report"
Centos 6.9
cPanel 64.0.12
Modsecurity Version 2.9.0
CRS v3.0/master Default install, all config files included.

1). Cpanel's WHM auto generates requests to /whm-server-status from 127.0.0.1 (triggers rule 920280, non-blocking, log only) Once every 5 minutes.

2). Also accessing WHM=>Server Status=>Apache Status page generates request to /whm-server-status from 127.0.0.1 (triggers rule 920280, non

[2017-04-14 00:02] YbyMMbPh commented on #731
I have just updated the original report after discovering that version 2 had a trailing slash in the REQUEST_FILENAME.
The exclusion rule has also been updated to now match all 3 variations.

[2017-04-14 00:45] YbyMMbPh commented on #731
I have just updated the exclusion rule regex so that the optional forward slash does not become a capture group.

[2017-04-15 04:37] dune73 commented on #704
Please see PR #733.

[2017-04-15 04:38] dune73 commented on #706
We changed the strategy for this. See discussion in #704.

The new resolution means to solves this for 3.0.1. See PR #733.

[2017-04-15 05:22] dune73 opened #734 "Common Exception 905100 is broken"
The rule reads:

[code]

This will never trigger as the protocol is missing and `@streq` is used.

Using `@beginsWith` and adding a space after the slash would fix it, BUT we would activate a common exception that would disable ModSec for GET requests from localhost to /, no matter what user-agent or referer or other funny tricks somebody is trying. So if an attacker manages to send a request from

[2017-04-17 05:39] dune73 commented on #346
The proposed fix by @loudly-soft is part of the PR #735 aiming to be part of CRS 3.0.1.

[2017-04-18 16:33] csanders-git commented on #731
@YbyMMbPh so what is the current exclusion, we can add them to the exclusions section.

[2017-04-18 18:15] emphazer commented on #734
I think that makes sense.
Shall i change my PR for 905100 to
[code]
And comment it out?

[2017-04-18 21:03] nneul opened #736 "Multipart parsing error (init): Multipart: Invalid boundary in C-T (malformed) - being received on a compliant header"
(Refiling here instead of https://github.com/SpiderLabs/ModSecurity/issues/1389 )

Example header in the requests:

Content-Type: multipart/form-data; boundary="x-hx6COixr31cBVcPHyPgwef.gY5tAoL4RbHUpXrTPSUgO9K6IqTafzKBcmTJ.opw9lYit"

Content-Type: multipart/form-data; boundary="Sgt-3Wo5day44dJGZ/0KW/q0FRjE4hVqSxCGvkhnCwKAeuprMel1s0kZvXhe7/s5hrh/Pg"

According to the RFC2616 19.2.2 quotes are valid

[2017-04-18 22:27] YbyMMbPh commented on #731
[code]

[2017-04-19 01:26] csanders-git commented on #736
What browser is generating this content?
Also although you don't list it i'm fairly confident that the rule in question is provided by modsecurity (not CRS), in fact i'm thinking it's specifically https://github.com/SpiderLabs/ModSecurity/blob/master/modsecurity.conf-recommended#L71 .

While I can't speak for all the dev's on the ModSecurity side, it'd like to note that this is the recommended con

[2017-04-19 01:26] #736 closed, assigned to nobody

[2017-04-19 01:27] whuben opened #737 "A regex bug in 941190"
The wrong regex: (?i:<style.*?>.*?((@[i\\\\])|(([:=]|(&#x?0*((58)|(3A)|(61)|(3D));?)).*?([(\\\\]|(&#x?0*((40)|(28)|(92)|(5C));?)))))
there is no ascii with value of  0x92, according to the context， the string "92" should be modified to "29" which point to the character ")"
The corrected regex should be : (?i:<style.*?>.*?((@[i\\\\])|(([:=]|(&#x?0*((58)|(3A)|(61)|(3D));?)).*?([(\\\\]|(&#x?0*((40)|(

[2017-04-19 01:42] csanders-git commented on #737
at first this does appear as a weakness but this regex also collects decimal i think, I'd argue that it needs to be improved to detect all variants in both hex and decimal form. Thoughts?

[code]

[2017-04-19 01:50] whuben commented on #737
that make sense, thank you.

[2017-04-19 01:50] #737 closed, assigned to nobody

[2017-04-19 01:56] nneul commented on #736
It's actually coming from an iOS mobile app running an app using react native. An upstream bug HAS been corrected there where it was adding the quotes due to another bug (inappropriately using slashes in the boundary). The question I have is - why is it it treated as a failure/warning/alert when the spec allows for the quotes in the boundary?

Unfortunately, MS only allows adjusting the 9xx rules,

[2017-04-19 01:58] nneul commented on #736
Some related items:

https://github.com/facebook/react-native/issues/7564

https://github.com/facebook/react-native/pull/11342

https://github.com/vkholodkov/nginx-upload-module/issues/50

[2017-04-19 01:59] nneul commented on #736
Sounds like the view is that it's more like a 'spamminess' setting given that it's uncommon, rather than a 'validity' check. I can accept that.

[2017-04-19 02:20] csanders-git commented on #736
yeah this is exactly it, that is why it's put in the recc config. We have it listed as part of the 'strict' multipart processing, in all cases I know of browsers (desktop) won't generate such queries and therefore it is relatively safe to assume it as a default because it (is supposed to be) can be changed. Odd that MS doesn't give you control over the engine config settings :-X

[2017-04-19 02:24] csanders-git commented on #731
@dune73 thoughts on adding this as our next exclusion category?

[2017-04-19 04:29] dune73 commented on #731
Yes, sure. We did not talk about new exclusion categories in point releases. I think that would / should be possible, but I think it takes some level of assurance of basic coverage to add it.

@lifeforms: What do you think?

[2017-04-19 06:48] dune73 commented on #734
I am torn.

We do not want users to edit the 905 file. Yet commenting something out is an invitation for the user to do just that. An update to the rule set would overwrite that change again.

On the other hand, I think such a far-reaching exception should not be enabled by default. 905110 is already quite risky if you ask me, but 905100 is even worse and maybe it would be better to kick out the r

[2017-04-19 06:58] emphazer commented on #734
@dune73
Im with you. It looks like an invitation.
If we choose to comment it out then we should add a warning comment.

[2017-04-19 15:04] csanders-git commented on #731
I was thinking for 3.1 but you're right we may be able to roll this into point releases.

[2017-04-19 15:27] dune73 commented on #731
As this is technically meant to cover FPs, we're even staying within the limits defined by our release policy. But what is even more important in my eyes is that we want to encourage the wider community to provide these rules and if we tell them to wait until the next major release, that's not very contribution-friendly.

[2017-04-19 16:27] lifeforms commented on #731
A new exclusion category, requiring a config setting, and requiring Nginx/IIS users to modify their included files, would be a bit too much of a big change for a 3.0.1 type release for my personal taste.

However we could also treat it as a more generic case of tools requesting http://127.0.0.1/ (which will surely happen with many more tools) and we might consider not triggering these rules when t

[2017-04-19 16:55] dune73 commented on #731
That apache exclusion is in 905, 905110 to be exact. And there is a thread discussing the problems with the exclusions, namely in the case of 905100. #734.

You have a point with Nginx and IIS, though. Most annoying! Can we do any form of special treatment for these new exclusion categories? I mean we have not even forked 3.1, so we can't even point users to the files in that tree.

[2017-04-19 17:36] emphazer commented on #731
@dune73
Maybe we should focus on removing 920280, 920350 and responsebodyAccess on 905100 instead of disabling the whole engine...
/fpm-status is another good example for php-fpm status.

We are using munin too, thats why we had to remove this rules..

[2017-04-19 18:40] csanders-git commented on #731
An interesting note if we add blanket exceptions for localhost is SSRF is still a viable issue. In most cases though i'd guess that the request outbound won't go through the WAF anyway.
Interesting thinking @dune73 and @emphazer, seems to be the best path for this issue. Additionally, I never thought about the difficulty of adding such exceptions would cause on non Apache (urgh)

[2017-04-20 02:03] YbyMMbPh commented on #731
@csanders-git
SecRule REMOTE_ADDR "@ipMatch 127.0.0.1" and
SecRule TX:REAL_IP"@ipMatch 127.0.0.1"
should NEVER be used as an indicator of trust.

I think the pseudo logic of the exclusion rule in this thread is relevant to the rewrite of rules 905100 and 905110.
Here is the approach I used.

-- Begin with a fast executing request filter so that this rule does not slow requests to which it not rele

[2017-04-20 07:46] YbyMMbPh commented on #734
@dune73
Hold on.
"@streq GET /"
appears to be exactly the string to be matched for this particular exception
See...
https://sourceforge.net/p/mod-security/mailman/message/23030180/ and
https://sourceforge.net/p/mod-security/mailman/message/19132564/
The logs in those conversations show...
--9286586f-B--
GET /

--9286586f-H--
as the request.

In these conversations Server: Apache/2.2.3 is mentioned

[2017-04-20 07:58] dune73 commented on #734
Thanks for pointing this out. Very puzzling. I do not think I have ever seen the "GET /".
Anybody has more experience here?

The change to `@beginsWith GET /<SPACE>` would break this, obviously. Hmm.

[2017-04-21 12:43] edgreenberg commented on #663
In what branch would I find this fix?

[2017-04-21 13:06] dune73 commented on #663
We develop against v3.0/dev at the moment. This will be released as 3.0.1 soon.

[2017-04-23 13:08] lifeforms commented on #671
A fix is in #738 and will be included in CRS 3.0.1 maintenance release. Thanks for submitting the logs!

[2017-04-23 13:08] #671 closed, assigned to lifeforms

[2017-04-23 15:14] lifeforms commented on #197
A fix for this problem has been proposed in #739 and barring any problems it will be included in 3.0.1 release. Better late than never, right? ;) Thanks for submitting the problem!

[2017-04-23 15:14] #197 closed

[2017-04-23 17:12] lifeforms commented on #654
Okay, this turns out to be tricker than I expected.

Naively converting the pm to regexp seems easy enough.

| Item | PM             | Regexp             |
|------|----------------|--------------------|
| 1    | `<?`           | `<\?`  |
| 2    | `<?php`        | `<\?php`           |
| 3    | `?>`           | `\?>`              |
| 4    | `[php] [\php]` | `\[(?:/|\\)?php\]`  |

(Github mangles ite

[2017-04-24 19:36] dune73 commented on #654
Wow. This is impressive stuff and a detailed coverage of the problem.

The closing tag is really cumbersome and if it complicates the regex then maybe we should leave it away - optionally trying to craft a future rule targeting the closing tag at PL3 or so.

Just my 2 cents.

[2017-04-24 21:22] lifeforms commented on #654
Another thought is that my closing tag matching regexp might be vulnerable to regexp DoS because I am tracking necessarily from the start of the payload (because I need to assert that there's no `<?xml` there) - you might overload it by sending a megabyte of crap first.  I wish I knew more about regexp because there might be a better solution...

I think moving the closing tag to a different rule

[2017-04-24 22:54] csanders-git commented on #719
So I did some testing, and some digging here. This rule emerges from a problem that ModSecurity was not able to map full or half width chars (https://www.trustwave.com/Resources/SpiderLabs-Blog/ModSecurity-Rule-for-Full-width/Half-width-Unicode-Evasion-Detection/). It looks as if this was here to explicitly prevent %uxxxx **as a literal string** from being interpreted by IIS before ModSecurity had

[2017-04-25 05:24] dune73 commented on #654
I also thought about ReDos. I do not think you can avoid the megabyte of crap if you try to look at the start and the end of a variable in the same regex.

Creating a new rule at PL3 might introduce new FPs. I think we should postpone this to 3.1 and concentrate on handling the FPs of 933100 here.

[2017-04-25 05:29] dune73 commented on #719
Are you suggesting you would want to remove the rule as it is probably no longer a vulnerability that is affecting a lot of our users?

[2017-04-25 05:30] dune73 commented on #718
Proper PR in #740 that fixes the final issues with this after parts of the fix had been merged directly.

[2017-04-25 08:04] lifeforms commented on #654
Well I might be up for temporarily removing `?>` from rule 933100 in 3.0.1, and reintroduce a specific rule for it (at PL2) in 3.1. Such a new rule would have a new ruleID and could annoy people who have excluded 933100 now, that is true, so it would conflict with our release rules if we do this in 3.0.1. (PS: this is another reason we should introduce specific rule name tags and recommend people

[2017-04-25 08:12] ghost opened #741 "Support for older ModSecurity"
I would like to ask for support for an older version of ModSecurity.

CentOS is a long term supported distro based on RHEL with a 10-year support (end of production is at 2024). The latest ModSecurity version with CentOS 7.3 is mod_security-2.7.3. By requiring ModSecurity 2.8, it means CentOS is left out of CRS version 3.

Please consider supporting modsecurity 2.7.

Thank you.

[2017-04-25 08:17] dune73 commented on #654
I'm all for PL3 as I expect a lot of FPs with the closing tag and out of global rule design perspective. PL3 does not add much over PL2, while PL4 is a big step head. This became apparent in the tests before 3.0 was released. My research with ZHAW confirms this bias in the rules. Moving rules to PL3 takes away FPs from PL2 and gives a reason to run PL3.

I was not aware that you could omit the clo

[2017-04-25 08:27] dune73 commented on #741
You are effectively asking volunteers to continue to support outdated software for another seven years in our spare time and for free. Maybe you should ask RHAT / CentOS to provide you with backported version of CRS3 until 2024.

Effectively, there are only three rules which depend on ModSec 2.8. These are the rules that depend on the new libinjection libarary introduced in 2.8.0 (-> 941100, 94110

[2017-04-25 08:27] #741 closed, assigned to nobody

[2017-04-25 13:16] lifeforms commented on #741
Another option might be to use a separate reverse proxy (layer) where you can run the newest version of ModSecurity, and keep running your web application on the old CentOS.

[2017-04-25 13:23] ghost commented on #741
So all you understood, is that somehow I require volunteers to support "outdated" software for seven years, in their spare time and for free...  wow talk about inferring nonsense out of nowhere. Someone got his panties in a twist :)

[2017-04-25 13:40] dune73 commented on #741
You asked a question and you got a response with advice and an optional solution to your needs within 15 minutes. Yet you continue to complain. ;(

[2017-04-26 02:55] emphazer commented on #654
@lifeforms
nice regex.
i love regex :-)

what do you think about this one instead.
i want to exclude xml only if no ; occurs until end of line.
[code]

but maybe this will lead to a problem with
escaping of characters for different tags and attributes.

[code]

tried something like
[code]

but no success so far

[2017-04-26 17:22] csanders-git commented on #719
this seems to be the case, testing with IIS now.

[2017-04-26 17:28] dune73 commented on #719
You got access to an IIS? Cool.

[2017-04-26 18:05] csanders-git commented on #719
Looks like IIS still supports this type of encoding (IIS 8.0). At least at this point it seems as if we may want to keep that rule as it stands without the transformation.

![image](https://cloud.githubusercontent.com/assets/4632287/25449322/6cfa13ca-2a89-11e7-9643-4331f55d3a2d.png)

[2017-04-26 18:53] dune73 commented on #719
So there is still some stability in this world, after all.

[2017-04-26 18:54] csanders-git commented on #719
Yup, so it seems... currently, with this information in mind, and the lack of FP we have received for this i'd recommend keeping this rule, as is.

[2017-04-27 07:35] dune73 commented on #719
I second that. But I suggest doing a PR to extend the documentation for the rule with the results of the research / thinking you did.

[2017-04-27 14:30] csanders-git commented on #719
@dune73 i'm on it.

[2017-04-27 14:33] dune73 commented on #719
Good plan.

[2017-04-28 19:11] dune73 opened #744 "Out of band communication / external service interaction going undetected at PL4"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* Application did DNS lookups and HTTP requests to a destination posted as payload.
* This will be very hard to detect via "target" parameter

[code]

The dump does not proof the external interaction. Burp does this by checking with burpcollaborator.net

[2017-04-28 19:16] dune73 opened #745 "Reflected XSS possibility going undetected at PL4"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* Reflected XSS: innocent payloads reflected within html tags in the response. It is likely a more aggressive payload would be detected.

[code]

[2017-04-28 19:19] dune73 opened #746 "Open redirect going undetected (PL4)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* Very hard to detect via "target" parameter

[code]

### HTTP Response
[code]

[2017-04-28 19:29] dune73 opened #747 "Reflected XSS including "alert(1)" going undetected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* via JS redirect (-> document.location)
* gt and lt characters plus random strings. This and friends could be an FP

[code]

Alternative payloads:

[code]

[2017-04-28 19:32] dune73 opened #748 "LDAP Injection going undetected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* random string + )( + sn=*

[code]

[2017-04-28 19:35] dune73 opened #749 "Java Exceptions not detected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

[code]

[2017-04-28 19:36] dune73 opened #750 "JDBC (MySQL) Exception not detected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

[code]

[2017-04-28 19:39] dune73 opened #751 "Open Redirection via JS going undetected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

`document.location="..."`
 or
[code]

[code]

[2017-04-28 19:41] dune73 opened #752 "Tomcat Exceptions not detected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

[code]

[2017-04-28 19:42] dune73 opened #753 "Local File Inclusion going undetected (PL3)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* On file content.ini with complete path as part of the payload
* That is going to be very hard to detect

[code]

[2017-04-28 19:45] dune73 opened #754 "SQL Injection going undetected (PL1)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

* Injection into certain prepared fields.
* Undetected error messages on top of it.

[code]

[2017-04-28 19:47] dune73 opened #755 "DOM based JS injections / XSS going undetected (PL1)"
This is a finding discovered via Burp and Wavsep by Damiano Esposito from Zurich University of Applied Sciences and Christian Folini, netnea.com.

[code]

Alternative Payloads
[code]

[2017-04-30 05:38] #718 closed, assigned to victorhora

[2017-04-30 05:39] dune73 commented on #706
Closing this after #733 has been merged.

[2017-04-30 05:39] #706 closed, assigned to dune73

[2017-04-30 05:40] dune73 commented on #704
Closing this after #733 and the final solution for this has been merged.

[2017-04-30 05:40] #704 closed, assigned to dune73

[2017-04-30 05:41] dune73 commented on #675
Closing this after fix in #729 has been merged.

[2017-04-30 05:42] #675 closed, assigned to nobody

[2017-05-01 19:13] lifeforms commented on #654
Discussion in IRC meeting:

- We temporarily drop the `?>` closing-tag detection from 3.0.1 since we've found no way to relieve this FP.
- We will reintroduce `?>` in a separate rule at higher paranoia level in 3.1, since we can't introduce new ruleIDs in 3.0.1 due to our release policy of not creating new FPs.

[2017-05-01 19:19] lifeforms commented on #346
Discussion on IRC: @franbuehler and @lifeforms will do a quick test if DDoS checks are working well, if so will merge for 3.0.1.

[2017-05-01 19:20] lifeforms commented on #346
Closing this in favor of the PR #735, please continue any discussion there! Thanks for the report!

[2017-05-01 19:20] #346 closed

[2017-05-01 20:00] lifeforms opened #759 "update CHANGES file for 3.0.1"

[2017-05-02 10:58] lifeforms opened #761 "SQLi rule 942410 could use word separators"
Got a false positive for `Zomerzangweek (9 t/m 12 jaar)`

`Message: Warning. Pattern match "(?i:(?:(?:s(?:t(?:d(?:dev(_pop|_samp)?)?|r(?:_to_date|cmp))|u(?:b(?:str(?:ing(_index)?)?|(?:dat|tim)e)|m)|e(?:c(?:_to_time|ond)|ssion_user)|ys(?:tem_user|date)|ha(1|2)?|oundex|chema|ig?n|pace|qrt)|i(?:s(null|_(free_lock|ipv4_compat|ipv4_mapped|ipv4|ipv ..." at ARGS:menu-item[-26][menu-item-title]. [file "/e

[2017-05-02 13:28] bjdijk opened #762 "DOS block rule does not expire"
Q1: In REQUEST-912-DOS-PROTECTION.conf, the ip.dos_counter is increased for every request made to a none static resource, As soon as it hits the threshold, ip.dos_burst_counter is set/increased by 1, which expires after ip.dos_burst_time_slice. So when we have a threshold of 100, and over a couple of days we reach 100, ip.dos_burst_counter=1. If PL is set to 1, it will only trigger when the dos_bu

[2017-05-02 13:38] dune73 commented on #762
Q1: This sounds as if the characteristics of your site does not match with the values you set. I suggest to reduce ip.dos_burst_time_slice to expire faster. Or raise the threshold. Or whitelist certain IP addresses, or remove the PL2 rule 912171 altogether.

Q2: No, there is no such rule. But I use such a rule on a private server in combination with fail2ban. The problem with many sites is, that 4

[2017-05-02 15:50] dune73 commented on #759
See PR #763.

[2017-05-02 15:50] #759 closed, assigned to dune73

[2017-05-02 16:00] dune73 commented on #252
We overlooked this FP because it was assigned the 3.1 tag before we decided the next release would be 3.0.1. Bullocks.

[2017-05-02 22:53] secdefender opened #764 "modsecurity rule does not block despite reporting 403 in logs"
please refer the log below. Even though rule matches it does not block the request. Let me know if i am missing anything.

Thanks

--b8246541-A--
[02/May/2017:22:47:47 +0000] WQkMkn8AAAEAAEQeufQAAAAC 192.168.34.199 10787 192.168.34.202 80
--b8246541-B--
GET /index.php?action=&type=view&s=&id=-1%27%20union%20select%200,concat(char(85),char(115),char(101),char(114),char(110),char(97),char(109),char(

[2017-05-03 04:11] dune73 commented on #764
I agree, this is very odd. Yet I doubt it is a CRS problem, more likely an Apache / ModSecurity (configuration) problem. CRS does everything correctly, even ModSec does from what I see. But then Apache does something else.

I suggest you do the following: Write a simple blocking rule and try to reproduce the error. If you can reproduce, then it's definitely not CRS. You can then simplify your conf

[2017-05-03 04:11] #764 closed, assigned to nobody

[2017-05-03 04:12] dune73 commented on #762
Closing this now.

If you still think this is a rule problem and not one of your configuration, then please reopen this issue and provide additional arguments.

[2017-05-03 04:12] #762 closed, assigned to nobody

[2017-05-04 07:12] whuben opened #765 "a regex bug in 942300"
the wrong regex: (?i:(?:\)\s*?when\s*?\d+\s*?then)|(?:[\"'`]\s*?(?:#|--|{))|(?:\/\*!\s?\d+)|(?:ch(?:a)?r\s*?\(\s*?\d)|(?:(?:(n?and|x?x?or|div|like|between|and|not)\s+|\|\||\&\&)\s*?\w+\())
just delete the extra ")"  in the end  of the regex

[2017-05-04 07:49] dune73 commented on #765
Thank you for reporting. This is subtle, but you could be right.

942300 is doing great in production, though. That proofs that PCRE can at least make some sense of it.

[2017-05-04 07:51] dune73 commented on #765
Assigned the new label "Buggy Rule" and hope others will chime in.

[2017-05-04 15:00] csanders-git commented on #765
The regex seems to be working fine, all of the following trigger:
[code]
( https://regex101.com/r/0UUpYx/1 )
That being said... This claims to "msg:'Detects MySQL comments, conditions and ch(a)r injections'". It /*! isn't not MySQL (that's fine) but '#' is and that isn't detected... strange.

[2017-05-05 01:36] whuben commented on #765
(?i:(?:\)\s*?when\s*?\d+\s*?then)|(?:[\"'`]\s*?(?:#|--|{))|(?:\/\*!\s?\d+)|(?:ch(?:a)?r\s*?\(\s*?\d)|(?:(?:(n?and|x?x?or|div|like|between|and|not)\s+|\|\||\&\&)\s*?\w+\())

[2017-05-05 01:40] whuben commented on #765
sorry, my mistake，the regex is fine in the text of rule . but it's interesting that Github escapes the  "(?i:(?:\\)" to  “(?i:(?:)” in the beginning of the regex

[2017-05-05 03:54] dune73 commented on #765
I really decomposed this by hand yesterday and I thought @whuben was correct.

@csanders-git : Do we want to fix the `#`?

[2017-05-08 11:01] dune73 commented on #654
@lifeforms, are you working on this issue? Time is running out...

[2017-05-08 11:03] dune73 commented on #252
This popped up too late for 3.0.1, which is a pity, but we have two other tricky issues and we are too late to put more focus on this finding.

[2017-05-08 19:54] lifeforms opened #766 "Add back PHP close tag detection"
Detection of `?>` sequence is removed from CRS 3.0.1 due to false positives in XML content and modest detection benefits if any, see issue #654. Bring back this detection in a separate rule, but at PL3 instead.

[2017-05-08 20:09] dune73 commented on #766
Sounds good.

[2017-05-08 20:18] lifeforms commented on #654
A PR is in #766. Please discuss there.

[2017-05-08 20:22] #654 closed, assigned to lifeforms

[2017-05-08 20:22] lifeforms commented on #654
@emphazer I like your idea, but we need to work on it more, and time is very short, so I'd like to defer it. You point out a very useful improvement. It's true that if we open up the `<?xml` string, theoretically it's possible that an attacker could construct some interesting undetected attack, *if* the application contains a function or class named `xml`.

For instance, we now have the following

[2017-05-10 18:04] dune73 opened #771 "Debug present code in 3.0.1 release"
During the treatment of #719 some debug code was committed to v3.0/dev in REQUEST-920. It seems this was done without PR and review.

https://github.com/SpiderLabs/owasp-modsecurity-crs/commit/0faf986138a0ab088231a51869e8829ca9bd8be5

This triggers on every request here.

[2017-05-10 21:33] dune73 commented on #771
@lifeforms pointed out that I actually merged this.

https://github.com/SpiderLabs/owasp-modsecurity-crs/commit/c9ba8d8d168759921faea02d53ea5e01bca70c8d

So it seems @csanders-git created this version, then tagged the issue with "PR exists" and I somehow managed to merge this to v3.0/master and when we tested v3.0/dev it did not show up. It was only after the release that it appeared.

[2017-05-10 21:39] dune73 commented on #771
PR in #772.

[2017-05-10 23:09] csanders-git commented on #771
I merged the PR. I can do a 3.0.2 release and mark 3.0.1 as a draft release. Are we ready to do that? Again sorry about this.

[2017-05-10 23:32] csanders-git commented on #765
Looking at this other rules take account for that already.

[2017-05-11 05:05] dune73 commented on #771
No worries. It seems to me you and I collaborated on this mess in a very un-fruitful way. We could never have done this alone. ;(

I am ready for 3.0.2. New formal release procedure at https://github.com/SpiderLabs/owasp-modsecurity-crs/wiki/Release-Procedure

I just got up and will now start the preparations for my talk and then attend the conference. So I am out for the rest of the day.

[2017-05-11 13:58] angeloxx opened #773 "Issue with 3.0.1 (rule id 22)"
Hi, the rule id:22:
`
SecRule REQUEST_URI "(.*)" "msg:'got %{tx.0}',id:22,capture"
`
Blocks any requests if default action is deny. I suppose that is a typo because the id is very low (outside the CRS id range) anche the capture without pass blocks phase:2 if defaultAction is deny.

[2017-05-11 15:29] csanders-git commented on #773
Thank you for this report, this was noticed by several people yesterday and we sincerely apologize for the inconvenience. We will be releasing 3.0.2 today to account for this issue.

[2017-05-12 06:50] dune73 commented on #773
Issue has been reported in #771. Closing this as a copy.

And sorry for the mess with the release. That is really annoying.

[2017-05-12 06:50] #773 closed, assigned to nobody

[2017-05-15 09:03] ljdzxx opened #776 "REQUEST-920-PROTOCOL-ENFORCEMENT.conf question"
when access my page which include css path "/assets/js/layer/skin/layer.css", then catch a warning log as:

---NCoWfjju---H--
ModSecurity: Warning. Matched "Operator `Rx' with parameter `(.*)' against variable `REQUEST_URI' (Value: `/assets/js/layer/skin/layer.css' ) [file "/home/ray/owasp-modsecurity-crs/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf"] [line "451"] [id "22"] [rev ""] [msg "got /asse

[2017-05-15 09:11] dune73 commented on #771
Fixed in release 3.0.2.

[2017-05-15 09:11] #771 closed, assigned to nobody

[2017-05-15 09:12] ljdzxx commented on #776
---F0MTc6q0---A--
[15/May/2017:17:06:47 +0800] 14948392071.000000 172.16.4.185 63551 172.16.4.185 443
---F0MTc6q0---B--
GET /assets/css/public.css HTTP/1.1
Host: www.test-linux.com
Connection: keep-alive
Upgrade-Insecure-Requests: 1
User-Agent: Mozilla/5.0 (Windows NT 6.1; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/56.0.2924.87 Safari/537.36
Cookie: bdshare_firstime=1493776845998; f

[2017-05-15 09:14] franbuehler commented on #776
Thanks for your report.
This is a known issue, see #771 for further details.
Please upgrade to CRS 3.0.2.

[2017-05-15 09:18] #776 closed, assigned to nobody

[2017-05-15 09:49] vikas027 opened #777 "Nginx + modsecurity - Only Warnings in log file"
Hey,  I am noob in configuring ModSecurity. Following [this](https://www.nginx.com/resources/admin-guide/nginx-plus-modsecurity-waf-owasp-crs/) tutorial, I have configured nginx v1.13.0 with ModSecuriy v2.9.1 and OWASP v3.0.2.

It seems to be configured well as I can see warnings for issues in ModSecurity Audit file, but I am not sure how to block threats. I have tried placing below line in `/etc/

[2017-05-15 10:35] dune73 commented on #777
Hi @vikas027, can you check the anomaly thresholds in the crs-setup.conf file? But your additional config line should block immediately, actually. It does sound as if your sourcing of files might be broken somehow. As if only certain files were sourced. Or sourced in the wrong order (?).

[2017-05-15 11:54] vikas027 commented on #777
Thanks @dune73  for the quick reply. Here are my files. Can you pls have a look and point out what I missing out.

[code]

[2017-05-15 11:59] dune73 commented on #777
Does not look too bad. How about the thresholds in crs-setup.conf and what do you have in modsecurity.conf?

[2017-05-15 12:08] vikas027 commented on #777
I have all defaults here. Thanks in advance

[code]

[2017-05-15 12:16] dune73 commented on #777
Very odd. I do not see the bug. (But a few other issues: Better raise the PCRE limits to 100000 or so. The audot log parts should be ordered by alphabeth - a rarely known issue).

Next debugging step: Raise the debug level to 9, issue a request that should be blocked, then submit the complete error log of the request and the debug log passage that belongs to rule if 949110.

Sorry, this is such a

[2017-05-15 12:32] vikas027 commented on #777
No, not a hassle at all. PFB log files.
[modsec_audit.log.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/1001061/modsec_audit.log.txt)
[modsec_debug.log.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/1001062/modsec_debug.log.txt)

Updated `modsecurity.conf`
[modsecurity.conf.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/1001081/modsecurity.conf.txt)

[2017-05-15 12:44] dune73 commented on #777
OK. It looks like a bug. Thank you for your cooperation (and reporting this in the first place). Will be back.

[2017-05-15 13:02] vikas027 commented on #777
Thank you @dune73 . Feel free to update this thread should you need any further info/logs from me.

Cheers.

[2017-05-15 13:15] dune73 commented on #777
OK. Got it. Not a bug. But something I overlooked when I first browsed your config.

The INSTALL file says you need to load the rule files explicitly for Nginx because Nginx does not use alphabetical load order by itself. You used the Apache Include form `*.conf` which resulted in Nginx evaluating the Anomaly Score _before_ your rule triggered. (-> 949 file was loaded before the 942 file).

Load t

[2017-05-15 13:21] vikas027 commented on #777
Cool. Thanks, will try this tomorrow morning.

[2017-05-15 23:05] vikas027 commented on #777
Thanks @dune73, it worked like a charm. This was tricky as nginx official [tutorial](https://www.nginx.com/resources/admin-guide/nginx-plus-modsecurity-waf-owasp-crs/) says to use wildcard (*), may be _nginx-plus_ loads rules in alphabetical order.

[2017-05-15 23:05] #777 closed, assigned to nobody

[2017-05-16 01:46] csanders-git opened #778 "published research claims libinjection issues"
https://medium.com/@d0znpp/how-to-bypass-libinjection-in-many-waf-ngwaf-1e2513453c0f

There is one minor evasion listed ONLY at PL1 (PL2 catches it): ?id=)-sleep(9999

Weird that it calls out modsecurity but CRS, which is the most common rule set doesn't limit itself to libinjection.

[2017-05-16 04:24] dune73 commented on #777
Great to hear it worked for you. Good luck with CRS!

[2017-05-16 04:39] dune73 commented on #778
They generally mix the two projects. This time I think he only means to cover the engine. So he is correct.

A remark to point out CRS goes beyond Libinjection for good reasons would be nice though.

[2017-05-16 11:00] dune73 commented on #778
-> Maybe there is more research coming up:
https://twitter.com/binitamshah/status/863648823373058048

[2017-05-16 11:39] hktalent opened #779 "how auto test CRS"
how auto test CRS

[2017-05-16 12:39] dune73 opened #780 "SQLi bypass at PL3"
Ivan Novikov has been able to bypass our SQLi rules at PL3.

[code]
Passes with score 0 at PL3 and only gets 5 at PL4. Reminds me a bit of #747 where we had an XSS bypass due to a missing transformation. That's probably the direction to fix this too.

[2017-05-16 13:14] dune73 opened #781 "Disallow multipart file uploads at PL4"
Ivan Novikov had the idea to bypass PL4 with a webshell upload:

[code]

I can reproduce the upload request via curl as follows (assuming payload in /tmp/tmp3):

[code]

This relates to #363.

[2017-05-16 13:46] dune73 opened #782 "SQLi bypass at PL4"
Ivan Novikov performed an auth/logic SQLi that bypasses PL4 and works on MySQL assuming column id exists.

[code]

I really like the way he uses only two special chars to pull this of. Bonus points for using only special chars that 920274 allows. Impedance mismatch is such a pain in the ass.

[2017-05-16 16:51] lifeforms commented on #780
This type of injection (unquoted) could be very hard to block because the chances of FP would be very high. You'd also need to chase payloads like `2 or 1` (since `1` would cast to `true`).

I submitted some similar examples to libinjection one time: https://github.com/client9/libinjection/issues/110 Probably the author has been hesitant because of FP detecting these would cause.

And we had a dis

[2017-05-16 18:44] dune73 commented on #780
@client9 got back today with regards to the PL4 bypass. He is eager to attack this.

I also think it's a libinjection and a PL3 issue. I would not try and catch this on PL1 and PL2 - too many FPs.

[2017-05-16 21:48] victorhora commented on #779
Hey @hktalent I'm not sure what you mean by "how auto test CRS" but if you're looking at regression tests they are located here: https://github.com/SpiderLabs/OWASP-CRS-regressions

If this is not what you're looking for, please elaborate a bit more.

[2017-05-17 12:09] dune73 commented on #782
Variant without the column name assumption:

[code]

[2017-05-17 12:10] dune73 commented on #780
@zimmerle confirms they are waiting for a fix in libinjection. This would lead to a new ModSec release with an improved libinjection. We could then leave this for the moment in those hands.

[2017-05-17 12:11] dune73 commented on #782
See #780 for a discussion of upstream fix.

[2017-05-18 01:53] neesinch opened #783 "False Positive on REQUEST-930-APPLICATION-ATTACK-LFI"
Hi,
I am having some trouble in image upload to the server. I am clueless as to what's triggering REQUEST-930-APPLICATION-ATTACK-LFI while uploading images. And surprisingly mod security allows some images whereas block others citing the above rule.

I am unable to understand as to why LFI has to trigger while uploading or POST as well.
Any guidance / help is highly appreciable.

This is my  audit

[2017-05-18 02:53] csanders-git commented on #783
not sure about the first one, couldn't replicate that but it is missing a host header cause it's empty

[2017-05-18 03:10] neesinch commented on #783
@csanders-git I purposely removed the Host: it was showing my public domain. I have attached one of such image causing this issue. Can someone try it on their setup and update?

[2017-05-18 03:11] csanders-git commented on #783
I ran the request given as follows with the provided rule not triggering. The below did not trigger 930110 on my test setup.
![screenshot from 2017-05-17 23-11-30](https://cloud.githubusercontent.com/assets/4632287/26185013/314b2d72-3b56-11e7-9a1c-b80b7e03a7c4.png)

[2017-05-18 03:17] neesinch commented on #783
@csanders-git I am not sure what's causing that failure in your lab setup. As I mentioned some images are not being blocked by this rule where as some are. One such image is uploaded along with the issue. Can you please try that in your lab environment?

[2017-05-18 03:18] csanders-git commented on #783
ahh didn't see the image, thank you -- sorry :)

[2017-05-18 13:26] lifeforms commented on #783
I have an open issue for this false positive: #597

We hope to address it in a future update, but for now, writing a custom whitelist rule is your only option. You could add the following to your configuration to disable this check on your upload endpoint. Note that it might enable LFI injections, but unfortunately more fine grained control is not possible at this point. Edit: I recommend removing

[2017-05-18 13:26] #783 closed, assigned to nobody

[2017-05-18 13:27] lifeforms commented on #597
Another false positive popped up in #783 which underscores that we really should check `ARGS` and not the whole `REQUEST_BODY`.

Edit: if there are good reasons for scanning `REQUEST_BODY`, which may very well be so (and if we lost the institutional knowledge #783 might give us a hint) I think we could move the current rule to paranoia level 2, and introduce a less broad one at level 1.

[2017-05-19 00:39] neesinch commented on #783
@lifeforms thanks for the update, I know with this approach i am opening another hole. but we don;t have any option as of now.

[2017-05-21 15:33] ranvis commented on #734
Hi.
For "internal dummy connection" to HTTPS port, it had been changed on Apache 2.2.24 / 2.4.3.
[code]
modules/ssl/ssl_engine_io.c of https://github.com/apache/httpd/commit/b67aec5ed5fcb8646a4e81f96625877c1345781f / https://github.com/apache/httpd/commit/7cf9ed008a52579b96741a6af95c7177dc1abd6a
[code]
It used to return 400 Bad Request response body without headers because of the protocol HTTP/0.9

[2017-05-21 18:10] client9 commented on #780
`1 or true`  yuck.

 I agree with @lifeforms .  Detection is not the hard part, false positives are.

libinjection will turn this into "1 OR 1" or "1 AND 1", and that *definitely* will have false positives.

For very short SQLi, i actually do recommend regex or direct matching, since it's easier to control if the rule is on or not (vs. libinjection).  Some people will want it, other won't.. and ha

[2017-05-21 18:28] client9 commented on #782
`1 or -id` is definitely better than `1 or true` from #780 but libinjection isn't going to help you here again, as it doesn't understand "id" is special (maybe not a bad idea given that it is so common). :-(

`1 or UTC_DATE--`   this is better...  UTC_DATE is strange one.  It's really a macro.

libinjection will process this one as:

number logical-operator keyword comment.

a false positive might

[2017-05-21 19:05] client9 commented on #778
matching ticket is here:
https://github.com/client9/libinjection/issues/125

[2017-05-21 19:06] client9 commented on #778
that's great you are catching `)-sleep(9999` since libinjection won't like this form.

[2017-05-21 19:23] dune73 commented on #780
Hmm. But libinjection will only catch it, if the complete argument is "1 OR 1" and I doubt that will lead to many FPs. I see "1 OR 1 possibly show up somewhere in the middle of some free text, but rather not on it's on, or am I wrong?

[2017-05-21 19:26] dune73 commented on #782
So this means, you won't be able to detect `"id=1.or-id"`?

[2017-05-21 20:47] client9 commented on #782
re: "id=1.or-id"

hi @dune73  not without a lot of false positives.

[2017-05-22 14:37] umarfarook882 commented on #369
is possible to detect base64 encoded payloads by the following process

At first using regex can we able to detect base64 data, if possible  we can match the base64 data and decode by transformation t:urlDecode,t:base64Decode and chain the process with next rule to match the payload with regex and block it.

Is it possible ? give yours ideas folks :)

[2017-05-22 14:58] csanders-git commented on #369
It isn't possible as far as i'm aware to detect base64 encoded data using modsec (you could detect it statistically perhaps. Instead we might consider adding the base64 encoded varients of things we check for like ../ :)

[2017-05-22 15:04] umarfarook882 commented on #369
so we can't detect any base64 encode payload attack on mod security? How we can prevent it?
If some one trying injection attack i.e using base64 encoded payload on some input field or HTTP headers. Any idea?

[2017-05-22 16:01] csanders-git commented on #369
well the thing about this is that the application logic is written to know that something is base64 encoded. In that sense it is very binary, something is b64 or not and it shouldn't change (often). As a result, per application b64 is easy to deal with. The problem is generalizing this. @lifeforms this might be a good early blog post doing like a LUA based b64 detection script.

[2017-05-23 05:54] deepakxoptimo commented on #569
I am getting below error

"AH00526: Syntax error on line 64 of ..crs/modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf:
Error creating rule: Failed to resolve operator: detectXSS"

I have installed mod security 2.9.1 on apache 2.4.6.Below are the data from apache error log file

 ModSecurity: StatusEngine call: "2.9.1,Apache/2.4.6 (CentOS) Ope,1.4.8/1.4.8,8.32/8.32 2012-11-30,(null),2.

[2017-05-23 06:20] dune73 commented on #569
That's very strange. detectXSS was introduced in 2.8.0, but your installation clearly says you are up to date.

But whatever it is, it is more of a ModSecurity than a CRS problem.

[2017-05-23 06:48] deepakxoptimo commented on #569
Thanks for the reply. But what should I do now. Should I disable the rules where I am getting these kind of issues.

[2017-05-23 06:51] deepakxoptimo opened #785 "Error creating rule: Failed to resolve operator: detectXSS" with mod security version 2.9.1"
I am getting below error

"AH00526: Syntax error on line 64 of ..crs/modsecurity-crs/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf:
Error creating rule: Failed to resolve operator: detectXSS"

I have installed mod security 2.9.1 on apache 2.4.6.Below are the data from apache error log file

ModSecurity: StatusEngine call: "2.9.1,Apache/2.4.6 (CentOS) Ope,1.4.8/1.4.8,8.32/8.32 2012-11-30,(null),2.9

[2017-05-23 07:06] dune73 commented on #785
It's a ModSecurity problem and not a CRS problem. But I honestly can't think of a reason for this error. `detectXSS` has been in ModSec since 2.8.0 and the library providing the operator, libinjection, is part of the ModSec sourcecode. So an unmet dependency is very unlikely.

Other thoughts?

[2017-05-23 11:19] lifeforms commented on #785
I think your ModSecurity is compiled without libinjection support. This is required to run CRS3.

The best thing is to e-mail the ModSecurity mailing list, I think.

[2017-05-23 12:23] edgreenberg opened #786 "false positive on REQUEST-932-APPLICATION-ATTACK-RCE:932110"
Hi, I fired a false positive on rule 932110 for a windows platform command injection.

The cause was a post method payload containing the parameter: MemberNameLast1=Del+Blanca

The 'del' must have fired it.

Since I run linux servers, I can remove the rule, but I wanted to report it for the benefit of windows users.

[2017-05-23 12:36] csanders-git commented on #569
@deepakxoptimo did you compile modsecurity or install it from yum. Just for your info it's triggering https://github.com/SpiderLabs/ModSecurity/blob/v2/master/apache2/re.c#L2417 . This is strange

[2017-05-23 12:38] deepakxoptimo commented on #569
I have used below command to install it

sudo yum --enablerepo=epel install mod_security

[2017-05-23 12:39] dune73 commented on #569
Also see #785.

[2017-05-26 03:40] Hello-Linux opened #787 "operator @validateByteRange config error"
when I set the rule file "/etc/nginx/owasp-modsecurity-crs/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf" ID  about 920270  "SecRule REQUEST_URI|REQUEST_HEADERS|ARGS|ARGS_NAMES "@validateByteRange 0-255" \
  "phase:request,\
   rev:'2',\
   ver:'OWASP_CRS/3.0.0',\
   maturity:'9',\
   accuracy:'9',\
   block,\
   msg:'Invalid character in request (null character)',\
   id:920270,\
   severity:'CRITI

[2017-05-26 08:29] dune73 commented on #787
Hello @Hello-Linux, you are editing the rule file. I would advise against doing so as an eventual rule update will overwrite your changes. It is better to fight false positives with rule exclusions as explained in the CRS tutorials.
I am not sure what is amiss with your re-configuration and the alert, but it points to a ModSecurity problem and not Core Rule Set, as you trying out something that th

[2017-05-26 08:29] #787 closed, assigned to nobody

[2017-05-26 08:33] dune73 commented on #786
Hello Ed, thanks for reporting.

Unfortunately, I can not reproduce the alert; Del+Blance does not trigger anything here. Can you please submit the complete audit log, so we really see what is going on?

[2017-05-26 08:33] #785 closed, assigned to nobody

[2017-05-26 08:34] #779 closed, assigned to nobody

[2017-05-26 09:10] dune73 commented on #782
OK. So we need to come up with a rule of our own.

This is an SQLi exploit in the wild and I do not see a way around this other than issuing a new rule. Given it's in the wild, we should probably include it in the 3.0 release branch. I suggest at PL3 and then after further testing maybe at a lower PL for the 3.1 branch.

Here is my first take for the regex:

`\W+or\W+id`   (obviously to be combine

[2017-05-26 11:29] umarfarook882 commented on #369
@csanders-git hey it's worked as we talk about previously

Its working :)

 i did create a regex to match any  base64 encoding value from user input, if any input data has base64 encoding it will proceed as chain rule process to check whether this  user inputs has any injection  payload  with regex pattern and then it proceed further rules.

Check my [Github Repository](https://github.com/umarfaro

[2017-05-26 11:37] csanders-git commented on #369
It looks like you did just as i suggested which is added base64 encoded variants of specific things.

This isn't actually generically solving the problem. The same could be accomplished by just assuming everything was base64 encoded and decoding it with t:base64decode.

but looks good.

[2017-05-26 11:55] dune73 commented on #369
This brings me back to the topic of one of my favorite ModSec stunts that I have not managed to accomplish.

I would like to take all arguments and then apply a transformation and then check for all arguments if the transformation was applied and if we received a useful output. With this we could easily check if a payload was processed by base64 or some other encoding technique.

[2017-05-26 11:55] umarfarook882 commented on #369
@csanders-git   hey you didn't get what i am saying? If we consider every user inputs as base64 encoded and decode it use  transformation  t:base64decode. it will not work out

**For example**
As your idea we consider as everything as base64
if user input is  `admin' or 1=1#`
try decoding the  `admin' or 1=1#` = nothing
t:base64decode will try to decode this data and it will ` `get nothing after d

[2017-05-26 12:06] csanders-git commented on #369
As i said previously, this is not possible to do generically. You can do things to determine it's NOT base64 - for instance presence of a space or other nonvalid char. You can try and detect the equals sign... this will only work in 2/3's of cases. Otherwise you're left with something like ^[a-zA-Z0-9+\/]+={0,2}$ which matches 'hello' and will create massive false positives.

The other options are

[2017-05-26 12:24] umarfarook882 commented on #369
@csanders-git  i am just working on securing all vulnerable application like OWASP Mutillidae II,Xtreme Vulnerable Web Application (XVWA), SQLi Labs... to  improve  my defense level on web app. I just came across the base64 payloads when i am testing SQLi Labs. so only i am working on improving my defense level against all encoding techniques.

But as far as tested that regex i used for identifyin

[2017-05-26 12:27] csanders-git commented on #369
@umarfarook882 I like what you're doing and i think it's something that will teach you a lot and your feedback is good.

Notice however that this regex is too broad. it triggers on the word test
https://regex101.com/r/2C3O9R/1

[2017-05-26 12:45] umarfarook882 commented on #369
@csanders-git  yes it will detect  `test` as base64 encode but it will not trigger mod security log until it match with upcoming rule as in chain process. so when it move to further rule as chain, but word `test` will not match with regex i used for detecting the something like `' or 1=1#` or `union select` payload. so it will not trigger mod security log.

**For example:**

` SecRule REQUEST_COOK

[2017-05-26 12:51] dune73 commented on #369
Chaining like this makes sense, but you are basically duplicating all the SQLi rules into a base64 twin. This is very undesirable from a performance view point.

But you are basically right, that we miss out on encoded strings very often.

[2017-05-26 13:01] umarfarook882 commented on #369
Finally @dune73 got my point ...that's what i am trying to say :) @csanders-git. yes I agree it will cause issue in performance wise. soon their will be some other  way  to fix the performance issue or detect encoded payloads :) i will work on it and find another way soon .... :) Is possible for me to part of OWASP CRS or like contribution to OWASP CRS. Let me know asap :)

[2017-05-26 13:02] csanders-git commented on #369
@umarfarook882 interesting, with this type of approach might as well just do an  @ unconditionalmatch and then base64decode -- might as well not boot up the regex engine i think

[2017-05-26 13:22] dune73 commented on #369
@csanders-git : I did not get your latest point. Could you elaborate please?

@umarfarook882 : We welcome contributions and merge them regularly after review. Regular contributors get to be part of the project eventually. This usually takes a couple of months.

[2017-05-26 13:33] csanders-git commented on #369
@dune73 if the point of the rule is that the underlying logic is going to be detecting it after a base64decode,  then booting up the entire regex engine is excessive, it is just doing a small sort which will almost always come back as true. Rather than doing that if the approach is to be more performant it should just always match, decode and then check for maliciousness in a chain.

[2017-05-26 13:57] dune73 commented on #369
Oh, I see. Smart. But how do you carry the variable between the first and the 2nd rule in the chain? MATCHED_VAR will be gone the moment you hit the 2nd rule, won't it?

[2017-05-26 14:00] csanders-git commented on #369
@dune73 I imagine it would have about the same efficiency as capture (using setvar that is)

[2017-05-26 14:07] dune73 commented on #369
Setvar brings the alleged performance bottlenecks of opening too many variables that zimmerle claims. I am really not sure you can construct this the way you want and the variables with the right decoding end up in the right position for the 2nd rule. But I am very interested to see an example.

[2017-05-26 14:11] csanders-git commented on #369
@dune73 you are correct, you must use a var but atleast you don't have to boot up the regex engine. I think the alternative is to start building base64 versions of strings into existing rules but this is a DEEP rabbit hole

[2017-05-26 14:13] umarfarook882 commented on #369
@dune73 `Oh, I see. Smart. But how do you carry the variable between the first and the 2nd rule in the chain? MATCHED_VAR will be gone the moment you hit the 2nd rule, won't it?`

Yes matched _var will gone for next rule. But I am using base64 detection regex in every rule as base to detect and then move further as chain to check respective rule payload regex. :)

[2017-05-26 15:56] Hello-Linux commented on #787
@dune73  I agree with you,but I want to know when I change the ASCII  about "@validatebyterange 0-255" ,Why again this mistake "
messages": [
{
"message": "Invalid character in request (null character)",
"details": {
"match": "Matched "Operator ValidadeByteRange' with parameter0-255' against variable "

[2017-05-26 16:03] dune73 commented on #369
I think I have an idea: How about we run basic decodings like base64decode early in phase 2 and if we have a result worth checking (base64decode successful), then we create a variable like `TX.args_decoded_<decode_type>_<argname>`. Then we include `TX:/args_decoded.*/` in all the rules where these evasions matter. This frees us from the burden to copy all the rules and run them saperately for orig

[2017-05-26 16:13] csanders-git commented on #369
yeah, this isn't a bad idea probably the most efficient use... now the question becomes what is the best way to limit false positives?

[2017-05-26 16:14] umarfarook882 commented on #369
@dune73 nice idea let me try  and check how its works with out any false positive :)

[2017-05-26 17:07] client9 commented on #782
short term I would do that.  Did you see the email I sent you @dune73 on some other ideas?

Long term, yes, I'll track all the regex you use to patch around libinjection and see what I can do.

n

[2017-05-26 17:09] client9 commented on #782
Minus the issue above, anything else?  I'd like to tag lib injection for you. see

https://github.com/client9/libinjection/issues/124

[2017-05-26 20:14] dune73 commented on #369
Good plan!

[2017-05-27 08:15] franbuehler commented on #761
I disassembled the list from regex 942410 so far to find the right place for the word boundary at the start of the sql keywords. I didn't find the original regex in the source.
The word boundary is only missing at this start. Later the word boundaries are present.

Proposal:

Before:
`(?i:(?:(?:s(?:t(?:d(?:dev(_pop|_samp)?)?|......`
After:
`(?i:(?:\b(?:s(?:t(?:d(?:dev(_pop|_samp)?)?|......`

A few

[2017-05-28 08:28] umarfarook882 commented on #369
@dune73  Your idea is working well but i have made a little modification in your idea. So currently i am  checking for  any kind of false positive :)

Let me explain the issue:
`SecRule  REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES "@rx ^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)$"\
        "id:333333,phase:2,pass,logdata:'Matched Data: %{MATCHED_V

[2017-05-29 04:55] dune73 commented on #787
I do not think I get you. The message field is exactly the message you have in your rule as msg, the match field is ModSec's interpretation of the operator (-> 0-255).

[2017-05-29 07:02] dune73 commented on #782
@client9 Seen it, but did not dive into it. Sorry. Too many plates right now. Will be back.

As for the regex, I think we need to add `\b` to the `id` or we get FPs for " or identification" and the like:

[code]

[2017-05-29 07:18] dune73 commented on #761
Thank you @franbuehler. I think you are about to fix the FP here. But additionally, the regex looks assembled from different sources with different levels of optimization. Cleaning this up for the 3.1 development looks very desirable and you seem to have walked half of that path already, so I think continuing and finishing this would be very welcome.

[2017-05-29 08:05] dune73 commented on #369
Hey @umarfarook882. I am not sure I really understand you, but here is what I got:

You apply your regex to a payload in order to find out if the payload is base64 encoded. If the regex matches, it is very likely it is base64 encoded. You then decode it and write the result into a tx variable ready to be used by subsequent rules.

(I appreciate your passion in this. However, please try and describ

[2017-05-29 09:28] umarfarook882 commented on #369
**Matching base64 payload. Decoding the base64 payload and stored in a variable***

`SecRule REQUEST_COOKIES|!REQUEST_COOKIES:/__utm/|REQUEST_COOKIES_NAMES "@rx ^([A-Za-z0-9+/]{4})*([A-Za-z0-9+/]{4}|[A-Za-z0-9+/]{3}=|[A-Za-z0-9+/]{2}==)$"\ "id:333333,chain,phase:2,pass,logdata:'Matched Data: %{MATCHED_VAR} found within %{MATCHED_VAR_NAME}: %{MATCHED_VAR}'"`

`SecRule MATCHED_VAR "@rx ^[\W\s\w]+" "

[2017-05-31 00:09] client9 commented on #782
just to close up here... client9/libinjection#124  has been tagged 3.10.0

[2017-05-31 01:51] csanders-git commented on #787
After reviewing this rule as well it seems to be operating as expecting. The rule is no looking for any valid ASCII char, instead it is looking explicitly for any valid ASCII char EXCEPT the null char. By changing the rule to include 0 (thereby making it all ASCII chars), you have changed the nature of rule -- hence the message disagrees.

[2017-05-31 02:27] csanders-git commented on #782
alright, let me take a stab at this following @dune73's lead. What about something like at PL2...

(?i)(?:\d|\s|\w)(?:(?:(?:\.|\-)(?:or|all|and|any|between|exists|in|like|not|or|some))|(?:(?:or|all|and|any|between|exists|in|like|not|or|some)(?:\.|\-)))

might we need things outside boolean operators? http://developer.mimer.com/validator/sql-reserved-words.tml

[2017-05-31 03:43] csanders-git commented on #761
I can split off a 3.1/dev -- sounds like we're approaching a need.

[2017-05-31 03:50] dune73 commented on #761
Yes, I think it is time.

But we also need a policy (and step by step guide) how to backport fixes from 3.1/dev to 3.0/dev.

[2017-06-01 08:43] dune73 commented on #782
Thanks for taking this further.
I do not really understand all the elements in your new draft.

* Removing the first `+` makes total sense.
* What is `(?:.|-)`? Is not `-` part of `.`?
* You duplicate the `or` in both word lists
* What is the difference in both word lists or the function of the two

[2017-06-02 13:03] spartantri commented on #782
@csanders-git  did you meant literal "." or is it a wildcard? why is "or" repeated?

Have you tested that regex against "The migthy Thor." (1 match) or "The mighty Thor. -Exists -in the Valhalla.Like it or not" (6 matches)? This have plenty of false positives so PL2 may not be the best place, what about PL3 and add some boundaries like:

(?i)(?:\d|\s|\w)(?:(?:(?:\.|-)\b(?:or|all|and|any|between|ex

[2017-06-02 15:11] skidoosh opened #789 "Running upgrade.py throws unknown option `ff-only'"
Hi ladies/gents,

If I try to run upgrade.py on a cloned master I get the error:

crs: Git pull failed! Error: error: unknown option `ff-only'

The error is originating from the command ' git pull origin HEAD --ff-only'. Changing the command to ' git pull --ff-only origin HEAD' fixes the error.

I'm on Debian 8.8 with Git 2.1.4

[2017-06-02 15:24] csanders-git opened #790 "WAF Bypass in other WAF"
http://blog.ptsecurity.com/2017/06/waf-bypass-at-phdays-vii-results-and.html

[2017-06-02 15:44] dune73 commented on #790
Nice find!

[2017-06-02 16:04] victorhora commented on #789
Hi @skidoosh,

Thanks for spotting this issue. I haven't noticed before when testing this on some of my VMs. It doesn't seem to happen on newer versions of Git:

![image](https://cloud.githubusercontent.com/assets/15767386/26734202/36d73420-478b-11e7-84fe-a4a97003b7fa.png)

But I've confirmed that the issue does happen with older versions of Git:

![image](https://cloud.githubusercontent.com/asset

[2017-06-02 16:07] skidoosh commented on #789
I'd love to! Never done it before so I'll read up on how to do it and get it in over the weekend.

[2017-06-04 07:48] franbuehler commented on #761
The FP should be resolved with PR 791.
And yes, @dune73, I've almost finished disassembling the regexp. I'll finish, test and then make a PR for 3.1/dev.

[2017-06-05 20:29] csanders-git commented on #782
note the similarity to the following: https://github.com/client9/libinjection/issues/110

[2017-06-05 21:24] landergate opened #794 "SQLi id:942100, false positive on combination of two chars"
Any thought on why two cyrillic symbols "ор" could trigger this rule?
It happens in different conditions near other symbols, but could not happen at all with other symbols.

And what would be the best approach without omitting rules at all?

## login=Игорь
It's a legit cyrillic first name, pronounced as "Igor".

[code]

## login=дор
Just experimenting with "ор" combination.

[code]

## login=ббббб

[2017-06-06 00:32] csanders-git commented on #794
Looks to be a libinjection rule. interesting, not quite sure why this is, maybe it wasnt done with other langs in mind. I know modsec's regex engine also has problems with Cyrillic chars just cause of PCRE

[2017-06-06 04:53] dune73 commented on #794
Thank you very much for your report @landergate. This is an upstream problem but very glad you reported. I am going to forward this to the libinjection maintainer asap.

[2017-06-06 10:12] lifeforms commented on #794
Wow, very good find. There are three places where this can go wrong: CRS, ModSecurity, or libinjection.

At first sight, it seems like a false positive in libinjection. But if I feed this input to libinjection itself, in encoded or decoded form, I am not getting a hit:

Payload | Result
--------|-------
`dor` | **not sqli**
`дор` | **not sqli**
`%D0%B4%D0%BE%D1%80` | **not sqli**

So I am not sure

[2017-06-06 11:06] dune73 commented on #794
You suspected correctly, @lifeforms. Here is my reduced rule to trigger this FP:

[code]

So it looks like a combination of payload and two transformation leads to an internal value that sets off libinjection.

[2017-06-06 11:11] lifeforms commented on #794
[code]

lol wat

[2017-06-06 11:16] dune73 commented on #794
Yes, looks a bit simplistic. Bad implementation in ModSec?

[2017-06-06 15:09] umarfarook882 opened #795 "RFI False Positive detection (wordpress admin page redirection after login)"
[code]

It block as  RFI attack attempt as when admin try to  login, after sucessfully login user redirect to /wp-admin/ page by **redirect_to**  parameter.

[2017-06-06 16:50] csanders-git opened #796 "Remove t:removeComments from 942100"
removeComments is being deprecated as there is really no good way to to deal with recursive type comments etc. As a result we should probably remove it from rule 942100

[2017-06-06 18:06] umarfarook882 opened #797 "Bypass SQL Injection Rules #comment symbol with logical operator should be blocked"
sorry i just confused with both OWASP CRS and  Comodo WAF rules. i think i made a mistake.. i just checked again OWASP CRS 3 with these payloads.  libinjection detect these below payloads. so no way to bypass sql injection rules.

[code]

*In case, if any application which  support  base 64 encoding as a input  for some purpose*

Example: http://www.attacker.com?id=MTIz

**id** is the  point of en

[2017-06-07 08:48] fgsch opened #798 "Logdata not set"
A number of rules don't set logdata (see below). This makes debugging and troubleshooting difficult.

Agreed with @csanders-git to open an issue to get this fixed.

[code]

[2017-06-07 08:54] dune73 commented on #798
Wow, that's quite a list. Thank you.

I agree on the troubleshooting difficulty. Besides, I see this cleanup effort together with a general rule housekeeping: Reorder all actions, clean up the tagging, etc.

[2017-06-07 08:58] fgsch commented on #796
Don't forget updating the wiki also :)

[2017-06-07 09:41] Hello-Linux opened #799 "Why do some function is cancelled about CRS？"
I want to know in 2.0 version have the two rule files 1.experimental_rules/modsecurity_crs_11_proxy_abuse.conf
2.modsecurity_crs_11_brute_force.conf

but in 3.0 version I am not found this two files why? and I also want to know in the crs 3.0 version of the function are the two files contains?

and the @fuzzyHash  operator  for webshell have cancel in 3.0？

[2017-06-07 10:35] dune73 commented on #799
Hi @Hello-Linux,

CRS3 is a consolidation release but also one with new features. Consolidation means that some rules were removed. Most of them were removed from the development tree before the present maintainers of the project joined it. The reasons for the removal were usually that the rules are outside the scope of the project.

I suggest you look up the rules in question in the list at ./id_

[2017-06-07 10:35] #799 closed, assigned to nobody

[2017-06-07 10:43] fgsch opened #800 "Rule 920460 is missing msg"
Related to #798

[2017-06-07 10:52] dune73 commented on #800
Hey, that's my rule. Why did not anybody notice this!?

Do you want to try out a pull request yourself, or should I write it?

[2017-06-07 12:26] fgsch commented on #800
I was planning to but go ahead if you want. I'm happy as long as it's fixed :)

[2017-06-07 13:26] dune73 commented on #800
No, I prefer if you do it. There is plenty of stuff for me 2do. :)

[2017-06-07 14:09] fgsch opened #801 "Rule 920440 has transformations applied incorrectly"
This rule has transformations on the top rule. This transformations should be on the bottom rule instead.

Discussed with @csanders-git

[2017-06-07 22:27] victorhora commented on #801
Yup. I can see the transformations being applied at line [1057](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L1057) when it would make more sense on line [1077](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/rules/REQUEST-920-PROTOCOL-ENFORCEMENT.conf#L1077)

Submit a PR? :)

[2017-06-07 23:08] victorhora commented on #796
Just to clarify t:removeComments is currently [supported in libModSecurity](https://github.com/SpiderLabs/ModSecurity/blob/v3/master/src/actions/transformations/remove_comments.cc) and I believe that at the time the reasoning to implement was to make sure that the CRS3 was loading and working fine with ModSec v3.

In anyways I've added a [small note](https://github.com/SpiderLabs/ModSecurity/wiki/

[2017-06-08 00:38] fgsch commented on #801
That's the plan :)

[2017-06-08 01:06] Hello-Linux commented on #799
@dune73  But I think the rules is very useful，for example the webshell rule，I don't understand why them are  beyond the scope of your project

[2017-06-08 04:52] dune73 commented on #799
Which one was that? (-> Please tell me the rule id)

[2017-06-08 06:22] Hello-Linux commented on #799
@dune73  id:'950115'
		id:'981036
		id:'981037
		id:'981038
		id:'981039
		id:'981040
		id:'981041
		id:'981042
		id:'981043
		id:'950110'
		id:'950921'
		id:'950922'

[2017-06-08 07:21] dune73 commented on #799
[code]

[2017-06-08 08:06] Hello-Linux commented on #799
@dune73 Now web attack way of webshell occupies a large part of, I wish modsecurity to increase this function,and I want to know about the rule 950115 that if I want to use this rule what should I do?

[2017-06-08 09:05] dune73 commented on #799
The rule is basically calling an external script that calls your antivirus software.

The 2nd edition of the ModSecurity Handbook at Feisty Duck explains this in detail and has an example for said script. The online reference manual also has such a script AFAIK.

[2017-06-09 02:10] Hello-Linux commented on #799
@dune73     If I want to defense wenshell what should I do? I think the webshell is very  important

[2017-06-09 03:58] dune73 commented on #799
Your anti-virus will not help you against the web shell. I also think it is very important, but our project does not yet have rules to help you fight it. You need to secure your application itself and - if possible - disable all file uploads.

[2017-06-09 05:40] Hello-Linux commented on #799
@dune73 But in this article that say it is passible “https://www.trustwave.com/Resources/SpiderLabs-Blog/ModSecurity-Advanced-Topic-of-the-Week--Detecting-Malware-with-Fuzzy-Hashing/”

[2017-06-09 06:17] dune73 commented on #799
Yes, ModSecurity has the functionality, but our Core Rule Set project does not yet support it.

If you want to use the ModSecurity functionality you need to set this up yourself. The rules are described in said article. And then it goes on to say that you need a database of all webshells that you want to avoid. Getting or building this database is very hard or time consuming.

If you manage to rea

[2017-06-09 19:07] csanders-git commented on #794
@zimmerle can you shed some light on this problem? I know there are tickets in modsec's repo also can we link them here if they apply?

[2017-06-09 19:11] zimmerle commented on #794
Hi @csanders-git, please go ahead and make the links ;)

I will also report something here. Most likely I will look into this tomorrow.

@all Thanks for the report ;)

[2017-06-09 19:15] csanders-git commented on #794
https://github.com/SpiderLabs/ModSecurity/issues/708

[2017-06-09 20:21] csanders-git commented on #797
these are very similar to https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/782 perhaps we should combine ticket.. love the /*! SQL specific comment, that was in some of the research we just posted as well. I think we might be able to just look for that sequence as i don't think it'd offer high FPs thoughts?

[2017-06-10 06:03] dune73 commented on #797
I am a bit overwhelmed with the different sqli evasion tickets now. However, I get the feeling this one is distinct from #782. And we need to think about attaching new detection mechanism to existing rules (vs. creating new rules).

Specific to this one: At what PL is this an evasion? (could check myself, but I am hungry now. :)

[2017-06-10 15:02] pantaluna opened #802 "id:900500 Honey Pot causes the web server to slow down up to 25x times"
I'm testing the last release owasp-modsecurity-crs v3.0.2.

When I activate the Honeypot rule (with api key) in the config file **crs-setup.conf** then the web server becomes slower and slower and the web server uses more and more CPU and Memory; it almost grinds to a halt but it does not crash an apache2 process. Even the kswapd0 process starts consuming CPU time on this server with 16GB memory (

[2017-06-11 01:18] victorhora commented on #794
Hey guys, it looks like we have a few problems here with this issue. First lets see if ModSecurity is handling these transformations right:

[code]

\xd0\xb4\xd0\xbe\xd1\x80 looks correct UTF-8 encoding of дор.

[code]

0x0434 = CYRILLIC SMALL LETTER DE (aka ["De"](https://en.wikipedia.org/wiki/De_(Cyrillic)))
0x043E = "о"	CYRILLIC SMALL LETTER O
0x0440 = "р"	CYRILLIC SMALL LETTER ER (aka ["Er"](h

[2017-06-11 12:36] dune73 opened #803 ""PayLoadAllTheThings" collection of payloads"
Not sure we have an issue linking to this big collection (if we do, then please somebody close as duplicate. I am a bit in a hurry.)

https://github.com/swisskyrepo/PayloadsAllTheThings

[2017-06-11 23:57] victorhora commented on #803
I couldn't find any other issue linking to this juicy list. Will come in handy for many I'm sure. Thanks for sharing :)

[2017-06-12 07:55] Hello-Linux opened #806 "Use operator @beginsWith to resolve handle-false-positive error"
@dune73  @yersinia  @ygrek  @FireFart  @koto To resolver the handle-false-positive about the request_url “/index.php?act=store” and  “/index.php?act=search".
so I write in /etc/nginx/owasp-modsecurity-crs/rules/REQUEST-900-EXCLUSION-RULES-BEFORE-CRS.conf  like that "SecRule REQUEST_URI "@beginsWith /index.php?act=store" \
    "id:1001,phase:1,pass,nolog,\
     ctl:ruleRemoveById=920270"
SecRule RE

[2017-06-12 12:49] edgreenberg opened #807 "Using a URL Encoded Percent sign, followed by hex digits other than 20-7e produces a false positive"
When a form submission contains a percent sign followed by two hex digits may cause a false positive as follows:

A good example is a person who tried to set a password similar to 'Secret%0015'.   So the submission was password=Secret%250015 (and password_confirmation=Secret%250015)  Mod security reported:

Message: Warning. Found 1 byte(s) in ARGS:Password outside range: 1-255. [file "/etc/httpd/

[2017-06-12 13:40] dune73 opened #808 "Rule Cleanup"
There are now several issues and even PRs that deal with a cleanup of rules. This issue is meant to keep all these tasks together by discussing them centrally and by governing the label "Rule Cleanup Project".

In focus are:
* Ordering of actions
* Indentation
* Clean whitespace
* Remove maturity action
* Remove accuracy action

@fgsch has volunteered to carry this project.

[2017-06-12 23:16] victorhora commented on #369
In a sort of (un)related subject, shouldn't we consider using [base64DecodeExt](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#base64DecodeExt) for some of those rules?

[2017-06-13 01:00] csanders-git commented on #369
perhaps we should make better use of this as python, which is becoming more and more popular discards invalid chars in a b64 encoded var. Also means that at least the early regex that @umarfarook882 was using can't be used with python (which doesn't seem to have a way to turn this off) or php if the strict argument isn't provided. Perhaps we should add a note in the reference manual

[2017-06-13 01:14] csanders-git commented on #808
So what are we saying are the best practices? should we start a wiki page for that?

[2017-06-13 01:41] csanders-git commented on #807
Thanks, I think this should be a good candidate for 3.0.3 if we find all out web servers treat params passed into modsec as unencoded - a dangerous thing to do for others who may not be using one of the three supported web servers... any ideas @dune73 if that is true?? Doesn't seem like shifting to phase:1 fixes the problem

[2017-06-13 01:58] #800 closed, assigned to nobody

[2017-06-13 01:58] #801 closed, assigned to nobody

[2017-06-13 02:00] csanders-git commented on #765
to come full circle, i'd say no

[2017-06-13 02:00] #765 closed, assigned to nobody

[2017-06-13 02:01] csanders-git commented on #794
https://github.com/SpiderLabs/ModSecurity/issues/348#issuecomment-307545146 please see the very thoughtful comment @marcstern left on this other thread.

[2017-06-13 02:06] csanders-git commented on #802
@rcbarnett any status on this project? i'd be willing to help to try and see where the slow down could be.

[2017-06-13 02:18] csanders-git commented on #731
So we decided this had to wait till 3.1 yes?

[2017-06-13 06:51] marcstern commented on #807
I don't think it's the point. All servers will decode the url-encoded parameters - that's their job (from the RFC). The point is "will the (a) back-end potentially decode the parameters _at the application level_, leading thus to a seconf decoding.
If we only speak about IIS 4 & 5 (and even unpatched versions), it would be a pity to introduce false positive to protect only these very old (should I

[2017-06-13 09:34] dune73 commented on #808
Creating a wiki page would probably make sense. Here on the fly the order that I used in the book:

[code]

What I think is essential is starting with id and phase and disruptive action. Other items are mostly optional and do not matter much for CRS. I have logfile definitions early as are the transformations. Msg and logdata are coming only afterwards. Chain is listed near the end to make a visib

[2017-06-13 14:08] csanders-git commented on #807
@marcstern slightly different I think, yes there is the double decoding issue, but i'm not concerned about that (as there are other rules for that). The question is when ModSecurity is given access to the data, (phase 1,2,3,4,5) can we assume that we NEVER get a urlencoded parameter? If this is the case then the use of urldecode should be sparse (limited to double decoding). Can we confirm that al

[2017-06-13 14:12] landergate commented on #794
Any possible workaround approach at this moment?
Like allow exact `\x183>@L` data input and not disabling rule completely?

[2017-06-14 05:43] umarfarook882 opened #809 "Failed to include some OS commands injection payloads in #REQUEST-932-APPLICATION-ATTACK-RCE rules"
I have  tested these payload on OWASP CRS, It failed to detect. I have checked the rule on **REQUEST-932-APPLICATION-ATTACK-RCE**, these payloads are not included on the regex pattern on any rules expect PS. but i can execute ps command on vulnerable application without specify arguments.

[code]

For more information  check my demo video on [Github](https://github.com/umarfarook882/WAF-Rule-Testi

[2017-06-14 06:03] Hello-Linux opened #810 "Use operator beginWith error"
When  I send a request_uri is "/index.php?act=seller_center&op=statistics&rand=24954191" and my rule is "SecRule REQUEST_URI "@beginswith /index.php?act=store"
"id:1004,phase:1,pass,nolog,
ctl:ruleRemoveById=949110" but rule id 1004  that his uri is not match the "/index.php?act=seller_center&op=statistics&rand=24954191"，and I found the request I send has match the rule that his id is 1004  why？ T

[2017-06-14 08:43] lifeforms commented on #809
Hi Umar, thanks for the report :)

Indeed we currently only check for the `ps` command when including a trailing argument. This was a tradeoff, since the string `ps` happened a few times in a testing data set. So the value of executing the command was compared to the possible false positives, and I decided to require an argument, so that for instance `ps waux` (showing all other uid's processes) w

[2017-06-14 08:58] dune73 commented on #809
+1 on the `pwd`. I like this open source approach where somebody puts a decision into question and then after looking through the argument we discover that there is actually a gap that needs to be fixed.

@umarfarook882 Do you want to do the pull request for `pwd` yourself? I assume it should go against v3.1/dev and we can then discuss backporting to 3.0.

[2017-06-14 11:31] franbuehler opened #811 "SQLi rule 942410 could be revised"
While disassembling the SQLi rule 942410 for issue #761 I noticed that the regexp could be revised.
The regexp does not seem to have been written in one step, the optimization does not seem consistent.
For example the strings `isnull(` and `ifnull(` are checked twice. It's searched for `if benchmark(` and `benchmark(` at two different locations.
That sounds a bit suspicious.

I disassembled the ru

[2017-06-14 11:59] dune73 commented on #811
This looks very good, @franbuehler.

I get the feeling that block 2 can be integrated into block 1.

Block 3 has items that might be suited for an integration/simplification into block 1; the rest of block 3 might be better suited for a separate rule. Or maybe not. Let's hear other opinions.

[2017-06-14 14:32] dune73 commented on #810
Sorry, but I can not reproduce this error. Your rule and the configuration works as advertised.

This is not the first issue you are opening here. Please notice that this issue tracker is meant for Core Rule Set bug. Please report when you are really sure you have encountered a bug. When you do, then please submit the complete relevant configuration and the complete Audit log to help us understand

[2017-06-14 14:32] #810 closed, assigned to nobody

[2017-06-14 15:20] dune73 commented on #794
@landergate : This does not look like a quick fix and I think there is no way around disabling the rule for the login parameter for the time being. Of course, if you know the acceptable values that trigger false positives, then you can also disable the rule depending on the value of login.

[2017-06-14 17:18] umarfarook882 commented on #809
i miss to mention another one payload in above list :).  OWASP CRS failed to detect this command also.

**REQUEST-932-APPLICATION-ATTACK-RCE**
*It block vim  command but not vi*
[code]

As user don't have write permission , so it does not have much impact on the application. but it create unnecessary tmp file in the  /var/tmp/. i have attached the screen shot for more information.

![owasp crs-3](

[2017-06-15 03:41] Hello-Linux commented on #810
@dune73 you can  see https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/806 in it   have the detailed introduction

[2017-06-15 04:03] dune73 commented on #806
@Hello-Linux: like mentioned in #810, I can not reproduce this error. I think you misconfigured something. The information you give is incomplete and I am confident the debug log will help you solve your problem.

There are now so many issues opened by you across multiple projects that fail to prove any malfunction. You have called several people to support you for free while we have real, reprodu

[2017-06-15 04:03] #806 closed, assigned to nobody

[2017-06-16 10:39] dune73 commented on #731
Yes, I think we will need to postpone this. But what could do is pointing users to additional new exclusion rules in the 3.1 tree (and subsequent trees). That way it's optional and people can still profit if they want. Ideally, this would also trigger some beta testing of new exclusions.

[2017-06-17 06:43] umarfarook882 commented on #809
Hi all, Still few payloads i missed to added  in the list :).  OWASP CRS failed to detect these command also.

**REQUEST-932-APPLICATION-ATTACK-RCE**
[code]
Note: i know we can't block the `who`  payload, it will create a FP.  any way i just want you guys @lifeforms @dune73  @victorhora  to know this payloads.

![who](https://user-images.githubusercontent.com/22318677/27250772-dcc9fca8-5354-11e7-8

[2017-06-17 07:40] ossie-git commented on #667
Was this added to the CRS ruleset?  Also, unless I am mistaken, this just handles slow request headers + slow POST requests, not slow reading of the responses by the client (set the window to 0 or 1). Right?

[2017-06-17 21:14] umarfarook882 opened #814 "Failed to include some sensitive path or file in #REQUEST-930-APPLICATION-ATTACK-LFI rules"
I have tested these payload on OWASP-CRS, It failed to block user form accessing this sensitive path or file. I have checked the rule on **REQUEST-930-APPLICATION-ATTACK-LFI** , these sensitive path or file  are not included on the lfi-os-files.data file or  on any  other rules.

[code]
For more information check my demo video on [Github](https://github.com/umarfarook882/WAF-Rule-Testing-LFI-attac

[2017-06-17 21:20] lifeforms commented on #814
Agreed! I would definitely welcome additions like `var/mail/`, `etc/network/`, `etc/init/` to the `lfi-os-files.data` file.

Even other related directories like `var/log/` might go in there. Looking at that data file, it could definitely use a lot more additions! If you feel like checking some Debian, CentOS, BSD boxes for more interesting directory hierarchies to block wholesale, I'm game...

One

[2017-06-19 07:02] umarfarook882 commented on #814
@lifeforms Yes, sure i will update the missing directories and files for  `Debian, CentOS, BSD`  to `lfi-os-files.data`. once it done i will pull the request. Thanks for the note :)

[2017-06-19 11:41] dune73 commented on #667
@ossie-git No, this was not merged, it kind of stuck during the Winter and I do not know if @csanders-git did any additional work.

I doubt slow reading can be measured by something within Apache as the transfer is actually done by the kernel and not the server. But I might be mistaken there. However, I have never seen a ModSec rule pulling this off and I do not know how I would go about it myself

[2017-06-19 22:13] victorhora commented on #809
hey @umarfarook882! Nice work there again :)

As I've mentioned there's just so much we can do to prevent, or better yet, make it a _**bit**_ harder to someone that have shell RCE to fully and easily compromise the targeted system. OWASP CRS in this case is not the silver bullet, but just the first line of defence :)

I'm thinking maybe "who" or "w" could go for PL3 or PL4 as IMHO knowing logged u

[2017-06-20 04:21] victorhora commented on #789
As this is already merged and tested I believe we could close this one @dune73 @csanders-git :)

[2017-06-20 04:23] #789 closed, assigned to victorhora

[2017-06-20 19:31] umarfarook882 opened #817 "Failed to block .phps and .htaccess file upload in #REQUEST-933-APPLICATION-ATTACK-PHP rules"
When i was going through  **#REQUEST-933-APPLICATION-ATTACK-PHP  #Rule ID:933110**.
At first, i  thought something was missing. I done my little research :)

``PHP support Extension: .php, .phtml, .php3, .php4, .php5, .php7, .phps``

then i found `.phps` extension was missing on the regex. so i was able to upload  `.phps` file. Anyway it not a major bug, because by default on apache, it will not a

[2017-06-20 19:36] dune73 commented on #817
Thanks for contributing this find @umarfarook882. We are very agnostic towards file uploads so far. The thinking is that the webserver should protect itself. But then if the webserver should be able to protect itself, what's the use of CRS?

So you are probably right, that we should add this. Other thoughts?

[2017-06-20 19:50] lifeforms commented on #817
I would very much like to prevent `.htaccess` from being uploaded!

I'm not so very sure about `.phps`. I don't think it does anything special.

With a `.htaccess` you can make every file an executable PHP file, e.g.

[code]

Then upload a `test.blah` file and execute it.

So let's add `.htaccess`. Only question is where? Rule 933110 is PHP specific. But `.htaccess` is not PHP specific. So maybe w

[2017-06-20 19:59] umarfarook882 commented on #817
@lifeforms  yes, i agree. we can allow any file extension to execute as `application/x-httpd-php` using `.htaccess`.  but just for explaining the issue. i have used the `.phps` file extension :). Another reason why  i point out `.phps` is because it is not included in regex. **#REQUEST-933-APPLICATION-ATTACK-PHP  #Rule ID:933110**

`.phps is also one of the  extension supported by php`

`.htaccess

[2017-06-21 04:19] victorhora commented on #817
+1 on trying blocking .htaccess upload.

Not sure what's the best approach here but I'm also unsure where such rule should go. I just glanced at this before going to bed, but maybe creating REQUEST-9XX-ATTACK-UNRESTRICTED-FILE-UPLOAD makes sense with something like SecRule FILES_NAMES|FILES "@pmf restricted-files.data" as a start testbed.

[2017-06-21 04:31] dune73 commented on #817
I think this is related to REQUEST-930-APPLICATION-ATTACK-LFI.conf so that's where I think the new rule belongs. Then a data file as suggested.

There might be FPs, so not sure if this should go in PL1 or better PL2. Maybe testing it a bit beforehand.

[2017-06-21 04:43] victorhora commented on #817
Hummm I see your point @dune73. Actually I've thought about "restricted-files.data" based on rule 930130 because .htaccess is already there.

If this ends up going to PL1 and at REQUEST-930-APPLICATION-ATTACK-LFI.conf, maybe adding **FILES_NAMES and **FILES** variables to 930130 and see how it goes with FPs...

Negative side IMHO is mixing two slightly different vulnerability classes on a single r

[2017-06-21 04:48] dune73 commented on #817
Yes, I expected to end up with a file that would resemble that one - or re-using it straight away. ;)

Re-using an existing rule file that does not really fit needs to be balanced with creating a new rule file with very few rules - which is annoying for nginx users as they need to include all files explicitly.

However, we also have plans to invest into fuzzy-hash stuff aimed at file uploads. So m

[2017-06-21 08:44] umarfarook882 opened #818 "Remove the unnecessary SecMarker in all rules #REQUEST-941-APPLICATION-ATTACK-XSS"
In some of the rules,  unnecessary SecMarker are there, so please check it and remove it, if not needed in upcoming release :)

`REQUEST-941-APPLICATION-ATTACK-XSS.conf: line no:739 SecMarker END_XSS_CHECKS`

[2017-06-21 09:06] dune73 commented on #818
Thanks for reporting @umarfarook882.

There are quite a lot of other markers, but I think all the other ones are actively used in `skipAfter` actions.

Here is me take on the number of references for the existing markers in the rules:

[code]

So I think only END_XSS_CHECKS is really not need anymore. But maybe it would make sense if all the other markers are really needed or if we could express t

[2017-06-21 09:13] umarfarook882 commented on #818
@dune73 yes. Except `END_XSS_CHECKS`, every other SecMarker are actively used in  `skipAfter`.

[2017-06-21 11:05] vikas027 opened #819 "JSON enabled but 'Failed to parse request body' in logs"
### Environment
I have configured [libModSecurity (aka v3)](https://github.com/SpiderLabs/ModSecurity/tree/v3/master) and [nginx connector](https://github.com/SpiderLabs/ModSecurity-nginx) on [CentOS 7](https://github.com/SpiderLabs/ModSecurity/wiki/Compilation-recipes#centos-7-minimal).

Is this the correct to check whether it has been compiled properly?
[code]

### Problem
Failed to parse reques

[2017-06-21 12:48] csanders-git commented on #819
This is very much a question for https://github.com/SpiderLabs/ModSecurity here focus on CRS questions. However, it does appear to be working given that you're getting output.

[2017-06-21 12:48] #819 closed, assigned to nobody

[2017-06-22 02:15] zimmerle opened #820 "phpMyAdmin "on" cookie blocked by libinjection"
@quenenni commented on [Wed Jun 21 2017](https://github.com/SpiderLabs/ModSecurity/issues/1469)

Debian Jessie
libapache2-modsecurity     v2.8.0-3
CRS v3.0.2
--------------------------------------------

PhpMyAdmin is using pmaUser-2 & pmaPass-2 as cookie names.
Not always, I could use PMA for a time.
But it's the second time today that suddenly, while doing stuff, modsec decided to block all my r

[2017-06-22 10:37] lifeforms commented on #820
This is another instance of libinjection seeing `ONfoo=` as XSS. Another example was #663.

I discussed this in https://github.com/client9/libinjection/issues/115 and I think it should have been fixed by replacing the `onXXX` matching with a discrete blacklist in https://github.com/client9/libinjection/pull/118.

So this issue should be resolved when ModSecurity targets a new libinjection release.

[2017-06-22 10:45] quenenni commented on #820
You 're totally right @zimmerle and I'm very sorry about that (it's not the first time, damnit.. The saying  "A donkey does not stumble twice on the same stone"  doesn't fit for me this time :/ ).

@lifeforms : Thanks for the explanation. Sounds good.
"The new libinjection release", you mean libinjection in modsec v3?

[2017-06-22 10:46] lifeforms commented on #820
@quenenni I hope we see a ModSecurity 2.9.2 with an updated libinjection, maybe this summer? ;) But let me first check if a new version of libinjection really fixes the problem. Otherwise we should go over there in the bug tracker again!

[2017-06-22 20:01] franbuehler commented on #761
@dune73: I think this issue could be closed?

[2017-06-23 12:40] dune73 commented on #761
Think so too.

[2017-06-23 12:40] #761 closed, assigned to nobody

[2017-06-23 20:42] franbuehler commented on #665
PR #821 adds the command `popd` to rule 932150 (Remote Command Execution: Direct Unix Command Execution).
In rule 932105 (Remote Command Execution: Unix Command Injection) the command `popd` is already present.

[2017-06-24 04:50] dune73 commented on #820
We can close this here, can't we?

[2017-06-24 05:02] dune73 commented on #818
Addressed in PR #822.

[2017-06-24 05:08] dune73 commented on #808
I have not heard any feedback on the proposal above. I have transferred it into a wiki page: https://github.com/SpiderLabs/owasp-modsecurity-crs/wiki/Order-of-ModSecurity-Actions-in-CRS-rules

If there is no comment in the next few days, I assume the proposal has support and @fgsch is good to go.

[2017-06-24 12:35] quenenni commented on #820
If you're asking me, you can.
But if you read lifeforms'last post, I'd say no as he is saying specifically that he would like to keep it open and be able to be sure there is a fix for this before closing it.
I must say I find your intervention here quite strange. :)

[2017-06-24 13:04] theseion commented on #667
I got stuck doing other stuff. Yes, this only covers slow requests (using the `reqtimeout` module). I'll probably not have the resources in the near future (i.e. to around the end of 2017) to continue working on this rule but I still plan to finish it eventually.

[2017-06-24 14:08] dune73 commented on #820
True.

I did not read it very carefully it seems. I got the impression it was a libinjection thing and I am a bit overwhelmed with the number of issues we are actively working on. So I _wish_ we could close this. :)

[2017-06-24 19:09] lifeforms opened #823 "False positive on Cyrillic input 942120 (PL2)"
This is a different rule from #794 although the mechanism is comparable.

Input: `name=%D1%81%D0%B5%D1%80%D0%BF+%D0%B8+%D0%BC%D0%BE%D0%BB%D0%BE%D1%82`

Decoded: `серп и молот`

Result: `Matched Data: <> found within ARGS:name: A5@? 8 <>;>B`

Log: `Message: Warning. Pattern match "(?i:(\\!\\=|\\&\\&|\\|\\||>>|<<|>=|<=|<>|<=>|\\bxor\\b|\\brlike\\b|\\bregexp\\b|\\bisnull\\b)|(?:not\\s+between\\s+0\\s

[2017-06-26 14:58] bjdijk opened #824 "Using a % sign as wildcard leads to false positives"
We have an app, which use a % sign as wildcard (matchall); i.e. %bcd% will match abcde and abcd and abcde etc.

If we pass this as a parameter %00250025% rule 920270 fires and sees a \x00 sequence (due to the t:urlDecodeUni). Looking into the code of modsecurity, this part causes the issue:

// msc_util.c

 if (i + 2 < input_len) {
                char c1 = input[i + 1];
                char c2 =

[2017-06-26 16:15] csanders-git commented on #824
Seems to be the same issue as https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/807

[2017-06-26 16:15] #824 closed, assigned to nobody

[2017-06-26 18:57] #665 closed, assigned to nobody

[2017-06-27 06:40] dune73 commented on #823
I am not able to reproduce this.

[code]

No alert written.

Can you please provide the full call?

[2017-06-27 06:41] dune73 commented on #818
Closing this in favor of PR #882.

[2017-06-27 06:41] #818 closed, assigned to nobody

[2017-06-27 06:41] dune73 commented on #814
Any news on this @umarfarook882?

[2017-06-27 06:43] dune73 commented on #811
Anybody else checking this out?

[2017-06-27 06:45] franbuehler commented on #609
As you see in issue #811, `utl_http` and `utl_file` are also detected, but they don't appear at the same position.
That's why I think the regexp in rule 942410 could be revised.
The commands seem to be somewhat distributed and the rule is not consistently optimized.
I think, this issue could be closed.

[2017-06-27 06:45] dune73 commented on #809
I am open to see this in PL. The subsequent comments are possibly taking this further than the initial issue. I suggest to open separate issues for these additional suggestions and close this one at hand as soon as the (limited) PR has been done.
OR @umarfarook882 writes an all-encompassing PR. If that is the plan, please confirm.

[2017-06-27 06:46] franbuehler commented on #252
I found this old issue, which is also affected by the rule 942410.
The word boundary at the beginning of the command is now there (since my PR #791).
@lifeforms example, `@@version`, is not affected by this new `\b`.
Maintain regexp: in issue #811 you will see the disassembled form of the regexp.
So I think this issue could be closed as well.

[2017-06-27 06:49] dune73 commented on #609
Agreed.

@lifeforms: OK with closing?

[2017-06-27 06:51] franbuehler commented on #811
I've just referenced these two issues.
They could be closed and we should continue to work here, in this issue.

[2017-06-27 06:52] umarfarook882 commented on #814
No, as far now we will add this below directories to `lfi-os-files.data` and close this issue.

[code]

[2017-06-27 06:58] umarfarook882 commented on #809
@dune73  No, you can close this issue as soon as PR has done :)

[2017-06-27 07:05] dune73 commented on #807
This is very tricky.

The minimal payloads that allow me to trigger 920270 are:

[code]

I also get the feeling that we can not really make the null-character illegal in the default install. Too many issues on various fronts.

[2017-06-27 07:40] dune73 commented on #809
So you will do it all including the suggestions by @victorhora?

[2017-06-27 07:41] lifeforms commented on #823
Are you running in PL2? `curl -v 'http://localhost/?name=%D1%81%D0%B5%D1%80%D0%BF+%D0%B8+%D0%BC%D0%BE%D0%BB%D0%BE%D1%82'
` should do it.

[2017-06-27 07:54] dune73 commented on #823
Confirm.

Believe it or not, I managed to lose my 942 file without noticing it. I'm such a n00b.

Full debug log:

[code]

[2017-06-27 07:59] umarfarook882 commented on #809
yes, I already did PR for this issue. #[812](https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/812) in `PL3`

[code]

[Victor Suggestion](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/809#issuecomment-309588498) As i would go with @victorhora opinion  `who and w` are not critical,  so we need to focus on  potentially dangerous commands that are currently missing from the blackl

[2017-06-27 08:11] dune73 commented on #809
Got it. Definitely losing the overview over too many open issues here. :)

So how about `aptitude` and friends? We can open a separate issue think for them if you think they deserve coverage. I think they do, but adding `pacman` is asking for trouble.

[2017-06-27 08:27] umarfarook882 commented on #809
@dune73 No :) i am not losing overview, i just planning big.  i will include `aptitude and pacman` . we can cover all other missing commands also, once i set up the WAF security challenge game. Everyone who are interested to learn can test and contribute their finding to OWASP CRS, that would definitely provide more result in improving the rules.

[2017-06-27 08:29] dune73 commented on #796
Closing this in favor of PR #825.

[2017-06-27 08:29] #796 closed, assigned to nobody

[2017-06-27 08:32] dune73 commented on #802
@csanders-git: Do we have access to the Honey Pot server or is this a feature we would rather deprecate? I never saw it gain much traction. Things might be different now that we are a real community.

[2017-06-27 23:09] victorhora commented on #802
I'm curious about this issue. I'm thinking about the fact that when you enable the honeypot rule it ends up consuming that much CPU / Mem could be an issue with ModSecurity. Even if there's some issue with ProjectHoneypot it doesn't seem right.

@pantaluna do you think you could simply give it a try with [libModSecurity](https://github.com/SpiderLabs/ModSecurity-nginx) and report the results? This

[2017-06-28 00:51] csanders-git commented on #802
I don't think it has much traction but there is a Honey pot server. I can try and dig up the credentials to access it by @rcbarnett was always the master of that domain. Any interest? @dune73 ?

[2017-06-28 03:21] dune73 commented on #802
Certainly interested. If you can get the credentials, please do. Otherwise we need to think about the future of this initiative.

[2017-06-28 13:24] pantaluna commented on #802
@victorhora Thanks for the follow-up. I do not have an Nginx environment for testing (only Apache).

[2017-06-29 02:48] elexisvenator opened #827 "False positive on 200004 MULTIPART_UNMATCHED_BOUNDARY"
Hi,

I have a .net application set up behind an Azure Application Gateway with WAF configured (owasp3.0).
When uploading files to this application I use the js File API to split the file into chunks, a common enough pattern. However, some of the chunks get blocked by the firewall (see below). This doesn't happen to all chunks but it is common enough that a 100mb file will probably encounter the is

[2017-06-29 04:27] dune73 commented on #827
You are in a bad situation and I feel your pain.

The rule in question is recommended by the ModSecurity project (ModSecurity: The Engine), while you reported to the OWASP ModSecurity Core Rule Set project (The standard rules).
See here for the original recommendation: https://github.com/SpiderLabs/ModSecurity/blob/v2/master/modsecurity.conf-recommended

The rule depends on the `MULTIPART_UNMATCHE

[2017-06-29 04:27] #827 closed, assigned to nobody

[2017-06-29 05:12] elexisvenator commented on #827
Thanks dune73,

I have forwarded your response to Microsoft Support.

[2017-06-29 11:39] umarfarook882 commented on #809
+1 Still few OS  commands in list `/util/regexp-assemble/regexp-932100.txt` are not proper

**For example:** In [regexp-932100.txt](https://github.com/SpiderLabs/owasp-modsecurity-crs/blob/v3.0/master/util/regexp-assemble/regexp-932100.txt)
**apt-get**- it block only when user enter apt-get command, but what if user enter ``apt show nmap or apt search   nmap``

**Impact** it is not much critical,

[2017-06-30 10:53] umarfarook882 commented on #817
@dune73  What about this issue?

As @victorhora [suggestion](https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/817#issuecomment-309961496), i checked it works goods.But also its kind of mixing two  different vulnerability classes on a single rule and It will create confusion  for users in future while analyzing  modsecurity log.

so any idea for the issue? :)

[2017-07-03 01:41] elexisvenator commented on #827
For anyone who has this issue and stumbles across this thread, there is a Microsoft Feedback item you can track here: [https://feedback.azure.com/forums/34192--general-feedback/suggestions/19773868-support-chunked-file-transfers-through-azure-appli](https://feedback.azure.com/forums/34192--general-feedback/suggestions/19773868-support-chunked-file-transfers-through-azure-appli)

[2017-07-03 05:08] dune73 commented on #817
Busy times, sorry for the late response @umarfarook882. I suggest we take this into the community chat tonight and decide on the course of action there. I take it, this will be the middle of the night for you, but there is no imminent need to take part - but you would be very welcome to participate of course.

[2017-07-03 18:13] csanders-git opened #829 "OWASP CRS 3.1 Feature Selection"
This ticket is designed to specify items from the 3.1 RC backlog (https://github.com/SpiderLabs/owasp-modsecurity-crs/milestone/4) and items of interest for developers for inclusion into CRS 3.1

[2017-07-03 18:14] csanders-git commented on #829
- Rewrite support for CRS SQL detection [ @csanders-git ]

[2017-07-03 19:50] #719 closed, assigned to csanders-git

[2017-07-03 20:13] dune73 commented on #817
So we talked this through in the chat. We agree with all your proposals @umarfarook882.

@lifeforms volunteered to do the PR. And it is likely to happen for the 3.0.3 release.

[2017-07-03 20:14] lifeforms commented on #817
Add `.phps` checking to existing rule - v3.0.3

Add `.htaccess` checking in separate rule - v3.1.0

[2017-07-03 20:31] lifeforms commented on #794
Victor has some good analysis on this, if expanding the mapping would solve this then it would be a real constructive solution... I'm not familiar with that part of ModSec myself. Tagging this for 3.1.0 as the problem happen on multiple rules and we need to support our Russian friends!

[2017-07-03 20:41] lifeforms commented on #609
Further discussion in #811!

[2017-07-03 20:41] #609 closed

[2017-07-03 20:41] lifeforms commented on #252
Further discussion in #811!

[2017-07-03 20:41] #252 closed

[2017-07-03 20:51] franbuehler commented on #811
As discussed in the chat tonight: I will do a PR to split this rule for 3.1.

[2017-07-04 05:13] umarfarook882 commented on #817
Thanks  @dune73  for accepting my proposals and thanks @lifeforms  for doing PR for this Issue :)

[2017-07-05 08:21] prince-java opened #831 "I wrote a rule to stop hackers upload the php files,but it doesn't work?"
I wrote a rule to stop hackers upload the php files,but it doesn't work.
This is my rule:
`SecRule REQUEST_BODY "@contains .php" "phase:2,deny,log,id:55"`

This is the auditlog:

**
--a359da41-A--
[05/Jul/2017:16:18:07 +0800] WVygv38AAAEAAEk-Nk0AAAAB 122.114.220.36 43546 116.255.151.61 80
--a359da41-B--
POST /testupload/upload_file.php HTTP/1.1
Host: 103059.testyuming.top
X-Real-IP: 116.255.132.12

[2017-07-05 08:29] dune73 commented on #831
Sorry, but this is a ModSecurity and not a Core Rule Set question. So I am closing this.

Advice: Make sure you have Access Body enabled. You may want to enable the Debug Log to the highest level and examine your rule in said log. It usually becomes clear very fast.

[2017-07-05 08:29] #831 closed, assigned to nobody

[2017-07-06 13:49] quenenni opened #832 "False positive: SQL Hex Encoding in Cookie"
modsec CRS v3

Rule n° 942450:
[code]
I guess it's a bit of bad random identifier generated by the Wp that matched this rule.

[2017-07-06 13:54] dune73 commented on #832
You are correct.

This is a PL2 rule and given the cookie name is also random, the only way for us to fight this, would be to disable the rule completely for all cookies. We think that would not be right, but it is certainly an option in your situation.

So as this is a PL2 rule, I think you need to help yourself and we won't suppress the FP in our rules. Unless @lifeforms disagrees here.

[2017-07-06 13:54] #832 closed, assigned to nobody

[2017-07-06 18:33] lifeforms commented on #832
Thanks for the report! This is indeed an unfortunate false positive, which we're not able to mitigate fully in the default files, due to WordPress using random cookie names. :( You would have to do something like:

[code]

This would disable the rule for all cookies.

However, rule 942450 could trigger many other false positives too. It may be too aggressive. Maybe we can tweak it in a future rele

[2017-07-06 18:39] lifeforms opened #833 "Rule 942450 (SQL Hex Encoding Identified) too lax?"
Rule 942450 (SQL Hex Encoding Identified; PL2) gives FPs in alphanumeric strings that contain the substring `0x`. Examples:

`N0X5d1`

`bKjyGu1pGxza4NGsxfqxoSTPA6acPA12pshj0xddfda` reported in #832

Could we be a little less annoying and not fire if there is a letter before the `0x` substring? This should not diminish detecting actual attacks.

[2017-07-10 09:32] quenenni opened #835 "False positive (941170, PL1)"
Hello,

A request was blocked when sending an email from roundcube.
[code]

But I don't want to post here the request as there are private infos in it.
Can I send somewhere the file for you to check where the problem is coming from?

Thanks

[2017-07-10 10:21] dune73 commented on #835
Thanks for reporting.

We do not need the full request, but the alert message with the private infos replaced with asterisks or something is the minimum.

[2017-07-10 10:31] quenenni commented on #835
I can send you the full request, but not showing it here as there are mails adresses in it and it's a mail.
The data modsec disliked is somewhere in the middle of all this. There are some special chars in the name associated with email adresses.
So I think it's better for you to have unchanged request.

Can I send you the request as a private msg?

[2017-07-10 10:35] dune73 commented on #835
Feel free to send it by mail to my address at netnea.

[2017-07-10 11:25] dune73 commented on #835
This is the minimal request triggering the rule in question:

[code]

So this
@quenni: Why have you not been able to reduce and submit this info here yourself?

[2017-07-10 14:27] quenenni commented on #835
Because I wasn't sure what data exactly was causing the problem (usually, I do that).
Even after seeing your last post, I'm still not sure exactly what triggered this exception.

[2017-07-10 14:34] dune73 commented on #835
Something in that minimal payload. :) Actually, I think it takes the whole payload to trigger the fairly complex rule. I get the feeling it's a bit of bad luck. The `Data` at the start, issued by (roundcube), is very important, I think.

[2017-07-10 15:01] quenenni commented on #835
Hmm.. Ok, now I understand better.
I tried myself to answer and forward mails from roundcube to my mail client.
The 'Data' in the message is 'Date' (as today's date) in Italian.
So for them, it will be pretty often to find 'data' there.
After that, is the chance to trigger the rest of the regular expr. high, I don't know. This expr is certainly not the easiest one to read.

I'll keep an eye on tha

[2017-07-10 15:43] quenenni commented on #835
I think I identified the pattern that can trigger more often this rule:

* A mail client or webmail set in Italian (and all the others languages that translate 'Date' to 'Data'),
* Forward of a mail,
* If in the 'To:' field (or 'CC:', or even 'From:' I guess) from the original mail, you have a mail address formatted with a "real name"
(ie: my name \<my.mail@blabla.org\>)

If you meet those 3 crite

[2017-07-11 07:05] cruxster opened #836 "Setting Up Owasp crs rules Error creating rule: Failed to resolve operator: detectXSS on line 56"
After adding Owasp crs rules restart apache giving this error in **REQUEST-941-APPLICATION-ATTACK-XSS.conf** file.

**AH00526: Syntax error on line 56 of /etc/apache2/modsecurity.d/rules/REQUEST-941-APPLICATION-ATTACK-XSS.conf:
Error creating rule: Failed to resolve operator: detectXSS
Action 'configtest' failed.
The Apache error log may have more information.**

Please help me to fix this issue

[2017-07-11 07:53] dune73 commented on #836
This sounds like you are using an old version of ModSecurity. detectXSS was introduced with 2.8.0.

[2017-07-11 07:53] #836 closed, assigned to nobody

[2017-07-11 07:56] cruxster commented on #836
@dune73  i have installed updated version of Mod security 2.9.1 .but still problem exists.

[2017-07-11 08:01] lifeforms commented on #836
@dune73 If you have compiled the package yourself, you need to compile it with the libinjection option. However this is default. Please check in Apache's error log if you are running the correct version now or if you might still have the old version running.

[2017-07-11 08:09] dune73 commented on #836
Unfortunately libinjection support is not advertised in the error log. But the ModSec version is.

But you can do strings on the library:

[code]

[2017-07-14 15:17] fgsch commented on #808
It's been 20 days since @dune73 comment.
I assume it's OK and I will proceed as per comment above.

[2017-07-18 22:16] fgsch opened #839 "Some rules use capture groups when it's not needed"
It'd be nice if these are removed.

[2017-07-24 03:49] csanders-git opened #845 "Rule 921140 won't fire"
921140 won't ever fire on Apache because a \r or \n in either the header name or header value, will result in a 400 Bad Request. Also ModSecurity doesn't properly support HTMLentityDecode transformation, including newline.

https://github.com/SpiderLabs/ModSecurity/issues/1509

[2017-07-24 04:49] csanders-git opened #846 "ID 921180/921170 won't ever fire?"
Once 921170 fires it will stop processing. Which means there will only ever be one paramcounter_ and it will only ever equal 1. so 921180 won't every fire.

SecRule ARGS_NAMES "." \
        "phase:request,\
        id:921170,\
        rev:'2',\
        ver:'OWASP_CRS/3.0.0',\
        pass,\
        nolog,\
        tag:'application-multi',\
        tag:'language-multi',\
        tag:'platform-multi

[2017-07-24 21:44] csanders-git opened #847 "Rule ID 920430 won't ever fire"
In Apache it looks like even in Phase 1 we don't get access to the HTTP version if it is an unsupported one.

Request:
GET / HTTP/0.1
Host: localhost
user-agent: newpost
accept: true
Content-Length: 2

Expected Result:
Rule 920430 fires

Actual result:
400 Bad Request and ModSec doesn't fire rule.

[2017-07-25 08:38] lifeforms commented on #847
A test case that triggers rule 920430 is `GET /`

This is HTTP 0.9, which is valid for Apache, but denied by us in CRS3 default config.

[2017-07-25 20:25] fgsch opened #848 "Review prepended regexp in rules 932100, 932105 and 932150"
As discussed with @lifeforms, we should review these regexp and potentially tight them up.

[2017-07-25 21:12] lifeforms commented on #848
I will be adding comments to explain the prepends and what kind of evasions they are targeted at.

[2017-08-01 11:29] franbuehler commented on #829
- Disassemble optimized regular expressions [ @franbuehler ]

[2017-08-06 20:21] lifeforms commented on #795
Thanks for the submission!

The reason that rule 931100 fires is because this WordPress installation is called using an IP address in the hostname e.g. `http://127.0.0.1/`. I think that this will probably not happen in average user's production situations. However, the use of this kind of URL is common in bots who scan IP ranges and don't take care of detecting a hostname. (In fact, we also have r

[2017-08-06 20:21] #795 closed, assigned to nobody

[2017-08-06 20:36] lifeforms commented on #814
Merged this PR, thanks a lot, and keep them coming! :)

[2017-08-06 20:36] #814 closed, assigned to nobody

[2017-08-06 20:41] lifeforms commented on #797
In ModSecurity 2.9.2, these payloads all produce alerts in PL1 thanks to libinjection. So I think we are good to go, and we can close this issue! Thanks for checking. :)

[code]

[2017-08-06 20:41] #797 closed, assigned to nobody

[2017-08-07 04:54] umarfarook882 commented on #814
@lifeforms   Sure, Thanks for  Merging the PR :) .

[2017-08-07 04:59] umarfarook882 commented on #797
@lifeforms Thanks :)

[2017-08-07 05:00] umarfarook882 commented on #795
@lifeforms Thanks for the information :)

[2017-08-07 05:08] umarfarook882 commented on #817
Hi @lifeforms what about  blocking ```.htaccess``` file extension. any update on that?

[2017-08-07 11:05] lifeforms commented on #817
@umarfarook882 Will be adding that in 3.1 since it's a new rule!

[2017-08-07 13:52] lkarsten commented on #734
I think 905100 and 905110 are user unfriendly.

In a configuration where requests are proxied by localhost (TLS termination, sandwiched web servers)  these rules effectively disable modsecurity by default. As a new user, I have no idea where to start looking. This, coupled with how debug logging is behaving, makes deploying CRS for new users hard.

Running CRS3.0 1b6c5aeca, libmodsecurity 0508395f

[2017-08-07 14:11] csanders-git commented on #734
@lkarsten looking at the code it seems that they are using HTTP/1.0 (0.9 previously) purposely so they don't need to send headers (like host, or user-agent). I agree that this puts us in an interesting spot.

[2017-08-07 14:15] csanders-git commented on #817
You guys choose some complicated tests to start with :-P. I'll see if i can update FTW to allow for easier file upload tests.

[2017-08-14 21:43] RexBelli opened #853 "Rule ID 942300 possible false positives"
In rule ID 942300, there is a regex subpattern:
``[\"'`]\s*?{``

This matches on strings '{ and "{ which occur frequently in JSON.

Is this intentional?  I can't find any indications this would contribute to a successful MySQL attack.

[2017-08-15 04:41] dune73 commented on #853
True. This is one of the reasons this rule is not part of the default install, but only in paranoia level 2.
It is also a very strong rule, so there are reasons to keep it. It just means that JSON services will need to write a rule exclusion, which is somewhat annoying.

I won't close this issue right away, but it will likely boil down to a "won't fix". In the meantime, opposing views are welcome.

[2017-08-15 08:49] lifeforms commented on #853
This rule definitely hits some false positives, and it's semi-annoying to me. If it's true that this sequence is not dangerous in SQL, we might remove it. I don't recall it being in MySQL, but I don't feel qualified to talk about all other SQL dialects. So I am neutral for now.

[2017-08-15 09:02] dune73 commented on #853
My remark about the strength of the rule was more aiming at the strength of the `'{` pattern in general; not specifically at MySQL.

(Read a pen-test report yesterday with an XSS that this pattern would have caught).

It is a general issue that we have many rules / regexes / sub-regexes in the SQLi group of rules that point beyond SQLi.

[2017-08-15 14:51] ericwscott opened #854 "Rule 942100 false positive"
We are getting some valid input that is being flagged as SQL injection.  The particular input is a company name with an exclamation point and then an abbreviation in parenthesis also with the exclamation point.  For example: Yahoo! (Y!)

`
ModSecurity: Warning. detected SQLi using libinjection with fingerprint 'no(no' [file "C:\/Program Files/ModSecurity IIS/modsecurity_crs/owasp-modsecurity-crs/r

[2017-08-15 16:29] RexBelli commented on #853
My $.02 is if this rule contains patterns that don't indicate a MySQL SQLi attack, then they should be removed or moved to another rule file.

Best I can tell, { is used for ODBC escape sequences:
https://docs.microsoft.com/en-us/sql/odbc/reference/develop-app/escape-sequences-in-odbc
Two things to note:
-Most usages of ODBC escape sequences do not use the pattern '{ or "{ or `{.
-All usages of OD

[2017-08-15 19:06] Paladin opened #855 "3.x and ELK reporting"
The switch to 3.x did a number on my logfile reporting and analysis, so I'm hoping it's just because I'm Doing It Wrong.

I aggregate logs using the ELK stack, and I use the "ModSecurity: Access Denied" line from the apache error log to pull the rejections into a list, which I can then process to locate possible "false positives." Unfortunately, since 3.x the only message captured by this line typ

[2017-08-15 19:14] csanders-git commented on #855
all messages leading to the decision should come up in the error_log. In fact, previously this was not the case unless you actively enabled anomaly mode, which it sounds like you did.

Using the docker image (docker pull owasp/modsecurity-crs), which is a base install of 3.x. I made a GET request with localhost?x="><script>alert(1);</script>

The results were the following:

[code]

Reopen this ti

[2017-08-15 19:15] #855 closed, assigned to nobody

[2017-08-15 19:22] csanders-git commented on #853
@RexBelli not sure that you were meaning to extend it to this degree, but generally we have support for specifying the platform supported in the metadata so that we are able to remove rules that aren't for the DB that you want. does this make sense? it is in need of a rethink though.

[2017-08-15 19:23] csanders-git commented on #854
You could make a rule that changes the CTL of the enforcement of that rule for that parameter ONLY if it matches a regex for \(Y\!\).

[2017-08-15 19:49] RexBelli commented on #853
@csanders-git That makes sense, I suppose I was just taking the msg at face value:
``"Detects MySQL comments, conditions and ch(a)r injections"``

[2017-08-15 20:07] Paladin commented on #855
I was hoping for a way to include *only* the messages that led to a block (I haven't worried much to this point about a false positive that didn't result in a decision to block).

[2017-08-15 20:23] dune73 commented on #855
@Paladin, you need to script this in two steps. I usually extract the unique-id of the request from 949110 rule and then extract all the alerts in connection with this unique-id.

The tutorials at www.netnea.com present a series of scripts and aliases that help you do this on the command line. It is not trivial, but I reckon porting these scripts into your ELK stack would be the way to go.

[2017-08-16 11:35] dune73 commented on #854
It's a false positive within libinjection (-> https://github.com/client9/libinjection, CC: @client9). There is nothing we can do for you within CRS.

I think Chaim's proposal is probably the best path. Even if it's not very elegant.

[2017-08-16 11:35] #854 closed, assigned to nobody

[2017-08-16 12:07] ericwscott commented on #854
Thank you.

[2017-08-16 12:12] dune73 commented on #854
You're welcome. And sorry there is very little we can do.

[2017-08-16 13:11] csanders-git commented on #854
@ericwscott this would like something like the following
SecRule ARGS:OrganizationName "@rx ^Yahoo! \(Y!\)$ "id:123,phase:request,t:none,pass,nolog,ctl:ruleRemoveTargetById=942100;ARGS:OrganizationName"

[2017-08-16 13:25] Paladin commented on #855
I've "borrowed" some of the ideas from there already, notably the extensions to the apache access logs. My understanding of Kibana gives me to beleive I won't be able to port an operation like that into it (Kibana doesn't support feeding the results of one query into another). I was hoping there was a well-known approach I was just missing. Appears not, so if I'm going to keep on with the  reporti

[2017-08-16 13:28] csanders-git commented on #855
Keep us updated, we'd love to add a piece on coreruleset.org outlining a step by step for nice integration with ELK. Typically, I do ModSec + CRS -> filebeat -> ELK -> Kibana. It should be possible to write a shim layer using MLogc that sends it directly to ELK.

[2017-08-16 14:12] spartantri commented on #855
@Paladin, in ELK this is super easy to do, just filter out those messages with the string "Inbound Anomaly Score Exceeded", all rules that matched are also in the original error log, you can do it either using elastic search queries or with kibana.

I prefer by much using ELK to ingest the logs than greping thousands or even millions of files, and since modsec 2.9.1 json audit log format is there

[2017-08-18 15:34] fgsch commented on #848
@lifeforms any news on the explanation?

[2017-08-21 17:29] stephywells opened #856 "Rule 218500 False positives"
I am the lead developer of a WordPress plugin called Formidable Forms.
https://wordpress.org/plugins/formidable/

I've been working with our users who are having trouble with this rule, but have been unable to get version details. However, this issue recently started popping up in the last month.

This is the line I've narrowed the issued down to:
`<div>[if error][/if error]</div>`

Is there somet

[2017-08-21 17:47] fzipi opened #857 "Standard for spacing/tabs whitespace in rules?"
Hi,

I'm trying to commit the rules to my own git, and there are many (issues with)different spacing/tabs/etc on multiple files.

Maybe trailing whitespace should be ignored for '*.data' files, but there are many other files have some issues like mixed spaces and tabs (space before tab in indent.), blank lines at EOF, etc.

Is there any standard for rule indenting?

Felipe.

[2017-08-21 19:54] Paladin commented on #855
Weellll......

Filtering out "inbound anomaly score exceeded" has the unfortunate side effect of filtering out all indications of a request being rejected because of an aggregated score. You get a list of all the messages, true, but it's no easier going through them to see which ones have a combination of enough notices or warnings to actually have resulted in the request being rejected, so the en

[2017-08-22 08:40] spartantri commented on #855
I used multiline processing in ELK 5.0, and 5.2 and the filter mixes lines of different events when you receive high loads of logs so I stop doing that and used only when needed by uploading the files to a directory to be parsed locally which works fine, better yet switch to modsec json auditlog format, if you parse the unique_id and also add it into your access log format you can correlate the ev

[2017-08-22 16:14] Paladin commented on #855
I don't put the audit log in ELK, I use the apache error log. Ideally, I'd like to grab the audit log entry for every 'suspect' denial, but that's not possible in Kibana, so I settle for reviewing the error log entry for 'suspect' denials, and only going to the audit log when the error log entry is insufficient. That's how 3.x broke my process; it stopped reporting the last broken rule in the same

[2017-08-23 08:00] dune73 commented on #855
@Paladin, why don't you add an idicator about the block to the access log? I think it is more a characteristic of the request than an event in itself.

[2017-08-23 08:03] dune73 commented on #857
Thank you for reporting @fzipi. We know about these shortcomings and there is currently a seperate project under way to fix this. Could you add your findings to the issue #808?

I a closing this in favour of said issue.

[2017-08-23 08:03] #857 closed, assigned to nobody

[2017-08-23 08:11] dune73 commented on #856
Hi @stephywells, sorry for the late response. And thank you for letting us know about these issue.

There is a lot that you can do to help us make this issue disappear.

When I submit the payload you mention, CRS 3.0.2 triggers the following rules in the highest paranoia setting.

<pre>
920273 PL4 Invalid character in request (outside of very strict set)
920273 PL4 Invalid character in request (ou

[2017-08-23 18:40] fzipi commented on #808
In addition to your proposal, I would like to propose a standard for indenting rules.

I noticed these inconsistencies trying to commit the ruleset to my own git. It began complaining in lots of places about tabs and spaces mix, and others.

Examples of actual inconsistency:
REQUEST-913-SCANNER-DETECTION.conf (33-34):
[code]
In this case there are two spaces at the beggining of the second line. Bu

[2017-08-23 21:39] fgsch commented on #808
This was already mentioned in the first comment.
Personally I'd prefer spaces to keep the width limited to (or close to) 80 cols but I don't mind either way. Changing this one way or another should be rather trivial.

[2017-08-24 00:38] fzipi commented on #808
I was trying just to put it down some criteria which could be used afterwards on a CONTRIBUTING file, or something like that.

Spaces is fine for me also, btw! 4?

[2017-08-25 03:21] fzipi commented on #808
So, I created #859 (dev branch), let me know what you think or if there is a need to change something.

[2017-08-27 01:36] YbyMMbPh commented on #856
Hello Stephy,
218500 is a Comodo rule id number.
This rule number is present in Comodo current version rule_set=1.135 as well as many previous versions.
The ruleset in this GitHub repository is the OWASP CRS 3 rule set.
Note: It is a different rule set.

I assume that to be pragmatic you are willing to change your plugin's requests to be able to pass through this rule.

218500 resides in the 24_SQ

[2017-08-27 12:50] YbyMMbPh commented on #856
I ran a more realistic test. on a test system with...
Apache 2.4.18
Modsecurity 2.9.2
Comodo Rule Set version 1.135 (downloaded today)

The test request was `http://domain.com/test.php?abc=<div>[error][/error]</div>`
This hit rule 218500 generating the following audit_log data...
`Message: Access denied with code 403 (phase 2)`
`...`
`[id "218500"] [rev "7"] `
`[msg "COMODO WAF: SQLmap attack dete

[2017-08-28 05:48] YbyMMbPh opened #860 "941160 FP - WordPress editor add media add image"
As the title says, using WordPress version 4.8.1 and CRS-302-dev
If the user edits a page or post and uses the "Add Media" button to open the "Insert Media" frame, then selects an image, then clicks the "Insert into page" button. (standard insert image procedure)
then the resulting POST request triggers rule id 941160, blocking the request and causing the Image Insertion to fail.
This is at PL1.
H

[2017-08-28 11:18] YbyMMbPh commented on #846
At first appearances that would seem to be true, but when tested this rule works as intended.
I tested it with the request `http://theme.wamp/?a=1&a=2&a=3`
I edited 921170  to log and added a msg to it.
I set PL3
921170 fired 3 times.
921180 reported `[msg "HTTP Parameter Pollution (ARGS_NAMES:a)"]`
see log of this request.
[modsec_audit2.log.txt](https://github.com/SpiderLabs/owasp-modsecurity-cr

[2017-08-28 12:41] csanders-git commented on #860
Thanks @YbyMMbPh, this is something we'll look into fixing. I want to verify that you have the Wordpress exclusions enabled.

[2017-08-28 12:45] csanders-git commented on #856
@YbyMMbPh thanks for the invaluable feedback.

[2017-08-28 12:47] csanders-git commented on #846
I'll add this too the unit tests and see if I can trigger it. Are you using NGINX, Apache or something else

[2017-08-28 12:51] csanders-git commented on #808
we can add tests to the travis-ci tests to enforce these standards as well once we solidify. I think this feedback is great. I like spaces personally but don't feel strongly one way or the other.

[2017-08-28 13:14] YbyMMbPh commented on #860
I can confirm that I do have the WordPress exclusions enabled.
I just double checked then re-ran the test.
The results were the same.

[2017-08-28 13:18] YbyMMbPh commented on #846
Not NGINX.
Producer: ModSecurity for Apache/2.9.2 (http://www.modsecurity.org/); OWASP_CRS/3.0.2.
Server: Apache/2.4.18 (Win32) PHP/5.6.19

[2017-08-28 14:28] fgsch commented on #808
I like 4 spaces but I'd like to see a 4 space indentation for each SecRule in the chain. i.e.

[code]

Am I the only one?

[2017-08-28 15:16] fzipi commented on #808
I concur. I updated my patch.

Another thing I've noticed is that when there is a only one action there is no "" surrounding it. For example whenever there is a chain alone. e.g:

[code]
It is better visually for me if this is used as "chain" (coloring helps) also, e.g:
[code]
So I fixed that also.

[2017-08-28 15:54] fgsch commented on #808
Cool. There are a few places were there is 8 spaces (or one tab, have not checked) instead of 4.
I've left come comments on the PR.

[2017-08-28 17:08] stephywells commented on #856
Thank you @YbyMMbPh !

It doesn't look like that repo is active. https://github.com/sliqua-hosting/modsecurity/issues

@csanders-git, @dune73  would it be best if I open an issue there instead? Does this appear to be out of your hands?

[2017-08-28 17:38] lifeforms commented on #856
It might still be our rule firing. I'm still very interested in the full error from the ModSecurity audit log...

[2017-08-28 19:09] fgsch commented on #577
You also want numbers on the regexp for the scheme.

[2017-08-28 23:33] YbyMMbPh commented on #856
Hello Stephy, the repo you linked to is a single web host's (Sliqua Hosting) personally curated version of the Comodo rule set.
If you want to pursue a change to Comodo's main rule set then the place to start would be at their forum. It does appear to be monitored by the devs who maintain the rule set. You can find it [here](https://forums.comodo.com/free-modsecurity-rules-comodo-web-application-f

[2017-08-30 21:34] willt opened #861 "Checking out for nightly builds"
Whats the best way to get checkout for nightly builds?
I plan on doing a nightly rpm build of rulesets  (if they changed)
Do tags get updates? Should I be checking out tag 3.0.2 ?

[2017-08-31 12:40] fzipi opened #862 "Using numbers in rules for phases instead of names (Rule Cleanup)"
From issue #859 by @victorhora:

Using phase numbers is actually easier for new users as all the examples from the reference manual, handbook and other sources use numbers. As there are only phase names for phases 2 ("request"), 4 ("response") and 5 ("logging") so with any rules that would be on phases 1 and 3 it would potentially confuse the user and in the end he would need to refer to the refer

[2017-08-31 13:01] emphazer commented on #499
@dune73
Does the number 35 (or rather 34) as a limit stem from specific statistics? From what we can see, regular accesses can have a much larger number than that.

On our servers, rule 920201 has thrown some warnings on accesses of pdfs. Most of those appear to be regular accesses. The number of range fields ranged from 35 to 199, showing an even distribution amongst the lower numbers up to 62. O

[2017-08-31 15:05] csanders-git commented on #856
Seems like we have a pretty good consensus on this topic. If you have any additional questions or feedback, please feel free to reopen this topic.

[2017-08-31 15:05] #856 closed, assigned to nobody

[2017-09-01 04:21] dune73 commented on #499
I think 35 was completely arbitrary but way before my active involvement with CRS.

Could you share a graph of said distribution?

[2017-09-01 08:24] emphazer commented on #499
@dune73
sure

[code]

They appeared in the past 3 days. Normally we discard logs with scoring below 4 on our central auditlog server.

[2017-09-01 08:35] dune73 commented on #499
Sweet. Is this always the same resource, or is there some variation in the documents?

How about introducing an additional rule so we get one which does not care, one with limit 65, one with limit 35 or so, and one with limit 5?

[2017-09-01 09:15] emphazer commented on #499
Totally different application servers and documents....
Mainly typo3 cms and tomcat.

Do you mean on different PLs?

[2017-09-01 09:30] dune73 commented on #499
Thank you for the confirmation.

Yes, on different PLs. Like we do now, but with one additional rule. Numbering would be a bit annoying though.

[2017-09-01 11:48] intelbg commented on #657
I had the same issue with CRS3 and modsecV3 as Joomla administration was not working until I added POST. I think that POST should be allowed by default.

[2017-09-01 13:04] csanders-git commented on #657
@intelbg can you elaborate a bit more on what you mean?

[2017-09-04 07:31] credhats opened #863 "I have nginx plus with modsecurity 3.0. But attacks are logged but not blocked. When I specifically go to rules conf file and change block to deny then it works please help"

[2017-09-04 11:01] credhats opened #864 "I am getting the error.log Inbound Anomaly Score Exceeded. I disabled that rule by SecRuleRemoveById now its opening but when do xss attack Its not blocking. How to deal with anomaly?"

[2017-09-04 11:05] #863 closed, assigned to nobody

[2017-09-04 12:04] spartantri commented on #864
Hi @credhats it is better if you contact the list  for generic questions (see https://coreruleset.org/support/) in order to receive some help you need to be more specific, which rule is causing you issues and what kind of content you want to send, a sample log is also quite useful.
In general removing rules is not the best idea, better adjust the anomaly scores and thresholds for your particular u

[2017-09-04 19:41] #864 closed, assigned to nobody

[2017-09-04 19:42] lifeforms commented on #860
Thanks, I will look into this.

[2017-09-04 20:06] dune73 commented on #848
@lifeforms just confirmed in the monthly chat he will sit down and get this done.

[2017-09-04 20:07] lifeforms commented on #848
I'll provide an example in the comments for every piece of the regexp. Also if chaim hasn't added my RCE tests to the test suite yet, I will do that.

[2017-09-04 20:09] lifeforms commented on #847
Closing this for now but if you disagree feel free to reopen :D

[2017-09-04 20:09] #847 closed, assigned to nobody

[2017-09-04 20:12] dune73 commented on #839
A PR would be highly welcome. Any takers?

[2017-09-04 20:31] lifeforms commented on #839
I see a PR is in #838, let's discuss over there.

[2017-09-05 05:40] credhats opened #865 "Getting page blocked under Anomaly score"

[2017-09-05 05:47] credhats commented on #865
logs shows ModSecurity: Access denied with code %d (phase 2). Matched "Operator `Ge' with parameter `%{tx.inbound_anomaly_score_threshold}' against variable `TX:ANOMALY_SCORE' (Value: `15' ) [file "/usr/local/owasp-modsecurity-crs-3.0.0/rules/REQUEST-949-BLOCKING-EVALUATION.conf"] [line "36"] [id "949110"] [rev ""] [msg "Inbound Anomaly Score Exceeded (Total Score: 15)"] [data ""] [severity "2"] [

[2017-09-05 18:12] dune73 opened #868 "Publication: The grave accent and xss"
[The grave accent and xss](https://davidmurdoch.com/2017/09/02/the-grave-accent-and-xss/)

This is a potential false negative. Involves multiline strings.

[2017-09-06 00:52] csanders-git commented on #863
I'm assuming you solved this problem

[2017-09-06 00:53] csanders-git commented on #848
I haven't yet but I can help you with the process just tell me when :)

[2017-09-06 00:54] csanders-git commented on #847
just gotta write a test that will trigger it

[2017-09-06 10:01] spartantri commented on #855
A quick workaround to have better elk stuff is to process the auditlog in json format and drop all noisy fields and do something very similar to what the error log looks like but with the benefit of enriching your events just in case something was missing from the error log (which usually is enough), if you parse the error log and extract the unique id as a field, it is trivial to find all events

[2017-09-06 21:27] spartantri commented on #865
Hi, why do you want to let this pass %22%3E%3Cscript%3Ealert(1);%3C/script%3E ?
It is perfectly normal to have it blocked, if your question is what anomaly score exceeded means, then there are many rules that do not block immediately the transaction but increase multiple anomaly risk scores and then a rule that checks the scores to be greater or equal than the threshold will block it.

You can pla

[2017-09-06 21:33] spartantri commented on #808
cool, this should be part of a full document detiling all the rule writing cosmetics 👍

[2017-09-07 00:36] ossie-git commented on #703
Hi,

Given the new Struts RCE (CVE-2017-9805) I returned to this issue (the new CVE is not related to Content-Header).  I had a possible suggestion for this current thread.  Instead of trying to flag this as RCE, why not add a rule under Protocol Violations instead?

This can be done in one of two ways:

- blacklist all non-valid MIME types (IANA contains an updated copy which currently clocks in

[2017-09-07 01:04] fzipi commented on #808
I've made all the changes discussed about the whitespacing, so maybe #859 can be merged now. To document this, should we create a wiki page or a CONTRIBUTING.md file (or both)?

[2017-09-07 05:20] csanders-git commented on #808
We should create a contributing file first and then link that to any PRs :-). If it gets complicated enough we can make a wiki article.

[2017-09-07 08:02] spartantri commented on #703
Header compliance could be a good candidate to add, most headers are check only for a few strings or presence but there is not check against RFC, invalid values or acceptable values and length, the payload at the beginning is huge adding a limit per header type could be a good start.

[2017-09-07 08:42] ossie-git opened #869 "Add Java Deserialization Detection"
With the recent Struts vulnerability (CVE-2017-9805) which allows RCE - https://struts.apache.org/docs/s2-052.html - I was wondering if anyone had looked into adding some basic Java serialization detection.  It appears there is currently some support for detecting PHP Objects, but nothing for Java.  Is this the current state or am I missing something?

I'll investigate further and see if I can com

[2017-09-07 13:09] csanders-git commented on #703
We'd have to be careful headers like set-cookie can be really long

[2017-09-07 16:35] spartantri commented on #869
I wrote that 2 years ago when ysoserial came to light, if I have time I will add a PR to add that (I m not familiar with git so do not expect it to be the best), maybe I will just write something on a blog on it..

[2017-09-07 18:11] dune73 commented on #808
I've covered this effort in the September CRS newsletter (-> https://coreruleset.org/20170907/crs-project-news-september-2017/). We support your decision to go with spaces instead of tabs and generally want to make sure you do not hit a roadblock with your effort. The fact that we do not contribute much here, does not mean that we do not care.

@emphazer volunteered to help you out if you need any

[2017-09-07 20:18] ossie-git commented on #703
For GET requests and Content-Type, instead of trying to detect it as RCE, we can do one of the following:

- blacklist all non-valid MIME types (IANA contains an updated copy which currently clocks in at 1636 MIME types - https://www.iana.org/assignments/media-types/media-types.xml)
- block all non-valid characters

For #1, you can extract the list of valid MIME types by running the following one-

[2017-09-08 03:50] csanders-git commented on #861
Sorry for the slow reply, somehow this slipped through. Generally nightly builds for the current release are in the v3.0/dev branch (https://github.com/SpiderLabs/owasp-modsecurity-crs/tree/v3.0/dev).

[2017-09-08 03:50] #861 closed, assigned to nobody

[2017-09-08 08:32] spartantri commented on #703
GET and HEAD requests with Content-Type are a bit into gray area because as noted in RFC 7231 (https://tools.ietf.org/html/rfc7231#section-4.3.1) the request body have no defined semantics and may be rejected and this header purpose is to define the media type into the body.

This is one of those cases that a vendor may choose to do weird stuff with the body in GET requests, accept and process, ig

[2017-09-08 09:29] ossie-git commented on #869
Haven't had enough time to look too closely at the exploits related to this Struts vulnerability but here are 2 examples:

https://hub.docker.com/r/medicean/vulapps/
https://blog.nviso.be/2017/09/07/active-exploitation-of-struts-vulnerability-s2-052-cve-2017-9805/

It appears that both use java.lang.ProcessBuilder (<next class="java.lang.ProcessBuilder">) (https://docs.oracle.com/javase/7/docs/api

[2017-09-08 10:38] lifeforms commented on #549
A PR is in #870, closing this!

[2017-09-08 10:38] #549 closed

[2017-09-08 10:43] lifeforms commented on #869
@ossie-git I think a blacklist of Java-related strings will be a very good idea, I might have some to add too.

[2017-09-08 12:16] spartantri commented on #869
ProcessBuilder is often used to spawn processes, ET snort signature http://docs.emergingthreats.net/bin/view/Main/2024663 is quite generic and does the detection based on ProcessBuider + <command

I did some testing with the PoC and wrote a new one for detecting CVE-2017-9805, and tested against https://www.exploit-db.com/exploits/42627/ and paste it in #870 as 932181.

[2017-09-08 12:55] dune73 commented on #862
I'm all for going with numbers.

Troubling fact: there used to be a time where phase:1 and phase:3 were meant to disappear / be merged with phase:2 and phase:4. That was the time where the three phase names were introduced. But the two moribund phases did not get an name of their own.

Later the two phases were resurrected but no name was applied. The names are thus handicapped and numbers the pre

[2017-09-08 13:26] dune73 commented on #839
OK. Let's close this in favor of #838.

[2017-09-08 14:07] emphazer commented on #499
merged

[2017-09-08 14:07] #499 closed

[2017-09-08 14:08] #865 closed, assigned to nobody

[2017-09-08 14:09] dune73 commented on #865
Thanks @spartantri.

@credhats: I agree with spartantri. If you have more to add then please reopen this issue.

[2017-09-08 14:16] dune73 commented on #853
Let me conclude:
1 - The pattern does not appear in MySQL
2 - We do not really know about other SQL dialects
3 - A related, but restricted pattern could be used in ODBC exploits

I think 2 prevents us from removing this rule / pattern. But there is nothing holding us back from adding an ODBC rule to our rulebase.

[2017-09-08 14:19] dune73 commented on #846
Why would 921170 stop processing once it fires? That would be very odd.

Any luck with a unit test?

[2017-09-08 14:27] dune73 commented on #845
Is not this due to Apache 2.4.24 handling this stricter? From the changelog:

[code]

[2017-09-08 14:33] dune73 commented on #835
You are on the right track @quenenni.

Generally, we want to avoid FPs at PL1, but this is highly special and unlikely to appear very often. We could create a roundcube rule exclusion package of course, but it ought to be a bit more than a single rule.

In the meantime, I think it is save to close this issue and hope nobody else bumps into 941170.

[2017-09-08 14:33] #835 closed, assigned to nobody

[2017-09-08 14:41] dune73 commented on #833
This rule is indeed mighty aggressive. But I am not very experienced with exploits leveraging hex encoding and how the payload looks. Right now we trigger on anything but numbers before the `0x`. So you are effectively saying the `[a-Z]` should be added to that pair of bracket.

[2017-09-08 15:12] csanders-git commented on #845
Yeah, this seems to be the case, as a result this test will probably never pass as part of automated testing.

[2017-09-08 23:19] fzipi commented on #862
Well, PR #871 solves this one.

[2017-09-08 23:25] fzipi commented on #808
@fgsch Are you ok if I go for:

- Remove maturity action

- Remove accuracy action

? Then we can focus on reordering last.

[2017-09-09 00:42] victorhora commented on #862
Thanks for sharing that piece of ModSec history here @dune73. I honestly had no idea why we only have names for a few phases :)

Well that said, I think it would be fine to make a PR for ModSecurity to add phase names to all the phases, but then deciding on a name, pushing PRs for both v2 and v3 and then still not being able to use phase names on the CRS (backwards compatibility) tells we should i

[2017-09-09 05:47] dune73 commented on #862
Initiating the merge of the two phases was one of the last things Ivan did for ModSec when he got fed up with people trying to access ARGS/ARGS_POST in phase:1. Ryan reinstated phase:1 to the former hook in 2.7.0 or so. It was a bit of a controversy back in the day.

Honestly, I would have preferred for ModSec to refuse to run with ARGS/ARGS_POST in phase:1 and be done with it.

But nevermind, let

[2017-09-09 05:47] #862 closed, assigned to nobody

[2017-09-09 12:18] lifeforms commented on #808
+1 on removing those!

[2017-09-10 15:44] fgsch commented on #808
@fzipi ofc, please go ahead!

[2017-09-10 20:01] lifeforms commented on #833
I've little experience with this too, maybe someone else can chime in?

If I look at this example: http://www.pwntester.com/blog/2014/01/15/hackyou2014-web100-write-up/ it would suggest that the `0x...` would need to be on its own, well at least in this case, it might not be the only way to use SQL hex literals.

Interestingly the regexp already contains `(?:\A|[^\d])0x...` so the `0x` wants to be

[2017-09-11 09:20] AMKpeacemaker opened #875 "ModSecurity: Found another rule with the same id:2008938"
I´m kind of new to owasp-modsec-crs, so I have to apologize in advance if this is caused by my configuration and this "error" is already known.
I added most of the your rules to my config to test them out, but I can´t start my apache2 because of this. Do I have to choose between lfi_attacks.conf, rfi_attacks.conf and phpbb.conf ?

kind regards
AMKpeacemaker

[2017-09-11 09:27] dune73 commented on #875
Hi @AMKpeacemaker,

This is an old version of CRS (-> CRS2). Given you are new an no constraints exist, please upgrade to CRS3 and get rid of this - and many other problems.

Regs,

Christian Folini

[2017-09-11 09:32] AMKpeacemaker commented on #875
Thanks for your reply,
I wasn´t aware of using an old version.

Sorry for not realizing it by myself and the inconvenience

kind regards
AMKpeacemaker

[2017-09-11 09:45] #875 closed, assigned to nobody

[2017-09-11 10:01] dune73 commented on #875
No worries, mate. Glad to help. Please don't wait to report back when you encounter problems with CRS3.

[2017-09-13 01:32] fzipi commented on #808
#878 removes maturity & accuracy for v3.1/dev.

[2017-09-13 15:36] Paladin commented on #855
@dune73 Oooh. Interesting idea, that. I'm already logging some other custom variables (some in production, others were just activated during initial setup and testing). I might be able to construct a few more to accomplish that as well. No excuse for why I didn't think of doing that myself. Good catch.

[2017-09-13 19:10] fzipi opened #882 "Problem in rule LFI/RFI 931130 with multiple args"
In rule 931130 (950120 in 2.2.x) we detected a strange behavior.

It only fires when the argument containing the `%{request_headers.host}` is the last one. this was somewhat unexpected, and I don't think its the rule purpose.

We expected that no matter which argument contains the RFI, it will be blocked.

[code]

This is a simple script for testing:
[code]

So it is very easy to circumvent this r

[2017-09-13 22:28] spartantri commented on #882
Actually, the rule and the ^(?i)(?:file|ftps?|https?)://(.*)$ regex have several bypasses
%20http://whatever.com
http://localhost@whatever.com
HPP which is detected by other rule

This has a quick fix but I'm just starting with git and really suck at handling the PR and all that stuff, just change lines 136 and 137 to:

[code]

[2017-09-13 22:38] spartantri opened #883 "content-types and body inspections bypasses"
Check there is a body processor and body inspection whenever possible and when multipart body processor is in use the parts of the request may have different types of content which can be used for by passing eg xss inside xml file in a multipart post, the crs will inspect only the multipart and check no body processor errors exist but the xml structure is not validated as it is when application/xm

[2017-09-14 00:37] fzipi commented on #882
Good.

Will test and report back. If its good then I will make the PR myself.

[2017-09-14 02:07] csanders-git commented on #855
So I still want to write up a blog on this, is it alright to use your config?

[2017-09-14 02:20] csanders-git commented on #883
most of the processing body checks are provided as part of ModSecurity, if we can figure out a solution, it might make sense to add it over there.

[2017-09-14 18:16] fzipi commented on #882
Tested and its working as expected. Made PR #887 whit this change.

[2017-09-14 18:33] dune73 commented on #882
Thank you for spotting this, @fzipi. It's a good catch. The problem is that ModSecurity will always loop over the whole collection for the first SecRule and afterwards continue with all the hits with the 2nd rule. Consequently TX:1 is chronically overwritten and hard to use correctly.

You also write that there are many similar rules like this one. Could you list them, please?

Now as for a fix: W

[2017-09-14 19:43] fzipi commented on #882
Don't worry. I agree with you to take our time to think the best solution.

I was thinking about the implications of this problem too. Maybe I'm wrong, but I think this is not well documented in the reference manual. I was assuming that for each item of the ARGS collection there was an "execution" of the `beginsWith`, but that's not the case.

On the other hand, it's way too easy to circumvent 931

[2017-09-14 19:58] dune73 commented on #882
Oh, it's hardly documented at all in the reference manual. But these shortcomings are the reason of existence for the ModSecurity Handbook, where we cover it with some detail.

If you think about how the code must be written, you will realize that it is much easier to walk over the rules step by step. But it has these obvious shortcomings that unfortunately limit various very cool rule ideas.

[2017-09-15 08:21] spartantri commented on #882
What about leaving this rule as it is for low PL and starting on PL3 or maybe even PL4 use the variable approach, to keep it simple, the same could be accomplished with lua to overcome the modsecurity shortcomings and iterate through al items in collections such as VARS but that will be much more complicated to manage.
This rule may also change to use RX that matches with macro expansion to have a

[2017-09-15 09:13] spartantri commented on #855
@csanders-git, do you mean the ELK config? if so, yes, be my guest

[2017-09-15 10:16] fgsch commented on #808
Another thing I'd like to address is the usage of @rx - some rules use it, some don't thus using implicitly.

Can we reach some consensus and try to unify its usage?

[2017-09-15 10:41] dune73 commented on #808
I prefer explicit rx. It does not hurt us and it's easier for newbies.

P.S. There is a guy with the github handle @ + rx. He appreciates if we do not use @ + rx too often. :)

[2017-09-15 10:44] fgsch opened #888 "Rule 93210x does not handle backticks and ) for plus'd (+) commands"
The following will not match:

[code]

but work for other commands, e.g.:

[code]

This is because id (among others) have + to avoid FPs.
`regexp-cmdline.py` does:

[code]

That should probably be expanded to include at least ` and ).

[2017-09-15 10:46] fgsch commented on #808
Do I take it'd be a good exercise to add it where needed?

Oops!

[2017-09-15 10:51] dune73 commented on #808
Depends on the goal of the exercise. If the goal is the development of a one-liner, then it's definitely a good exercise.

[2017-09-15 10:58] fgsch commented on #808
I meant if we should do a sweep and added where needed as part of this issue.

[2017-09-15 11:09] dune73 commented on #808
Yes, I think it belongs into this issue. The status is unclean / inconsistent now and you are proposing an improvement. That is certainly welcome. If we go with explicit or implicit needs a bit more thought / opinions, but I personally prefer explicit.

[2017-09-15 11:10] lifeforms commented on #888
This is intentional, using just the string `id` in this rule sadly provided many false positives on a test ruleset of common English posts. This is mentioned in the datafile regexp-932100.txt:

[code]

So just `id` is not enough to trigger the rule. Something like `$(id -A)` should match.

I would be up for hardcoding some variants of these commands. For that reason I have created a separate black

[2017-09-15 11:41] fgsch commented on #888
I appreciate that but I don't think $(id) or \`id` are common, hence it should be safe to add them (and any of the others, for the matter) when massaging the input.

We should be able to adjust it to some extent to catch some of the possible evasions too.

Do you see any problem with this approach?

[2017-09-15 13:08] csanders-git commented on #855
thanks @spartantri  :) that is what i meant.

[2017-09-15 15:26] lifeforms commented on #888
Another more powerful approach could be to split off part of the word list to a separate rule, so that it doesn't fire on the semicolon `;id` (very common) but on other uses like `$(id)`. And then review all the commands for inclusion in that rule.

[2017-09-15 16:18] spartantri commented on #855
Cool, send the link to your post to read it :)

[2017-09-15 17:54] quenenni opened #889 "browsing with tor is blocked"
Someone using the Os https://tails.boum.org/ and surfing through tor networks can't access its wordpress site.
The rule 953120 is triggered.

Is this because of tor browsing?

[code]

[2017-09-17 12:15] migolovanov opened #891 "Couple false-negatives"
These attacks are not blocked by current version:
[code]

[2017-09-17 14:43] lifeforms commented on #848
@fgsch I have added the necessary comments to the RCE rules in PR #892 which is now in v3.1/dev. I am also going to add many examples to the test cases, but that is pending a merge of PR #890 since v3.1/dev does not contain the regression tests yet.

[2017-09-18 09:47] spartantri commented on #889
Hi @quenenni the 412 response comes from wordpress, the CRS does not use such status but the response matches a php leak rule so if that is normal to you you may whitelist the site on that rule or disable it entirely.
If may be better if you see the full wordpress response and take a decision based on what you see there.
As you can see on your log there is no <? in the output as it is cut to show

[2017-09-18 13:08] spartantri commented on #891
Hi @migolovanov, I checked with 3.0.2 in PL4 detected 5/6 listed payloads but global.asa is not in the blacklisted files list in rules/lfi-os-files.dat, opened PR 894 to fix it

False negative
[code]

True Positives
[code]

[2017-09-18 15:02] migolovanov commented on #891
@spartantri, yes, sorry, my mistake. Was checking with PL1.

[2017-09-18 15:11] dune73 commented on #891
Thank you for the info @migolovanov.

Most of them trigger on PL2, it might be worth checking if we can shift the .htaccess payload to PL2 as well. PL3 is a bit high for something that obvious.

[2017-09-18 16:09] spartantri commented on #891
Sure, look at the log for [tag "paranoia-level/#"], 3 of the payloads trigger at PL2, one on PL3 and another one on PL4.

[2017-09-18 17:50] dune73 commented on #891
@spartantri: I figured that out as well (after submitting my comment :)

So I think it boils down to think about how to shift the PL3 alert to at least PL2. Or am I wrong?

Ideally, 930130 should catch `?test=././.htaccess`, or am I wrong?

[2017-09-18 19:54] fzipi commented on #808
I agree on adding @ + rx explicitly. Will try later this week to fix that.

[2017-09-18 20:14] fgsch commented on #808
@fzipi I was planning on working on that myself when/iff consensus was reached :)

[2017-09-18 20:28] fzipi commented on #808
@fgsch Please go ahead! I will begin then with the actions reordering stuff 🙂

[2017-09-19 02:55] csanders-git commented on #891
we can also add global.asa to the same place we have things like htaccess and such

[2017-09-19 07:53] migolovanov commented on #891
Just for the info, working apache struts2 exploit for S2-019 (CVE-2013-4316) is also not blocked on PL1 ~and PL2~

[code]

[code]

[2017-09-19 07:57] lifeforms commented on #891
@migolovanov We are working on Java exploits in #881, could you comment with any Java payloads there? ❤

[2017-09-19 07:59] migolovanov commented on #891
yes, sure. will keep in mind that in future.

[2017-09-19 10:49] spartantri opened #895 "Problem in rules 920190 and 943110"
The #882 issue affects 920190 and 943110 as  well
920190 is for Range and Request-Range headers, if repeated only the first occurrence is inspected
943110 is for session fixation if Referer header is repeated only the first occurrence is inspected

Is there a valid reason to accept duplicated request headers? If so, which ones (maybe cookies)? Should we add a check for that at least in PL4, like a

[2017-09-19 16:18] quenenni commented on #889
@spartantri Thanks for your help.
412 comes from our settings in modsec.

I tried matching the regexp from the rule with the body response (https://regex101.com/) but could't find a match, so it was difficult to understand the problem (with the full  auditLogPart E).

I found someone else around me that uses the tails Os. I'll ask her to do some tests for me.

In the meantime, I'll make an excepti

[2017-09-19 20:43] lifeforms commented on #703
For now I'll leave User-Agent and Cookies outside consideration and focus just on Content-Type.

My €0.02...

- You would think that rule 920420 already restricts the Content-Type to a whitelist, but this restriction is not made in case of GET/HEAD/PROPFIND/OPTIONS requests, which is currently undocumented in `crs-setup.conf`. We should document this in crs-setup.conf and rule 920420's comments so

[2017-09-20 04:55] mirkodziadzka-avi opened #898 "Bug in rule 920420"
checked in v3.0/master and v3.1/dev

Rule 920420 does contains the line (in the last chain rule)

[code]

This does not work in ModSecurity, because tx variable expansions is not executed inside the Rx operator. The regular expressions are compiled during rule load time.

With the latest fix  in ModSec (https://github.com/SpiderLabs/ModSecurity/commit/039bd2cc84b2bbea2b83635ec04fef5b18622574) whic

[2017-09-20 05:04] mirkodziadzka-avi commented on #898
Proposal (without having a PR or a running regression test):

Change this part of the rule to

[code]

[2017-09-20 08:54] spartantri commented on #898
Hi @mirkodziadzka-avi,
The rule does what it is supposed to do in my conf, and actually, macro expansion works in rx but it is not advised as per the reference manual ([Macro expansion](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#Macro_Expansion)).

Regular use case with invalid Content-Type resulting in forbidden:
[code]

However this rule can be bypassed due to the issue with

[2017-09-21 06:25] fgsch commented on #848
Thanks! I will take a look.

[2017-09-22 02:34] fzipi commented on #808
Finally, reordering is in PR #901.

[2017-09-22 07:35] WebSabaki opened #902 "POST arrays trigger Pattern match "TX:paramcounter_(.*)" at TX:paramcounter_ARGS_NAMES:.."
Good morning.

When trying to submit an array such as (so giving permission 1 and 2 to a user):

owasp rules trigger the following error

Message: Warning. Pattern match "TX:paramcounter_(.*)" at TX:paramcounter_ARGS_NAMES:permissions[]. [file "/etc/modsecurity/owasp-modsecurity-crs/rules/REQUEST-921-PROTOCOL-ATTACK.conf"] [line "340"] [id "921180"] [rev "2"] [msg "HTTP Parameter Pollution (ARGS_N

[2017-09-22 07:39] WebSabaki opened #903 "default value ignored for TX parameters"
Good morning.

After installing owasp with modsecurity, I got permanent 403 errors.

Issue was that the following option HAD to be uncommented as somehow default values are not used.
Any idea why?

This seems to happened only on one of our server,  with Apache/2.4.25, Debian 4.9.30.

Thanks

[2017-09-22 09:45] dune73 commented on #903
Thank you for reporting @WebSabaki.

This is unexpected behaviour. Could you reconstruct this behaviour while setting the ModSec debug log level to 9 and submit the debug log (up to the end of phase 1 would be sufficient).

[2017-09-22 09:51] dune73 commented on #902
Thanks for reporting @WebSabaki.

It is likely this is triggered via the way ModSecurity (and our rules) handles post parameter arrays. It all boils down to looking like a parameter pollution from the perspective of rule 921180.

The only way around I see is creating a rule exclusion for this parameter array.

Given this rule runs in PL3, you need to handle false positives for your setup. So this

[2017-09-22 11:22] WebSabaki commented on #902
I am not really familiar with 921180 so I will check into it.

For now, I asked for an update of the software to go without array-ed POST and it works fine. Still I will look at that

[2017-09-22 11:32] WebSabaki commented on #903
very well.
I made server crashed by reseting configuration :)

Log attached. I removed the hostname from the log (replaced with HOST).
I did not find any other sensitive data, but please tell me if there are.

[debug.log.tar.gz](https://github.com/SpiderLabs/owasp-modsecurity-crs/files/1324336/debug.log.tar.gz)

[2017-09-22 12:05] dune73 commented on #902
921170/80 are quite advanced. If you are able to understand how they work, then you have mastered ModSec to a very wide extent. :)
Otherwise, when you have a working solution that does away with the FP, then that's even better. :)

[2017-09-22 12:05] #902 closed, assigned to nobody

[2017-09-22 12:13] dune73 commented on #903
I get the funny feeling you do not have all the rule files on said machine.

Here are the rule files referenced in your debug log:

[code]

The file `REQUEST-901-INITIALIZATION.conf` is missing. I take it that is the real cause of your issue.

[2017-09-22 14:55] WebSabaki commented on #903
In fact I have it but somehow empty ..

Really strange as when I check the tar.gz of owasp-modsecurity-crs-3.0.2, it is there-

I will put it back then. Sorry for this wrong report then ..

[2017-09-22 14:55] #903 closed, assigned to nobody

[2017-09-23 04:34] dune73 commented on #903
No worries. Glad to help.

If there is anything else coming up, just send word to the crs mailinglist - or report here if you prefer.

[2017-09-23 06:08] dune73 commented on #898
@mirkodziadzka-avi: Do you agree or is there anything wrong with @spartantri's explanation / proof?

[2017-09-23 15:28] mirkodziadzka-avi commented on #898
I'm still trying to find out; because I see different behaviour in our (modified) version of libmodsecurity v3 when we pulled the latest changes from upstream.  I will reproduce it with a plain modsecurity v3 installation, but for this I need more time.

I agree that the reference manual allows this (but discourage it for performance reasons).

I'm not sure if the v3 implementation will follow.

S

[2017-09-23 16:38] dune73 commented on #898
Oh, we're talking libmodsecurity here. That might indeed be an implementation thing then. If you can confirm the different behaviour, then please be sure to open a bug report with ModSecurity.

You have a point with the @within as opposed to @ + rx. Opinions?

[2017-09-24 11:11] lifeforms commented on #276
A new exploit: https://blog.ripstech.com/2017/joomla-takeover-in-20-seconds-with-ldap-injection-cve-2017-14596/

[2017-09-25 07:45] dune73 opened #904 "New malign User-Agent"
Just saw the following UA the first time for real.

We should add it to our list:

[code]

Heads-up to to @mazen160 for using a distinct UA for his scanner by default. Thank you man!

[2017-09-25 16:27] fgsch commented on #839
I will continue this work via new PRs.

[2017-09-25 16:27] #839 closed, assigned to nobody

[2017-09-25 16:28] fgsch commented on #808
This is almost completed AFAICT.

I can see a few rules missing and forgot to cover pass. Any comments on the latter?

[2017-09-25 16:45] dune73 commented on #808
I am not sure I am following you. What's the problem with "pass". Please give an example rule id to make it clear.

[2017-09-25 16:55] fgsch commented on #808
The `pass` action order was not defined in the list above and as such it's sometimes after phase, others after nolog, etc.

Where should it stand considering the order you mentioned in https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/808#issuecomment-308061656 ?

[2017-09-25 18:03] mazen160 commented on #904
Thanks @dune73!
Probably the string `struts-pwn` should be added to the `owasp-modsecurity-crs/rules/scanners-user-agents.data`

It's probably the third time to see it used in the public :)

[2017-09-25 18:29] dune73 commented on #904
Exactly my thinking.

I saw it used by an IP in Thailand. Can't tell you about the service unfortunately.

[2017-09-25 18:52] mazen160 commented on #904
I saw it in:
https://www.google.com/search?q=intext:"struts-pwn"+user-agent
It seems to be quite used a lot in mass-scans.

Also:
https://github.com/mazen160/struts-pwn/issues/4

[2017-09-25 19:00] dune73 commented on #808
Hmm. I took it for granted that `disruptive action` would include `pass`. However it did not occur to me that it has been overlooked.

[2017-09-25 19:00] fzipi commented on #808
I think I understood. The one liners. We didn't fix the one liners yet. The idea was to merge first the big reordering, and we can manage the one liners as a separated PR.

BTW, the 'pass' is a disruptive action.

[2017-09-25 19:33] dune73 commented on #904
Cool. Thanks. Looking fwd to see you in three weeks!

[2017-09-25 20:03] mazen160 commented on #904
Me too! :)
I will let you know how the process is going tomorrow

[2017-09-25 20:54] fgsch commented on #808
Ah. Duh! I will get that sorted as well.

[2017-09-26 12:16] fzipi commented on #895
I can confirm that these two rules are affected by that same ass #882 issue. Sorry about the delay.

[2017-09-26 18:27] fzipi commented on #808
One of the thing that I think we need to discuss is that if that one-liners should be transformed to lines with continuations or not.

For the visual effect, I think that they should stay as they are now (but of course, ordered). What do you think?

[2017-09-27 04:31] YbyMMbPh commented on #889
@quenenni I think I see the reason for your confusion.
You should read rule 953120. It is a chained rule.
The first clause in the chain is `SecRule RESPONSE_BODY "<\?(?!xml)"`
This will match `<?` but not `<?xml`
The second clause in the chain is...
`SecRule RESPONSE_BODY "!(?:\x1f\x8b\x08|\b(?:(?:i(?:nterplay|hdr|d3)|m(?:ovi|thd)|r(?:ar!|iff)|(?:ex|jf)if|f(?:lv|ws)|varg|cws)\b|gif)|B(?:%pdf|\.ra)

[2017-09-27 09:34] fgsch commented on #808
I think one liners for the rules checking the paranoia level is fine and in fact that's what I'm doing (keeping it as a single line) wrt pass.

[2017-09-28 02:57] 365moods opened #906 "DOS rule not work"
**The DOS rule don't work and other rules(SQLI) are used normally
Verison:
ModSec branch: v3/master
ModSec-Nginx branch: master
owasp-modsecurity-crs branch: v3.0/master
Nginx: 1.12.0**

**Include rules**:
Include crs-setup.conf
Include rules/REQUEST-912-DOS-PROTECTION.conf
Include rules/REQUEST-942-APPLICATION-ATTACK-SQLI.conf

any idea? :-(

[2017-09-28 04:15] dune73 commented on #906
Thank you for reporting @365moods and thank you for providing all the details about your versions.

In order to assess this problem, we will need you exact setting of the following variables (disabled by default)

[code]

And the complete event / error log of the attack / test run.

[2017-09-28 05:36] 365moods commented on #906
@dune73

**SecAction \\
 "id:900700,\\
  phase:1,\\
  nolog,\\
  pass,\\
  t:none,\\
  setvar:'tx.dos_burst_time_slice=60',\\
  setvar:'tx.dos_counter_threshold=100',\\
  setvar:'tx.dos_block_timeout=600'"**

[2017-09-28 05:37] 365moods commented on #906
@dune73 these variables are always set

[2017-09-28 05:42] 365moods commented on #906
@dune73 help me

[2017-09-28 06:13] 365moods commented on #906
@dune73

In file REQUEST-942-APPLICATION-ATTACK-SQLI.conf, the following configuration is added ( SecRule REQUEST_BASENAME  ):

`

       "phase:5,\
        id:912150,\
        t:none,\
        t:lowercase,\
        log,\
        pass,\
        tag:'application-multi',\
        tag:'language-multi',\
        tag:'platform-multi',\
        tag:'attack-dos',\
        msg: '%{ip.dos_counter}',\

[2017-09-28 19:32] spartantri commented on #906
Hi @365moods , DOS won't work if the ip collection is not initiallized and that happens in `REQUEST-901-INITIALIZATION.conf` look for `initcol:ip` once the ip collection is initiallized then the counters may be tracked.

The counters are handled by the unique combination of ip and user agent hash, notice that this method is not perfect and the effectiveness would depend on consistency of those val

[2017-09-28 19:39] spartantri commented on #898
Did you test your proposal? to tell the perf difference with each of them?

If you can please do it and go ahead and open a PR in 3.1dev branch if there is any perf gain :)

We need more hands to add good stuff!

[2017-09-28 21:41] punlaw commented on #21
Is it possible to remediate the false positive by reshuffling the sequence of  how the transformation is apply?
Since the non asic character is transformed into unicode when t:utf8toUnicode is applied.
Then when t:urlDecodeUni is applied all the unicode resulted from non ascii character  can potential be transformed to some symbol where modsecurity would deem to be an attack. i.e " 格|imag|" is fir

[2017-09-29 01:55] 365moods commented on #906
Hi @spartantri Get, Thank you so much~~

But, when configure `REQUEST-901-INITIALIZATION.conf`, i get fault msg:
[code]

[2017-09-29 04:14] dune73 commented on #906
Oops. Sorry for these problems @365moods. Nginx is not 100% stable with ModSecurity 2.x. The situation is improving with libmodsecurity 3.x which has been released as a preview. You should try out that.
Given it's a ModSec segfault issue, I am closing this as a CRS bug.

[2017-09-29 04:14] #906 closed, assigned to nobody

[2017-09-29 07:39] spartantri commented on #906
Oops, I use little to no ngnix so I cannot help you much there but have you checked if the [data dir](https://github.com/SpiderLabs/ModSecurity/wiki/Reference-Manual#SecDataDir) is writable for the webserver process and properly configured somewhere at server level?
`SecDataDir /path/to/di`r

[2017-09-29 08:03] spartantri commented on #21
Yes and no, changing the transforms will affect how rules process the content and prevent issues with some rules but "%u683c|imag|" is not a very friendly payload at all, it will trigger 920220, dealing with other alphabets is problematic often I have to be more forgiving with those fields containing cyrilic or other non-ascii and multi byte encodings. It may be interesting to use the specific tar

[2017-09-29 18:09] fzipi commented on #808
One more thing that I found is that 'setvar', 'severity', and others, sometimes have quoted strings and sometimes not.

Severity hasn't got single quotes in `REQUEST-949-BLOCKING-EVALUATION.conf`.
Setvar is mixed in many places e.g:

`setvar:tx.anomaly_score=+%{tx.critical_anomaly_score},\`
`setvar:'tx.msg=%{rule.msg}',\`

I think we should always quote them.

[2017-09-29 19:08] HW-Peter opened #908 "nter"

[2017-09-29 19:08] #908 closed, assigned to nobody

[2017-09-29 21:29] fgsch commented on #808
That's my opinion as well.
Comments?

[2017-09-29 21:40] dune73 commented on #808
I do not like these quotes from an aesthetic viewpoint , but I think you are right.

But maybe somebody has better arguments one way or the other.

[2017-10-01 02:19] fzipi commented on #808
I do not like quoting at all either, but I suppose that some directives could have spaces (e.g: msg) and that may be the reason that quotes began to appear.

Reading the mod_security code, it seems that parameters are automatically quoted if there are spaces (in the sense of `isspace()`)in the params (see file `re.c` line 673 in master from modsecurity v2).

[code]

Also, for integer fields like '

[2017-10-02 17:05] fgsch commented on #808
As a developer, I'd say that numbers should not be quoted, strings (with or without spaces) should.
This makes it easier to decide when to apply them. YMMV.

[2017-10-02 19:39] lifeforms commented on #653
We removed the reliance on `X-Forwarded-For` in version 3.0.1.

This means if you use authorized proxies, you need to use mod_remoteip module.

[2017-10-02 19:39] #653 closed, assigned to nobody

[2017-10-02 19:44] lifeforms commented on #869
We have started working on Java exploit detections in PR #881, and we hope to finish up the feature within the next month! Thanks for the submission @ossie-git and if you have anything to add, your comments would be very welcome in #881.

[2017-10-02 19:44] #869 closed, assigned to nobody

[2017-10-02 20:02] lifeforms commented on #882
A PR is in #887, let's continue commenting there!

[2017-10-02 20:02] #882 closed, assigned to dune73

[2017-10-03 15:33] spartantri commented on #808
As you are standardizing stuff, severity can use words and numbers, I prefer words having a 0 in the log for me is not appealing as URGENT, in fact make me think of something not important that should be totally ignored.

[2017-10-03 17:05] dune73 commented on #808
If the paranoia one-liners are not yet settled: I think they should remain one-liners. It's a repetition of the same thing over and over and things at that should eat as little room as possible.

[2017-10-03 17:07] dune73 commented on #808
As for the quoting, I think we do not need to set up a general ModSec convention, but simply cover what we are using in CRS right now. Severity is a string now, phase is a number. And while seeing @spartantri's point with the severity, I think we should stick to the string.

[2017-10-03 18:01] fzipi commented on #808
I am proposing then (per https://github.com/SpiderLabs/owasp-modsecurity-crs/issues/808#issuecomment-333598302):

Therefore, we need to change:

- 'id' unquoted number (just three)
[code]
- 'rev' unquoted number (this need a massive substitution, today revision is quoted in CRS)
[code]

- 'severity' is a quoted string (only 8 without quotes, and one that passed various eyes)
[code]
- 'setvar', 'ex

[2017-10-03 18:24] dune73 commented on #808
This sounds like a plan. Thank you for the report @fzipi.

In fact we tried to get rid of the quotes for the id for 3.0. And they seem to pop up again and again. We need to have a travis test. ;)

[2017-10-03 18:32] fzipi commented on #808
This, and another things have been arising when trying to write a parser and things keep stubbornly being different... :|

[2017-10-03 19:00] dune73 commented on #808
Writing a parser is soo damn hard. And whatever looked homogenous when you started develops a life of its own when looking closer.

[2017-10-04 08:57] fgsch commented on #808
Ok, I've started doing the cleanup wrt quotes and also ordering a few things that were missed in the previous rounds.

It's mostly mechanical so I will wait for #907 to get in before opening a PR.

[2017-10-04 09:12] emphazer commented on #808
@fgsch
we are currently working on #907 and #887.
it should be done soon

[2017-10-05 10:22] fgsch opened #909 "Possible bypass using GET/HEAD with Transfer-Encoding"
As per https://tools.ietf.org/html/rfc7230#page-28:

[code]

Rule 920170 deals with Content-Length. We should handle T-E as well.

[2017-10-05 10:44] spartantri commented on #909
see #905 it addresses T-E

[2017-10-05 10:58] fgsch commented on #909
Thanks. I've checked and AFAICT this is not addressed in #905 .
Please correct me if I'm wrong.

[2017-10-05 12:48] fgsch commented on #808
Since I'm at it, neither rev nor severity have been specified in the list above and thus are not ordered. @dune73 want to propose where they should be position-wise?

[2017-10-05 13:41] fzipi commented on #808
Sorry @fgsch , its was proposed in my reordering, along with ver. See https://github.com/SpiderLabs/owasp-modsecurity-crs/pull/901#issue-259686170.
I will be adding this to the contributing file also.

[2017-10-05 14:09] fgsch commented on #808
Thanks @fzipi.
Adding here for reference:

[code]

[2017-10-05 17:44] spartantri commented on #909
You're right, now I remember that I leaved that part out since still not agreed if having bodies in get and head is allowed by CRS or not, to me it shouldn't and any `GET|HEAD` request using `content-length` or `Transfer-Encoding` should be rejected at `PL1`, it is basic stuff, and it those are easy `phase:1` checks

[2017-10-05 19:07] dune73 commented on #909
+1 to the PL1. On a 2nd thought, it is also very rare and would it actually mean a problem or simply lead to a 400 on any application server?

[2017-10-05 19:38] fgsch commented on #909
This is exactly what #909 does.

That said, Elasticsearch is one of those apps showing this behaviour (ref. https://www.elastic.co/guide/en/elasticsearch/reference/current/query-dsl-query-string-query.html).

In all fairness the RFCs do not prohibit this, it's left undefined, but since it's already done for Content-Length I don't think it should be any different for Transfer-Encoding.

[2017-10-05 19:43] fgsch opened #911 "Missing space before /I in 932140?"
#738 addressed the FPs by adding a whitespace after the if but not before /I.

Should this:

[code]

Be:

[code]

@lifeforms ?

[2017-10-06 07:45] spartantri commented on #909
I seen that in several other apps, it's weird, the RFC says should not must so CRS must enforce the best behavior and all weird or gray areas must be handled as exceptions.

Same as for wordpress, where there is a list of known exceptions there should be another for popular apps as elasticsearch. If this happens to be very frequent then the checks for weird non RFC compliant stuff could be moved t

[2017-10-06 08:47] fgsch commented on #909
That's not what the RFC says:

[code]

Same for HEAD.  So it's not invalid, albeit not common.

IMO we should add this as it is or move 920170 and add this in a different PL.

[2017-10-17 05:41] dune73 opened #918 "Add notes on alert triggers / triggering payloads to comments of all the rules"
This is the target issue for the DINACon Hacknight on Friday October 20, 2017.

https://twitter.com/CoreRuleSet/status/919138876819759107

Use this issue for communication.

[2017-10-19 18:09] azhao155 opened #919 "test 930120-2 failure for modesecurity 2.9.1"
Hi
I am using nginx 1.11.5 and modsecurity 2.9.1 for testing, it's supposed to be 100% passing, but I did see some failure, here is one case:
Test case:930120-2
Test failed due to nothing printed in the error.log, I have configure the modesecurity as in the README,
looked into detail, this rule is find any requests have the symbol defined in the lfi-os-files.data and block it , the request in the

[2017-10-19 18:35] dune73 commented on #919
Sorry about your problems, @azhao155.

I am not sure what test case you are referring too. Could you please tell me where `Test case:930120-2` is defined?

[2017-10-19 18:52] azhao155 commented on #919
Thanks for replying so quick
the detail of the test is as following:

    test_title: 930120-2
    desc: Remote File Access Attempt (930120) from old modsec regressions
    stages:
    -
      stage:
        input:
          dest_addr: 10.0.5.4
          headers:
            Accept: image/gif, image/x-xbitmap, image/jpeg, image/pjpeg, application/vnd.ms-excel,
              application/vnd.ms-powe

[2017-10-19 19:07] dune73 commented on #919
Thank you. I'll look into it.

[2017-10-20 07:39] dune73 commented on #911
You mean before `/i` (not `/l`)? Stupid question, I know.

[2017-10-20 10:58] marcstern commented on #911
spaces are optional in cmd.exe =>" */i"

[2017-10-20 17:16] fgsch commented on #911
@dune73 yes, /i (or /I for the uppercase variant).
@marcstern you are right. Plus the cmdLine transformation removes the spaces before /.

[2017-10-20 17:16] #911 closed, assigned to nobody

[2017-10-20 17:17] fgsch commented on #808
FTR, this is pending the merge of #907.

[2017-10-23 09:14] central4all opened #923 "a noob needs help"
I have big problem with the modsecurity settings and logs
http://prntscr.com/h0twdj
i dont know what to do,

[2017-10-23 10:54] dune73 commented on #923
We're in touch via email. Closing this.

[2017-10-23 10:54] #923 closed, assigned to nobody

[2017-10-23 18:30] fgsch opened #924 "For discussion: Add CVEs and CWEs tags for all rules where appropriate?"
It'd be great if all the rules that have CVEs and CWEs have them listed under their tags, and we agreed what format they should have (e.g. just the C[VW]E id, `C[VW]E-XXXX-YYYY`, the url to the C[VW]E, etc)

What do you guys think?

[2017-10-23 19:02] dune73 commented on #924
We have had this idea, that the whole tagging should be reviewed, reorganised and streamlined. This proposal is in line with this idea from my point of view and I would welcome this a lot.